/* app css stylesheet */
.modal {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
/*index*/
/*.container{
  max-width: 98%;
}*/
.table{
  margin: 5px auto;
}
.panel > .table{
  margin: 0px auto;
}
.thumbnail{
  max-width:96%;
  margin: 0 auto; 
}
.editable-input{
  width: 120px;
}
.table-hover th{
  width: 240px;
}
.progress{
  margin-bottom: 0px;
}
.progress .active{
    -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.progress .bar{
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
          transition: width 0.6s ease;
}
.progress-suceess .bar{
  background-color: #5EB95E;
}
.progress-danger .bar{
    background-color: #D9534F;
}
.modal {
  display: block;
}
.modal-body:before,
.modal-body:after {
  display: table;
  content: " ";
}
.modal-header:before,
.modal-header:after {
  display: table;
  content: " ";
}
.collapse{
  overflow: hidden;
  position: relative;
  transition: height 0.35s ease 0s;
  display: block;
}

.bs-docs-section {
    padding-top: 40px;
}
.col-xs-6, .col-xs-5, .col-xs-4,.col-xs-3{
  padding:0px;
}
/*map start*/
    .note {
        font-size: 0.8em;
    }
    
    .p-one{
      background-color: #563D7C;
      border-color: #428BCA;
      color: #FFFFFF;
      padding: 0 2px;
    }
    .p-double{
      background-color: #563D7C;
      border-color: #5BC0DE;
      color: #FFFFFF;
      padding: 0 2px;
    }

    #legend1b {
        font-size: 12px;
        border: 1px solid #cdcdcd;
        border-collapse: collapse;
    }
    #legend1b td, #legend1b th {
        border: 1px solid #cdcdcd;
        padding: 1px 4px;
    }
  .listTree {
      margin-bottom: 18px;
  }

  .listTree ul {
      margin: 0;
  }

  .listTree li {
      list-style-type: none;
  }

  .listTree > ul > li {
      background-color: #eee;
      border-width: 1px 1px 0 1px;
      border-style: solid;
      border-color: #ddd;
  }

  .listTree > ul > li:first-child {
      border-width: 1px 1px 0 1px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
  }

  .listTree > ul > li:last-child {
      border-width: 1px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
  }

  .listTree > ul > li:last-child > ul > li:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
  }

  .listTree span {
      display: inline-block;
      width: 100%;
      padding: 5px;
  }

  .listTree > ul > li > span {
      font-weight: bold;
  }

  .listTree > ul > li > ul > li {
      background-color: #fff;
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: #ddd;
      padding-left: 10px;
  }

  .listTree > ul > li > ul > li:first-child {
      border-width: 1px 0 0 0;
  }

  .listTree > ul > li > ul > li:last-child {
      border-width: 1px 0 0 0;
  }

  .listTree i {
      float: right;
      margin-right: 15px;
  }
/*map end*/
.bs-masthead-links{
  padding-top:100px;
}
table tr td p,table tr th p{
  margin: 0;
}
.padding-10{
  padding-left: 10px;
}
.padding-20{
  padding-left: 20px;
}
.padding-30{
  padding-left: 30px;
}
.padding-40{
  padding-left: 40px;
}
.margin-0{
  margin: 0px;
}
.margin-row-10{
  margin: 10px 0;
}
.popover-content{
    color: #333333;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
/* table border color */
.table-bordered > tfoot > tr > td {
/*  border: 1px solid #428BCA;
*/  
  border: 1px solid #C8C8C8;

  border-right: none;
}
.my-panel-success > .panel-heading {
    background-color: #5CB85C;
    color:          #ffffff;
}
.my-panel-danger > .panel-heading {
    background-color: #D9534F;
    color:          #ffffff;
    border: #FFFFFF;
}
.my-panel-warning > .panel-heading {
    background-color: #EEA236;
    color:          #ffffff;
}

.my-panel-overview > .panel-heading {
    background-color: #1DAC8F;
    color:          #ffffff;
}

.my-success-panel > .panel-heading {
    background-color: transparent;
    color: #333333;
}
/*.tr-info{
    background-color: #428BCA;
    color: #FFFFFF;
}*/
.tr-info{
  background-color: #DFF0D8; 
}
.td-info{
    background-color: #D9EDF7;
}
.td-warning{
    background-color: #FCF8E3;
}
.td-success{
    background-color: #DFF0D8;
}
.td-danger{
    background-color: #F2DEDE;
}
.my-super-awesome-loading-box {
    padding: 10px;
    text-align: center;
    border: 0px solid gray;
    background: #EFEFEF;
}
/*.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #025037;
    color: #fff;
}*/
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #025037;
    outline: 0 none;
    text-decoration: none;
}
