<!doctype html>
<html lang="en" ng-app="feedback">

  <head>
    <meta charset="utf-8">

    <title>eTales feedback session</title>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="bower_components/reveal.js/css/reveal.min.css">
    <link rel="stylesheet" href="bower_components/reveal.js/css/theme/beige.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="bower_components/reveal.js/lib/css/zenburn.css">

    <style>
    .greenLetter { color  : #39b54a;}
    .orangeLetter { color : #ff983d;}
    .blueLetter { color   : #0087f0;}
    .purpleLetter { color : #8781bd;}    
    .redLetter { color    : #f26c4f;}
    .roseLetter { color   : #bd8cbf;}
    .highcharts-title{
      width: 100%;
      text-align: center;
      font-size: 20px;
    }
    .p-font{
      font-family: "League Gothic",Impact,sans-serif;
      text-shadow: none;
      text-transform: uppercase; 
      font-size: 20px;
      line-height: 20px;
    }
    .line-font p{
      font-family: "League Gothic",Impact,sans-serif;
      font-size: 20px;
      line-height: 20px;
    }
    .highcharts-subtitle{
      width: 75%;
    }
    .text-left {
      width: 33%;
      font-size: 20px;
      float: left;
      margin-bottom:0px;
      text-align: left;
    }
    .text-right {
      width: 33%;
      font-size: 20px;
      float: left;
      margin-bottom:0px;
      text-align: right;
    }
    .text-center {
      width: 33%;
      font-size: 20px;
      float: left;
      margin-bottom:0px;
      text-align: center;
    }

    .normal-left{
      width: 500px;
      height: 500px;
      float: left;
    }
    .normal-sp-left{
      width: 500px;
      height: 450px;
      float: left;
    }
    .normal-sp-right{
      width: 500px;
      height: 450px;
      float: right;
    }
    .normal-right{
      width: 500px;
      height: 500px;
      float: right;
    }
    .large-small{
      width: 1024px;
      height: 300px;
    }
    .large-normal{
      width: 1024px;
      height: 500px;
    }
    .small-small-left{
      width: 500px;
      height: 300px;
      float: left;
    }
    .small-small-right{
      width: 500px;
      height: 300px;
      float: right;
    }
    .clear-both{
      clear: both;
    }
    .paddingtop-20{
      padding-top: 20px;
    }
    .padding-0{
      padding: 0;
    }

    </style>
    <!--[if lt IE 9]>
    <script src="bower_components/reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides" ng-controller='feedBackCtrl'>
        <section>
          <h1>Feedback session</h1>
          <h3>Seminar : <%=  seminar %></h3>
          <h3>Period : <%= period %></h3>           
          <small>Designed by <a href="http://www.hcdglobal.com">HCD Learning</a></small>        
        </section>

        <section ng-controller="negotiationResultsCtrl">
          <section>
            <h3>{{message}}<a>Negotiation Results</a> - Volume Discounts</h3>
            <hr>
            <highchart id="chart1" config="supplierNegotiationResults" class="normal-sp-left"></highchart>
            <highchart id="chart2" config="retailerNegotiationResults" class="normal-sp-right"></highchart>
            <div class="clear-both paddingtop-20"></div>
            <h5>Total Volume Discounts : {{supplierNegotiationResultsTotal}} ($mln)</h5>
          </section>
          <section>
            <h3><a>Negotiation Results</a> - Performance Bonus</h3>
            <hr>
            <highchart id="chart3" config="supplierPerformanceBonuses" class="normal-sp-left"></highchart>
            <highchart id="chart4" config="retailerPerformanceBonuses" class="normal-sp-right"></highchart>
            <div class="clear-both paddingtop-20"></div>
            <h4>Total Performance Bonuses : {{supplierPerformanceBonusesTotal}} ($mln)</h4>
          </section>
          <section>
            <h3><a>Negotiation Results</a> - Other Compensation</h3>
            <hr>
            <highchart id="chart5" config="supplierOtherCompensation" class="normal-left"></highchart>
            <highchart id="chart6" config="retailerOtherCompensation" class="normal-right"></highchart>
            <div class="clear-both paddingtop-20"></div>
            <h4>Total Transaction Value of Other Compensation : {{supplierOtherCompensationTotal}} ($mln)</h4>
          </section>
          <section>
            <h3><a>Negotiation Results</a> - Terms of Payment</h3>
            <hr>
            <highchart id="chart7" config="termsofPayment" class="large-normal"></highchart>
          </section>
        </section>

        <section ng-controller="salesCtrl">
          <section>
            <h3><span class="roseLetter">Sales</span> - Elecssories - previous</h3>
            <hr>
            <highchart id="chart8" config="previousSalesVolumeElecssories" class="normal-left"></highchart>
            <highchart id="chart9" config="previousSalesValueElecssories" class="normal-right"></highchart>
          </section>          
          <section>
            <h3><span class="roseLetter">Sales</span> - Elecssories - current</h3>
            <hr>
            <highchart id="chart10" config="currentSalesVolumeElecssories" class="normal-left"></highchart>
            <highchart id="chart11" config="currentSalesValueElecssories" class="normal-right"></highchart>
          </section>          
          <section>
            <h3><span class="roseLetter">Sales</span> - HealthBeauties - Previous</h3>
            <hr>
            <highchart id="chart12" config="previousSalesVolumeHealthBeauties" class="normal-left"></highchart>
            <highchart id="chart13" config="previousSalesValueHealthBeauties" class="normal-right"></highchart>
          </section>     
          <section>
            <h3><span class="roseLetter">Sales</span> - HealthBeauties - Current</h3>
            <hr>
            <highchart id="chart14" config="currentSalesVolumeHealthBeauties" class="normal-left"></highchart>
            <highchart id="chart15" config="currentSalesValueHealthBeauties" class="normal-right"></highchart>
          </section>     
        </section>

        <section ng-controller="marketSharesCtrl">
          <section>
            <h3><span class="greenLetter">Market Shares</span> - Elecssories - Previous</h3>
            <hr>
            <highchart id="chart16" config="previousSharesVolumeElecssories" class="normal-left"></highchart>
            <highchart id="chart17" config="previousSharesValueElecssories" class="normal-right"></highchart>
          </section>          
          <section>
            <h3><span class="greenLetter">Market Shares</span> - Elecssories - Current</h3>
            <hr>
            <highchart id="chart18" config="currentSharesVolumeElecssories" class="normal-left"></highchart>
            <highchart id="chart19" config="currentSharesValueElecssories" class="normal-right"></highchart>
          </section>          
          <section>
            <h3><span class="greenLetter">Market Shares</span> - HealthBeauties - Previous</h3>
            <hr>
            <highchart id="chart20" config="previousSharesVolumeHealthBeauties" class="normal-left"></highchart>
            <highchart id="chart21" config="previousSharesValueHealthBeauties" class="normal-right"></highchart>
          </section>     
          <section>
            <h3><span class="greenLetter">Market Shares</span> - HealthBeauties - Current</h3>
            <hr>
            <highchart id="chart22" config="currentSharesVolumeHealthBeauties" class="normal-left"></highchart>
            <highchart id="chart23" config="currentSharesValueHealthBeauties" class="normal-right"></highchart>
          </section>     
        </section>

        <section ng-controller="profitsCtrl">
          <section>
            <h3><span class="purpleLetter">Operating Profits</span> - Previous</h3>
            <hr>
            <highchart id="chart240" config="previousOperatingProfits" class="normal-left"></highchart>
            <highchart id="chart250" config="previousOperatingProfitMargins" class="normal-right"></highchart>
          </section>
          <section>
            <h3><span class="purpleLetter">Net Profits</span> - Previous</h3>
            <hr>
            <highchart id="chart241" config="previousNetProfits" class="normal-left"></highchart>
            <highchart id="chart251" config="previousNetProfitMargins" class="normal-right"></highchart>
          </section>          
          <section>
            <h3><span class="purpleLetter">Operating Profits</span> - Current</h3>
            <hr>
            <highchart id="chart260" config="currentOperatingProfits" class="normal-left"></highchart>
            <highchart id="chart270" config="currentOperatingProfitMargins" class="normal-right"></highchart>
          </section> 
          <section>
            <h3><span class="purpleLetter">Net Profits</span> - Current</h3>
            <hr>
            <highchart id="chart261" config="currentNetProfits" class="normal-left"></highchart>
            <highchart id="chart271" config="currentNetProfitMargins" class="normal-right"></highchart>
          </section>           
        </section>

        <section ng-controller="shelfSpaceCtrl">
          <h3><span class="redLetter">Shelf Space Allocation</h3>
          <hr>
          <highchart id="chart28" config="currentShelfSpaceElecssories" class="normal-left"></highchart>
            <highchart id="chart29" config="currentShelfSpaceHealthBeauties" class="normal-right"></highchart>
        </section>

        <section ng-controller="supplierKPIsCtrl">
          <section>
            <h3><span class="blueLetter">Supplier KPIs</span> - Effectiveness of Trade Spending</h3>
            <hr>
            <highchart id="chart30" config="tradeSpendingElecssories" class="normal-left"></highchart>
            <highchart id="chart31" config="tradeSpendingHealthBeauties" class="normal-right"></highchart>
          </section>          
          <section>
            <h3><span class="blueLetter">Supplier KPIs</span> - Effectiveness of Marketing Spending</h3>
            <hr>
            <highchart id="chart32" config="marketingSpendingElecssories" class="normal-left"></highchart>
            <highchart id="chart33" config="marketingSpendingHealthBeauties" class="normal-right"></highchart>
          </section>     
          <section>
            <h3><span class="blueLetter">Supplier KPIs</span> - Portfolio Strength</h3>
            <hr>
            <highchart id="chart34" config="portfolioStrengthElecssories" class="normal-left"></highchart>
            <highchart id="chart35" config="portfolioStrengthHealthBeauties" class="normal-right"></highchart>
          </section>     
          <section>
            <h3><span class="blueLetter">Supplier KPIs</span> - B&M Channel Strength</h3>
            <hr>
            <highchart id="chart36" config="bmChannelStrengthElecssories" class="large-small"></highchart>
            <highchart id="chart37" config="bmChannelStrengthHealthBeauties" class="large-small"></highchart>
          </section>                                           
          <section>
            <h3><span class="blueLetter">Supplier KPIs</span> - Online Channel Strength</h3>
            <hr>
            <highchart id="chart38" config="onlineChannelStrengthElecssories" class="large-small"></highchart>
            <highchart id="chart39" config="onlineChannelStrengthHealthBeauties" class="large-small"></highchart>
          </section>                  
        </section>

        <section ng-controller="retailerKPIsCtrl">
          <section>
            <h3><span class="orangeLetter">Retailer KPIs</span> - Rotation Index</h3>
            <hr>
            <highchart id="chart40" config="rotationIndexSalesValueElecssories" class="small-small-left"></highchart>
            <highchart id="chart41" config="rotationIndexSalesVolumeElecssories" class="small-small-right"></highchart>
            <highchart id="chart42" config="rotationIndexSalesValueHealthBeauties" class="small-small-left"></highchart>
            <highchart id="chart43" config="rotationIndexSalesVolumeHealthBeauties" class="small-small-right"></highchart>
          </section>          
          <section>
            <h3><span class="orangeLetter">Retailer KPIs</span> - Profitability Index - Previous</h3>
            <hr>
            <highchart id="chart45" config="previousUrbanProfitabilityIndex" class="normal-left"></highchart>
            <highchart id="chart44" config="previousRuralProfitabilityIndex" class="normal-right"></highchart>
          </section>     
          <section>
            <h3><span class="orangeLetter">Retailer KPIs</span> - Profitability Index - Current</h3>
            <hr>
            <highchart id="chart47" config="currentUrbanProfitabilityIndex" class="normal-left"></highchart>
            <highchart id="chart46" config="currentRuralProfitabilityIndex" class="normal-right"></highchart>
          </section>     
          <section>
            <h3><span class="orangeLetter">Retailer KPIs</span> - Stock Cover</h3>
            <hr>
            <highchart id="chart49" config="urbanStockCover" class="normal-left"></highchart>
            <highchart id="chart48" config="ruralStockCover" class="normal-right"></highchart>
          </section>                                           
                         
        </section>

        <section ng-controller="shareOfShoppersCtrl">
          <section>
            <h3><span class="orangeLetter">Share of Shoppers</span> - Elecssories - Urban Market</h3>
            <hr>
            <highchart id="chart50" config="E_urbanOnlineShareOfShoppers" class="small-small-left"></highchart>
            <highchart id="chart51" config="E_urbanBMShareOfShoppers" class="small-small-right"></highchart>
            <highchart id="chart52" config="E_urbanMixedShareOfShoppers" class="small-small-left"></highchart>
            <highchart id="chart53" config="E_urbanTotalShareOfShoppers" class="small-small-right"></highchart>
          </section>
          <section>
            <h3><span class="orangeLetter">Share of Shoppers</span> - Elecssories - Rural Market</h3>
            <hr>
            <highchart id="chart54" config="E_ruralOnlineShareOfShoppers" class="small-small-left"></highchart>
            <highchart id="chart55" config="E_ruralBMShareOfShoppers" class="small-small-right"></highchart>
            <highchart id="chart56" config="E_ruralMixedShareOfShoppers" class="small-small-left"></highchart>
            <highchart id="chart57" config="E_ruralTotalShareOfShoppers" class="small-small-right"></highchart>
          </section>

          <section>
            <h3><span class="orangeLetter">Share of Shoppers</span> - HealthBeauties - Urban Market</h3>
            <hr>
            <highchart id="chart50" config="H_urbanOnlineShareOfShoppers" class="small-small-left"></highchart>
            <highchart id="chart51" config="H_urbanBMShareOfShoppers" class="small-small-right"></highchart>
            <highchart id="chart52" config="H_urbanMixedShareOfShoppers" class="small-small-left"></highchart>
            <highchart id="chart53" config="H_urbanTotalShareOfShoppers" class="small-small-right"></highchart>
          </section>
          <section>
            <h3><span class="orangeLetter">Share of Shoppers</span> - HealthBeauties - Rural Market</h3>
            <hr>
            <highchart id="chart54" config="H_ruralOnlineShareOfShoppers" class="small-small-left"></highchart>
            <highchart id="chart55" config="H_ruralBMShareOfShoppers" class="small-small-right"></highchart>
            <highchart id="chart56" config="H_ruralMixedShareOfShoppers" class="small-small-left"></highchart>
            <highchart id="chart57" config="H_ruralTotalShareOfShoppers" class="small-small-right"></highchart>
          </section>          
        </section>   

        <section>
          
        </section>


        <section>
          <h1>THE END</h1>
          <small>Designed by <a href="http://www.hcdglobal.com">HCD Learning</a></small>
        </section>

      </div>

    </div>

    <script src="bower_components/reveal.js/lib/js/head.min.js"></script>
    <script src="bower_components/reveal.js/js/reveal.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts-ng/src/highcharts-ng.js"></script>

    <script src="js/feedBackAppControllers/feedBackCtrl.js"></script>
    <script src="js/feedBackAppControllers/negotiationResultsCtrl.js"></script>
    <script src="js/feedBackAppControllers/salesCtrl.js"></script>
    <script src="js/feedBackAppControllers/marketSharesCtrl.js"></script>
    <script src="js/feedBackAppControllers/profitsCtrl.js"></script>
    <script src="js/feedBackAppControllers/shelfSpaceCtrl.js"></script>
    <script src="js/feedBackAppControllers/supplierKPIsCtrl.js"></script>
    <script src="js/feedBackAppControllers/retailerKPIsCtrl.js"></script>
    <script src="js/feedBackAppControllers/shareOfShoppersCtrl.js"></script>



    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        width: 1024,
        height: 768,
        minScale:1.0,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'bower_components/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'bower_components/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'bower_components/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'bower_components/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'bower_components/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'bower_components/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
