<div id="content" class="bs-header">
    <div class="container">
        <h1>Admin</h1>
        <p>We deliver a highly disruptive and transformational experiential learning model on a global scale !</p>
    </div>
</div>
<div class="bs-old-docs">
    <div class="container">
        <strong>
            Traditional learning models are broken.
        </strong>
    </div>
</div>
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-lg-12">
        	<div class="bs-docs-section">
        		<h3>Generate New Seminar</h3>
        		<form role="form">
        			<div class="form-group">
        				<label for="seminarCode">Seminar Code</label>
        				<div style="clear:both"></div>
        				<div class="col-xs-4">
        				 	<input type="text" placeholder="Seminar Code" ng-model='seminarCode' class="form-control">
        	        	</div>
        	        	<div style="clear:both"></div>
        	        </div>
        			<div class="form-group">
        				<label for="seminarDescription">Seminar Description</label>
        				<div style="clear:both"></div>
        				<div class="col-xs-4">
        					<input type="text" placeholder="Seminar Description" ng-model='seminarDescription' class="form-control">
        				</div>
        				<div style="clear:both"></div>
        			</div>
        			<button class="btn btn-default" ng-click="addSeminar()">Submit</button>
        		</form>
        		<div class="{{bubleClassName}}" ng-show='true'>
        			<strong>{{bubleTitle}}</strong>{{bubleMsg}}
        		</div>	

        		<h3>Seminar Code List</h3>
        		<div class="col-xs-3 pull-right">
        			<input type="text" class="form-control pull-right" ng-model="query" placeholder="Search...">
        		</div>
        		<table class="table table-striped">
					<thead>
						<tr>
							<th>Seminar</th>
							<th>currentPeriod</th>
							<th>description</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="seminar in seminars | filter:query | limitTo:20">
							<td>
								{{ seminar.seminarCode }}
							</td>
							<td>
								{{ seminar.currentPeriod}}
							</td>
							<td>
								{{ seminar.seminarDescription}}
							</td>
							<td>
								<h4>
									<span data-ng-class="{&quot;label-warning&quot;: seminar.isInitialise == true, &quot;label-success&quot;: seminar.isInitialise == false}" class="label">{{ getSeminarStatus(seminar.isInitialise) }}</span>
								</h4>
							</td>
							<td>
								<button class="btn btn-primary btn-sm">Select</button>
							</td>
						</tr>
					</tbody>
				</table>
        	</div>
        </div>
    </div>
</div>
