<div class="container bs-docs-container">
    <div class="row">
        <div class="col-lg-12">
        	<div class="bs-docs-section">				
				<div class="page-header">
					<h3>Seminar list
						<small>
						 	click <button class="btn btn-default btn-sm" ng-click="openNewSeminarModal()">New</button> to add seminar into list
							<div class="form-group pull-right">
							    <input type="text" class="form-control pull-right"  ng-model="query" placeholder="Search">
							</div>									 	
						</small>
					</h3>			
				</div>        		

				<div class="{{bubleClassName}}" ng-show='true'>
				<strong>{{bubleTitle}}</strong>{{bubleMsg}}
				</div>	

        		<table class="table table-hover table-bordered table-condensed">
					<thead>
						<tr>
							<th>Seminar code</th>
							<th>Description</th>
							<th>Current period/span</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="seminar in seminars | filter:query | limitTo:50">
							<td>
								{{ seminar.seminarCode }} 
							</td>
							<td>
								{{ seminar.seminarDescription}}		
							</td>
							<td>
								{{ seminar.currentPeriod}} / {{ seminar.simulationSpan}}
							</td>
							<td>
								<button class="btn btn-primary btn-sm" ng-click="checkSeminarDetails(seminar)">Details</button>
								<button ng-show=false class="btn btn-default btn-sm" ng-click="openDuplicateSeminarModal(seminar)">Backup</button>
								<button class="btn btn-default btn-sm" ng-click="deleteSeminar(seminar.seminarCode)">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
        	</div>
        </div>
    </div>
</div>

<!--model : generate new seminar -->
<div ng-show="newSeminarModal" class="hide" close="closeNewSeminarModal()" options="seminarOpts" style="width:800px">

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeSeminarModal()">&times;</button>
					<h4 class="modal-title">New seminar</h4>
				</div>
				<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label>Seminar Code</label>
						<div>
						 	<input type="text" placeholder="Seminar Code" ng-model='seminarCode' class="form-control">
				    	</div>
				    </div>
					<div class="form-group">
						<label>Seminar Description</label>
						<div>
							<input type="text" placeholder="Seminar Description" ng-model='seminarDescription' class="form-control">
						</div>
					</div>				
				</div>
				<div class="modal-footer">
					<a class="btn btn-default" ng-click="closeNewSeminarModal()">Close</a>
					<button class="btn btn-primary" ng-click="addSeminar()">Submit</button>
				</form>						
				</div>
			</div>
		</div>
</div>

<!--model : duplicate seminar -->
<div modal="duplicateSeminarModal" class="hide" close="closeDuplicateSeminarModal()" options="seminarOpts" style="width:800px">

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeSeminarModal()">&times;</button>
					<h4 class="modal-title">Duplicate seminar</h4>
				</div>
				<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label>Original seminar Code : {{originalSeminarCode}} </label> 
				    </div>					
					<div class="form-group">
						<label>New seminar Code</label>
						<div>
						 	<input type="text" placeholder="New seminar code" ng-model='targetSeminarCode' class="form-control">
				    	</div>
				    </div>
					<div class="form-group">
						<label>New seminar Description</label>
						<div>
							<input type="text" placeholder="New seminar description" ng-model='targetSeminarDescription' class="form-control">
						</div>
					</div>				
				</div>
				<div class="modal-footer">
					<a class="btn btn-default" ng-click="closeDuplicateSeminarModal()">Close</a>
					<button class="btn btn-primary" ng-click="duplicateSeminar()">Submit</button>
				</form>						
				</div>
			</div>
		</div>
</div>

