<style type="text/css">
	.editable-wrap{
		float: none;
	}
</style>
<div class="container bs-docs-container">		
	<div class="page-header">
		<h3>{{seminar.seminarCode}}, Basic information
			<small>
			 						 	
			</small>
		</h3>
	</div>        		
	<p> Active : <b>{{getSeminarStatus(seminar.isInitialise)}}</b></p>
	<p> Current period/span : 
		<a href="#" editable-text="seminar.currentPeriod" onaftersave="updateCurrentPeriod(seminar)">
			{{ seminar.currentPeriod}}
		</a> / {{seminar.simulationSpan}}
	</p>
	<p> Description : {{seminar.seminarDescription}}</p>
	<p> Login password of suppliers(1~4): 
		<a href="#" editable-text="seminar.producers[0].password" onaftersave="updatePassword(seminar,'producers',0)">
			{{ seminar.producers[0].password || 'empty' }}
		</a>, 
		<a href="#" editable-text="seminar.producers[1].password" onaftersave="updatePassword(seminar,'producers',1)">
			{{ seminar.producers[1].password || 'empty' }}
		</a>, 
		<a href="#" editable-text="seminar.producers[2].password" onaftersave="updatePassword(seminar,'producers',2)">
			{{ seminar.producers[2].password || 'empty' }}
		</a>, 
		<a href="#" editable-text="seminar.producers[3].password" onaftersave="updatePassword(seminar,'producers',3)">
			{{ seminar.producers[3].password || 'empty' }}
		</a>
	</p>
	<p> Login password of retailers(1~4): 
		<a href="#" editable-text="seminar.retailers[0].password" onaftersave="updatePassword(seminar,'retailers',0)">
			{{ seminar.retailers[0].password || 'empty' }}
		</a>, 
		<a href="#" editable-text="seminar.retailers[1].password" onaftersave="updatePassword(seminar,'retailers',1)">
			{{ seminar.retailers[1].password || 'empty' }}
		</a>, 
		<a href="#" editable-text="seminar.retailers[2].password" onaftersave="updatePassword(seminar,'retailers',2)">
			{{ seminar.retailers[2].password || 'empty' }}
		</a>, 
		<a href="#" editable-text="seminar.retailers[3].password" onaftersave="updatePassword(seminar,'retailers',3)">
			{{ seminar.retailers[3].password || 'empty' }}
		</a>
	</p>
	<p>Facilitator password:
		<a href="#" editable-text="seminar.facilitator[0].password" onaftersave="updatePassword(seminar,'facilitator',0)">
			{{ seminar.facilitator[0].password || 'empty' }}
		</a>
	</p>				


	<div class="page-header">
		<h3>Initialize
			<small>
			 	modify parameters, click button to initialize the simulation data					 	
			</small>
		</h3>
	</div>   
	<div class="{{bubleClassName}}" ng-show='true'>
		<strong>{{bubleTitle}}</strong>{{bubleMsg}}
	</div>	

	<p>Simulation span : <a href="#" editable-text="seminar.simulationSpan" onaftersave="updateSimulationSpan(seminar.seminarCode,$data)">
			{{ seminar.simulationSpan}}
		</a></p>

	<p> 
		<input
	    ng-model="seminar.traceActive"
	    type="checkbox"> Trace active</p>
	<p>
		<input
	    ng-model="seminar.forceNextDecisionsOverwrite"
	    type="checkbox"> Force next decisions overwrite in Binary(Files for kernel)</p>
	<p>
		<input
	    ng-model="seminar.traditionalTradeActive"
	    type="checkbox"> Traditional trade active</p>
	<p>
		<input
	    ng-model="seminar.EMallActive"
	    type="checkbox"> E-Mall active</p>
	<p>
		<input
	    ng-model="seminar.virtualSupplierActive"
	    type="checkbox"> Virtual supplier active</p>
	<p>
		<input
	    ng-model="seminar.independentMarkets"
	    type="checkbox"> Independent markets</p>
	<p>
		<input
	    ng-model="overwriteNextDecision"
	    type="checkbox"> Force next decisions <b style='color:red'>OVERWRITE</b> in DataBase(Interface)</p>		
	</p>
	<pre ng-show="isInitializeMessageShown">{{initializeMessage}}</pre>
<!-- 	<pre ng-show="isInitializeMessageShown"><p data-ng-repeat="message in initializeMessage">{{message}}</p></pre>
 -->
	

	<div class="alert alert-danger fade in" ng-show="isInitializeConfirmInfoShown">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
	  <h4>Warning! Initialise confirmation</h4>
	  <p>Data(result and decision) from period -3 to period 0 will be covered</p>
	  <p>
	    <button type="button" class="btn btn-danger" ng-click='Initialize(seminar, overwriteNextDecision)' ng-disabled="!isActive">Take this action</button>
	    <button type="button" ng-click="isInitializeConfirmInfoShown=false" class="btn btn-default">Cancel</button>
	  </p>
	</div>		            
	<p><a class="btn btn-default" ng-click="openInitializeModal()" ng-disabled="!isActive">Save changes & Initialize</a></p>		

	<div>
		<div class="page-header">
			<h3>Passive decision & Run
				<small>
				 						 	
				</small>
			</h3>
		</div>        		
		<p>
			<input ng-model="overwriteNextDecisionForRunKernel" type="checkbox">Force next decisions <b style='color:red'>OVERWRITE</b> in DataBase?</p>		
		</p>		
	    <div class="alert alert-danger fade in" ng-show="isRunConfirmInfoShown">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
	      <h4>Warning! Run simulation confirmation</h4>
	      <p>Data(result and decision) of selected period will be covered</p>
	      <p>
	        <button type="button" class="btn btn-danger" ng-click='Run(seminar, selectedPeriod, overwriteNextDecisionForRunKernel)'>Take this action</button>
	        <button type="button" ng-click="isRunConfirmInfoShown=false" class="btn btn-default">Cancel</button>
	      </p>
	    </div>		
		<pre ng-show="isKernelMessageShown"> <p data-ng-repeat="message in kernelMessage">{{message}}</p> </pre>    

		<div class="input-group col-md-6">
		  <span class="input-group-addon">Period (range: -3 ~ {{seminar.currentPeriod}})</span>
		  <input type="text" class="form-control" ng-model="selectedPeriod">
		  <span class="input-group-btn">
		    <button   ng-disabled="!isActive" class="btn btn-default" type="button" ng-click="passiveDecision(seminar, selectedPeriod)">Get passive decision</button>
		    <button    ng-disabled="!isActive" class="btn btn-default" ng-click="openRunModal()" type="button">Run</button>
		  </span>				  
		</div>		
		
	</div> 
	<div class="page-header">
		<h3>Timer Setting
			<small>
	
			</small>
		</h3>
	</div>    

	<div class="row">
		<div class="col-md-12">
			<p>Active Timer
				<a href="#" editable-checkbox="seminar.isTimerActived" e-title="Active Timer?" onaftersave="switchTimer($data)">{{ seminar.isTimerActived && 'On' || 'Off' }}</a>
			</p>
			<p ng-show='seminar.isTimerActived'>TimeslotPortfolioDecisionCommitted
				<a href="#" editable-text="seminar.timeslotPortfolioDecisionCommitted" onbeforesave="checkTimerSet($data)" onaftersave="updateTimeslotPortfolioDecisionCommitted($data)">
					{{ seminar.timeslotPortfolioDecisionCommitted }}
				</a> Mins
			</p>
			<p ng-show='seminar.isTimerActived'>TimeslotContractDeal
				<a href="#" editable-text="seminar.timeslotContractDeal" onbeforesave="checkTimerSet($data)" onaftersave="updateTimeslotContractDeal($data)">
					{{ seminar.timeslotContractDeal }}
				</a> Mins
			</p>
			<p ng-show='seminar.isTimerActived'>TimeslotContractFinalized
				<a href="#" editable-text="seminar.timeslotContractFinalized" onbeforesave="checkTimerSet($data)" onaftersave="updateTimeslotContractFinalized($data)">
					{{ seminar.timeslotContractFinalized }}
				</a> Mins
			</p>
			<p ng-show='seminar.isTimerActived'>TimeslotDecisionCommitted
				<a href="#" editable-text="seminar.timeslotDecisionCommitted" onbeforesave="checkTimerSet($data)" onaftersave="updateTimeslotDecisionCommitted($data)">
					{{ seminar.timeslotDecisionCommitted }}
				</a> Mins
			</p>

			<div id='supplierClockChart' ng-show='seminar.isTimerActived' ng-model='supplierModel' supplier-clock-chart></div>
			<p>{{supplierClockTitle}}</p>
			<hr>
			<div id='retailerClockChart' ng-show='seminar.isTimerActived' ng-model='retailerModel' retailer-clock-chart></div>
			<p>{{retailerClockTitle}}</p>

			<button ng-show='seminar.isTimerActived' class="btn btn-primary" ng-click='startTimer()'>Start/Reset</button>
			<button ng-show='seminar.isTimerActived' class="btn btn-default" ng-click="stopTimer()">Stop</button>

		</div>
	</div>      

	<tabset>
		<tab heading="Game progress Monitor">
			<div class="row" style="margin-top:10px">
				<div class="col-md-6">
					<div class="panel panel-info" ng-repeat='supplier in seminar.producers'>
						<div class="panel-heading">Supplier {{supplier.producerID}}</div>

						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<td></td>
									<td>Is portfolio decision committed?</td>
									<td>Is contract deal?</td>
									<td>Is contract finalized?</td>
									<td>Is decision committed(Lock)?</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat='periodInfo in supplier.decisionCommitStatus'>
									<td><strong>Period {{periodInfo.period}}</strong></td>
									<td>
										<a href="#" editable-checkbox="periodInfo.isPortfolioDecisionCommitted" onaftersave="updatePortfolioDecisionCommittedChanged(supplier.producerID, periodInfo.period, periodInfo.isPortfolioDecisionCommitted)">{{periodInfo.isPortfolioDecisionCommitted}} </a>		
									</td>
									<td>
										----
										<!-- <a href="#" editable-checkbox="periodInfo.isContractDeal" onaftersave="updateContractDealChanged('Producer',supplier.producerID, periodInfo.period, periodInfo.isContractDeal)">{{periodInfo.isContractDeal}} </a>	 -->	
									</td>
									<td>
										<a href="#" editable-checkbox="periodInfo.isContractFinalized" onaftersave="updateContractFinalizedChanged('Producer',supplier.producerID, periodInfo.period, periodInfo.isContractFinalized)">{{periodInfo.isContractFinalized}} </a>
									</td>
									<td>
										<a href="#" editable-checkbox="periodInfo.isDecisionCommitted" onaftersave="updateFinalDecisionCommittedChanged('Producer', supplier.producerID, periodInfo.period, periodInfo.isDecisionCommitted)">{{periodInfo.isDecisionCommitted}}</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>			
				</div>

				<div class="col-md-6">
					<div class="panel panel-success" ng-repeat='retailer in seminar.retailers'>
						<div class="panel-heading">Retailer {{retailer.retailerID}}</div>

						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<td></td>
									<td>Is contract deal?</td>
									<td>Is contract finalized?</td>
									<td>Is decision committed(Lock)?</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat='periodInfo in retailer.decisionCommitStatus'>
									<td>
										<strong>Period {{periodInfo.period}}</strong>
									</td>
									<td>
										-----
										<!-- <a href="#" editable-checkbox="periodInfo.isContractDeal" onaftersave="updateContractDealChanged('Retailer', retailer.retailerID, periodInfo.period, periodInfo.isContractDeal)">{{periodInfo.isContractDeal}}</a> -->
									</td>
									<td>
										<a href="#" editable-checkbox="periodInfo.isContractFinalized" onaftersave="updateContractFinalizedChanged('Retailer', retailer.retailerID, periodInfo.period, periodInfo.isContractFinalized)">{{periodInfo.isContractFinalized}}</a>
									</td>
									<td>
										<a href="#" editable-checkbox="periodInfo.isDecisionCommitted" onaftersave="updateFinalDecisionCommittedChanged('Retailer', retailer.retailerID, periodInfo.period, periodInfo.isDecisionCommitted)">{{periodInfo.isDecisionCommitted}}</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>					
				</div>

			</div>
		</tab>
		<tab heading="Budget Modification">
			<div class="row" style="margin-top:10px">
				<div class="col-md-6">
					<div class="panel panel-info" ng-repeat='supplier in budget.producers'>
						<div class="panel-heading">Supplier {{supplier.producerID}}</div>

						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<td></td>
									<td><p class="text-center">Next Budget Extension</p></td>
									<td><p class="text-center">Immediate Budget Extension</p></td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat='budget in supplier.data'>
									<td><strong>Period {{budget.period}}</strong></td>
									<td>
										<a href="#" editable-text="budget.nextBudgetExtension" onaftersave="updatBudget(budget.period,supplier.producerID,'Producer','nextBudgetExtension',$data)">{{budget.nextBudgetExtension}} </a>
									</td>
									<td>
										<a href="#" editable-text="budget.immediateBudgetExtension" onaftersave="updatBudget(budget.period,supplier.producerID,'Producer','immediateBudgetExtension',$data)">{{budget.immediateBudgetExtension}} </a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>			
				</div>
				<div class="col-md-6">
					<div class="panel panel-success" ng-repeat='retailer in budget.retailers'>
						<div class="panel-heading">Retailer {{retailer.retailerID}}</div>

						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<td></td>
									<td><p class="text-center">Next Budget Extension</p></td>
									<td><p class="text-center">Immediate Budget Extension</p></td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat='budget in retailer.data'>
									<td><strong>Period {{budget.period}}</strong></td>
									<td>
										<a href="#" editable-text="budget.nextBudgetExtension" onaftersave="updatBudget(budget.period,retailer.retailerID,'Retailer','nextBudgetExtension',$data)">{{budget.nextBudgetExtension}} </a>
									</td>
									<td>
										<a href="#" editable-text="budget.immediateBudgetExtension" onaftersave="updatBudget(budget.period,retailer.retailerID,'Retailer','immediateBudgetExtension',$data)">{{budget.immediateBudgetExtension}} </a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>					
				</div>
			</div>
		</tab>
		<tab heading="Exceptional Cost / Profit Modification">
			<div class="row" style="margin-top:10px">
				<div class="col-md-6">
					<div class="panel panel-info" ng-repeat='supplier in exceptionalCost.producers'>
						<div class="panel-heading">Supplier {{supplier.producerID}}</div>

						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<td rowspan="2"></td>
									<td colspan="2">
										<p class="text-center">Elecssories
										</p>
									</td>
									<td colspan="2">
										<p class="text-center">HealthBeauties</p>
									</td>
								</tr>
								<tr>
									<td><p class="text-center">Traditional</p></td>
									<td><p class="text-center">Internet</p></td>
									<td><p class="text-center">Traditional</p></td>
									<td><p class="text-center">Internet</p></td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat='exceptionalCost in supplier.data'>
									<td><strong>Period {{exceptionalCost.period}}</strong></td>
									<td>
										<a href="#" editable-text="exceptionalCost.exceptionalCostsProfits[0]" onaftersave="updateExceptionalCost(exceptionalCost.period,exceptionalCost.producerID,'Producer',1,'exceptionalCostsProfits',0,$data)">{{exceptionalCost.exceptionalCostsProfits[0]}} </a>
									</td>
									<td>
										<a href="#" editable-text="exceptionalCost.exceptionalCostsProfits[1]" onaftersave="updateExceptionalCost(exceptionalCost.period,exceptionalCost.producerID,'Producer',1,'exceptionalCostsProfits',1,$data)">{{exceptionalCost.exceptionalCostsProfits[1]}} </a>
									</td>
									<td>
										<a href="#" editable-text="exceptionalCost.exceptionalCostsProfits[2]" onaftersave="updateExceptionalCost(exceptionalCost.period,exceptionalCost.producerID,'Producer',2,'exceptionalCostsProfits',0,$data)">{{exceptionalCost.exceptionalCostsProfits[2]}} </a>
									</td>
									<td>
										<a href="#" editable-text="exceptionalCost.exceptionalCostsProfits[3]" onaftersave="updateExceptionalCost(exceptionalCost.period,exceptionalCost.producerID,'Producer',2,'exceptionalCostsProfits',1,$data)">{{exceptionalCost.exceptionalCostsProfits[3]}} </a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>			
				</div>
				<div class="col-md-6">
					<div class="panel panel-success" ng-repeat='retailer in exceptionalCost.retailers'>
						<div class="panel-heading">Retailer {{retailer.retailerID}}</div>

						<table class="table table-condensed table-bordered">
							<thead>
								<tr>
									<td rowspan="2"></td>
									<td colspan="2">
										<p class="text-center">Urban</p>
									</td>
									<td colspan="2">
										<p class="text-center">Rural</p>
									</td>
								</tr>
								<tr>
									<td><p class="text-center">Elecssories</p></td>
									<td><p class="text-center">HealthBeauties</p></td>
									<td><p class="text-center">Elecssories</p></td>
									<td><p class="text-center">HealthBeauties</p></td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat='exceptionalCost in retailer.data'>
									<td><strong>Period {{exceptionalCost.period}}</strong></td>
									<td>
										<a href="#" editable-text="exceptionalCost.exceptionalCostsProfits[0]" onaftersave="updateExceptionalCost(exceptionalCost.period,exceptionalCost.retailerID,'Retailer',1,'exceptionalCostsProfits',0,$data)">{{exceptionalCost.exceptionalCostsProfits[0]}} </a>
									</td>
									<td>
										<a href="#" editable-text="exceptionalCost.exceptionalCostsProfits[1]" onaftersave="updateExceptionalCost(exceptionalCost.period,exceptionalCost.retailerID,'Retailer',1,'exceptionalCostsProfits',1,$data)">{{exceptionalCost.exceptionalCostsProfits[1]}} </a>
									</td>
									<td>
										<a href="#" editable-text="exceptionalCost.exceptionalCostsProfits[2]" onaftersave="updateExceptionalCost(exceptionalCost.period,exceptionalCost.retailerID,'Retailer',2,'exceptionalCostsProfits',0,$data)">{{exceptionalCost.exceptionalCostsProfits[2]}} </a>
									</td>
									<td>
										<a href="#" editable-text="exceptionalCost.exceptionalCostsProfits[3]" onaftersave="updateExceptionalCost(exceptionalCost.period,exceptionalCost.retailerID,'Retailer',2,'exceptionalCostsProfits',1,$data)">{{exceptionalCost.exceptionalCostsProfits[3]}} </a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>					
				</div>
			</div>
		</tab>
	</tabset>
</div>



