<div class="container bs-docs-container">		
	<div class="page-header">
		<h3>{{seminar.seminarCode}}, Basic information
			<small>
			 						 	
			</small>
		</h3>
	</div>        		
	<p> Active : <b>{{getSeminarStatus(seminar.isInitialise)}}</b></p>
	<p> Current period/span : 
		<a href="#" editable-text="seminar.currentPeriod" onaftersave="updateCurrentPeriod(seminar)">
			{{ seminar.currentPeriod}}
		</a> / {{seminar.simulationSpan}}
	</p>
	<p> Description : {{seminar.seminarDescription}}</p>
	<p> Login password of suppliers(1~4): 
		<a href="#" editable-text="seminar.producers[0].password" onaftersave="updatePassword(seminar,'producers',0)">
			{{ seminar.producers[0].password || 'empty' }}
		</a>, 
		<a href="#" editable-text="seminar.producers[1].password" onaftersave="updatePassword(seminar,'producers',1)">
			{{ seminar.producers[1].password || 'empty' }}
		</a>, 
		<a href="#" editable-text="seminar.producers[2].password" onaftersave="updatePassword(seminar,'producers',2)">
			{{ seminar.producers[2].password || 'empty' }}
		</a>, 
		<a href="#" editable-text="seminar.producers[3].password" onaftersave="updatePassword(seminar,'producers',3)">
			{{ seminar.producers[3].password || 'empty' }}
		</a>
	</p>
	<p> Login password of retailers(1~4): 
		<a href="#" editable-text="seminar.retailers[0].password" onaftersave="updatePassword(seminar,'retailers',0)">
			{{ seminar.retailers[0].password || 'empty' }}
		</a>, 
		<a href="#" editable-text="seminar.retailers[1].password" onaftersave="updatePassword(seminar,'retailers',1)">
			{{ seminar.retailers[1].password || 'empty' }}
		</a>, 
		<a href="#" editable-text="seminar.retailers[2].password" onaftersave="updatePassword(seminar,'retailers',2)">
			{{ seminar.retailers[2].password || 'empty' }}
		</a>, 
		<a href="#" editable-text="seminar.retailers[3].password" onaftersave="updatePassword(seminar,'retailers',3)">
			{{ seminar.retailers[3].password || 'empty' }}
		</a>
	</p>
	<p>Facilitator password:
		<a href="#" editable-text="seminar.facilitator[0].password" onaftersave="updatePassword(seminar,'facilitator',0)">
			{{ seminar.facilitator[0].password || 'empty' }}
		</a>
	</p>				


	<div class="page-header">
		<h3>Initialize
			<small>
			 	modify parameters, click button to initialize the simulation data					 	
			</small>
		</h3>
	</div>   
	<div class="{{bubleClassName}}" ng-show='true'>
		<strong>{{bubleTitle}}</strong>{{bubleMsg}}
	</div>	

	<p>Simulation span : <a href="#" editable-text="seminar.simulationSpan" onaftersave="parameterChanged())">
			{{ seminar.simulationSpan}}
		</a></p>

	<p> 
		<input
	    ng-model="seminar.traceActive"
	    type="checkbox"> Trace active</p>

	<p>
		<input
	    ng-model="seminar.traditionalTradeActive"
	    type="checkbox"> Traditional trade active</p>
	<p>
		<input
	    ng-model="seminar.EMallActive"
	    type="checkbox"> E-Mall active</p>
	<p>
		<input
	    ng-model="seminar.virtualSupplierActive"
	    type="checkbox"> Virtual supplier active</p>
	<p>
		<input
	    ng-model="seminar.independentMarkets"
	    type="checkbox"> Independent markets</p>
	<p>
		<input
	    ng-model="seminar.forceNextDecisionsOverwrite"
	    type="checkbox"> Force next decisions overwrite</p>

	<pre ng-show="isInitializeMessageShown"><p data-ng-repeat="message in initializeMessage">{{message}}</p></pre>

	

	<div class="alert alert-danger fade in" ng-show="isInitializeConfirmInfoShown">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
	  <h4>Warning! Initialise confirmation</h4>
	  <p>Data(result and decision) from period -3 to period 0 will be covered</p>
	  <p>
	    <button type="button" class="btn btn-danger" ng-click='Initialize(seminar)'>Take this action</button>
	    <button type="button" ng-click="isInitializeConfirmInfoShown=false" class="btn btn-default">Cancel</button>
	  </p>
	</div>		            
	<p><a class="btn btn-default" ng-click="openInitializeModal()">Save changes & Initialize</a></p>		

	<div>
		<div class="page-header">
			<h3>Passive decision & Run
				<small>
				 						 	
				</small>
			</h3>
		</div>        		
	    <div class="alert alert-danger fade in" ng-show="isRunConfirmInfoShown">
	      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
	      <h4>Warning! Run simulation confirmation</h4>
	      <p>Data(result and decision) of selected period will be covered</p>
	      <p>
	        <button type="button" class="btn btn-danger" ng-click='Run(seminar, selectedPeriod)'>Take this action</button>
	        <button type="button" ng-click="isRunConfirmInfoShown=false" class="btn btn-default">Cancel</button>
	      </p>
	    </div>		
		<pre ng-show="isKernelMessageShown"> <p data-ng-repeat="message in kernelMessage">{{message}}</p> </pre>    

		<div class="input-group col-md-6">
		  <span class="input-group-addon">Period (range: -3 ~ {{seminar.currentPeriod}})</span>
		  <input type="text" class="form-control" ng-model="selectedPeriod">
		  <span class="input-group-btn">
		    <button class="btn btn-default" type="button" ng-click="passiveDecision(seminar, selectedPeriod)">Get passive decision</button>
		    <button class="btn btn-default" ng-click="openRunModal()" type="button">Run</button>
		  </span>				  
		</div>		
		
	</div>         

	<div class="page-header">
		<h3>Game progress monitor
			<small>
	
			</small>
		</h3>
	</div>        		

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-info" ng-repeat='supplier in seminar.producers'>
				<div class="panel-heading">Supplier {{supplier.producerID}}</div>

				<table class="table table-condensed table-bordered">
					<thead>
						<tr>
							<td></td>
							<td>Is portfolio decision committed?</td>
							<td>Is decision committed(Lock)?</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='periodInfo in supplier.decisionCommitStatus'>
							<td><strong>Period {{periodInfo.period}}</strong></td>
							<td>
								<a href="#" editable-checkbox="periodInfo.isPortfolioDecisionCommitted" onaftersave="updatePortfolioDecisionCommittedChanged(supplier.producerID, periodInfo.period, periodInfo.isPortfolioDecisionCommitted)">{{periodInfo.isPortfolioDecisionCommitted}} </a>				
							</td>
							<td><a href="#" editable-checkbox="periodInfo.isDecisionCommitted" onaftersave="updateFinalDecisionCommittedChanged('Producer', supplier.producerID, periodInfo.period, periodInfo.isDecisionCommitted)">{{periodInfo.isDecisionCommitted}}</a></td>
						</tr>
					</tbody>
				</table>
			</div>			
		</div>

		<div class="col-md-6">
			<div class="panel panel-success" ng-repeat='retailer in seminar.retailers'>
				<div class="panel-heading">Retailer {{retailer.retailerID}}</div>

				<table class="table table-condensed table-bordered">
					<thead>
						<tr>
							<td></td>
							<td>Is decision committed(Lock)?</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='periodInfo in retailer.decisionCommitStatus'>
							<td><strong>Period {{periodInfo.period}}</strong></td>
							<td><a href="#" editable-checkbox="periodInfo.isDecisionCommitted" onaftersave="updateFinalDecisionCommittedChanged('Retailer', retailer.retailerID, periodInfo.period, periodInfo.isDecisionCommitted)">{{periodInfo.isDecisionCommitted}}</a></td>
						</tr>
					</tbody>
				</table>
			</div>					
		</div>

	</div>



</div>



