<div id="content" class="bs-header">
    <div class="container">
        <h1>Contract</h1>
        <p>We deliver a highly disruptive and transformational experiential learning model on a global scale !</p>
    </div>
</div>
<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-12">
		    <div class="bs-docs-section">
		    	<h3>ContractList</h3>
		    	<div class="pull-left">
		    		<div class="btn-group pull-left" data-toggle="buttons">
			            <label class="btn btn-primary" ng-click="">
			            	<input type="radio" name="options">English
			            </label>
			            <label class="btn btn-primary" ng-click="">
			            	<input type="radio" name="options">Chinese
			            </label>
			        </div>
			        <div class="btn-group pull-left" style="display:{{shouldShow}};margin-left:20px">
			        	<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
			              Producer <span class="caret"></span>
			            </button>
			            <ul class="dropdown-menu">
			              <li class=""><a ng-click="filterUser(1,retailerID)">Producer 1</a></li>
			              <li class=""><a ng-click="filterUser(2,retailerID)">Producer 2</a></li>
			              <li class=""><a ng-click="filterUser(3,retailerID)">Producer 3</a></li>         
			            </ul>
			        </div>
			        <div class="btn-group pull-left" style="display:{{shouldShow}};margin-left:20px">
			        	<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" style="margin-left:10px">
			              Retailer <span class="caret"></span>
			            </button>
			            <ul class="dropdown-menu">
			              <li class=""><a ng-click="filterUser(producerID,1)">Retailer 1</a></li>
			              <li class=""><a ng-click="filterUser(producerID,2)">Retailer 2</a></li>      
			            </ul>
			        </div>
			    </div>
			    <div style="clear:both"></div>
			    <table class="table table-hover">
			    	<tr>
			    		<th>Contract Name</th>
			    		<th>Period</th>
			    		<th>Producer</th>
			    		<th>Retailer</th>
			    		<th>Drafted By</th>
			    		<th>Ready?</th>
			    		<th>Choose</th>
			    	</tr>
			    	<tr ng-repeat="allContract in allContracts">
			    		<td>{{allContract.contractCode}}</td>
			    		<td>{{allContract.period}}</td>
			    		<td>{{rootSeminar}}_P_{{allContract.producerID}}</td>
			    		<td>{{rootSeminar}}_R_{{(allContract.retailerID)}}</td>
			    		<td>{{rootSeminar}}_{{(allContract.draftedByCompanyID>3)?'R':'P'}}_{{(allContract.draftedByCompanyID>3)?(allContract.draftedByCompanyID-4):allContract.draftedByCompanyID}}</td>
			    		<td>
			    			<fieldset disabled>
			    				<div class="checkbox">
			    					<label>
			    						<input type="checkbox" checked style="display:{{(allContract.isDraftFinished)?'block':'none'}}">
			    						<input type="checkbox" style="display:{{(allContract.isDraftFinished)?'none':'block'}}"></div>
			    					</label>
			    				</div>
			    			</fieldset>
			    		</td>
			    		<td>
			    			<a class="btn btn-primary" ng-click="openDetailModal(allContract)">
			    				ShowDetails
			    			</a>
			    		</td>
			    	</tr>
			    </table>
			    <a class="btn btn-primary" ng-click="openInsertModal()">
			    	New Contract</a>
		    </div>
		</div>
	</div>
</div>
<!--dialogs-->
<div modal="insertModal" class="hide" close="closeInsertModal()" options="insertOpts">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeInsertModal()">&times;</button>
				<h4 class="modal-title">New Negotiation</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="contractCode">ContractCode:</label>
					<div style="clear:both"></div>
					<div class="col-xs-5 input-group">
						<input type="text" id="contractCode" placeholder="contractCode" class="form-control" ng-model="newContractCode" required>
						<span class="input-group-addon">{{contractCodeLastName}}</span>
					</div>
					<div style="clear:both"></div>
				</div>
				<div class="form-group">
					<label for="retailerID">Contract To:</label>
					<div style="clear:both"></div>
					<div class="col-xs-5">
						<select class="form-control" ng-model="newRetailerID">
							<option value="1">Retailer 1</option>
							<option value="2">Retailer 2</option>
						</select>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn btn-default">Cancel</a>
				<a class="btn btn-primary" ng-click="addNewContract()">Add</a>
			</div>
		</div>
	</div>
</div>

<div modal="detailModal" class="hide" close="closeDetailModal()" options="detailOpts">
	<div class="modal-dialog" style="width:1000px">
		<div class="modal-content">
		    <div class="modal-header">
		    	<div>
		    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeDetailModal()">&times;</button>
					<h4 class="modal-title">Contract:{{Detail.contractCode}}</h4>
		    		<h5>
		    			Producer {{Detail.producerID}} Retailer {{Detail.retailerID}},{{Detail.seminar}}
		    		</h5>
		    	</div>
		    	<div class="pull-right">
		    		<div class="btn-group">
		    			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		    				Category <span class="caret"></span>
		    			</button>
		    			<ul class="dropdown-menu">
		    				<li class=""><a ng-click="showDetailModal('Elecssories')">Elecssories</a></li>
		    				<li class=""><a ng-click="showDetailModal('HealthBeauty')">HealthBeauty</a></li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div style="clear:both"></div>
		    </div>
		    <div class="modal-body">
		    	<div class="">
		    		<table class="table table-hover">
		    			<tr style="background-color:yellow">
		    				<th>Items(Producer Input)</th>
		    				<th ng-repeat="proDetail in proDetailList[0]">
		    					<span class="glyphicon" style="width:30px"></span>{{proDetail.relatedBrandName}}
		    				</th>
		    			</tr>
		    			<tr>
		    				<th>Minimum Order & Discount Rate</th>
		    				<td ng-repeat="proDetail in proDetailList[0]">
		    					<span class="glyphicon glyphicon-ok" style="width:30px"></span>
		    					<span>{{(proDetail.useBrandDetails?(proDetail.brand_urbanValue+proDetail.brand_ruralValue):(proDetail.variant_A_urbanValue+proDetail.variant_A_ruralValue+proDetail.variant_B_urbanValue+proDetail.variant_B_ruralValue+proDetail.variant_C_urbanValue+proDetail.variant_C_ruralValue))}}({{proDetail.displayValue}}%)</span>
		    					<span style="display:{{shouldBeEdit}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openEditModal(proDetail)">Edit</a>
		    					</span>
		    					<span style="display:{{shouldBeView}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openViewModal(proDetail)">View</a>
		    					</span>
		    				</td>
		    			</tr>
		    			<tr>
		    				<th>Sales Target Volume & Bonus</th>
		    				<td ng-repeat="proDetail in proDetailList[1]">
		    					<span class="glyphicon glyphicon-ok" style="width:30px"></span>
		    					<span>{{(proDetail.useBrandDetails?(proDetail.brand_urbanValue+proDetail.brand_ruralValue):(proDetail.variant_A_urbanValue+proDetail.variant_A_ruralValue+proDetail.variant_B_urbanValue+proDetail.variant_B_ruralValue+proDetail.variant_C_urbanValue+proDetail.variant_C_ruralValue))}}({{proDetail.displayValue}})</span>
		    					<span style="display:{{shouldBeEdit}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openEditModal(proDetail)">Edit</a>
		    					</span>
		    					<span style="display:{{shouldBeView}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openViewModal(proDetail)">View</a>
		    					</span>
		    				</td>
		    			</tr>
		    			<tr>
		    				<th>Payment Days</th>
		    				<td ng-repeat="proDetail in proDetailList[2]">
		    					<span class="glyphicon glyphicon-ok" style="width:30px"></span>
		    					<span>{{(proDetail.useBrandDetails?(proDetail.brand_urbanValue+proDetail.brand_ruralValue):(proDetail.variant_A_urbanValue+proDetail.variant_A_ruralValue+proDetail.variant_B_urbanValue+proDetail.variant_B_ruralValue+proDetail.variant_C_urbanValue+proDetail.variant_C_ruralValue))}}</span>
		    					<span style="display:{{shouldBeEdit}}" class="pull-right">
		    		 				<a class="btn btn-primary btn-xs" ng-click="openEditModal(proDetail)">Edit</a>
		    		 			</span>
		    					<span style="display:{{shouldBeView}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openViewModal(proDetail)">View</a>
		    					</span>		
		    		 		</td>
		    			</tr>
		    			<tr>
		    				<th>Other Compensation</th>
		    				<td ng-repeat="proDetail in proDetailList[3]">
		    					<span class="glyphicon glyphicon-ok" style="width:30px"></span>
		    					<span>{{(proDetail.useBrandDetails?(proDetail.brand_urbanValue+proDetail.brand_ruralValue):(proDetail.variant_A_urbanValue+proDetail.variant_A_ruralValue+proDetail.variant_B_urbanValue+proDetail.variant_B_ruralValue+proDetail.variant_C_urbanValue+proDetail.variant_C_ruralValue))}}</span>
		    					<span style="display:{{shouldBeEdit}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openEditModal(proDetail)">Edit</a>
		   		 				</span>
		    	 				<span style="display:{{shouldBeView}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openViewModal(proDetail)">View</a>
		   		 				</span>		
		    				</td>
		    			</tr>
		    		</table>
		    	</div>
		    	<div class="" style="margin-top:20px">
		    		<table class="table table-hover">
		    			<tr style="background-color:blue">
		    				<th>Items(Retailer Input)</th>
		    				<th ng-repeat="retDetail in retDetailList[0]">
		    					<span class="glyphicon" style="width:30px"></span>{{retDetail.relatedBrandName}}
		    				</th>
		    			</tr>
		    			<tr>
		    				<th>Minimum Order & Discount Rate</th>
		    				<td ng-repeat="retDetail in retDetailList[0]">
		    					<span class="glyphicon glyphicon-ok" style="width:30px"></span>
		    					<span>{{(retDetail.useBrandDetails?(retDetail.brand_urbanValue+retDetail.brand_ruralValue):(retDetail.variant_A_urbanValue+retDetail.variant_A_ruralValue+retDetail.variant_B_urbanValue+retDetail.variant_B_ruralValue+retDetail.variant_C_urbanValue+retDetail.variant_C_ruralValue))}}({{retDetail.displayValue}}%)</span>
		    					<span style="display:{{shouldBeView}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openEditModal(retDetail)">Edit</a>
		    					</span>
		    					<span style="display:{{shouldBeEdit}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openViewModal(retDetail)">View</a>
		    					</span>		
		    				</td>
		    			</tr>
		    			<tr>
		    				<th>Sales Target Volume & Bonus</th>
		    				<td ng-repeat="retDetail in retDetailList[1]">
		    					<span class="glyphicon glyphicon-ok" style="width:30px"></span>
		    					<span>{{(retDetail.useBrandDetails?(retDetail.brand_urbanValue+retDetail.brand_ruralValue):(retDetail.variant_A_urbanValue+retDetail.variant_A_ruralValue+retDetail.variant_B_urbanValue+retDetail.variant_B_ruralValue+retDetail.variant_C_urbanValue+retDetail.variant_C_ruralValue))}}({{retDetail.displayValue}})</span>
		    					<span style="display:{{shouldBeView}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openEditModal(retDetail)">Edit</a>
		    					</span>
		    					<span style="display:{{shouldBeEdit}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openViewModal(retDetail)">View</a>
		    					</span>			
		    				</td>
		    			</tr>
		    			<tr>
		    				<th>Payment Days</th>
		    				<td ng-repeat="retDetail in retDetailList[2]">
		    					<span class="glyphicon glyphicon-ok" style="width:30px"></span>
		    					<span>{{(retDetail.useBrandDetails?(retDetail.brand_urbanValue+retDetail.brand_ruralValue):(retDetail.variant_A_urbanValue+retDetail.variant_A_ruralValue+retDetail.variant_B_urbanValue+retDetail.variant_B_ruralValue+retDetail.variant_C_urbanValue+retDetail.variant_C_ruralValue))}}</span>
		    					<span style="display:{{shouldBeView}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openEditModal(retDetail)">Edit</a>
		    					</span>
		    					<span style="display:{{shouldBeEdit}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openViewModal(retDetail)">View</a>
		    					</span>		
		    				</td>
		    			</tr>
		    			<tr>
		    				<th>Other Compensation</th>
		    				<td ng-repeat="proDetail in proDetailList[3]">
		    					<span class="glyphicon glyphicon-ok" style="width:30px"></span>
		    					<span>{{(proDetail.useBrandDetails?(proDetail.brand_urbanValue+proDetail.brand_ruralValue):(proDetail.variant_A_urbanValue+proDetail.variant_A_ruralValue+proDetail.variant_B_urbanValue+proDetail.variant_B_ruralValue+proDetail.variant_C_urbanValue+proDetail.variant_C_ruralValue))}}</span>
		    					<span style="display:{{shouldBeView}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openEditModal(retDetail)">Edit</a>
		    					</span>
		    					<span style="display:{{shouldBeEdit}}" class="pull-right">
		    						<a class="btn btn-primary btn-xs" ng-click="openViewModal(retDetail)">View</a>
		    					</span>		
		    				</td>
		    			</tr>
		    		</table>
		    	</div>
		    </div>
		    <div class="modal-footer">
		    	<a class="btn btn-success">Commit</a>
		    	<a class="btn btn-primary">Compare and Refresh</a>
		    </div>
		</div>
	</div>
</div>

<div modal="editModal" class="hide" close="closeEditModal()" options="eidtOpts">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div style="background-color:yellow">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeEditModal()">&times;</button>
					<h4>{{editDetail.negotiationItem}},{{rootSeminar}}_{{editDetail.relatedBrandName}}</h4>
				</div>
				<div class="btn-group pull-right" data-toggle="buttons">
					<label class="btn btn-primary" ng-click="setShowDetailType('Brand')">
						<input type="radio" name="detailType">Brand
					</label>
					<label class="btn btn-primary" ng-click="setShowDetailType('Variant')">
						<input type="radio" name="detailType">Variant
					</label>
				</div>
				<div class="btn-group pull-right" style="margin-right:10px;display:{{shouldBeAmount}}" data-toggle="buttons">
					<label class="btn btn-primary" ng-click="setShowBonusType('Amout')">
						<input type="radio" name="amoutRate">Amout
					</label>
					<label class="btn btn-primary" ng-click="setShowBonusType('Rate')">
						<input type="radio" name="amoutRate">Rate
					</label>
				</div>
				<div style="clear:both"></div>
			</div>
			<div class="modal-body">
				<div class="" style="display:{{shouldShowBrand}}">
					<table class="table" style="display:{{shouldBeRate}}">
						<tr>
							<th style="width:10%"></th>
							<th style="width:45%"></th>
							<th style="width:45%">Discount rete</th>
						</tr>
						<tr>
							<td>Urban:</td>
							<td>
								<a href="#" editable-text="editDetail.brand_urbanValue" onaftersave="updateContractDetails(editDetail,editDetail.negotiationItem,'urban','index','brand')">{{ editDetail.brand_urbanValue || 'empty' }}
								</a>
							</td>
							<td>
								<a href="#" editable-text="editDetailDisRate.brand_urbanValue" onaftersave="updateContractDetails(editDetailDisRate,editDetailDisRate.negotiationItem,'urban','index','brand')">{{ editDetailDisRate.brand_urbanValue || 'empty' }}</a>
							</td>
						</tr>
						<tr>
							<td>Rural:</td>
							<td>
								<a href="#" editable-text="editDetail.brand_ruralValue" onaftersave="updateContractDetails(editDetail,editDetail.negotiationItem,'rural','index','brand')">{{ editDetail.brand_ruralValue || 'empty' }}</a>
							</td>
							<td>
								<a href="#" editable-text="editDetailDisRate.brand_ruralValue" onaftersave="updateContractDetails(editDetailDisRate,editDetailDisRate.negotiationItem,'rural','index','brand')">{{ editDetailDisRate.brand_ruralValue || 'empty' }}</a>
							</td>						
						</tr>
					</table>
					<div class="" style="display:{{shouldBeAmount}}">
						<table class="table" style="display:{{shouldBeBonusAmount}}">
							<tr>
								<th style="width:10%"></th>
								<th style="width:40%"></th>
								<th style="width:40%">Amount</th>
								<th style="width:10%">Rate</th>
							</tr>
							<tr>
								<td>Urban:</td>
								<td>
									<a href="#" editable-text="editDetail.brand_urbanValue" onaftersave="updateContractDetails(editDetail,editDetail.negotiationItem,'urban','index','brand')">{{ editDetail.brand_urbanValue || 'empty' }}
									</a>
								</td>
								<td>
									<a href="#" editable-text="editDetailBonusAmount.brand_urbanValue" onaftersave="updateContractDetails(editDetailBonusAmount,'nc_PerformanceBonusAmount','urban','index','brand')">{{ editDetailBonusAmount.brand_urbanValue || 'empty' }}</a>
								</td>
								<td>
									{{editDetailBonusRate.brand_urbanValue}}
								</td>
							</tr>
							<tr>
								<td>Rural:</td>
								<td>
									<a href="#" editable-text="editDetail.brand_ruralValue" onaftersave="updateContractDetails(editDetail,editDetail.negotiationItem,'rural','index','brand')">{{ editDetail.brand_ruralValue || 'empty' }}
									</a>
								</td>
								<td>
									<a href="#" editable-text="editDetailBonusAmount.brand_ruralValue" onaftersave="updateContractDetails(editDetailBonusAmount,'nc_PerformanceBonusAmount','rural','index','brand')">{{ editDetailBonusAmount.brand_ruralValue || 'empty' }}</a>
								</td>
								<td>
									{{editDetailBonusRate.brand_ruralValue}}
								</td>
							</tr>
						</table>
						<table class="table" style="display:{{shouldBeBonusRate}}">
							<tr>
								<th style="width:10%"></th>
								<th style="width:40%"></th>
								<th style="width:10%">Amount</th>
								<th style="width:40%">Rate</th>
							</tr>
							<tr>
								<td>Urban:</td>
								<td>
									<a href="#" editable-text="editDetail.brand_urbanValue" onaftersave="updateContractDetails(editDetail,editDetail.negotiationItem,'urban','index','brand')">{{ editDetail.brand_urbanValue || 'empty' }}
									</a>
								</td>
								<td>
									{{editDetailBonusAmount.brand_urbanValue}}
								</td>
								<td>
									<a href="#" editable-text="editDetailBonusRate.brand_urbanValue" onaftersave="updateContractDetails(editDetailBonusRate,'nc_PerformanceBonusRate','urban','index','brand')">{{ editDetailBonusRate.brand_urbanValue || 'empty' }}</a>
								</td>
							</tr>
							<tr>
								<td>Rural:</td>
								<td>
									<a href="#" editable-text="editDetail.brand_ruralValue" onaftersave="updateContractDetails(editDetail,editDetail.negotiationItem,'rural','index','brand')">{{ editDetail.brand_ruralValue || 'empty' }}
									</a>
								</td>
								<td>
									{{editDetailBonusAmount.brand_ruralValue}}
								</td>
								<td>
									<a href="#" editable-text="editDetailBonusRate.brand_ruralValue" onaftersave="updateContractDetails(editDetailBonusRate,'nc_PerformanceBonusRate','rural','index','brand')">{{ editDetailBonusRate.brand_ruralValue || 'empty' }}</a>
								</td>
							</tr>
						</table>
					</div>
					<table class="table" style="display:{{shouldBeNormal}}">
						<tr>
							<td style="width:40%">Urban:</td>
							<td style="width:60%">
								<a href="#" editable-text="editDetail.brand_urbanValue" onaftersave="updateContractDetails(editDetail,editDetail.negotiationItem,'urban','index','brand')">{{ editDetail.brand_urbanValue || 'empty' }}
								</a>
							</td>
						</tr>
						<tr>
							<td>Rural:</td>
							<td>
								<a href="#" editable-text="editDetail.brand_ruralValue" onaftersave="updateContractDetails(editDetail,editDetail.negotiationItem,'rural','index','brand')">{{ editDetail.brand_ruralValue || 'empty' }}</a>
							</td>					
						</tr>
					</table>
				</div>
				<div class="" style="display:{{shouldShowVariant}}">
					<!--Variant-->
					<div style="display:{{shouldBeRate}}">
						<tabset>
							<tab ng-repeat='product in editProductList' heading="{{product.varName}}">
								<table class="table">
									<tr>
										<th style="width:10%"></th>
										<th style="width:45%"></th>
										<th style="width:45%">Discount rete</th>
									</tr>
									<tr>
										<td>Urban:</td>
										<td>
											<a href="#" editable-text="product.urbanValue" onaftersave="updateContractDetails(product,product.negotiationItem,'urban',$index,'variant')">{{ product.urbanValue || 'empty' }}</a>
										</td>
										<td>
											<a href="#" editable-text="product.dis_urbanValue" onaftersave="updateContractDetails(product,'nc_VolumeDiscountRate','urban',$index,'variant')">{{ product.dis_urbanValue || 'empty' }}</a>
										</td>
									</tr>
									<tr>
										<td>Rural:</td>
										<td>
											<a href="#" editable-text="product.ruralValue" onaftersave="updateContractDetails(product,product.negotiationItem,'rural',$index,'variant')">{{ product.ruralValue || 'empty' }}</a>
										</td>
										<td>
											<a href="#" editable-text="product.dis_ruralValue" onaftersave="updateContractDetails(product,'nc_VolumeDiscountRate','rural',$index,'variant')">{{ product.dis_ruralValue || 'empty' }}</a>
										</td>						
									</tr>
								</table>
							</tab>
						</tabset>
					</div>
				
					<div style="display:{{shouldBeAmount}}">
						<div style="display:{{shouldBeBonusAmount}}">
							<tabset>
								<tab ng-repeat='product in editProductList' heading="{{product.varName}}">
									<table class="table">
										<tr>
											<th style="width:10%"></th>
											<th style="width:40%"></th>
											<th style="width:40%">Amount</th>
											<th style="width:10%">Rate</th>
										</tr>
										<tr>
											<td>Urban:</td>
											<td>
												<a href="#" editable-text="product.urbanValue" onaftersave="updateContractDetails(product,product.negotiationItem,'urban',$index,'variant')">{{ product.urbanValue || 'empty' }}
												</a>
											</td>
											<td>
												<a href="#" editable-text="product.amout_urbanValue" onaftersave="updateContractDetails(product,'nc_PerformanceBonusAmount','urban',$index,'variant')">{{ product.amout_urbanValue || 'empty' }}</a>
											</td>
											<td>
												{{product.rate_urbanValue}}
											</td>
										</tr>
										<tr>
											<td>Rural:</td>
											<td>
												<a href="#" editable-text="product.ruralValue" onaftersave="updateContractDetails(product,product.negotiationItem,'rural',$index,'variant')">{{ product.ruralValue || 'empty' }}
												</a>
											</td>
											<td>
												<a href="#" editable-text="product.amout_ruralValue" onaftersave="updateContractDetails(product,'nc_PerformanceBonusAmount','rural',$index,'variant')">{{ product.amout_ruralValue || 'empty' }}</a>
											</td>
											<td>
												{{product.rate_ruralValue}}
											</td>
										</tr>
									</table>
								</tab>
							</tabset>
						</div>
						<div style="display:{{shouldBeBonusRate}}">
							<tabset>
								<tab ng-repeat='product in editProductList' heading="{{product.varName}}">
									<table class="table">
										<tr>
											<th style="width:10%"></th>
											<th style="width:40%"></th>
											<th style="width:10%">Amount</th>
											<th style="width:40%">Rate</th>
										</tr>
										<tr>
											<td>Urban:</td>
											<td>
												<a href="#" editable-text="product.urbanValue" onaftersave="updateContractDetails(product,product.negotiationItem,'urban',$index,'variant')">{{ product.urbanValue || 'empty' }}
												</a>
											</td>
											<td>
												{{ product.amout_urbanValue}}
											</td>
											<td>
												<a href="#" editable-text="product.rate_urbanValue " onaftersave="updateContractDetails(product,'nc_PerformanceBonusRate','urban',$index,'variant')">{{ product.rate_urbanValue  || 'empty' }}</a>
											</td>
										</tr>
										<tr>
											<td>Rural:</td>
											<td>
												<a href="#" editable-text="product.ruralValue" onaftersave="updateContractDetails(product,product.negotiationItem,'rural',$index,'variant')">{{ product.ruralValue || 'empty' }}
												</a>
											</td>
											<td>
												{{product.amout_ruralValue}}
											</td>
											<td>
												<a href="#" editable-text="product.rate_ruralValue" onaftersave="updateContractDetails(product,'nc_PerformanceBonusRate','rural',$index,'variant')">{{ product.rate_ruralValue || 'empty' }}</a>
											</td>
										</tr>
									</table>
								</tab>
							</tabset>
						</div>
					</div>
					<div style="display:{{shouldBeNormal}}">
						<tabset>
							<tab ng-repeat='product in editProductList' heading="{{product.varName}}">
								<table class="table">
									<tr>
										<td style="width:40%">Urban:</td>
										<td style="width:60%">
											<a href="#" editable-text="product.urbanValue" onaftersave="updateContractDetails(product,product.negotiationItem,'urban',$index,'variant')">{{ product.urbanValue || 'empty' }}</a>
										</td>
									</tr>
									<tr>
										<td>Rural:</td>
										<td>
											<a href="#" editable-text="product.ruralValue" onaftersave="updateContractDetails(product,product.negotiationItem,'rural',$index,'variant')">{{ product.ruralValue || 'empty' }}</a>
										</td>					
									</tr>
								</table>
							</tab>
						</tabset>
					</div>				
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn btn-warning" ng-click="closeEditModal()">Close</a>
			</div>
		</div>
	</div>
</div>

<div modal="viewModal" class="hide" close="closeViewModal()" options="viewOpts">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div style="background-color:yellow">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeViewModal()">&times;</button>
					<h4>{{editDetail.negotiationItem}},{{rootSeminar}}_{{editDetail.relatedBrandName}}</h4>
				</div>
				<div class="btn-group pull-right" data-toggle="buttons">
					<label class="btn btn-primary" ng-click="setShowDetailType('Brand')">
						<input type="radio" name="detailType">Brand
					</label>
					<label class="btn btn-primary" ng-click="setShowDetailType('Variant')">
						<input type="radio" name="detailType">Variant
					</label>
				</div>
				<div class="btn-group pull-right" style="margin-right:10px;display:{{shouldBeAmount}}" data-toggle="buttons">
					<label class="btn btn-primary" ng-click="setShowBonusType('Amout')">
						<input type="radio" name="amoutRate">Amout
					</label>
					<label class="btn btn-primary" ng-click="setShowBonusType('Rate')">
						<input type="radio" name="amoutRate">Rate
					</label>
				</div>
				<div style="clear:both"></div>
			</div>
			<div class="modal-body">
				<div class="" style="display:{{shouldShowBrand}}">
					<table class="table" style="display:{{shouldBeRate}}">
						<tr>
							<th style="width:10%"></th>
							<th style="width:45%"></th>
							<th style="width:45%">Discount rete</th>
						</tr>
						<tr>
							<td>Urban:</td>
							<td>
								{{ editDetail.brand_urbanValue }}
							</td>
							<td>
								{{ editDetailDisRate.brand_urbanValue }}
							</td>
						</tr>
						<tr>
							<td>Rural:</td>
							<td>
								{{editDetail.brand_ruralValue}}
							</td>
							<td>
								{{editDetailDisRate.brand_ruralValue}}
							</td>						
						</tr>
					</table>
					<div class="" style="display:{{shouldBeAmount}}">
						<table class="table" style="display:{{shouldBeBonusAmount}}">
							<tr>
								<th style="width:10%"></th>
								<th style="width:40%"></th>
								<th style="width:40%">Amount</th>
								<th style="width:10%">Rate</th>
							</tr>
							<tr>
								<td>Urban:</td>
								<td>
									{{editDetail.brand_urbanValue}}
									</a>
								</td>
								<td>
									{{editDetailBonusAmount.brand_urbanValue}}
								</td>
								<td>
									<p style="color:gray">
										{{editDetailBonusRate.brand_urbanValue}}
									</p>
								</td>
							</tr>
							<tr>
								<td>Rural:</td>
								<td>
									{{editDetail.brand_ruralValue}}
								</td>
								<td>
									{{editDetailBonusAmount.brand_ruralValue}}
								</td>
								<td>
									<p style="color:gray">
										{{editDetailBonusRate.brand_ruralValue}}
									</p>
								</td>
							</tr>
						</table>
						<table class="table" style="display:{{shouldBeBonusRate}}">
							<tr>
								<th style="width:10%"></th>
								<th style="width:40%"></th>
								<th style="width:10%">Amount</th>
								<th style="width:40%">Rate</th>
							</tr>
							<tr>
								<td>Urban:</td>
								<td>
									{{editDetail.brand_urbanValue}}
								</td>
								<td>
									<p style="color:gray">
										{{editDetailBonusAmount.brand_urbanValue}}
									</p>
								</td>
								<td>
									{{editDetailBonusRate.brand_urbanValue}}
								</td>
							</tr>
							<tr>
								<td>Rural:</td>
								<td>
									{{editDetail.brand_ruralValue}}
								</td>
								<td>
									<p style="color:gray">
										{{editDetailBonusAmount.brand_ruralValue}}
									</p>
								</td>
								<td>
									{{editDetailBonusRate.brand_ruralValue}}
								</td>
							</tr>
						</table>
					</div>
					<table class="table" style="display:{{shouldBeNormal}}">
						<tr>
							<td style="width:40%">Urban:</td>
							<td style="width:60%">
								{{editDetail.brand_urbanValue}}
								</a>
							</td>
						</tr>
						<tr>
							<td>Rural:</td>
							<td>
								{{editDetail.brand_ruralValue}}
							</td>					
						</tr>
					</table>
				</div>
				<div class="" style="display:{{shouldShowVariant}}">
					<div style="display:{{shouldBeRate}}">
						<tabset>
							<tab ng-repeat='product in editProductList' heading="{{product.varName}}">
								<table class="table">
									<tr>
										<th style="width:10%"></th>
										<th style="width:45%"></th>
										<th style="width:45%">Discount rete</th>
									</tr>
									<tr>
										<td>Urban:</td>
										<td>
											{{product.urbanValue}}
										</td>
										<td>
											{{product.dis_urbanValue}}
										</td>
									</tr>
									<tr>
										<td>Rural:</td>
										<td>
											{{product.ruralValue}}
										</td>
										<td>
											{{product.dis_ruralValue}}
										</td>						
									</tr>
								</table>
							</tab>
						</tabset>
					</div>
				
					<div style="display:{{shouldBeAmount}}">
						<div style="display:{{shouldBeBonusAmount}}">
							<tabset>
								<tab ng-repeat='product in editProductList' heading="{{product.varName}}">
									<table class="table">
										<tr>
											<th style="width:10%"></th>
											<th style="width:40%"></th>
											<th style="width:40%">Amount</th>
											<th style="width:10%">Rate</th>
										</tr>
										<tr>
											<td>Urban:</td>
											<td>
												{{ product.urbanValue}}
											</td>
											<td>{{product.amout_urbanValue}}
											</td>
											<td>
												<p style="color:gray">
												{{product.rate_urbanValue}}
												</p>
											</td>
										</tr>
										<tr>
											<td>Rural:</td>
											<td>
												{{product.ruralValue}}
											</td>
											<td>
												{{product.amout_ruralValue }}
											</td>
											<td>
												<p style="color:gray">{{product.rate_ruralValue}}
												</p>
											</td>
										</tr>
									</table>
								</tab>
							</tabset>
						</div>
						<div style="display:{{shouldBeBonusRate}}">
							<tabset>
								<tab ng-repeat='product in editProductList' heading="{{product.varName}}">
									<table class="table">
										<tr>
											<th style="width:10%"></th>
											<th style="width:40%"></th>
											<th style="width:10%">Amount</th>
											<th style="width:40%">Rate</th>
										</tr>
										<tr>
											<td>Urban:</td>
											<td>
												{{product.urbanValue}}
											</td>
											<td>
												<p style="color:gray">
												{{ product.amout_urbanValue}}
												</p>
											</td>
											<td>
												{{product.rate_urbanValue}}
											</td>
										</tr>
										<tr>
											<td>Rural:</td>
											<td>
												{{product.ruralValue}}
											</td>
											<td>
												<p style="color:gray">
												{{product.amout_ruralValue}}
												</p>
											</td>
											<td>
												{{product.rate_ruralValue}}
											</td>
										</tr>
									</table>
								</tab>
							</tabset>
						</div>
					</div>
					<div style="display:{{shouldBeNormal}}">
						<tabset>
							<tab ng-repeat='product in editProductList' heading="{{product.varName}}">
								<table class="table">
									<tr>
										<td style="width:40%">Urban:</td>
										<td style="width:60%">
											{{product.urbanValue}}
										</td>
									</tr>
									<tr>
										<td>Rural:</td>
										<td>
											{{product.ruralValue}}
										</td>					
									</tr>
								</table>
							</tab>
						</tabset>
					</div>				
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn btn-warning" ng-click="closeViewModal()">Close</a>
			</div>
		</div>
	</div>
</div>
