<div id="content" class="bs-header">
    <div class="container">
        <h1>Contract</h1>
        <p>We deliver a highly disruptive and transformational experiential learning model on a global scale !</p>
    </div>
</div>

<div class="container bs-docs-container">
	<div class="row">
		<div class="col-md-12">
		    <div class="bs-docs-section">
		    	<h3>ContractList</h3>
		    	<div class="pull-left">
		    		<div class="btn-group pull-left" data-toggle="buttons">
			            <label class="btn btn-primary" ng-click="">
			            	<input type="radio" name="options">English
			            </label>
			            <label class="btn btn-primary" ng-click="">
			            	<input type="radio" name="options">Chinese
			            </label>
			        </div>
			        <div class="btn-group pull-left" style="display:{{retailerShow}};margin-left:10px">
			        	<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
			              Producer <span class="caret"></span>
			            </button>
			            <ul class="dropdown-menu">
			              <li class=""><a ng-click="filterUser(1,retailerID)">Producer 1</a></li>
			              <li class=""><a ng-click="filterUser(2,retailerID)">Producer 2</a></li>
			              <li class=""><a ng-click="filterUser(3,retailerID)">Producer 3</a></li>         
			            </ul>
			        </div>
			        <div class="btn-group pull-left" style="display:{{producerShow}};margin-left:10px">
			        	<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" style="margin-left:10px">
			              Retailer <span class="caret"></span>
			            </button>
			            <ul class="dropdown-menu">
			              <li class=""><a ng-click="filterUser(producerID,1)">Retailer 1</a></li>
			              <li class=""><a ng-click="filterUser(producerID,2)">Retailer 2</a></li>      
			            </ul>
			        </div>
			    </div>
			    <div style="clear:both"></div>
			    <table class="table table-hover">
			    	<thead>
			    	<tr>
				    		<th>Contract Name</th>
				    		<th>Period</th>
				    		<th>Producer</th>
				    		<th>Retailer</th>
				    		<th>Drafted By</th>
				    		<th>isLock?</th>
				    		<th></th>
				    	</tr>
			        </thead>
			        <tbody>
			     	<tr ng-repeat="allContract in allContracts">
			    		<td>{{allContract.contractCode.substring(0,allContract.contractCode.indexOf('_'))}}</td>
			    		<td>{{allContract.period}}</td>
			    		<td>Producer-{{allContract.producerID}}</td>
			    		<td>Retailer-{{(allContract.retailerID)}}</td>
			    		<td>{{(allContract.draftedByCompanyID>3)?'Retailer':'Producer'}}-{{(allContract.draftedByCompanyID>3)?(allContract.draftedByCompanyID-4):allContract.draftedByCompanyID}}</td>
			    		<td>
			    			<fieldset disabled>
			    				<div class="checkbox">
			    					<label>
			    						<input type="checkbox" checked style="display:{{(allContract.isDraftFinished)?'block':'none'}}">
			    						<input type="checkbox" style="display:{{(allContract.isDraftFinished)?'none':'block'}}"></div>
			    					</label>
			    				</div>
			    			</fieldset>
			    		</td>
			    		<td>
			    			<a class="btn btn-primary" ng-click="openDetailModal(allContract)">
			    				Details
			    			</a>
			    			<a class="btn btn-default" ng-click="openDuplicateModal(allContract)">
			    				Duplicate
			    			</a>			    				
			    		</td>			    		
			    	</tr>
			    	</tbody>
			    </table>
			    <a class="btn btn-primary" ng-click="openInsertModal()">
			    	New Contract</a>
		    </div>
		</div>
	</div>
</div>


<!--dialogs-->
<div modal="insertModal" class="hide" close="closeInsertModal()" options="insertOpts">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeInsertModal()">&times;</button>
				<h4 class="modal-title">New Negotiation</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="contractCode">ContractCode:</label>
					<div style="clear:both"></div>
					<div class="col-xs-5 input-group">
						<input type="text" id="contractCode" placeholder="contractCode" class="form-control" ng-model="newContractCode" required>
						<!--<span class="input-group-addon">{{contractCodeLastName}}</span>-->
					</div>
					<div style="clear:both"></div>
				</div>
				<div class="form-group">
					<label for="retailerID">Contract To:</label>
					<div style="clear:both"></div>
					<div class="col-xs-5">
						<select class="form-control" ng-model="newRetailerID">
							<option value="1">Retailer 1</option>
							<option value="2">Retailer 2</option>
						</select>
					</div>
					<div style="clear:both"></div>
				</div>
				<div class="{{bubleClassName}}" ng-show='true'>
        			<strong>{{bubleTitle}}</strong>{{bubleMsg}}
        		</div>	
			</div>
			<div class="modal-footer">
				<a class="btn btn-default">Cancel</a>
				<a class="btn btn-primary" ng-click="addNewContract()">Add</a>
			</div>
		</div>
	</div>
</div>

