<div id="content" class="bs-header">
    <div class="container">
        <h1>{{Label.getContent('Contract Details')}}</h1>
        <p>{{Label.getContent('Contract Details Info')}}</p>
    </div>
</div>

<div class="bs-old-docs">
    <div class="container">
        <strong>
            {{Label.getContent('ContractDetails hints')}}
        </strong>
    </div>
</div>

<div class="container bs-docs-container">
    <br>
    <div class="alert alert-warning" ng-show="isLock"><strong>{{Label.getContent('Warning')}}!</strong> {{Label.getContent('Warning Info')}} </div>
    <div class="page-header">
        <h3>{{Label.getContent('Contract Name')}} : {{contractInfo.contractCode.substring(0,contractInfo.contractCode.indexOf('_'))}}
            <small>
                {{Label.getContent('Producer')}} {{contractInfo.producerID}} & {{Label.getContent('Retailer')}} {{contractInfo.retailerID}}, {{Label.getContent('Period')}}:{{contractInfo.period}}, {{Label.getContent('Seminar')}}:{{contractInfo.seminar}}
            </small>
        </h3>
    </div>

    <div ng-show="refreshingProcess">      
        <progress percent="refreshingProcessLabel.toFixed(0)" class="progress-suceess progress-striped" style="margin:0 auto;" ng-show="false"></progress>
        <p class="text-center">{{Label.getContent('Loading')}}({{refreshingProcessLabel.toFixed(0)}}%)...</p>
    </div>
    <div>
        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" ng-disabled="refreshingProcess">
                {{Label.getContent('Category')}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class=""><a ng-click="renderContractDetailsByCategory('Elecssories')">{{Label.getContent('Elecssories')}}</a></li>
                <li class=""><a ng-click="renderContractDetailsByCategory('HealthBeauty')">{{Label.getContent('HealthBeauty')}}</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-info" style="margin-left:10px">{{Label.getContent(category)}}</button>
    </div>

    <div class="" ng-show="true">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{Label.getContent('Items (Producer Input)')}}</td>
                    <th ng-repeat="proDetail in proDetailList[0]">
                        {{proDetail.relatedBrandName}}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{Label.getContent('Minimum Order & Discount Rate')}}</td>
                    <td ng-repeat="proDetail in proDetailList[0]">
                        <span class="glyphicon glyphicon-ok" style="width:30px" ng-show="proDetail.isVerified&&proDetailList[4][$index].isVerified"></span>
                        <span>{{proDetail.displayValue}}({{proDetailList[4][$index].displayValue}})</span>
                        <span class="pull-right" ng-show=producerEditable>
                            <a class="btn btn-primary btn-xs" ng-click="openEditModal(proDetail,$index)" ng-disabled="refreshingProcess">{{Label.getContent('Edit')}}</a>
                        </span>
                        <span class="pull-right" ng-show=retailerEditable>
                            <a class="btn btn-primary btn-xs" ng-click="openViewModal(proDetail)" ng-disabled="refreshingProcess">{{Label.getContent('View')}}</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>{{Label.getContent('Sales Target Volume & Bonus')}}</td>
                    <td ng-repeat="proDetail in proDetailList[1]">
                        <span class="glyphicon glyphicon-ok" style="width:30px" ng-show="proDetail.isVerified&&proDetailList[5][$index].isVerified&&proDetailList[6][$index].isVerified"></span>
                        <span>{{proDetail.displayValue}}({{proDetailList[6][$index].displayValue}})</span>
                        <span class="pull-right" ng-show=producerEditable>
                            <a class="btn btn-primary btn-xs" ng-click="openEditModal(proDetail,$index)" ng-disabled="refreshingProcess">{{Label.getContent('Edit')}}</a>
                        </span>
                        <span class="pull-right" ng-show=retailerEditable>
                            <a class="btn btn-primary btn-xs" ng-click="openViewModal(proDetail)" ng-disabled="refreshingProcess">{{Label.getContent('View')}}</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>{{Label.getContent('Payment Days')}}</td>
                    <td ng-repeat="proDetail in proDetailList[2]">
                        <span class="glyphicon glyphicon-ok" style="width:30px" ng-show="proDetail.isVerified"></span>
                        <span>{{proDetail.displayValue}}</span>
                        <span class="pull-right" ng-show=producerEditable>
                           <a class="btn btn-primary btn-xs" ng-click="openEditModal(proDetail,$index)" ng-disabled="refreshingProcess">{{Label.getContent('Edit')}}</a>
                       </span>
                       <span class="pull-right" ng-show=retailerEditable>
                        <a class="btn btn-primary btn-xs" ng-click="openViewModal(proDetail)" ng-disabled="refreshingProcess">{{Label.getContent('View')}}</a>
                        </span>                
                    </td>
                </tr>
                <tr>
                    <td>{{Label.getContent('Other Compensation')}}</td>
                    <td ng-repeat="proDetail in proDetailList[3]">
                        <span class="glyphicon glyphicon-ok" style="width:30px" ng-show="proDetail.isVerified"></span>
                        <span>{{proDetail.displayValue}}</span>
                        <span class="pull-right" ng-show=producerEditable>
                            <a class="btn btn-primary btn-xs" ng-click="openEditModal(proDetail,$index)" ng-disabled="refreshingProcess">{{Label.getContent('Edit')}}</a>
                        </span>
                        <span class="pull-right" ng-show=retailerEditable>
                            <a class="btn btn-primary btn-xs" ng-click="openViewModal(proDetail)" ng-disabled="refreshingProcess">{{Label.getContent('View')}}</a>
                        </span>                
                    </td>
                </tr>
            </tbody>        
        </table>             
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{Label.getContent('Items (Retailer Input)')}}</td>
                    <th ng-repeat="retDetail in retDetailList[0]">
                        {{retDetail.relatedBrandName}}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{Label.getContent('Minimum Order & Discount Rate')}}</td>
                    <td ng-repeat="retDetail in retDetailList[0]">
                        <span class="glyphicon glyphicon-ok" style="width:30px" ng-show="retDetail.isVerified&&retDetailList[4][$index].isVerified"></span>
                        <span>{{retDetail.displayValue}}({{retDetailList[4][$index].displayValue}})</span>
                        <span class="pull-right" ng-show=retailerEditable>
                            <a class="btn btn-primary btn-xs" ng-click="openEditModal(retDetail,$index)" ng-disabled="refreshingProcess">{{Label.getContent('Edit')}}</a>
                        </span>
                        <span class="pull-right" ng-show=producerEditable>
                            <a class="btn btn-primary btn-xs" ng-click="openViewModal(retDetail)" ng-disabled="refreshingProcess">{{Label.getContent('View')}}</a>
                        </span>                
                    </td>
                </tr>
                <tr>
                    <td>{{Label.getContent('Sales Target Volume & Bonus')}}</td>
                    <td ng-repeat="retDetail in retDetailList[1]">
                        <span class="glyphicon glyphicon-ok" style="width:30px" ng-show="retDetail.isVerified&&retDetailList[5][$index].isVerified&&retDetailList[6][$index].isVerified"></span>
                        <span>{{retDetail.displayValue}}({{retDetailList[6][$index].displayValue}})</span>
                        <span class="pull-right" ng-show=retailerEditable>
                            <a class="btn btn-primary btn-xs" ng-click="openEditModal(retDetail,$index)" ng-disabled="refreshingProcess">{{Label.getContent('Edit')}}</a>
                        </span>
                        <span class="pull-right" ng-show=producerEditable>
                            <a class="btn btn-primary btn-xs" ng-click="openViewModal(retDetail)" ng-disabled="refreshingProcess">{{Label.getContent('View')}}</a>
                        </span>                        
                    </td>
                </tr>
                <tr>
                    <td>{{Label.getContent('Payment Days')}}</td>
                    <td ng-repeat="retDetail in retDetailList[2]">
                        <span class="glyphicon glyphicon-ok" style="width:30px" ng-show="retDetail.isVerified"></span>
                        <span>{{retDetail.displayValue}}</span>
                        <span class="pull-right" ng-show=retailerEditable>
                            <a class="btn btn-primary btn-xs" ng-click="openEditModal(retDetail,$index)" ng-disabled="refreshingProcess">{{Label.getContent('Edit')}}</a>
                        </span>
                        <span class="pull-right" ng-show=producerEditable>
                            <a class="btn btn-primary btn-xs" ng-click="openViewModal(retDetail)" ng-disabled="refreshingProcess">{{Label.getContent('View')}}</a>
                        </span>                
                    </td>
                </tr>
                <tr>
                    <td>{{Label.getContent('Other Compensation')}}</td>
                    <td ng-repeat="retDetail in retDetailList[3]">
                        <span class="glyphicon glyphicon-ok" style="width:30px" ng-show="retDetail.isVerified"></span>
                        <span>{{retDetail.displayValue}}</span>
                        <span class="pull-right" ng-show=retailerEditable>
                            <a class="btn btn-primary btn-xs" ng-click="openEditModal(retDetail,$index)" ng-disabled="refreshingProcess">{{Label.getContent('Edit')}}</a>
                        </span>
                        <span class="pull-right" ng-show=producerEditable>
                            <a class="btn btn-primary btn-xs" ng-click="openViewModal(retDetail)" ng-disabled="refreshingProcess">{{Label.getContent('View')}}</a>
                        </span>                
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a class="btn btn-primary" ng-click="compare(contractInfo)" ng-disabled="refreshingProcess||isLock">{{Label.getContent('Compare and Refresh')}}</a>
        <a class="btn btn-primary" ng-click="copyProposal(contractInfo)" ng-show=retailerEditable ng-disabled="refreshingProcess||isLock">{{Label.getContent('Copy from peer proposal')}}</a>        
    </div>
</div>

<div modal="editModal" class="hide" options="eidtOpts">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeEditModal(editDetail,index)">&times;</button>
                <div>
                    <h4>{{Label.getContent(showNegotiationItem)}} : {{editDetail.relatedBrandName}}</h4>
                </div>
            </div>
            <div class="modal-body">
                <table>
                    <tbody>
                        <tr>
                            <td style="width:60%">{{Label.getContent('Please choose decision level')}}:</td>
                            <td style="width:35%">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default" ng-click="setShowDetailType('brand',editDetail)" ng-class="((editDetail.useBrandDetails)?'active':'')">
                                        <input type="radio" name="detailType">{{Label.getContent('Brand')}}
                                    </label>
                                    <label class="btn btn-default" ng-click="setShowDetailType('variant',editDetail)" ng-class="((editDetail.useVariantDetails)?'active':'')">
                                        <input type="radio" name="detailType">{{Label.getContent('Variant')}}
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="" ng-show="shouldShowBrand">
                    <table class="table" ng-show="shouldBeRate">
                        <thead>
                            <tr>
                                <td style="width:10%"></td>
                                <td style="width:45%">{{Label.getContent(showTitle)}}</td>
                                <td style="width:45%">{{Label.getContent('Discount Rate')}}(%)</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{Label.getContent('Urban')}}:</td>
                                <td>
                                    <a href="#" editable-text="editDetail.brand_urbanValue" onbeforesave="checkData(contractInfo.contractCode,editDetail.negotiationItem,$data)" onaftersave="updateContractDetails(editDetail,editDetail.negotiationItem,'urban','index','brand')">{{ editDetail.brand_urbanValue || 0 }}
                                    </a>
                                </td>
                                <td>
                                    <a href="#" editable-text="editDetailDisRate.brand_urbanValue" onbeforesave="checkData(contractInfo.contractCode,editDetailDisRate.negotiationItem,$data)" onaftersave="updateContractDetails(editDetailDisRate,editDetailDisRate.negotiationItem,'urban','index','brand')">{{ editDetailDisRate.brand_urbanValue || 0 }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>{{Label.getContent('Rural')}}:</td>
                                <td>
                                    <a href="#" editable-text="editDetail.brand_ruralValue" onbeforesave="checkData(contractInfo.contractCode,editDetail.negotiationItem,$data)" onaftersave="updateContractDetails(editDetail,editDetail.negotiationItem,'rural','index','brand')">{{ editDetail.brand_ruralValue || 0 }}</a>
                                </td>
                                <td>
                                    <a href="#" editable-text="editDetailDisRate.brand_ruralValue" onbeforesave="checkData(contractInfo.contractCode,editDetailDisRate.negotiationItem,$data)" onaftersave="updateContractDetails(editDetailDisRate,editDetailDisRate.negotiationItem,'rural','index','brand')">{{ editDetailDisRate.brand_ruralValue || 0 }}</a>
                                </td>                                                
                            </tr>
                        </tbody>
                    </table>
                    <div class="" ng-show="shouldBeAmount">
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <td style="width:10%"></td>
                                    <td style="width:30%">{{Label.getContent(showTitle)}}</td>
                                    <td style="width:30%">{{Label.getContent('Amount')}}(mln$)</td>
                                    <td style="width:30%">{{Label.getContent('Rate')}}(%)</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{Label.getContent('Urban')}}:</td>
                                    <td>
                                        <a href="#" editable-text="editDetail.brand_urbanValue" onbeforesave="checkData(contractInfo.contractCode,editDetail.negotiationItem,$data)" onaftersave="updateContractDetails(editDetail,editDetail.negotiationItem,'urban','index','brand')">{{ editDetail.brand_urbanValue || 0 }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" editable-text="editDetailBonusAmount.brand_urbanValue" ng-show="editDetail.brand_urbanValue!=0" onbeforesave="checkAmount(contractInfo.contractCode,editDetailBonusAmount,'nc_PerformanceBonusAmount','urban','index','brand',$data)" onaftersave="updateContractDetails(editDetailBonusAmount,'nc_PerformanceBonusAmount','urban','index','brand')">{{ editDetailBonusAmount.brand_urbanValue || 0 }}</a>
                                        <span ng-show="editDetail.brand_urbanValue==0">{{ editDetailBonusAmount.brand_urbanValue || 0 }}</span>
                                    </td>
                                    <td>
                                        <a href="#" editable-text="editDetailBonusRate.brand_urbanValue" ng-show="editDetail.brand_urbanValue!=0" onbeforesave="checkData(contractInfo.contractCode,editDetailBonusRate.negotiationItem,$data)" onaftersave="updateContractDetails(editDetailBonusRate,'nc_PerformanceBonusRate','urban','index','brand')">{{ editDetailBonusRate.brand_urbanValue || 0 }}</a>
                                        <span ng-show="editDetail.brand_urbanValue==0">{{ editDetailBonusRate.brand_urbanValue || 0 }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{Label.getContent('Rural')}}:</td>
                                    <td>
                                        <a href="#" editable-text="editDetail.brand_ruralValue" onbeforesave="checkData(contractInfo.contractCode,editDetail.negotiationItem,$data)" onaftersave="updateContractDetails(editDetail,editDetail.negotiationItem,'rural','index','brand')">{{ editDetail.brand_ruralValue || 0 }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" editable-text="editDetailBonusAmount.brand_ruralValue" ng-show="editDetail.brand_ruralValue!=0"  onbeforesave="checkAmount(contractInfo.contractCode,editDetailBonusAmount,'nc_PerformanceBonusAmount','rural','index','brand',$data)" onaftersave="updateContractDetails(editDetailBonusAmount,'nc_PerformanceBonusAmount','rural','index','brand')">{{ editDetailBonusAmount.brand_ruralValue || 0 }}</a>
                                        <span ng-show="editDetail.brand_ruralValue==0">{{ editDetailBonusAmount.brand_ruralValue || 0 }}</span>
                                    </td>
                                    <td>
                                        <a href="#" editable-text="editDetailBonusRate.brand_ruralValue" ng-show="editDetail.brand_ruralValue!=0" onbeforesave="checkData(contractInfo.contractCode,editDetailBonusRate.negotiationItem,$data)" onaftersave="updateContractDetails(editDetailBonusRate,'nc_PerformanceBonusRate','rural','index','brand')">{{ editDetailBonusRate.brand_ruralValue || 0 }}</a>
                                        <span ng-show="editDetail.brand_ruralValue==0">{{ editDetailBonusRate.brand_ruralValue || 0 }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table class="table" ng-show="shouldBeNormal">
                        <tbody>
                            <tr>
                                <td style="width:40%">{{Label.getContent('Urban')}} {{Label.getContent(showTitle)}}:</td>
                                <td style="width:60%">
                                    <a href="#" editable-text="editDetail.brand_urbanValue" onbeforesave="checkData(contractInfo.contractCode,editDetail.negotiationItem,$data)" onaftersave="updateContractDetails(editDetail,editDetail.negotiationItem,'urban','index','brand')">{{ editDetail.brand_urbanValue || 0 }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>{{Label.getContent('Rural')}} {{Label.getContent(showTitle)}}:</td>
                                <td>
                                    <a href="#" editable-text="editDetail.brand_ruralValue" onbeforesave="checkData(contractInfo.contractCode,editDetail.negotiationItem,$data)" onaftersave="updateContractDetails(editDetail,editDetail.negotiationItem,'rural','index','brand')">{{ editDetail.brand_ruralValue || 0 }}</a>
                                </td>                                        
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="" ng-show="shouldShowVariant">
                    <!--Variant-->
                    <div ng-show="shouldBeRate">
                        <tabset>
                            <tab ng-repeat='product in editProductList|filter:{show:1}' heading="{{product.varName}}">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td style="width:10%"></td>
                                            <td style="width:45%">{{Label.getContent(showTitle)}}</td>
                                            <td style="width:45%">{{Label.getContent('Discount Rate')}}(%)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{Label.getContent('Urban')}}:</td>
                                            <td>
                                                <a href="#" editable-text="product.urbanValue" onbeforesave="checkData(contractInfo.contractCode,product.negotiationItem,$data)" onaftersave="updateContractDetails(product,product.negotiationItem,'urban',product.index,'variant')">{{ product.urbanValue || 0 }}</a>
                                            </td>
                                            <td>
                                                <a href="#" editable-text="product.dis_urbanValue" onbeforesave="checkData(contractInfo.contractCode,'nc_VolumeDiscountRate',$data)" onaftersave="updateContractDetails(product,'nc_VolumeDiscountRate','urban',product.index,'variant')">{{ product.dis_urbanValue || 0 }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{Label.getContent('Rural')}}:</td>
                                            <td>
                                                <a href="#" editable-text="product.ruralValue" onbeforesave="checkData(contractInfo.contractCode,product.negotiationItem,$data)" onaftersave="updateContractDetails(product,product.negotiationItem,'rural',product.index,'variant')">{{ product.ruralValue || 0 }}</a>
                                            </td>
                                            <td>
                                                <a href="#" editable-text="product.dis_ruralValue" onbeforesave="checkData(contractInfo.contractCode,'nc_VolumeDiscountRate',$data)" onaftersave="updateContractDetails(product,'nc_VolumeDiscountRate','rural',product.index,'variant')">{{ product.dis_ruralValue || 0 }}</a>
                                            </td>                                                
                                        </tr>
                                    </tbody>
                                </table>
                            </tab>
                        </tabset>
                    </div>
                    <div ng-show="shouldBeAmount">
                        <div>
                            <tabset>
                                <tab ng-repeat='product in editProductList|filter:{show:1}' heading="{{product.varName}}">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td style="width:10%"></td>
                                                <td style="width:30%">{{Label.getContent(showTitle)}}</td>
                                                <td style="width:30%">{{Label.getContent('Amount')}}(mln$)</td>
                                                <td style="width:30%">{{Label.getContent('Rate')}}(%)</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{Label.getContent('Urban')}}:</td>
                                                <td>
                                                    <a href="#" editable-text="product.urbanValue" onbeforesave="checkData(contractInfo.contractCode,product.negotiationItem,$data)" onaftersave="updateContractDetails(product,product.negotiationItem,'urban',product.index,'variant')">{{ product.urbanValue || 0 }}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="#" editable-text="product.amout_urbanValue" ng-show="product.urbanValue!=0" onbeforesave="checkAmount(contractInfo.contractCode,product,'nc_PerformanceBonusAmount','urban',product.index,'variant',$data)" onaftersave="updateContractDetails(product,'nc_PerformanceBonusAmount','urban',product.index,'variant')">{{ product.amout_urbanValue || 0 }}</a>
                                                    <span ng-show="product.urbanValue==0">{{ product.amout_urbanValue || 0 }}</span>
                                                </td>
                                                <td>
                                                    <a href="#" editable-text="product.rate_urbanValue " ng-show="product.urbanValue!=0" onbeforesave="checkData(contractInfo.contractCode,'nc_PerformanceBonusRate',$data)" onaftersave="updateContractDetails(product,'nc_PerformanceBonusRate','urban',product.index,'variant')">{{ product.rate_urbanValue  || 0 }}</a>
                                                    <span ng-show="product.urbanValue==0">{{ product.rate_urbanValue  || 0 }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{Label.getContent('Rural')}}:</td>
                                                <td>
                                                    <a href="#" editable-text="product.ruralValue" onbeforesave="checkData(contractInfo.contractCode,product.negotiationItem,$data)" onaftersave="updateContractDetails(product,product.negotiationItem,'rural',product.index,'variant')">{{ product.ruralValue || 0 }}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="#" editable-text="product.amout_ruralValue" ng-show="product.ruralValue!=0"onbeforesave="checkAmount(contractInfo.contractCode,product,'nc_PerformanceBonusAmount','rural',product.index,'variant',$data)" onaftersave="updateContractDetails(product,'nc_PerformanceBonusAmount','rural',product.index,'variant')">{{ product.amout_ruralValue || 0 }}</a>
                                                    <span ng-show="product.ruralValue==0">{{ product.amout_ruralValue || 0 }}</span>
                                                </td>
                                                <td>
                                                    <a href="#" editable-text="product.rate_ruralValue" ng-show="product.ruralValue!=0" onbeforesave="checkData(contractInfo.contractCode,'nc_PerformanceBonusRate',$data)" onaftersave="updateContractDetails(product,'nc_PerformanceBonusRate','rural',product.index,'variant')">{{ product.rate_ruralValue || 0 }}</a>
                                                    <span ng-show="product.ruralValue==0">{{ product.rate_ruralValue || 0 }}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                    <div ng-show="shouldBeNormal">
                        <tabset>
                            <tab ng-repeat='product in editProductList|filter:{show:1}' heading="{{product.varName}}">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="width:40%">{{Label.getContent('Urban')}} {{Label.getContent(showTitle)}}:</td>
                                            <td style="width:60%">
                                                <a href="#" editable-text="product.urbanValue" onbeforesave="checkData(contractInfo.contractCode,product.negotiationItem,$data)" onaftersave="updateContractDetails(product,product.negotiationItem,'urban',product.index,'variant')">{{ product.urbanValue || 0 }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{Label.getContent('Rural')}} {{Label.getContent(showTitle)}}:</td>
                                            <td>
                                                <a href="#" editable-text="product.ruralValue" onbeforesave="checkData(contractInfo.contractCode,product.negotiationItem,$data)" onaftersave="updateContractDetails(product,product.negotiationItem,'rural',product.index,'variant')">{{ product.ruralValue || 0 }}</a>
                                            </td>                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </tab>
                        </tabset>
                    </div>                                
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" ng-click="closeEditModal(editDetail,index)">{{Label.getContent('Close')}}</a>
            </div>
        </div>
    </div>
</div>

<div modal="viewModal" class="hide" options="viewOpts">
     <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeViewModal()">&times;</button>
                <div>
                    <h4>{{Label.getContent(showNegotiationItem)}} : {{editDetail.relatedBrandName}}</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="" ng-show="shouldShowBrand">
                    <table class="table" ng-show="shouldBeRate">
                        <thead>
                            <tr>
                                <td style="width:10%"></td>
                                <td style="width:45%">{{Label.getContent(showTitle)}}</td>
                                <td style="width:45%">{{Label.getContent('Discount Rate')}}(%)</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{Label.getContent('Urban')}}:</td>
                                <td>
                                    {{ editDetail.brand_urbanValue || 0 }}

                                </td>
                                <td>
                                    {{ editDetailDisRate.brand_urbanValue || 0 }}
                                </td>
                            </tr>
                            <tr>
                                <td>{{Label.getContent('Rural')}}:</td>
                                <td>
                                    {{ editDetail.brand_ruralValue || 0 }}
                                </td>
                                <td>
                                    {{ editDetailDisRate.brand_ruralValue || 0 }}
                                </td>                                                
                            </tr>
                        </tbody>
                    </table>
                    <div class="" ng-show="shouldBeAmount">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td style="width:10%"></td>
                                    <td style="width:30%">{{Label.getContent(showTitle)}}</td>
                                    <td style="width:30%">{{Label.getContent('Amount')}}(mln$)</td>
                                    <td style="width:30%">{{Label.getContent('Rate')}}(%)</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{Label.getContent('Urban')}}:</td>
                                    <td>
                                        {{ editDetail.brand_urbanValue || 0 }}
                                    </td>
                                    <td>
                                        {{ editDetailBonusAmount.brand_urbanValue || 0 }}
                                    </td>
                                    <td>
                                        {{ editDetailBonusRate.brand_urbanValue || 0 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{Label.getContent('Rural')}}:</td>
                                    <td>
                                        {{ editDetail.brand_ruralValue || 0 }}
                                    </td>
                                    <td>
                                        {{ editDetailBonusAmount.brand_ruralValue || 0 }}
                                    </td>
                                    <td>
                                        {{ editDetailBonusRate.brand_ruralValue || 0 }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table class="table" ng-show="shouldBeNormal">
                        <tbody>
                            <tr>
                                <td style="width:40%">{{Label.getContent('Urban')}} {{Label.getContent(showTitle)}}:</td>
                                <td style="width:60%">
                                    {{ editDetail.brand_urbanValue || 0 }}
                                </td>
                            </tr>
                            <tr>
                                <td>{{Label.getContent('Rural')}} {{Label.getContent(showTitle)}}:</td>
                                <td>
                                    {{ editDetail.brand_ruralValue || 0 }}
                                </td>                                        
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="" ng-show="shouldShowVariant">
                    <!--Variant-->
                    <div ng-show="shouldBeRate">
                        <tabset>
                            <tab ng-repeat='product in editProductList|filter:{show:1}' heading="{{product.varName}}">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td style="width:10%"></td>
                                            <td style="width:45%">{{Label.getContent(showTitle)}}</td>
                                            <td style="width:45%">{{Label.getContent('Discount Rate')}}(%)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{Label.getContent('Urban')}}:</td>
                                            <td>
                                                {{ product.urbanValue || 0 }}
                                            </td>
                                            <td>
                                                {{ product.dis_urbanValue || 0 }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{Label.getContent('Rural')}}:</td>
                                            <td>
                                                {{ product.ruralValue || 0 }}
                                            </td>
                                            <td>
                                                {{ product.dis_ruralValue || 0 }}
                                            </td>                                                
                                        </tr>
                                    </tbody>
                                </table>
                            </tab>
                        </tabset>
                    </div>
                    <div ng-show="shouldBeAmount">
                        <div>
                            <tabset>
                                <tab ng-repeat='product in editProductList|filter:{show:1}' heading="{{product.varName}}">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td style="width:10%"></td>
                                                <td style="width:40%">{{Label.getContent(showTitle)}}</td>
                                                <td style="width:40%">{{Label.getContent('Amount')}}(mln$)</td>
                                                <td style="width:10%">{{Label.getContent('Rate')}}(%)</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{Label.getContent('Urban')}}:</td>
                                                <td>
                                                    {{ product.urbanValue || 0 }}
                                                </td>
                                                <td>
                                                    {{ product.amout_urbanValue || 0 }}
                                                </td>
                                                <td>
                                                    {{ product.rate_urbanValue  || 0 }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{Label.getContent('Rural')}}:</td>
                                                <td>
                                                    {{ product.ruralValue || 0 }}
                                                </td>
                                                <td>
                                                    {{ product.amout_ruralValue || 0 }}
                                                </td>
                                                <td>
                                                    {{ product.rate_ruralValue || 0 }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                    <div ng-show="shouldBeNormal">
                        <tabset>
                            <tab ng-repeat='product in editProductList|filter:{show:1}' heading="{{product.varName}}">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="width:40%">{{Label.getContent('Urban')}} {{Label.getContent(showTitle)}}:</td>
                                            <td style="width:60%">
                                                {{ product.urbanValue || 0 }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{Label.getContent('Rural')}} {{Label.getContent(showTitle)}}:</td>
                                            <td>
                                                {{ product.ruralValue || 0 }}
                                            </td>         
                                        </tr>
                                    </tbody>
                                </table>
                            </tab>
                        </tabset>
                    </div>                                
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" ng-click="closeViewModal()">{{Label.getContent('Close')}}</a>
            </div>
        </div>
    </div>
</div>