<style TYPE="text/css">
    @media (min-width: 1200px) {
      /* Widen the fixed sidebar again */
      .bs-docs-sidebar.affix-bottom,
      .bs-docs-sidebar.affix {
        width: 25%;
      }
    }
    @media (min-width: 992px) {
        .bs-docs-sidebar.affix {
            position: fixed; /* Undo the static */
            top: 80px;
        }
    }
</style>

<div class="my-super-awesome-loading-box" ng-show="isPageLoading">Loading...</div>
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9">        
            <div class="bs-docs-section">
                <p access-level='{{accessLevels.playerView}}'>{{Label.getContent("You are checking the General Report of period")}}<b>{{selectedPeriod}}</b></p>
                <button type="button" class="btn btn-default" ng-click="changePeriod('minus')" ng-disabled='!previousBtn'>{{Label.getContent("Previous period")}}</button>
                <button type="button" class="btn btn-default" ng-click="changePeriod('add')" ng-disabled='!nextBtn'>{{Label.getContent("Next period")}}</button>
                <div style="clear:both;padding:5px 0;"></div>

                <!--general report start -->
                    <general-brand-perspective ng-show='BrandPerspective' is-page-shown='BrandPerspective' is-page-loading='isPageLoading' selected-period='selectedPeriod'></general-brand-perspective>

                    <general-channel-perspective ng-show='ChannelPerspective' is-page-shown='ChannelPerspective' is-page-loading='isPageLoading' selected-period='selectedPeriod'></general-channel-perspective>
                    
                    <general-market-share ng-show='MarketShare' is-page-shown='MarketShare' is-page-loading='isPageLoading' selected-period='selectedPeriod'></general-market-share>
                                            
                    <general-market-sales ng-show='MarketSales' is-page-shown='MarketSales' is-page-loading='isPageLoading' selected-period='selectedPeriod'></general-market-sales>
    
                    <general-cross-segment-sales ng-show='Cross' is-page-shown='Cross' is-page-loading='isPageLoading' selected-period='selectedPeriod'></general-cross-segment-sales>

                    <general-segment-leadership ng-show='Segment' is-page-shown='Segment' is-page-loading='isPageLoading' selected-period='selectedPeriod'></general-segment-leadership>

                    <general-product-portfolio ng-show='Product' is-page-shown='Product' is-page-loading='isPageLoading' selected-period='selectedPeriod'></general-product-portfolio>

                    <general-emall-prices ng-show='EMallPrices' is-page-shown='EMallPrices' is-page-loading='isPageLoading' selected-period='selectedPeriod'></general-emall-prices>
                <!--general report end -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="bs-docs-sidebar hidden-print" affix='10' role="complementary" angular-bootstrap>
                <ul class="nav bs-docs-sidenav">
                    <li class="active">
                        <a href="/#/generalReport" style="color:#EEA236" ng-click="showBrandPerspective()">{{Label.getContent('Performance Highlights')}}</a>
                        <ul class="nav second-sidenav">
                            <li class="active">
                                <a href="/#/marketReport" style="color:#EEA236" ng-click='showBrandPerspective()'>{{Label.getContent('Brand Perspective')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#EEA236" ng-click='showChannelPerspective()'>{{Label.getContent('Channel Perspective')}}</a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="/#/generalReport" style="color:#EEA236" ng-click='showMarketShare()'>{{Label.getContent('Market Shares')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/generalReport" style="color:#EEA236" ng-click='showMarketSales()'>{{Label.getContent('Sales')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/generalReport" style="color:#EEA236" ng-click='showSegment()'>{{Label.getContent('Segment Leadership')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/generalReport" style="color:#EEA236" ng-click='showCross()'>{{Label.getContent('Cross-Segment Sales Volumes')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/generalReport" style="color:#EEA236" ng-click='showProduct()'>{{Label.getContent('Product Portfolio')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/generalReport" style="color:#EEA236" ng-click='showEMallPrices()'>{{Label.getContent('eMall Prices and Promotion Intensity')}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>