<div class="row">
	<div class="col-lg-12">
		<p>This is the partial for view</p>
		<p>{{welcomeMessage}}</p>
	</div>
    <a class="btn btn-primary" ng-click="testPost()">testPost</a>
    <a class="btn btn-primary" ng-click="proNewDoc()">proNewDoc</a>
    <a class="btn btn-primary" ng-click="retNewDoc()">retNewDoc</a>
    <a class="btn btn-primary" ng-click="conNewDoc()">
    conNewDoc</a>
    <pr></pr>
    <a class="btn btn-success" ng-click="setContractUser(1)">Producer 1</a>
    <a class="btn btn-success" ng-click="setContractUser(2)">Producer 2</a>
    <a class="btn btn-success" ng-click="setContractUser(3)">Producer 3</a>
    <a class="btn btn-success" ng-click="setContractUser(4)">Producer 4</a>
    <a class="btn btn-success" ng-click="setContractUser(5)">Retailer 1</a>
    <a class="btn btn-success" ng-click="setContractUser(6)">Retailer 2</a>
    <a class="btn btn-success" ng-click="setContractUser(0)">Admin</a>
    <pr></pr>
    <a class="btn btn-warning" href="/#/contract">Contract</a>
    
    <hr>
    <h1>Test Passive module</h1>
    <a class="btn btn-primary" ng-click="testPassive()">
    testPassiveModule</a>

</div>