<div id="content" class="bs-header">
    <div class="container">
        <h1>Home</h1>
        <p>We deliver a highly disruptive and transformational experiential learning model on a global scale !</p>
    </div>
</div>
<div class="bs-old-docs">
    <div class="container">
        <strong>
            Traditional learning models are broken.
        </strong>
    </div>
</div>
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="bs-docs-section">
                <a class="btn btn-primary" ng-click="testPost()">testPost</a>
                <a class="btn btn-primary" ng-click="proNewDoc()">proNewDoc</a>
                <a class="btn btn-primary" ng-click="retNewDoc()">retNewDoc</a>
                <a class="btn btn-primary" ng-click="conNewDoc()">conNewDoc</a>
                <a class="btn btn-primary" ng-click="conDetNewDoc()">conDetNewDoc</a>
                <br/>
                <a class="btn btn-warning" ng-click="variantHistoryNewDoc()">variantHistoryNewDoc</a>
                <a class="btn btn-warning" ng-click="brandHistoryNewDoc()">brandHistoryNewDoc</a>
                <a class="btn btn-warning" ng-click="companyHistoryNewDoc()">companyHistoryNewDoc</a>
                <a class="btn btn-warning" ng-click="quarterHistoryNewDoc()">quarterHistoryNewDoc</a>
                <br />
                <a class="btn btn-success" ng-click="setContractUser(1)">Producer 1</a>
                <a class="btn btn-success" ng-click="setContractUser(2)">Producer 2</a>
                <a class="btn btn-success" ng-click="setContractUser(3)">Producer 3</a>
                <a class="btn btn-success" ng-click="setContractUser(4)">Producer 4</a>
                <a class="btn btn-success" ng-click="setContractUser(5)">Retailer 1</a>
                <a class="btn btn-success" ng-click="setContractUser(6)">Retailer 2</a>
                <a class="btn btn-success" ng-click="setContractUser(0)">Admin</a>
                <br />
                <a class="btn btn-warning" href="/#/contract">Contract</a>    
                <hr>
                <h1>Test Passive module</h1>
                <a class="btn btn-primary" ng-click="testPassive()">
                testPassiveModule</a>
            </div>
        </div>
    </div>
</div>
    
