<STYLE TYPE="text/css">
    .lead{
        font-size: 18px
    }
</STYLE>

<!-- <div load-end />
 -->
<div id="content" class="bs-header">
    <div class="container">
        <h1>Participants Manual</h1>
        <p>{{Label.getContent('Manual popInfo')}}</p>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12">
            <div class="bs-docs-section">
                <h1 class="page-header">Overview</h1>
                <h2 id="js-what-is-eTales" name="js-what-is-eTales">What is eTales?</h2>
                <h3 id="js-overview" name="js-overview">Overview</h3>
                <p class="lead">eTales is a business simulation reflecting vividly the horizontal and vertical competition of Manufacturers and Retailers in the consumer goods industry.</p>
                <p class="lead">It mirrors the power dynamics in a competitive and changing market influenced by the modern communication channels, i.e. consumer empowerment through social media and its impact on power dynamics (brand communities), which results in channel migration and impacts Manufacturers and Retailers profitability. </p>
                <h3 id="js-your-mission-and-roles">Your Mission & Roles</h3>
                <p class="lead">You and the other members of your team have just been recruited by a large manufacturer/retailer to replace the former management team to manage its business.</p>
                <p class="lead">You will be seeking competitive advantage over your rivals in the industry. Administrator decides and announces what criteria are used to determine the winner. So your aim would be to develop and implement strategy and tactics allowing your team to get best scores and outplay your competition.</p>
                <h3 id="js-methodology" name="js-methodology">Methodology</h3>
                <p class="lead">The simulation has 5 teams producing and selling two categories of products for two different markets. Three of the five teams represent manufacturers (suppliers) and two teams represent modern bricks & mortar retail chains (retailers).</p>
                <p class="lead">In addition, the simulation consists of two virtual entities – a manufacturer (for private labels), Traditional retailer (Mom & Pop stores). The suppliers can sell their products directly through eMall (a platform the suppliers use to run their online stores) or in-directly through retailers.</p>
                <p class="lead">The diagram below shows the game structure:</p>
                <img src="./img/structure.png" />
                <p class="lead">The number of rounds to be played is decided by the administrator. Each round telescopes real 6-months period in the industry.</p>
                <p class="lead" style="color:#D9534F">Notice!!</p>
                <p class="lead">Initially, all teams will have access to the financial results of Period 0 and the market information of previous 3 periods. Then, they will be asked to make a set of decisions (i.e. decision 1) that will be processed by the administrator to generate the results of the subsequent period (i.e. period 1). The whole process will be repeated several times. After the last round, the final evaluations will be performed to determine which team achieved the best results. </p>
                <h2 id="js-business-scenario">Business Scenario</h2>
                <h3 id="js-market-situation">Market Situation</h3>
                <p class="lead">The currency unit is $. The <strong>inflation</strong> itself remains relatively stable at around <strong>8.5% on a yearly basis. </strong></p>
                <p class="lead"><strong>Market growth</strong> is quite significant, with a rate approaching <strong>9% in average on a yearly basis (around 2% per quarter)</strong>. At the same time, the market is very price sensitive and any price increases significantly exceeding inflation may result in volume growth stabilization, or even reduction. The fast pace of consumers’ maturing is constantly forcing the manufacturers to improve their offer and/or increase efficiency. </p>
                <h3 id="js-geography-markets">Geography/Markets</h3>
                <p class="lead">There are two geographical markets: Rural and Urban. Below is an overview of these two markets:</p>
                <img src='./img/GeographyMarkets.png'/>
                <p class="lead">Urban market is ahead of Rural market in terms of development. Urban is more stable, rural is more dynamic, prone to catch up urban. Both markets are dependent, that is:</p>
                <ul>
                    <li>
                        <p class="lead">Brand awareness/preferences in Rural are affected by brand performance in Urban</p>
                    </li>
                    <li>
                        <p class="lead">Store perception in Rural is affected by store performance in Urban.</p>
                    </li>
                </ul>
                <h3 id="js-categories">Categories</h3>
                <p class="lead">There are two product categories: Elecssories and HealthBeauties. Elecssories are small appliances, electrical accessories and supplies. HealthBeauties constitute health and beauty aids. Each company manages both categories. Suppliers do research, design, production, marketing and distribute products through Retailers, both online and brick&mortar.</p>
                <p class="lead">Below is a comparison of the two product categories:</p>
                <img src="./img/categories.png" />
                <h3 id="js-market-players">Market Players</h3>

                <p class="lead">Three Supplier (Supplier 1, Supplier 2 and Supplier 3) and two Retailer (Retailer 1 and Retailer 2) teams compete in two markets: Urban and Rural. The suppliers can sell directly to consumers through the online platform or sell indirectly through retailers. Retailers only sell through their stores but sell supplier brands as well as their own private labels.Virtual Supplier (Supplier 4) is played by the computer and serves primarily two purposes:</p>
                <ul>
                    <li>
                        <p class="lead">It supplies Retailer 1 and Retailer 2 with their private labels.</p>
                    </li>
                    <li>
                        <p class="lead">If active suppliers fail to satisfy consumer demand with innovations, it may launch new innovative products distributed through eMall.
                        </p>
                    </li>
                </ul>
                <p class="lead">The Virtual Retailer 3 is a traditional retailer (Mom & Pop stores, convenience stores, etc.)</p>

                <h3 id="js-consumers-as-shoppers">Consumers as Shoppers</h3>
                <p class="lead">Retailer stores are perceived by shoppers/consumers in three dimensions: </p>
                <p class="lead">a)  Convenience</p>
                <p class="lead">b)  Assortment</p>
                <p class="lead">c)  Price Appeal</p>
                <p class="lead">Shopping habits are only presented implicitly. The choice of store is determined by consumer segment preferences.</p>
                <img src="./img/segment.png" />
                <p class="lead">Shopper Segments are defined from channel preference standpoint and thus include:</p>
                <p class="lead">a)  eMall only</p>
                <p class="lead">b)  Bricks & Mortar only</p>
                <p class="lead">c)  Mixed</p>

                <h1 class="page-header">Business Operation</h1>
                <h3 id="js-brief-overview">Brief Overview</h3>
                <p class="lead">In each period, you’ll make a set of decisions. The decisions made vary depending on whether you are a supplier or a retailer. Following is the list of decisions:</p>
                <p class="lead"><strong>Supplier Decisions: </strong></p>
                <p class="lead padding-20">➢Portfolio Decisions</p>
                <p class="lead padding-20">➢Pricing Decisions</p>
                <p class="lead padding-20">➢Negotiation Agreements</p>
                <p class="lead padding-20">➢Production Volume Decisions </p>
                <p class="lead padding-20">➢General Marketing Decisions</p>
                <p class="lead padding-20">➢Online Store Management Decisions</p>
                <p class="lead padding-20">➢Asset Investment/ R&D Decisions</p>
                <p class="lead"><strong>Retailer Decisions: </strong></p>
                <p class="lead padding-20">➢Negotiation Agreements </p>
                <p class="lead padding-20">➢Marketing Decisions</p>
                <p class="lead padding-20">➢Private Label Portfolio Decisions</p>
                <p class="lead padding-20">➢Store Management Decisions</p>

                <p class="lead">In order to make these decisions, you are provided information through the following reports:</p>

                <p class="lead padding-20">➢General Reports</p>
                <p class="lead padding-20">➢Confidential Reports</p>
                <p class="lead padding-20">➢Market Research Reports</p>

                <h1 class="page-header" id="js-supplier-decisions">Supplier Decisions </h1>
                <h3 id="js-portfolio-decisions">Portfolio Decisions</h3>
                <li>
                    <p class="lead">Initially every manufacturer carries both categories, each category with 3 brands, in total 6 brands (8 SKU) at the starting point. Manufacturers could carry maximum 5 brands in parallel for each category and each brand takes maximum 3 SKU.</p>
                </li> 
                <li>
                    <p class="lead">First letter in brand name determines the category, E represent Elecssories, H for HealthBeauties. The digit at the end points to supplier number, and SKU is labeled in the end. For example HOLAY1_A, refers to Supplier 1, HealthBeauties category, brand OLAY, with A as its SKU label. </p>
                </li>
                <li>
                    <p class="lead">Brand names ending with "5" and "6" indicate private labels of Retailer1 and Retailer 2 respectively.</p>
                </li> 
                <li>
                    <p class="lead">You have to determine your product portfolio, i.e. brand names, SKU of each brand and product composition, including packaging format. There are three package options available: Economy, Standard, Premium which reflect the quality of the package. </p>
                </li>
                <li>
                    <p class="lead">You may make a decision to: </p>
                     <p class="lead padding-20">➢Change composition of an existing SKU</p>
                    <p class="lead padding-40">- To modify a variant’s specification, enter the desired spec value.However, the Pack-Format cannot be changed. The changes are highlighted in red.</p>
                    <p class="lead padding-20">➢Start a new SKU of an existing brand</p>
                    <p class="lead padding-40">- To add a new variant under an existing brand, click on the brand name in the table, and enter the variant name with specifications. The new variant is highlighted in red.</p>
                    <p class="lead padding-20">➢Launch a new brand</p>
                    <p class="lead padding-40">- To add a new brand/variant click on “Brand” button and enter the brand/variant name with specifications. The new brand/variant is highlighted in red.</p>
                    <p class="lead padding-20">➢Discontinue a SKU or a brand altogether</p>
                    <p class="lead padding-40">- To discontinue an existing SKU, click on the SKU name. If you decide to discontinue a product, you need to collect inventory from Retailers, then scrap returns from trade as well as your own stock left at warehouse at loss. Supplier needs to compensate retailers 75% of its purchase price, and Supplier loses 60% of the inventory collected back from the trade.</p>
                </li>
                <li>
                    <p class="lead">Please keep in mind that product composition affects both brand perception and product cost.</p>
                </li>
                <img src="./img/supplierProduct.png" />
                <h3 id="js-pricing-decisions">Pricing Decisions<h3>
                <ul>
                    <li>
                        <p class="lead">Supplier decides the B&M List prices for the SKUs in supplier’s product portfolio by category. The list prices from previous period are shown by default and the supplier can change it. All the changes are highlighted in red. If the decisions are not validated within the deadline, those from the previous period are entered with the old list prices adjusted for inflation.</p>
                    </li>
                </ul>
                <img src="./img/bmList.png" />
                <h3 id="js-negotiation-agreements">Negotiation Agreements</h3>
                <ul>
                    <li>
                        <p class="lead">Suppliers negotiate with each of the two retailers on the following items:</p>
                        <p class="padding-40 lead">a)  Discount rate for a Minimum Order Quantity</p>
                        <p class="padding-40 lead">b)  Bonus Rate for a target volume</p>
                        <p class="padding-40 lead">c)  Payment Terms (in terms of days) and Other compensation</p>
                    </li>
                    <li>
                        <p class="lead">Negotiation is done at SKU level for each product category. When the negotiation round starts, the agreed-to contract terms from previous period are displayed. Thereafter, supplier or retailer can initiate proposals by changing the terms, which are highlighted in red (items proposed by supplier) and blue (items proposed by retailer). Once the contract terms are agreed for an SKU, either supplier or retailer or both can click on agree button. If both click on the agree button, the negotiation agreement for that SKU is frozen. Once all the SKU agreements are reached, each party clicks on “Validate Contract” button on the bottom of the screen. If both click it, the contract between both the parties is frozen.</p>
                    </li>
                    <li>
                        <p class="lead">For the SKUs for which agreements are not reached before the deadline, the results from the previous period are displayed by default. Then, the Supplier and Retailer have an option to either agree to the contract from previous period or have no deal at all.</p>
                    </li>
                </ul>
                <p class="lead" style="color:#D9534F">Note!!</p>
                <p class="lead">You can enter negative values in the Other Compensation if the other party pays for you for a service (e.g., purchase of market research reports).</p>


                <img src="./img/supplierNegotiation.png" />
                <h3 id="js-production-volume-decisions">Production Volume Decisions</h3>
                <ul>
                    <li>
                        <p class="lead">Suppliers decide the production volume for each SKU in their product categories based on the negotiation agreements with the Retailers. The production volumes from previous period are shown by default and the supplier can change it. All the changes are highlighted in red. If the decisions are not validated within the deadline, those from the previous period are submitted.</p>
                    </li>
                </ul>
                <img src="./img/productionVolume.png" />
                <h3 id="js-general-marketing-decisions">General Marketing Decisions</h3>
                <li>
                    <p class="lead">General Marketing Decision comprises of two main areas of spending:</p>
                    <p class="padding-20 lead">a)  Advertising</p>
                    <p class="padding-40 lead">I.  Online (At national level)</p>
                    <p class="padding-40 lead">II. Offline – Urban & Rural</p>
                    <p class="padding-20 lead">b)  Traditional Trade Support</p>
                    <p class="padding-40 lead">I.  Rural</p>
                    <p class="padding-40 lead">II. Urban</p>
                </li>
                <li>
                    <p class="lead">All the decisions are made at SKU level for each product category.</p>
                </li>
                <li>
                    <p class="lead">The values from previous period are shown by default and the supplier can change it. All the changes are highlighted in red. If the decisions are not validated within the deadline, those from the previous period are submitted.</p>
                </li>
                <img src="./img/generalMarketing.png">
                <h3 id="js-online-store-management-decisions">Online Store Management Decisions</h3>
                <ul>
                    <li>
                        <p class="lead">In this decision, Suppliers can decide how to manage their online strategy. In specific, the can decide how much to spend for:</p>
                        <p class="lead padding-20">a)  Visibility
                        <p class="lead padding-20">b)  Order Volumes
                        <p class="lead padding-20">c)  Online Prices
                        <p class="lead padding-20">d)  And Promotions (in terms of days and depth)
                    </li>
                    <li>
                        <p class="lead">While Visibility is decided at Brand Level, rests of the values are decided at SKU Level.</p>
                    </li>
                    <li>
                        <p class="lead">The values from previous period are shown by default and the supplier can change it. All the changes are highlighted in red. If the decisions are not validated within the deadline, those from the previous period are submitted.</p>
                    </li>
                </ul>
                <img src="./img/supplierOnlineStore.png" />

                <h3 id="js-asset-investment">Asset Investments</h3>
                <ul>
                    <li>
                        <p class="lead">These decisions are long-term investments, not taken from your limited operational budget. You borrow these investments from capital market at a cost. Keep in mind that your long-term investments increase your fixed assets and consequently costs of running business. In specific, the can decide how much to spend for:</p>
                        <p class="lead padding-20">a)  Capacity</p>
                        <p class="lead padding-20">b)  Technology</p>
                        <p class="lead padding-20">c)  Flexibility</p>
                        <p class="lead padding-20">d)  Design</p>
                    </li>
                    <li>
                        <p class="lead">The asset investment decisions are made for each product category.</p>
                    </li>
                    <li>
                        <p class="lead">When the cursor hover over these items, a pop-up showing the feasible range of values appears. The values from previous period are shown by default and the supplier can change it. All the changes are highlighted in red. If the decisions are not validated by the deadline, those from the previous period are submitted.</p>
                    </li>
                </ul>
                <img src="./img/asset.png" />
                <h3>Market Research Decisions (purchase)</h3>
                
                <ul>
                    <li>
                        <p class="lead">Twelve market research studies are available for suppliers to make better informed decisions. They are not free and come with a price. Following is the list:</p>
                    </li>
                    <li>
                        <img src="./img/supplierMarketResearch.png" />
                    </li>
                    <li>
                        <p class="lead">Each study is conducted in each cycle and the results are made available at the end of the cycle of purchase. </p>
                    </li>
                </ul>

                <h1 class="page-header" id="js-retailer-decisions">Retailer Decisions </h1>
                <h3 id="js-retailer-negotiation-agreements">Negotiation Agreements</h3>
                <ul>
                    <li>
                        <p class="lead">Retailers negotiate with each of the three suppliers on the following items:</p>
                        <p class="lead padding-20">a)  Discount rate for a Minimum Order Quantity</p>
                        <p class="lead padding-20">b)  Bonus Rate for a target volume</p>
                        <p class="lead padding-20">c)  Payment Terms (in terms of days) and Other compensation</p>

                    <li>
                        <p class="lead">Negotiation is done at SKU level for each product category. When the negotiation round starts, the agreed-to contract terms from previous period are displayed. Thereafter, supplier or retailer can initiate proposals by changing the terms, which are highlighted in red (items proposed by supplier) and blue (items proposed by retailer). Once the contract terms are agreed for an SKU, either supplier or retailer or both can click on agree button. If both click on the agree button, the negotiation agreement for that SKU is frozen. Once all the SKU agreements are reached, each party clicks on “Validate Contract” button on the bottom of the screen. If both click it, the contract between both the parties is frozen.</p>
                    </li>
                </ul>
                <img src="./img/retailerNegotiation.png" />
                <p class="lead" style="color:#D9534F">Note!!</p>
                <p class="lead">You can enter negative values in the Other Compensation if the other party pays for you for a service (e.g., purchase of market research reports).</p>

                <h3 id="js-marketing-decisions">Marketing Decisions</h3>
                <ul>
                    <li>
                        <p class="lead">For Retailers, marketing decisions mainly comprises of advertising spending and In-store service level. For the online advertising, spending is mainly decided between price and convenience. For local advertising, spending is decided for rural and urban markets.</p>
                        <p class="lead padding-20">a)  Online Advertising</p>
                        <p class="lead padding-40">I.  Price Appeal</p>
                        <p class="lead padding-40">II. Covenience</p>
                        <p class="lead padding-20">b)  Local Advertising</p>
                        <p class="lead padding-40">I.  Rural</p>
                        <p class="lead padding-40">II. Urban</p>
                    </li>
                    <li>
                        <p class="lead">In store service level mainly has impact on how your customers perceive your stores. The spending is decided for rural and urban markets.</p>
                    </li>
                    <li>
                        <p class="lead">The values from previous period are shown by default and the retailer can change it. All the changes are highlighted in red. If the decisions are not validated within the deadline, those from the previous period are submitted. The range of values for In-Store levels is displayed when cursor hovers over the “In-Store Service Level” label.</p>
                    </li>
                </ul>
                <img src="./img/retailerMarketing.png" />
                <h3 id="js-private-label-portfolio-decisions">Private Label Portfolio Decisions</h3>
                <ul>
                    <li>
                        <p class="lead">Initially retailers start with one private label per category per market. At maximum, each retailer has three private labels per category per market. </p>
                    </li>
                    <li>
                        <p class="lead">Private labels are produced by Supplier 4, which can deliver any product as long as the required volume does not exceed its production capacity and product composition is not beyond the acquired know-how of Supplier 4. (In general, Supplier 4 can’t deliver a product that is substantially more advanced than the existing ones).</p>
                    </li>
                    <li>
                        <p class="lead">Brand names ending with "5" and "6" indicate private labels of Retailer1 and Retailer 2 respectively.</p>
                    </li>
                    <li>
                        <p class="lead">You have to determine your product portfolio, i.e. brand names, SKU of each brand and product composition, including packaging format. There are three package options available: Economy, Standard, and Premium which reflect the quality of the package. </p>
                    </li>
                    <li>
                        <p class="lead">You may make a decision to: </p>
                        <p class="lead padding-20">➢Change composition of an existing SKU</p>
                        <p class="lead padding-40">-To modify a variant’s specification, enter the desired spec value.However, the Pack-Format cannot be changed. The changes are highlighted in red.</p>
                        <p class="lead padding-20">➢Start a new SKU of an existing brand</p>
                        <p class="lead padding-40">-To add a new variant under an existing brand, click on the brand name in the table, and enter the variant name with specifications. The new variant is highlighted in red.</p>
                        <p class="lead padding-20">➢Launch a new brand</p>
                        <p class="lead padding-40">-To add a new brand/variant click on “Brand” button and enter the brand/variant name with specifications. The new brand/variant is highlighted in red.</p>
                        <p class="lead padding-20">➢Discontinue a SKU or a brand altogether</p>
                        <p class="lead padding-40">-To discontinue an existing SKU, click on the SKU name. </p>
                    <li>
                        <p class="lead">Please keep in mind that product composition affects both brand perception and product cost.</p>
                    </li>
                </ul>
                <img src="./img/retailerProduct.png" />
                <h3 id="js-store-management-decisions">Store Management Decisions</h3>
                <ul>
                    <li>
                        <p class="lead">Store Management decisions are mainly to spending Order Volumes, Retail Prices and Shelf-Space Allocation, along with decisions for promotions. </p>
                    </li>
                    <li>
                        <p class="lead">The decisions are taken at SKU Level per market per category. The sum of total shelf space for each market & category should be 100%.</p>
                    </li>
                    <li>
                        <p class="lead">The values from previous period are shown by default and the retailer can change it. All the changes are highlighted in red. If the decisions are not validated within the deadline, those from the previous period are submitted.</p>
                    </li>
                </ul>
                <img src="./img/retailerStore.png" />
                <h3 id="js-market-research-purchases">Market Research Purchases</h3>
                <ul>
                    <li>
                        <p class="lead">Twelve market research studies are available for suppliers and retailers to make better informed choices. They are not free and come with a price. Following is the list:</p>
                    </li>
                    <img src="./img/marketResearchPurchases.png" />
                    <li>
                        <p class="lead">Each of the report can be bought during a period. They will be available for study in the beginning of next period.</p>
                    </li>
                </ul>

                <h1 class="page-header">Reports</h1>
                <h3>General Report:</h3>
                <p class="lead">The General Report is identical for all the players. It contains:</p>
                <p class="lead padding-20">
                    <strong>➢Performance Highlights</strong>
                </p>
                <p class="lead padding-30">The Performance Highlights report summarizes the key performance indicators for suppliers and retailers.</p>

                <p class="lead padding-20">
                    <strong>➢Market Shares</strong>
                </p>
                <p class="lead padding-30">The Market Shares report shows the consumer market shares for suppliers and retailers (private label) by market, consumer segments and shopper segments.</p>

                <p class="lead padding-20">
                    <strong>➢Sales</strong>
                </p>
                <p class="lead padding-30">The Sales report shows the consumer sales figures for suppliers and retailers (private label) by market, consumer segment and shopper segment.</p>
                <p class="lead padding-20">
                    <strong>➢Segment Leadership</strong>
                </p>
                <p class="lead padding-30">The Segment Leadership report shows the top two consumer share leaders by category, consumer segment and shopper segment.</p>
                <p class="lead padding-20">
                    <strong>➢Cross-Segment Sales Volume</strong>
                </p>
                <p class="lead padding-30">The Cross-Segment Sales Volume shows, by category and by market, the sales volume bought by each shopper segment.</p>
                <p class="lead padding-20">
                    <strong>➢Product Portfolio</strong>
                </p>
                <p class="lead padding-30">The Product Portfolio shows the technical design specifications of all SKUs in the market.</p>
                <p class="lead padding-20">
                    <strong>➢eMall Prices and Promotion Intensity</strong>
                </p>
                <p class="lead padding-30">This report shows the net online retail prices and promotion intensity.</p>


                <h3>Confidential Reports:</h3>
                <p class="lead">Supplier/Retailer gets its own Confidential Report. It contains:</p>
                <p class="lead"><strong>For Suppliers:</strong></p>
                <p class="lead padding-20">
                    ➢<strong>Financial Results</strong>
                </p>
                <ul>
                    <li>
                        <p class="lead padding-20">
                            <strong>Consolidated Profit & Loss Statement</strong><br />
                            This report shows the consolidated Profit & Loss statement by category in each channel for the supplier
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>B&M Business Profit & Loss Statement</strong><br />
                            This report shows the B&M business Profit & Loss statements of the supplier for both categories by brand.
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Online Business Profit & Loss Statement </strong><br />
                            This report shows the online business Profit & Loss statements of the supplier for both categories by brand
                        </p>
                    </li>

                    <li>
                        <p class="lead padding-20">
                            <strong>Profitability by Channel</strong><br />
                            This report shows the profitability by category in each channel for the supplier.
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Last Period Negotiations</strong><br />
                            This report shows the negotiation agreements made by the supplier with the two retailers during the last period and whether or not these agreements were honored.
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Market Research Purchases</strong><br />
                            This report summarizes the list of market research studies purchased in the previous period.
                        </p>
                    </li>
                </ul>
                <p class="lead padding-20">
                    ➢<strong>Elecssories Situation Reports</strong>
                </p>
                <ul>
                    <li>
                        <p class="lead padding-20">
                            <strong>Market Shares by Consumer Segment</strong><br />
                            This report shows the market shares of each SKU owned by the supplier by consumer segment for the Elecssories product category.
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Market Shares by Shopper Segment</strong><br />
                            This report shows the market shares of each SKU owned by the supplier by shopper segment for the Elecssories product category.
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Volume</strong><br />
                            This report shows the volume information for each SKU in the Elecssories category including the initial inventory, production cost, sales volume, discontinued goods volume and closing inventory.
                        </p>
                    </li>
                </ul>
                <p class="lead padding-20">➢<strong>HealthBeauties Situation Reports</strong></p>
                <ul>
                    <li>
                        <p class="lead padding-20">
                            <strong>Market Shares by Consumer Segment</strong><br />
                            This report shows the market shares of each SKU owned by the supplier by consumer segment for the HealthBeauties product category.
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Market Shares by Shopper Segment</strong><br />
                            This report shows the market shares of each SKU owned by the supplier by shopper segment for the Health Beauties product category.
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Volume</strong><br />
                            This report shows the volume information for each SKU in the HealthBeauties category including the initial inventory, production cost, sales volume, discontinued goods volume and closing inventory.
                        </p>
                    </li>
                </ul>
                <p class="lead padding-20">➢<strong>Key Performance Indicators</strong></p>
                <p class="lead padding-20">This report shows the KPI’s of the supplier by category. The KPI’s include Effectiveness of Trade Spending, Effectiveness of Marketing Spending, Portfolio Strength and Channel Strength.</p>

                <p class="lead">
                    <strong>For Retailers:</strong>
                </p>
                <p class="lead padding-20">
                    ➢<strong>Financial Results</strong>
                </p>
                <ul>
                    <li>
                        <p class="lead padding-20">
                            <strong>Consolidated Profit & Loss Statement</strong><br />
                            This report shows the consolidated Profit & Loss statement by category in each market for the retailer
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Rural Profit & Loss Statement</strong><br />
                            This report shows the Profit & Loss statements of the retailer for both categories by brand in the rural market.
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Urban Profit & Loss Statement</strong><br />   
                            This report shows the Profit & Loss statements of the retailer for both categories by brand in the urban market
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Profitability by Supplier</strong><br />
                            This report shows the profitability of the retailer by category through each supplier.
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Last Period Negotiations></strong><br />
                            This report shows the negotiation agreements made by the retailer with the three suppliers during the last period and whether or not these agreements were honored.
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Market Research Purchases</strong><br />
                            This report summarizes the list of market research studies purchased in the previous period.
                        </p>
                    </li>
                </ul>
                <p class="lead padding-20">
                    ➢<strong>Rural Situation Reports</strong>
                </p>
                <ul>
                    <li>
                        <p class="lead padding-20">
                            <strong>Market Shares by Consumer Segment</strong><br />
                            This report shows the market shares of each SKU by consumer segment for the Rural market.
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Market Shares by Shopper Segment</strong><br />
                            This report shows the market shares of each SKU by shopper segment for the Rural market.
                        <p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Volume</strong><br />
                            This report shows the volume information for each SKU in the Rural market including the initial inventory, ordered volume, sales volume, discontinued goods volume and closing inventory.
                        </p>
                    </li>
                </ul>
                <p class="lead padding-20">
                    ➢<strong>Urban Situation Reports</strong>
                </p>
                <ul>
                    <li>
                        <p class="lead padding-20">
                            <strong>Market Shares by Consumer Segment</strong><br />
                            This report shows the market shares of each SKU by consumer segment for the Urban market.
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Market Shares by Shopper Segment</strong><br />
                            This report shows the market shares of each SKU by shopper segment for the Urban market.
                        </p>
                    </li>
                    <li>
                        <p class="lead padding-20">
                            <strong>Volume</strong><br />
                            This report shows the volume information for each SKU in the Urban market including the initial inventory, ordered volume, sales volume, discontinued goods volume and closing inventory.
                        </p>
                    </li>
                </ul>
                <p class="lead padding-20">➢<strong>Key Performance Indicators</strong></p>
                <p class="lead padding-20">This report shows the KPI’s of the retailer by market. The KPI’s include Rotation Index, Profitability Index, Stock Cover and Share of shoppers.</p>

                <h3>Market Research Reports:</h3>
                <p class="lead">Following is the list of Market Research Reports available for Retailers and Suppliers. Suppliers and Retailers need to decide each period which studies they will purchase.</p>
                <p class="lead padding-20">
                    ➢<strong>Awareness</strong><br />
                    The Awareness report shows the levels of awareness for each brand in each market. The red section of the bar shows the drop in awareness over the last two periods; hence, the grey section is the level of awareness in the last period. The green section of the bar shows the increase in awareness over the last two periods; hence, the grey section plus the green section is the level of awareness in the last period.
                </p>
                <p class="lead padding-20">
                    ➢<strong>Brand Perceptions</strong><br />
                    The report shows the perceptual positions of the SKUs by category and market. The positions are color-coded by supplier and retailer (for private label SKUs).
                </p>

                <p class="lead padding-20">
                    ➢<strong>Retailer Perceptions</strong><br />
                    The report shows the perceptual positions of the retailers by market.
                </p>
                <p class="lead padding-20">
                    ➢<strong>Market Shares by Consumer Segment</strong><br />
                    The report depicts the volume and value market shares for the brands in Elecssories and HealthBeauties category by Consumer Segments. It has four sub reports one for the combination of each category and market.
                </p>
                <p class="lead padding-20">
                    ➢<strong>Sales by Consumer Segment</strong><br />
                    The report depicts the volume and value sales for the brands in Elecssories and HealthBeauties category by Consumer Segments. It has four sub reports one for the combination of each category and market.
                </p>
                <p class="lead padding-20">
                    ➢<strong>Market Shares by Shopper Segment</strong><br />
                    The report depicts the volume and value market shares for the brands in Elecssories and HealthBeauties category by Shopper Segments. It has four sub reports one for the combination of each category and market.
                </p>
                <p class="lead padding-20">
                    ➢<strong>Sales by Shopper Segment</strong><br />
                    The report depicts the volume and value sales for the brands in Elecssories and HealthBeauties category by Shopper Segments. It has four sub reports one for the combination of each category and market.
                </p>
                <p class="lead padding-20">
                    ➢<strong>B&M Retail Prices</strong><br />
                    The report shows the B&M Retail prices of all the SKU’s in both the product categories by all the retailers.
                </p>

                <p class="lead padding-20">
                    ➢<strong>Promotion Intensity</strong><br />
                    This report shows the promotion intensity of all the SKU’s in both the product categories by all the retailers.
                </p>
                <p class="lead padding-20">
                    ➢<strong>Supplier Intelligence</strong><br />
                    This report shows the spending on advertising, trade support, online investments and assets by all the suppliers by product category.
                </p>

                <p class="lead padding-20">
                    ➢<strong>Retailer Intelligence</strong><br />
                    This report shows the spending on advertising, along with the in store service level, and shelf space allocation of all the retailers by market.
                </p>
                <p class="lead padding-20">
                    ➢<strong>Forecast</strong><br />
                    This report shows the historical values and the two-period ahead forecasts of the consumer segment sizes and Shopper segment size, by category and market along with the category volumes and internet penetration rate by market.
                </p>

                <h1 class="page-header">Operational Aspects</h1>
                <h3 id="js-operating-budget">Operating Budget</h3>
                <ul>
                    <li>
                        <p class="lead">The operating budget is limited and fixed for the length of the game.</p>
                    </li>
                    <li>
                        <p class="lead">Profits earned will not be allocated to the operating budget.</p>
                    </li>
                    <li>
                        <p class="lead">All the spending for suppliers and retailers will be financed from the operating budget. The detailed list is shown below.</p>
                    </li>
                    <li>
                        <p class="lead">The exceptions are investments in assets which are amortized come out of capital budget.</p>
                    </li>
                    <li>
                        <img src="./img/operationalAspects.png" />
                    </li>
                    <li>
                        <p class="lead">You can find your remaining operating budget using the budget calculator</p>
                    </li>
                </ul>

                <h3 id="js-production-capacity">Production Capacity</h3>
                <ul>
                    <li>
                        <p class="lead">Details of production capacity could be found in the capacity calculator imbedded in the production volume decision.</p>
                    </li>
                </ul>
                <h3 id="js-time-management">Time Management</h3>
                <ul>
                    <li>
                        <p class="lead">The time bar indicates how much time is left for each round before the deadline. There are three deadlines:</p>
                    </li>
                </ul>
                <img src="./img/timeManagement.png">

                <p class="lead"><strong>Good luck!</strong> </p>
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div class="bs-docs-sidebar hidden-print" role="complementary" affix="200" angular-bootstrap>
                <ul class="nav bs-docs-sidenav">
                    <li class="active">
                        <a target="_self" href="#/home#js-what-is-eTales">What is eTales?</a>
                        <ul class="nav second-sidenav">
                            <li class="active">
                                <a target="_self" href="#/home#js-overview">Overview</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-your-mission-and-roles">Your Mission & Roles</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-methodology">Methodology</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a target="_self" href="#/home#js-business-scenario">Business Scenario</a>
                        <ul class="nav second-sidenav">
                            <li class="">
                                <a target="_self" href="#/home#js-market-situation">Market Situation</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-geography-markets">Geography/Markets</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-categories">   Categories</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-market-players">Market Players</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-consumers-as-shoppers">Consumers as Shoppers</a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a target="_self" href="#/home#js-brief-overview">Brief Overview</a>
                    </li>
                    <li class="">
                        <a target="_self" href="#/home#js-supplier-decisions">Supplier Decisions</a>
                        <ul class="nav second-sidenav">
                            <li class="">
                                <a target="_self" href="#/home#js-portfolio-decisions">Portfolio Decisions</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-pricing-decisions">Pricing Decisions</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-negotiation-agreements">Negotiation Agreements</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-production-volume-decisions">Production Volume Decisions</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-general-marketing-decisions">General Marketing Decisions</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-online-store-management-decisions">Online Store Management Decisions</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-asset-investment">Asset Investment/R&D Decisions</a>
                            </li>
                        </ul>

                    </li>
                    <li class="">
                        <a target="_self" href="#/home#js-retailer-decisions">Retailer Decisions</a>
                        <ul class="nav second-sidenav">
                            <li class="">
                                <a target="_self" href="#/home#js-retailer-negotiation-agreements">Negotiation Agreements</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-marketing-decisions">Marketing Decisions</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-private-label-portfolio-decisions">Private Label Portfolio Decisions</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-store-management-decisions">Store Management Decisions</a>
                            </li>
                        </ul>
                        
                    </li>
                    <li class="">
                        <a target="_self" href="#/home#js-operational-aspects">Operational Aspects</a>
                        <ul class="nav second-sidenav">
                            <li class="">
                                <a target="_self" href="#/home#js-market-research-purchases">Market Research Purchases</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-operating-budget">Operating Budget</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-production-capacity">Production Capacity</a>
                            </li>
                            <li class="">
                                <a target="_self" href="#/home#js-time-management">Time Management</a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div> -->
    </div>
</div>