<div id="content" class="bs-header">
    <div class="container">
        <h1>{{Label.getContent('Chart')}}</h1>
        <p>{{Label.getContent('Chart Info')}}</p>
    </div>
</div>

<div class="bs-old-docs">
    <div class="container">
        <strong>
        	{{Label.getContent('Chart popInfo')}}  
        </strong>
    </div>
</div>
<div class="container bs-docs-container">
    <div class="row">

		<div class="col-lg-3" angular-bootstrap>
			<div class="bs-sidebar hidden-print" role="complementary">
				<ul class="nav bs-sidenav">
					<li class="active">
						<a ng-click="getLineChart(seminar,'Profitability Absolute RMB',period)">{{Label.getContent('Profitability Absolute RMB')}}</a>
					</li>
					<li>
						<a ng-click="getLineChart(seminar,'Profitability as percentage of Sales',period)">{{Label.getContent('Profitability as percentage of Sales')}}</a>
					</li>
					<li class="">
						<a ng-click="getLineChart(seminar,'Expenses',period)">{{Label.getContent('Expenses')}}</a>
					</li>

					<li class="">
						<a ng-click="getLineChart(seminar,'Wholesales Market Results',period)" access-level='{{accessLevels.producerView}}'>{{Label.getContent('Wholesales Market Results')}}</a>
					</li>
					<li class="">
						<a ng-click="getLineChart(seminar,'Retail Market Results',period)" access-level='{{accessLevels.producerView}}'>{{Label.getContent('Consumer Market Results')}}</a>
					</li>					
					<li class="">
						<a ng-click="getLineChart(seminar,'Retail Market Results',period)" access-level='{{accessLevels.retailerView}}'>{{Label.getContent('Retail Market Results')}}</a>
					</li>
				</ul>
		    </div>
		</div>

		<div class="col-lg-9">
			<br>
			<h3>{{Label.getContent(showGroupENG)}}</h3>
			<h4 class="pull-left"><span class="label label-warning">{{Label.getContent(cat)}}</span></h4>
			<h4 class="pull-left" style="margin-left:10px"><span class="label label-success">{{Label.getContent(market)}}</span></h4>
			<h4 class="pull-left" style="margin-left:10px"><span class="label label-info">{{Label.getContent('Period')}}:{{period}}</span></h4>
			<h4 class="pull-left" style="margin-left:10px"><span class="label label-danger" ng-show="isRoleChangeBtnShow">{{role}}</span></h4>
			<div style="padding:1px 0;clear:both"></div>
			<div class="btn-group">
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			    {{Label.getContent('Category')}} <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a ng-click="showLineChart('Elecsories',market,role,language)">{{Label.getContent('Elecssories')}}</a></li>
			    <li><a ng-click="showLineChart('HealthBeauties',market,role,language)">{{Label.getContent('HealthBeauty')}}</a></li>
			    <li><a ng-click="showLineChart('Total',market,role,language)">{{Label.getContent('Total')}}</a></li>
			  </ul>
			</div>
			<div class="btn-group">
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			    {{Label.getContent('Market')}}<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a ng-click="showLineChart(cat,'Urban',role,language)">{{Label.getContent('Urban')}}</a></li>
			    <li><a ng-click="showLineChart(cat,'Rural',role,language)">{{Label.getContent('Rural')}}</a></li>
			    <li><a ng-click="showLineChart(cat,'Total',role,language)">{{Label.getContent('Total')}}</a></li>
			  </ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			    {{Label.getContent('Period')}}<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="newperiod in periods">
						<a ng-click="getLineChart(seminar,realGroupENG,newperiod)">{{newperiod}}
						</a>
					</li>
			  	</ul>
			</div>
		</div>
	</div>
	 <div style="clear:both"></div>
<!-- 	 <div google-chart chart1="chart1"  style="width:50%;float:left;height:400px" id="chart1"></div>
	 <div google-chart2 chart2="chart2" style="width:50%;float:left;height:400px" id="chart2"></div>
	 <div google-chart3 chart3="chart3" style="width:50%;float:left;height:400px" id="chart3"></div>
	 <div google-chart4 chart4="chart4" style="width:50%;float:left;height:400px" id="chart4"></div>
 -->	
 	<div class="col-lg-6" ng-show=(chart1.chartConfig!=undefined)>
 		<button type="button" class="btn btn-primary pull-right"
		ng-click="exportExcel(1)" style='margin-top:-40px'>{{Label.getContent('Export Excel')}}</button>
		<highchart id="chart1" config="chart1.chartConfig" class="span9"></highchart>
	</div>
	<div class="col-lg-6" ng-show=(chart2.chartConfig!=undefined)>
		<button type="button" class="btn btn-primary pull-right"
		ng-click="exportExcel(2)" style='margin-top:-40px'>{{Label.getContent('Export Excel')}}</button>
		<highchart id="chart2" config="chart2.chartConfig" class="span9"></highchart>
	</div>
	<div style="clear:both;padding:25px 0"></div>
	<div class="col-lg-6" ng-show=(chart3.chartConfig!=undefined)>
		<button type="button" class="btn btn-primary pull-right"
		ng-click="exportExcel(3)" style='margin-top:-40px'>{{Label.getContent('Export Excel')}}</button>
		<highchart id="chart3" config="chart3.chartConfig" class="span9"></highchart>
	</div>
	<div class="col-lg-6" ng-show=(chart4.chartConfig!=undefined)>
		<button type="button" class="btn btn-primary pull-right"
		ng-click="exportExcel(4)" style='margin-top:-40px'>{{Label.getContent('Export Excel')}}</button>
		<highchart id="chart4" config="chart4.chartConfig" class="span9"></highchart>
	</div>
</div>


