<div load-end>
    <main id="content" class="bs-masthead" role="main">
        <div class="container">
            <!--<h1>eTales</h1>-->
            <img src="img/E-tales-logo.png" attr="eTales" style="margin-top:20px;margin-bottom:10px" width='706px' height='100px'>
            <p class="lead">{{Label.getContent('eTales Info')}}</p>
            <p>
                <a class="btn btn-outline-inverse btn-lg" ng-click="openLoginModal()">{{Label.getContent('Get started')}}</a>
                
                <a class="btn btn-outline-inverse btn-lg"  ng-click="openAdminLoginModal()">{{Label.getContent('Admin entrance')}}</a>
            </p>
        </div>
    </main>
</div>
