<div id="content" class="bs-header">
    <div class="container">
        <h1>{{Label.getContent('Perception Map')}}</h1>
        <p>{{Label.getContent('Perception Map Info')}}</p>
    </div>
</div>

<div class="bs-old-docs">
    <div class="container">
        <strong>
           {{Label.getContent('Perception Map popInfo')}}
        </strong>
    </div>
</div>
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-lg-3" ng-model='tree' jqx-tree>
            <div class="bs-docs-section">
                <div style="clear:both;padding:4px 0"></div>
                <div class="listTree bs-sidebar hidden-print"></div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="bs-docs-section">
                <h3>{{Label.getContent('Perceptions Map')}}</h3>
                <button class="btn btn-primary jqx-btn-primary btn-sm" ng-click="showSelect()">{{Label.getContent('Generate Map')}}</button>
                <button class="btn btn-default jqx-btn-danger btn-sm">{{Label.getContent('Un-Check All')}}</button>
                <button class="btn btn-default jqx-btn-success btn-sm">{{Label.getContent('Check All')}}</button>
                <div style="padding:1px 0;clear:both"></div>
                <h4 class="pull-left"><span class="label label-warning">{{Label.getContent(cat)}}</span></h4>
                <h4 class="pull-left" style="margin-left:10px"><span class="label label-success">{{Label.getContent(market)}}</span></h4>
                <h4 class="pull-left" style="margin-left:10px"><span class="label label-info">{{Label.getContent('Period')}}:{{period}}</span></h4>
                <div style="padding:1px 0;clear:both"></div>
                <div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        {{Label.getContent('Category')}}<input type="hidden" value='1'>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="showChart('Elecsories',market,language)">{{Label.getContent('Elecssories')}}</a></li>
                            <li><a ng-click="showChart('HealthBeauties',market,language)">{{Label.getContent('HealthBeauty')}}</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        {{Label.getContent('Market')}}<input type="hidden" value='1'><span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="showChart(cat,'Urban',language)">{{Label.getContent('Urban')}}</a></li>
                            <li><a ng-click="showChart(cat,'Rural',language)">{{Label.getContent('Rural')}}</a></li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        {{Label.getContent('Period')}}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="newperiod in periods"><a ng-click="getMap(seminar,newperiod)">{{newperiod}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div style="clear:both"></div>

        <div class="col-lg-9">
            <div style="position:absolute;z-index:99;display:none;width:" id="tooltip1b"></div>
            <div id="chart1b" style="width:100%;height:600px;" ng-model='data' jquery-plot></div>
        </div>
        <div class="col-lg-3">
            <div id="chart2b" style="width:100%;height:560px;" ng-model="costData" jquery-plot2></div>            
        </div>
    </div>
</div>
