<style TYPE="text/css">
    @media (min-width: 1200px) {
      /* Widen the fixed sidebar again */
      .bs-docs-sidebar.affix-bottom,
      .bs-docs-sidebar.affix {
        width: 25%;
      }
    }
    @media (min-width: 992px) {
        .bs-docs-sidebar.affix {
            position: fixed; /* Undo the static */
            top: 80px;
        }
    }
</style>

<div class="my-super-awesome-loading-box" ng-show="isPageLoading">Loading...</div>


<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9">
            <div class="bs-docs-section">
                <p access-level='{{accessLevels.playerView}}'>{{Label.getContent("You are checking the Market Research Report of period")}} <b>{{selectedPeriod}}</b></p>
                <button type="button" class="btn btn-default" ng-click="changePeriod('minus')" ng-disabled='!previousBtn'>{{Label.getContent("Previous period")}}</button>
                <button type="button" class="btn btn-default" ng-click="changePeriod('add')" ng-disabled='!nextBtn'>{{Label.getContent("Next period")}}</button>
                <div style="clear:both;padding:5px 0;"></div>
                <!--market report start-->                
                    <market-awareness-elecssories ng-show='AwarenessElecssories' is-page-shown='AwarenessElecssories' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-awareness-elecssories>

                    <market-awareness-health-beauties ng-show='AwarenessHealthBeauties' is-page-shown='AwarenessHealthBeauties' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-awareness-health-beauties>

                    <market-rural-elecssories-brand ng-show='RuralElecssoriesBrand' is-page-shown='RuralElecssoriesBrand' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-rural-elecssories-brand>

                    <market-urban-elecssories-brand ng-show='UrbanElecssoriesBrand' is-page-shown='UrbanElecssoriesBrand' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-urban-elecssories-brand>

                    <market-rural-health-beauties-brand ng-show='RuralHealthBeautiesBrand' is-page-shown='RuralHealthBeautiesBrand' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-rural-health-beauties-brand>

                    <market-urban-health-beauties-brand ng-show='UrbanHealthBeautiesBrand' is-page-shown='UrbanHealthBeautiesBrand' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-urban-health-beauties-brand>

                    <market-retailer-perceptions ng-show='RetailerPerceptions' is-page-shown='RetailerPerceptions' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-retailer-perceptions>

                    <market-rural-elecssories-consumer-share ng-show='RuralElecssoriesConsumerShare' is-page-shown='RuralElecssoriesConsumerShare' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-rural-elecssories-consumer-share>

                    <market-urban-elecssories-consumer-share ng-show='UrbanElecssoriesConsumerShare' is-page-shown='UrbanElecssoriesConsumerShare' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-urban-elecssories-consumer-share>

                    <market-rural-health-beauties-consumer-share ng-show='RuralHealthBeautiesConsumerShare' is-page-shown='RuralHealthBeautiesConsumerShare' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-rural-health-beauties-consumer-share>

                    <market-urban-health-beauties-consumer-share ng-show='UrbanHealthBeautiesConsumerShare' is-page-shown='UrbanHealthBeautiesConsumerShare' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-urban-health-beauties-consumer-share>

                    <market-rural-elecssories-consumer-sales ng-show='RuralElecssoriesConsumerSales' is-page-shown='RuralElecssoriesConsumerSales' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-rural-elecssories-consumer-sales>

                    <market-urban-elecssories-consumer-sales ng-show='UrbanElecssoriesConsumerSales' is-page-shown='UrbanElecssoriesConsumerSales' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-urban-elecssories-consumer-sales>

                    <market-rural-health-beauties-consumer-sales ng-show='RuralHealthBeautiesConsumerSales' is-page-shown='RuralHealthBeautiesConsumerSales' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-rural-health-beauties-consumer-sales>

                    <market-urban-health-beauties-consumer-sales ng-show='UrbanHealthBeautiesConsumerSales' is-page-shown='UrbanHealthBeautiesConsumerSales' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-urban-health-beauties-consumer-sales>

                    <market-rural-elecssories-shopper-share ng-show='RuralElecssoriesShopperShare' is-page-shown='RuralElecssoriesShopperShare' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-rural-elecssories-shopper-share>

                    <market-urban-elecssories-shopper-share ng-show='UrbanElecssoriesShopperShare' is-page-shown='UrbanElecssoriesShopperShare' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-urban-elecssories-shopper-share>

                    <market-rural-health-beauties-shopper-share ng-show='RuralHealthBeautiesShopperShare' is-page-shown='RuralHealthBeautiesShopperShare' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-rural-health-beauties-shopper-share>

                    <market-urban-health-beauties-shopper-share ng-show='UrbanHealthBeautiesShopperShare' is-page-shown='UrbanHealthBeautiesShopperShare' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-urban-health-beauties-shopper-share>

                    <market-rural-elecssories-shopper-sales ng-show='RuralElecssoriesShopperSales' is-page-shown='RuralElecssoriesShopperSales' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-rural-elecssories-shopper-sales>

                    <market-urban-elecssories-shopper-sales ng-show='UrbanElecssoriesShopperSales' is-page-shown='UrbanElecssoriesShopperSales' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-urban-elecssories-shopper-sales>

                    <market-rural-health-beauties-shopper-sales ng-show='RuralHealthBeautiesShopperSales' is-page-shown='RuralHealthBeautiesShopperSales' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-rural-health-beauties-shopper-sales>

                    <market-urban-health-beauties-shopper-sales ng-show='UrbanHealthBeautiesShopperSales' is-page-shown='UrbanHealthBeautiesShopperSales' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-urban-health-beauties-shopper-sales>

                    <market-rural-elecssories-sales-by-channel ng-show='RuralElecssoriesSalesByChannel' is-page-shown='RuralElecssoriesSalesByChannel' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-rural-elecssories-sales-by-channel>

                    <market-urban-elecssories-sales-by-channel ng-show='UrbanElecssoriesSalesByChannel' is-page-shown='UrbanElecssoriesSalesByChannel' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-urban-elecssories-sales-by-channel>

                    <market-rural-health-beauties-sales-by-channel ng-show='RuralHealthBeautiesSalesByChannel' is-page-shown='RuralHealthBeautiesSalesByChannel' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-rural-health-beauties-sales-by-channel>

                    <market-urban-health-beauties-sales-by-channel ng-show='UrbanHealthBeautiesSalesByChannel' is-page-shown='UrbanHealthBeautiesSalesByChannel' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-urban-health-beauties-sales-by-channel>

                    <market-b-m-elecssories ng-show='BMElecssories' is-page-shown='BMElecssories' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-b-m-elecssories>

                    <market-b-m-health-beauties ng-show='BMHealthBeauties' is-page-shown='BMHealthBeauties' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-b-m-health-beauties>

                    <market-promotion-elecssories ng-show='PromotionElecssories' is-page-shown='PromotionElecssories' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-promotion-elecssories>

                    <market-promotion-health-beauties ng-show='PromotionHealthBeauties' is-page-shown='PromotionHealthBeauties' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-promotion-health-beauties>

                    <market-supplier-intelligence ng-show='SupplierIntelligence' is-page-shown='SupplierIntelligence' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-supplier-intelligence>

                    <market-retailer-intelligence ng-show='RetailerIntelligence' is-page-shown='RetailerIntelligence' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-retailer-intelligence>

                    <market-forecasts-consumer ng-show='ForecastsConsumer' is-page-shown='ForecastsConsumer' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-forecasts-consumer>
                    <market-forecasts-shopper ng-show='ForecastsShopper' is-page-shown='ForecastsShopper' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-forecasts-shopper>
                    <market-forecasts-category ng-show='ForecastsCategory' is-page-shown='ForecastsCategory' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-forecasts-category>
                    <market-forecasts-internet ng-show='ForecastsInternet' is-page-shown='ForecastsInternet' is-page-loading='isPageLoading' selected-period='selectedPeriod'></market-forecasts-internet>

                <!--market report end-->

            </div>
        </div>
        <div class="col-md-3">
            <div class="bs-docs-sidebar hidden-print" affix='10' role="complementary" angular-bootstrap>
                <ul class="nav bs-docs-sidenav">
                    
                    <li class="active" ng-show='awareness'>
                        <a href="/#/marketReport" style="color:#D9534F" ng-click='showAwarenessElecssories()'>{{Label.getContent('Awareness')}}</a>
                        <ul class="nav second-sidenav">
                            <li class="active">
                                <a href="/#/marketReport" style="color:#D9534F" ng-click='showAwarenessElecssories()'>{{Label.getContent('Elecssories')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F" ng-click='showAwarenessHealthBeauties()'>{{Label.getContent('HealthBeauties')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active" style='padding-left:6px' ng-show='!awareness'>
                        <p style="color:#D9534F;font-size:13px" Popover-animation="true" popover="{{Label.getContent('Dont Purchase Info')}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-shopping-cart"></span>{{Label.getContent('Awareness')}}</p>

                    </li>
                    <li class="" ng-show='brandPerceptions'>
                        <a href="/#/marketReport" style="color:#D9534F" ng-click='showUrbanElecssoriesBrand()'>{{Label.getContent('Brand Perceptions')}}</a>
                        <ul class="nav second-sidenav">
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F" ng-click='showUrbanElecssoriesBrand()'>{{Label.getContent('Elecssories')}}-{{Label.getContent('Urban')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F" ng-click='showRuralElecssoriesBrand()'>{{Label.getContent('Elecssories')}}-{{Label.getContent('Rural')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F" ng-click='showUrbanHealthBeautiesBrand()'>{{Label.getContent('HealthBeauties')}}-{{Label.getContent('Urban')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F" ng-click='showRuralHealthBeautiesBrand()'>{{Label.getContent('HealthBeauties')}}-{{Label.getContent('Rural')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li style='padding-left:6px' ng-show='!brandPerceptions'>
                        <p style="color:#D9534F;font-size:13px" Popover-animation="true" popover="{{Label.getContent('Dont Purchase Info')}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-shopping-cart"></span>{{Label.getContent('Brand')}}{{Label.getContent('Perceptions')}}</p>
                    </li>
                    <li class="" ng-show='retailerPerceptions'>
                        <a href="/#/marketReport" style="color:#D9534F" ng-click='showRetailerPerceptions()'>{{Label.getContent('Retailer Perceptions')}}</a>
                    </li>
                    <li style='padding-left:6px' ng-show='!retailerPerceptions'>
                        <p style="color:#D9534F;font-size:13px" Popover-animation="true" popover="{{Label.getContent('Dont Purchase Info')}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-shopping-cart"></span>{{Label.getContent('Retailer Perceptions')}}</p>
                    </li>
                    <li class="" ng-show='marketShareByConsumerSegment'>
                        <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanElecssoriesConsumerShare()'>{{Label.getContent('Market Shares by Consumer Segment')}}</a>
                        <ul class="nav second-sidenav">
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanElecssoriesConsumerShare()'>{{Label.getContent('Elecssories')}}-{{Label.getContent('Urban')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showRuralElecssoriesConsumerShare()'>{{Label.getContent('Elecssories')}}-{{Label.getContent('Rural')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanHealthBeautiesConsumerShare()'>{{Label.getContent('HealthBeauties')}}-{{Label.getContent('Urban')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showRuralHealthBeautiesConsumerShare()'>{{Label.getContent('HealthBeauties')}}-{{Label.getContent('Rural')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li style='padding-left:6px' ng-show='!marketShareByConsumerSegment'>
                        <p style="color:#D9534F;font-size:13px" Popover-animation="true" popover="{{Label.getContent('Dont Purchase Info')}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-shopping-cart"></span>{{Label.getContent('Market Shares by Consumer Segment')}}</p>
                    </li>
                    <li class="" ng-show='salesByConsumerSegment'>
                        <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanElecssoriesConsumerSales()'>{{Label.getContent('Sales by Consumer Segment')}}</a>
                        <ul class="nav second-sidenav">
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanElecssoriesConsumerSales()'>{{Label.getContent('Elecssories')}}-{{Label.getContent('Urban')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showRuralElecssoriesConsumerSales()'>{{Label.getContent('Elecssories')}}-{{Label.getContent('Rural')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanHealthBeautiesConsumerSales()'>{{Label.getContent('HealthBeauties')}}-{{Label.getContent('Urban')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showRuralHealthBeautiesConsumerSales()'>{{Label.getContent('HealthBeauties')}}-{{Label.getContent('Rural')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li style='padding-left:6px' ng-show='!salesByConsumerSegment'>
                        <p style="color:#D9534F;font-size:13px" Popover-animation="true" popover="{{Label.getContent('Dont Purchase Info')}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-shopping-cart"></span>{{Label.getContent('Sales by Consumer Segment')}}</p>
                    </li>
                    <li class="" ng-show='marketShareByShopperSegment'>
                        <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanElecssoriesShopperShare()'>{{Label.getContent('Market Shares by Shopper Segment')}}</a>
                        <ul class="nav second-sidenav">
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanElecssoriesShopperShare()'>{{Label.getContent('Elecssories')}}-{{Label.getContent('Urban')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showRuralElecssoriesShopperShare()'>{{Label.getContent('Elecssories')}}-{{Label.getContent('Rural')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanHealthBeautiesShopperShare()'>{{Label.getContent('HealthBeauties')}}-{{Label.getContent('Urban')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showRuralHealthBeautiesShopperShare()'>{{Label.getContent('HealthBeauties')}}-{{Label.getContent('Rural')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li style='padding-left:6px' ng-show='!marketShareByShopperSegment'>
                        <p style="color:#D9534F;font-size:13px" Popover-animation="true" popover="{{Label.getContent('Dont Purchase Info')}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-shopping-cart"></span>{{Label.getContent('Market Shares by Shopper Segment')}}</p>
                    </li>
                    <li class="" ng-show='salesByShopperSegment'>
                        <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanElecssoriesShopperSales()'>{{Label.getContent('Sales by Shopper Segment')}}</a>
                        <ul class="nav second-sidenav">
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanElecssoriesShopperSales()'>{{Label.getContent('Elecssories')}}-{{Label.getContent('Urban')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showRuralElecssoriesShopperSales()'>{{Label.getContent('Elecssories')}}-{{Label.getContent('Rural')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanHealthBeautiesShopperSales()'>{{Label.getContent('HealthBeauties')}}-{{Label.getContent('Urban')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showRuralHealthBeautiesShopperSales()'>{{Label.getContent('HealthBeauties')}}-{{Label.getContent('Rural')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li style='padding-left:6px' ng-show='!salesByShopperSegment'>
                        <p style="color:#D9534F;font-size:13px" Popover-animation="true" popover="{{Label.getContent('Dont Purchase Info')}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-shopping-cart"></span>{{Label.getContent('Sales by Shopper Segment')}}</p>
                    </li>
                    <li style='padding-left:6px' ng-show='!marketShareByShopperSegment'>
                        <p style="color:#D9534F;font-size:13px" Popover-animation="true" popover="{{Label.getContent('Dont Purchase Info')}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-shopping-cart"></span>{{Label.getContent('Market Shares by Shopper Segment')}}</p>
                    </li>
                    <li class="" ng-show='salesByChannel'>
                        <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanElecssoriesSalesByChannel()'>{{Label.getContent('Sales by Channel')}}</a>
                        <ul class="nav second-sidenav">
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanElecssoriesSalesByChannel()'>{{Label.getContent('Elecssories')}}-{{Label.getContent('Urban')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showRuralElecssoriesSalesByChannel()'>{{Label.getContent('Elecssories')}}-{{Label.getContent('Rural')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showUrbanHealthBeautiesSalesByChannel()'>{{Label.getContent('HealthBeauties')}}-{{Label.getContent('Urban')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showRuralHealthBeautiesSalesByChannel()'>{{Label.getContent('HealthBeauties')}}-{{Label.getContent('Rural')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li style='padding-left:6px' ng-show='!salesByShopperSegment'>
                        <p style="color:#D9534F;font-size:13px" Popover-animation="true" popover="{{Label.getContent('Dont Purchase Info')}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-shopping-cart"></span>{{Label.getContent('Sales by Channel')}}</p>
                    </li>

                    <li class="" ng-show='BMRetailerPrices'>
                        <a href="/#/marketReport" style="color:#D9534F" ng-click='showBMElecssories()'>{{Label.getContent('B&M Retailer Prices')}}</a>
                        <ul class="nav second-sidenav">
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F" ng-click='showBMElecssories()'>{{Label.getContent('Elecssories')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F" ng-click='showBMHealthBeauties()'>{{Label.getContent('HealthBeauties')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li style='padding-left:6px' ng-show='!BMRetailerPrices'>
                        <p style="color:#D9534F;font-size:13px" Popover-animation="true" popover="{{Label.getContent('Dont Purchase Info')}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-shopping-cart"></span>{{Label.getContent('B&M Retailer Prices')}}</p>
                    </li>
                    <li class="" ng-show='promotionIntensity'>
                        <a href="/#/marketReport" style="color:#D9534F" ng-click='showPromotionElecssories()'>{{Label.getContent('Promotion Intensity')}}</a>
                        <ul class="nav second-sidenav">
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F" ng-click='showPromotionElecssories()'>{{Label.getContent('Elecssories')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F" ng-click='showPromotionHealthBeauties()'>{{Label.getContent('HealthBeauties')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li style='padding-left:6px' ng-show='!promotionIntensity'>
                        <p style="color:#D9534F;font-size:13px" Popover-animation="true" popover="{{Label.getContent('Dont Purchase Info')}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-shopping-cart"></span>{{Label.getContent('Promotion Intensity')}}</p>
                    </li>
                    <li class="" ng-show='supplierIntelligence'>
                        <a href="/#/marketReport" style="color:#D9534F" ng-click='showSupplierIntelligence()'>{{Label.getContent('Supplier Intelligence')}}</a>
                    </li>
                    <li style='padding-left:6px' ng-show='!supplierIntelligence'>
                        <p style="color:#D9534F;font-size:13px" Popover-animation="true" popover="{{Label.getContent('Dont Purchase Info')}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-shopping-cart"></span>{{Label.getContent('Supplier Intelligence')}}</p>
                    </li>
                    <li class="" ng-show='retailerIntelligence'>
                        <a href="/#/marketReport" style="color:#D9534F" ng-click='showRetailerIntelligence()'>{{Label.getContent('Retailer Intelligence')}}</a>
                    </li>
                    <li style='padding-left:6px' ng-show='!retailerIntelligence'>
                        <p style="color:#D9534F;font-size:13px" Popover-animation="true" popover="{{Label.getContent('Dont Purchase Info')}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-shopping-cart"></span>{{Label.getContent('Retailer Intelligence')}}</p>
                    </li>
                     <li class="" ng-show='forecasts'>
                        <a href="/#/marketReport" style="color:#D9534F;" ng-click='showForecastsConsumer()'>{{Label.getContent('Forecasts')}}</a>
                        <ul class="nav second-sidenav">
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showForecastsConsumer()'>{{Label.getContent('Consumer Segment Size')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showForecastsShopper()'>{{Label.getContent('Shopper Segment Size')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showForecastsCategory()'>{{Label.getContent('Category Volume s by Market')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/marketReport" style="color:#D9534F;" ng-click='showForecastsInternet()'>{{Label.getContent('Internet Penetration Rates')}}</a>
                            </li>
                        </ul>
                    </li>
                <li style='padding-left:6px' ng-show='!forecasts'>
                        <p style="color:#D9534F;font-size:13px" Popover-animation="true" popover="{{Label.getContent('Dont Purchase Info')}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-shopping-cart"></span>{{Label.getContent('Forecasts')}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>