<div id="content" class="bs-header">
    <div class="container">
        <h1>{{Label.getContent('Market studies')}}</h1>
        <p>{{Label.getContent('Market studies Info')}}</p>
    </div>
</div>

<div class="bs-old-docs">
    <div class="container">
        <strong>
            {{Label.getContent('Market popInfo')}}
        </strong>
    </div>
</div>
<div class="container bs-docs-container">
    <div class="row">
        <!--<div class="col-lg-12">
            <div class="bs-docs-section">-->

		<div class="col-lg-3" angular-bootstrap>
			<div class="bs-sidebar hidden-print" role="complementary">
				<ul class="nav bs-sidenav">	
					<li class="active">
						<a>{{Label.getContent('Market studies')}}</a>
						<ul class="nav second-sidenav">
							<!--<li>
								<a ng-click="getReport(seminar,title.titleENG,period,language)">{{title.title}}</a>
							</li>-->

							<li class="active">
								<a ng-click="getReport(seminar,'Brand Awareness',period,language)">{{Label.getContent('Brand Awareness')}}</a>
							</li>
							<li class="">
								<a ng-click="getReport(seminar,'Market Share (Volume)',period,language)">{{Label.getContent('Market Share (Volume)')}}</a>
							</li>
							<li class="">
								<a ng-click="getReport(seminar,'Market Share (Value)',period,language)">{{Label.getContent('Market Share (Value)')}}</a>
							</li>
							<li class="" >
								<a ng-click="getReport(seminar,'Average Net Market Price',period,language)">{{Label.getContent('Average Net Market Price')}}</a>
							</li>
							<li class="">
								<a ng-click="getReport(seminar,'Brand Visibility Share',period,language)">{{Label.getContent('Brand Visibility Share')}}</a>
							</li>
							<li class="">
								<a ng-click="getReport(seminar,'Consumer off-take',period,language)">{{Label.getContent('Consumer off-take')}}</a>
							</li>
							<li class="">
								<a ng-click="getReport(seminar,'Retailer Perceptions',period,language)">{{Label.getContent('Retailer Perceptions')}}</a>
							</li>
							<li class="">
								<a ng-click="getReport(seminar,'Shopper Behavior',period,language)">{{Label.getContent('Shopper Behavior')}}</a>
							</li>

						</ul>
					</li>	
				</ul>
		    </div>
		</div>

		<div class="col-lg-9">
			<div style="padding:10px 0;clear:both"></div>
			
			<div class="page-header">
				<h3>{{Label.getContent(titleENG)}}
					<small>
						{{Label.getContent((titleENG+' Info'))}}
					</small>
				</h3>
			</div>

			<h4 class="pull-left"><span class="label label-warning" ng-show="titleENG!='Retailer Perceptions'">{{Label.getContent(cat)}}</span></h4>
			<h4 class="pull-left" style="margin-left:10px"><span class="label label-success">{{Label.getContent(market)}}</span></h4>
			<h4 class="pull-left" style="margin-left:10px"><span class="label label-info">{{Label.getContent('Period')}}:{{period}}</span></h4>
			<div style="padding:1px 0;clear:both"></div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle" ng-show="titleENG!='Retailer Perceptions'" data-toggle="dropdown">
			    {{Label.getContent('Category')}}<span class="caret"></span>
			 	</button>
			  	<ul class="dropdown-menu">
			    	<li><a ng-click="showReport('Elecsories',market,language)">{{Label.getContent('Elecssories')}}</a></li>
			    	<li><a ng-click="showReport('HealthBeauties',market,language)">{{Label.getContent('HealthBeauty')}}</a></li>
			  	</ul>
			</div>

			<div class="btn-group">
			  	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			    {{Label.getContent('Market')}}<span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu">
			    	<li><a ng-click="showReport(cat,'Urban',language)">{{Label.getContent('Urban')}}</a></li>
			    	<li><a ng-click="showReport(cat,'Rural',language)">{{Label.getContent('Rural')}}</a></li>
			    	<li><a ng-click="showReport(cat,'Total',language)">{{Label.getContent('Total')}}</a></li>
			  	</ul>
			</div>

			<div class="btn-group">
			  	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			    {{Label.getContent('Period')}}<span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu">
			    	<li ng-repeat="newperiod in periods"><a ng-click="getReport(seminar,titleENG,newperiod,language)">{{newperiod}}</a></li>
			  	</ul>
			</div>
			<div style="clear:both"></div> 
		</div>
	</div>
	<table class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
			 	<th ng-repeat="(i,col) in reportCollection.data.cols" ng-style="{'text-align':($index==0)?'left':'right'}">
			 		<a ng-click="changeSorting(i)">{{Label.getContent(col.labelENG)}}</a>
			 	</th>
			</tr>		
		</thead>
		<tbody>
			<tr ng-repeat="row in reportCollection.data.rows | orderBy:mySorting:sort.descending" >
				<td ng-repeat = "value in row.c" ng-style="{'text-align':($index==0)?'left':'right'}"> {{((value.v=="Retailer 1")||(value.v=="Retailer 2")||(value.v=="Traditional Trade")||(value.v=="e-Mall"))?Label.getContent(value.v):value.v}}</td>
			</tr>
		</tbody>
	</table>
</div>



