<div class="my-super-awesome-loading-box" ng-show="isPageLoading">Loading...</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12">
            <div class="bs-docs-section">
                <div style="clear:both;padding:20px 0"></div>
                <!--overview report start -->
                    <overview-sales is-page-loading='isPageLoading' is-page-shown='!isPageInit' feed-back='feedBack' selected-period='selectedPeriod'></overview-sales>
                    <overview-market-shares is-page-loading='isPageLoading' is-page-shown='!isPageInit' feed-back='feedBack' selected-period='selectedPeriod'></overview-market-shares>
                    <overview-profits is-page-loading='isPageLoading' is-page-shown='!isPageInit' feed-back='feedBack' selected-period='selectedPeriod'></overview-profits>

                    <overview-shelf-space-allocation is-page-loading='isPageLoading' is-page-shown='!isPageInit' feed-back='feedBack' selected-period='selectedPeriod'></overview-shelf-space-allocation>
                    
                    <overview-share-of-shoppers is-page-loading='isPageLoading' is-page-shown='!isPageInit' feed-back='feedBack' selected-period='selectedPeriod'></overview-share-of-shoppers>
                <!--overview report end -->
                </div>
            </div>
        </div>
    </div>
</div>