<style TYPE="text/css">
    @media (min-width: 1200px) {
      /* Widen the fixed sidebar again */
      .bs-docs-sidebar.affix-bottom,
      .bs-docs-sidebar.affix {
        width: 25%;
      }
    }
    @media (min-width: 992px) {
        .bs-docs-sidebar.affix {
            position: fixed; /* Undo the static */
            top: 80px;
        }
    }
</style>

<div class="my-super-awesome-loading-box" ng-show="isPageLoading">Loading...</div>

<div class="container bs-docs-container">
    <div class="row">
        <br>
        <div class='panel panel-success my-panel-overview'>
            <div class="panel-heading">
                <h3 class="panel-title text-center">
                    Sales - Elecssories 
                </h3>
            </div>        
            <table>
                <th>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </th>            
            </table>
        </div>
    </div>
</div>