<div id="content" class="bs-header">
    <div class="container">
      <h1>{{Label.getContent('Products portfolio')}}</h1>
      <p>{{Label.getContent('Products portfolio Info')}}</p>
    </div>
</div>


<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        <h4>{{Label.getContent('Step 1 of 4')}}</h4>
        <div class="pull-left" style="width:40%">
          <h3 style="margin-top:0px">{{Label.getContent('Producer Step 1 of 4 Info')}}</h3>
          <div class="btn-group pull-left">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
              {{Label.getContent('Category')}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class=""><a ng-click="showView(producerID,period,'Elecssories',language)">{{Label.getContent('Elecssories')}}</a></li>
              <li class=""><a ng-click="showView(producerID,period,'HealthBeauty',language)">{{Label.getContent('HealthBeauty')}}</a></li>
            </ul>
          </div>
        </div>
        <div class="pull-right" style="width:40%">
          <progress percent="percentageExpend" class="progress active"></progress>
          <small>
            <em>{{Label.getContent('Available Budget')}}: <strong>{{surplusExpend.toFixed(2)}}</strong></em>
          </small>
          <progress percent="percentageProduction" class="progress progress-suceess active progress-striped"></progress>
          <small>
            <em>{{Label.getContent(category)}} {{Label.getContent('Producer Available Capacity')}}: <strong>{{surplusProduction.toFixed(2)}}</strong> </em>
          </small>
        </div>
        <div style="clear:both"></div>

        <div collapse="isCollapsed" class="panel panel-info">
          <div class="panel-heading">
            {{variantHistory.parentBrandName||showNewHistory.brandName}} {{variantHistory.varName||showNewHistory.varName}}
            <button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button></div>
              <table class="table table-condensed table-bordered">
                <thead>
                  <tr>
                    <td colspan="2" class="col-md-6">{{Label.getContent('Current period')}} ({{currentPeriod}})</td>
                    <td colspan="2" class="col-md-6">{{Label.getContent('Previous period')}} ({{currentPeriod-1}})</td>               
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <th>{{Label.getContent('Unit Cost')}}</th>
                    <th>{{currentUnitCost}}</th>
                    <td>{{Label.getContent('Sales Volume')}}</td>
                    <td>{{variantHistory.supplierView[0].supplierChannelView[4].salesVolume[2].toFixed(2)||0}}</td>
                  </tr>
                  <tr>
                    <td>{{Label.getContent('Acquired Technology Level')}}</td>  
                    <td ng-show="isElecssories">{{companyHistory.acquiredTechnologyLevel[0]||0}}</td>
                    <td ng-show="isHealthBeauty">{{companyHistory.acquiredTechnologyLevel[1]||0}}</td>
                    <td>{{Label.getContent('Unit Production Cost')}}</td>
                    <td>{{variantHistory.supplierView[0].currentUnitAverageCost.toFixed(2)||0}}</td>
                  </tr>
                  <tr>
                    <td ng-show="isElecssories">{{Label.getContent('Acquired Design Level')}}</td>
                    <td ng-show="isHealthBeauty">{{Label.getContent('Acquired Active agent')}}</td>
                    <td ng-show="isElecssories">{{companyHistory.acquiredDesignLevel[0]||0}}</td>
                    <td ng-show="isHealthBeauty">{{companyHistory.acquiredDesignLevel[1]||0}}</td>
                    <td>{{Label.getContent('Production Volume')}}</td>
                    <td>{{variantHistory.supplierView[0].productionVolume.toFixed(2)||0}}</td>
                  </tr>
                  <tr>
                    <td ng-show="isElecssories">{{Label.getContent('Acquired Quality-of-Raw-Materials')}}</td>
                    <td ng-show="isHealthBeauty">{{Label.getContent('Acquired Smoothener Level')}}</td>
                    <td ng-show="isElecssories">{{companyHistory.acquiredTechnologyLevel[0]+2}}</td>
                    <td ng-show="isHealthBeauty">{{companyHistory.acquiredTechnologyLevel[1]+2}}</td> <td>{{Label.getContent('Initial Inventory')}}</td>
                    <td>{{variantHistory.supplierView[0].initialInventory[4].volume.toFixed(2)||0}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>                                        
                    <td>{{Label.getContent('Design Level')}}</td>
                    <td>{{variantHistory.supplierView[0].composition[0]||0}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>

                    <td>{{Label.getContent('Technology Level')}}</td>
                    <td>{{variantHistory.supplierView[0].composition[1]||0}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>{{Label.getContent('Quality-of-Raw-Materials')}}</td>
                    <td>{{variantHistory.supplierView[0].composition[2]||0}}</td>
                  </tr>                 
                  <tr>
                    <td></td>
                    <td></td>                    
                    <td>{{Label.getContent('Current Price BM')}}</td>
                    <td>{{variantHistory.supplierView[0].currentPriceBM.toFixed(2)||0}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>                    
                    <td>{{Label.getContent('Current Price Emall')}}</td>
                    <td>{{variantHistory.supplierView[0].currentPriceEmall.toFixed(2)||0}}</td>                    
                  </tr>
                </tbody>
              </table>                     
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{Label.getContent('Brand')}}</th> 
              <th ng-repeat='product in products'>{{product.parentBrandName}}</th>
            </tr>
            <tr>
              <th>{{Label.getContent('Variant')}}</th>
              <th ng-repeat='product in products'>
                <div style="clear:both"></div>
                <p class="pull-left">
                  {{product.varName}}
                </p>
                <button type="button" class="btn btn-primary btn-xs pull-left" style="margin-left:5px" ng-click="getMoreInfo(product.parentBrandName,product.varName)">{{Label.getContent('More')}}</button>
                <button type="button" class="btn btn-danger btn-xs pull-left" ng-show="(product.dateOfBirth==currentPeriod)&&(!isReady)" ng-click="deleteProduct(category,product.parentBrandName,product.varName)" style="margin-left:5px">{{Label.getContent('Delete')}}</button>
                <div style="clear:both"></div>
              </th>
            </tr>            
          </thead>
          <tbody>
            
            <tr>
              <th>
                <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Pack Format Info')}}" popover-title="{{Label.getContent('Pack Format')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Pack Format')}}<span style="color:red">*</span></p>
              </th>
              <th ng-repeat='product in products'>
                <a href="#" editable-select="product.packFormat" e-ng-options="p.value as p.text for p in packs" ng-show="product.dateOfBirth==currentPeriod&&(!isReady)" onaftersave="updateProducerDecision(category,product.parentBrandName,product.varName,'packFormat','0',$index)">{{ selectPacks(product.parentBrandName,product.varName) }}</a>
                <span ng-show="product.dateOfBirth<currentPeriod||isReady">{{ selectPacks(product.parentBrandName,product.varName) }}</span>
              </th>
            </tr>
            <tr>
              <th>
                <p style="display:{{HeaShow}}" class="text-primary" Popover-animation="true" popover="{{Label.getContent('Smoothener Level Info')}}" popover-title="{{Label.getContent('Smoothener Level')}}" popover-trigger="mouseenter" popover-placement="right">{{Label.getContent('Smoothener Level')}}<span style="color:red">*</span></p>
                <p style="display:{{EleShow}}" class="text-primary" Popover-animation="true" popover="{{Label.getContent('Quality-of-Raw-Materials Info')}}" popover-title="{{Label.getContent('Quality-of-Raw-Materials')}}" popover-trigger="mouseenter" popover-placement="right">{{Label.getContent('Quality-of-Raw-Materials')}}<span style="color:red">*</span></p>
              </th>
              <th ng-repeat='product in products'>
                <a href="#" editable-text="product.composition[2]" onbeforesave="checkRMQ(category,product.parentBrandName,product.varName,'composition','2',$index,$data)" ng-show="!isReady" onaftersave="updateProducerDecision(category,product.parentBrandName,product.varName,'composition','2',$index)">{{ product.composition[2] || 0 }}</a>
                <span ng-show="isReady">{{ product.composition[2] || 0 }}</span>
              </th>
            </tr>
            <tr>
              <th>
                <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Technology Level Info')}}" popover-title="{{Label.getContent('Technology Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Technology Level')}}<span style="color:red">*</span></p>
              </th>
              <th ng-repeat='product in products'>
                <a href="#" editable-text="product.composition[1]" onbeforesave="checkTechnology(category,product.parentBrandName,product.varName,'composition','1',$index,$data)" ng-show="!isReady" onaftersave="updateProducerDecision(category,product.parentBrandName,product.varName,'composition','1',$index)">{{ product.composition[1] || 0 }}</a>
                <span ng-show="isReady">{{ product.composition[1] || 0 }}</span>
              </th>
            </tr>
            <tr>
              <th>
                <p style="display:{{HeaShow}}" class="text-primary" Popover-animation="true" popover="{{Label.getContent('Active agent Info')}}" popover-title="{{Label.getContent('Active agent')}}" popover-trigger="mouseenter" popover-placement="right">{{Label.getContent('Active agent')}}<span style="color:red">*</span></p>
                <p style="display:{{EleShow}}" class="text-primary" Popover-animation="true" popover="{{Label.getContent('Design Level Info')}}" popover-title="{{Label.getContent('Design Level')}}" popover-trigger="mouseenter" popover-placement="right">{{Label.getContent('Design Level')}}<span style="color:red">*</span></p>
              </th>
              <th ng-repeat='product in products'>
                <a href="#" editable-text="product.composition[0]" onbeforesave="checkDesign(category,product.parentBrandName,product.varName,'composition','0',$index,$data)" ng-show="!isReady" onaftersave="updateProducerDecision(category,product.parentBrandName,product.varName,'composition','0',$index)">{{ product.composition[0] || 0 }}</a>
                <span ng-show="isReady">{{ product.composition[0] || 0 }}</span>
              </th>
            </tr>
            
            <tr>
              <th>
                <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Estimated Production Volume Info')}}" popover-title="{{Label.getContent('Estimated Production Volume')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Estimated Production Volume')}}<span style="color:red">*</span></p>
              </th>
              <th ng-repeat='product in products'>
                <a href="#" editable-text="product.production" onbeforesave="checkProduction(category,product.parentBrandName,product.varName,'production','0',$index,$data)" ng-show="!isReady" onaftersave="updateProducerDecision(category,product.parentBrandName,product.varName,'production','0',$index)">{{ product.production || 0 }}</a>
                <span ng-show="isReady">{{ product.production || 0 }}</span>
              </th>
            </tr>
            <tr>
              <th>
                <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Current Price BM Info')}}" popover-title="{{Label.getContent('Current Price BM')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Current Price BM')}}<span style="color:red">*</span></p>
              </th>
              <th ng-repeat='product in products'>
                <a href="#" editable-text="product.currentPriceBM" onbeforesave="checkCurrentBM(category,product.parentBrandName,product.varName,'currentPriceBM','0',$index,$data)" onaftersave="updateProducerDecision(category,product.parentBrandName,product.varName,'currentPriceBM','0',$index)" ng-show="product.dateOfBirth==currentPeriod&&(!isReady)">{{ product.currentPriceBM || 0 }}</a>
                <p ng-show='product.dateOfBirth!=currentPeriod||isReady'>{{ product.currentPriceEmall }}</p>

              </th>
            </tr>
            <tr>
              <th>
                <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Current Price Emall Info')}}" popover-title="{{Label.getContent('Current Price Emall')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Current Price Emall')}}<span style="color:red">*</span></p>
              </th>
              <th ng-repeat='product in products'>
                <a href="#" editable-text="product.currentPriceEmall" onbeforesave="checkCurrentEMall(category,product.parentBrandName,product.varName,'currentPriceEmall','0',$index,$data)" onaftersave="updateProducerDecision(category,product.parentBrandName,product.varName,'currentPriceEmall','0',$index)" ng-show="product.dateOfBirth==currentPeriod&&(!isReady)">{{ product.currentPriceEmall || 0 }}</a>
                <p ng-show='product.dateOfBirth!=currentPeriod||isReady'>{{ product.currentPriceEmall }}</p>
              </th>
            </tr>
            <tr>
              <th>
                <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Discontinue this product Info')}}" popover-title="{{Label.getContent('Discontinue this product')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Discontinue this product')}}<span style="color:red">*</span></p>
              </th>
              <th ng-repeat='product in products'>
                <a href="#" editable-checkbox="product.discontinue" e-title="{{Label.getContent('Discontinue this product')}}?" ng-show="!isReady" onaftersave="updateProducerDecision(category,product.parentBrandName,product.varName,'discontinue','0',$index)">{{ product.discontinue && Label.getContent('DisContinue') || Label.getContent('Continue') }}</a>
                <span ng-show="isReady">{{ product.discontinue && Label.getContent('DisContinue') || Label.getContent('Continue') }}</span>
              </th>
            </tr>    
          </tbody>
        </table>

        <div class="alert alert-danger fade in" ng-show="isCommitConfirmInfoShown">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
          <h4>{{Label.getContent("Warning! Commit confirmation")}}</h4>
          <p>{{Label.getContent("Producer portfolio confirm info")}}</p>
          <p>
            <button type="button" class="btn btn-danger" ng-click='submitDecision()'>{{Label.getContent("Take this action")}}</button>
            <button type="button" ng-click="isCommitConfirmInfoShown=false" class="btn btn-default">{{Label.getContent("Cancel")}}</button>
          </p>
        </div>

        <div>
          <a ng-click="openProductModal()" ng-disabled="isReady" class="btn btn-default">{{Label.getContent('New Product')}}</a>
          <a href="" class="btn btn-primary" ng-disabled="isReady" ng-click="isCommitConfirmInfoShown=true" class="btn btn-primary">{{Label.getContent('Commit Portflio decision')}}</a>
          <a href="/#/producerDecisionStep2" ng-disabled="!isReady" class="btn btn-primary">{{Label.getContent('Next')}}</a>
        </div>


    </div>
  </div>
</div>
<!--dialog start-->
<div modal="productModal" class="hide" close="closeProductModal()" options="productModalOpts">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeProductModal()">&times;</button>
        <h4>{{Label.getContent('New Product')}}</h4>
      </div>
      <form method="POST" name="myForm">
        <div class="modal-body">
          <div class="control-group">
            <tabset>
              <tab heading="{{Label.getContent('Launch New Brand')}}" select="setAddNewBrand()">
                <div class="form">
                  <div class="form-group">
                    <label for="lauchNewCategory">{{Label.getContent('Choose Catagory')}}:</label>
                    <select class="form-control" ng-model="lauchNewCategory" ng-change="setBrandName(lauchNewCategory)">
                      <option value="1">{{Label.getContent('Elecssories')}}</option>
                      <option value="2">{{Label.getContent('HealthBeauty')}}</option>
                    </select>
                  </div>
                  <div class="form-group" ng-class="{'has-error': myForm.newBrandName.$invalid}">
                    <label for="lauchNewBrandName">{{Label.getContent('Enter New Brand Name')}}:</label>
                    <div class="input-group">
                      <span class="input-group-addon">{{brandFirstName}}</span>
                      <input type="text"  class="form-control" ng-model="lauchNewBrandName" name="newBrandName" ng-maxlength="4" required>
                      <span class="input-group-addon">{{brandLastName}}</span>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{'has-error':myForm.lauchVarName.$invalid}">
                    <label for="lauchNewVarName">{{Label.getContent('Enter New Variant Name')}}:</label>
                    <div class="input-group">
                      <span class="input-group-addon">_</span>
                      <input type="text" name="lauchVarName" class="form-control" ng-model="lauchNewVarName" ng-maxlength="4" required>
                    </div>
                  </div>
                </div>
              </tab>
              <tab heading="{{Label.getContent('Under Existed Brand')}}" select="setAddNewProUnderBrand()">
                <div class="form">
                  <div class="form-group">
                    <label for="addNewCategory">{{Label.getContent('Choose Catagory')}}:</label>
                    <select class="form-control" ng-model="addNewCategory" ng-change="loadAllBrand(addNewCategory)">
                      <option value="1">{{Label.getContent('Elecssories')}}</option>
                      <option value="2">{{Label.getContent('HealthBeauty')}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="addChooseBrand">{{Label.getContent('Choose Brand')}}:</label>
                    <select class="form-control" ng-model="addChooseBrand" >
                      <option ng-repeat="allBrand in allBrands" value="{{allBrand.BrandID}}">{{allBrand.BrandName}}</option>
                    </select>
                  </div>
                  <div class="form-group" ng-class="{'has-error':myForm.addVarName.$invalid}">
                    <label for="addNewVarName">{{Label.getContent('Enter New Variant Name')}}:</label>
                    <div class="input-group">
                      <span class="input-group-addon">_</span>
                      <input type="text" name="addVarName" class="form-control" ng-model="addNewVarName" ng-maxlength="4" required>
                    </div>
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
          <div class="{{bubleClassName}}" ng-show='true'>
            <strong>{{bubleTitle}}</strong>{{bubleMsg}}
          </div>  
        </div>
        <div class="modal-footer">

          <input type="button" ng-click="addNewProduct(parameter)" style="display:{{newBrand}}" class="btn btn-primary" value="{{Label.getContent('Add')}}" ng-disabled="((myForm.lauchVarName.$invalid)||(myForm.newBrandName.$invalid))"/>
          <input type="button" style="display:{{newVariant}}" ng-click="addNewProduct(parameter)" class="btn btn-primary" value="{{Label.getContent('Add')}}" ng-disabled="(myForm.addVarName.$invalid)">
          <input type="button" class="btn btn-default" ng-click="closeProductModal()" value="{{Label.getContent('Cancel')}}">

        </div>
      </form>
    </div>
  </div>
</div>
<!--dialog end-->