<div id="content" class="bs-header">
    <div class="container">
        <h1>Producer Decision Step 3</h1>
        <p>We deliver a highly disruptive and transformational experiential learning model on a global scale !</p>
    </div>
</div>
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        <h4>Step 3 of 4</h4>
        <div class="pull-left" style="width:33%">
          <h3 style="margin-top:0px">Advertsing</h3>
          <div class="btn-group pull-left">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                Category <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class=""><a ng-click="showView(user,period,'Elecssories',language)">Elecssories</a></li>
                <li class=""><a ng-click="showView(user,period,'HealthBeauty',language)">HealthBeauty</a></li>
              </ul>
          </div>
          <div class="btn-group pull-left" data-toggle="buttons" style="margin-left:10px">
              <label class="btn btn-primary" ng-click="showView(user,period,category,'English')">
              <input type="radio" name="options"> English</label>
              <label class="btn btn-primary" ng-click="showView(user,period,category,'Chinese')">
              <input type="radio" name="options"> Chinese
              </label>
          </div>
        </div>
        <div class="pull-right" style="width:33%">
          <progress percent="88" class="progress active"></progress>
          <small>
            <em>Total Avaliable Budget for Remaing Period</em>
          </small>
          <progress percent="70" class="progress progress-suceess active progress-striped"></progress>
          <small>
            <em>Elecssories Available Capacity</em>
          </small>
        </div>
          <div style="clear:both"></div>
          <div collapse="isCollapsed">
            <div class="well well-large">
              <button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button>
              <table class="table table-striped">
                <tr>
                  <td>brandID:{{moreInfo.brandID}}</td>
                  <td>brandName:{{moreInfo.brandName}}</td>
                  <td>brandID:{{moreInfo.brandID}}</td>
                  <td>brandName:{{moreInfo.brandName}}</td>
                </tr>  
                <tr>
                  <td>brandID:{{moreInfo.brandID}}</td>
                  <td>brandName:{{moreInfo.brandName}}</td>
                  <td>brandID:{{moreInfo.brandID}}</td>
                  <td>brandName:{{moreInfo.brandName}}</td>
                </tr>            
              </table>
            </div>
          </div>
          <table class="table table-hover">
            <tr>
              <th>{{fullLanguages.Brand}}</th>
              <th ng-repeat='brand in brands'>
              {{brand.brandName}}<span><a ng-click="getBrandMoreInfo(brand.brandID,brand.brandName)">more</a></span></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="hello" popover-title="{{fullLanguages.UAO}}" popover-trigger="mouseenter" popover-placement="bottom">{{fullLanguages.UAO}}<span style="color:red">*</span></p>
              </th>
              <th ng-repeat='brand in brands'><a href="#" editable-text="brand.advertisingOffLine[0]" onaftersave="updateProducerDecision(category,brand.brandName,'advertisingOffLine','0',$index)">{{ brand.advertisingOffLine[0] || 'empty' }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui." popover-title="{{fullLanguages.UTTS}}" popover-trigger="mouseenter" popover-placement="bottom">{{fullLanguages.UTTS}}<span style="color:red">*</span></p></th>
              <th ng-repeat='brand in brands'><a href="#" editable-text="brand.supportTraditionalTrade[0]" onaftersave="updateProducerDecision(category,brand.brandName,'supportTraditionalTrade','0',$index)">{{ brand.supportTraditionalTrade[0] || 'empty' }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="hello" popover-title="{{fullLanguages.RAO}}" popover-trigger="mouseenter" popover-placement="bottom">{{fullLanguages.RAO}}<span style="color:red">*</span></p></th>
              <th ng-repeat='brand in brands'><a href="#" editable-text="brand.advertisingOffLine[1]" onaftersave="updateProducerDecision(category,brand.brandName,'advertisingOffLine','1',$index)">{{ brand.advertisingOffLine[1] || 'empty' }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="hello" popover-title="{{fullLanguages.RTTS}}" popover-trigger="mouseenter" popover-placement="bottom">{{fullLanguages.RTTS}}<span style="color:red">*</span></p></th>
              <th ng-repeat='brand in brands'><a href="#" editable-text="brand.supportTraditionalTrade[1]" onaftersave="updateProducerDecision(category,brand.brandName,'supportTraditionalTrade','1',$index)">{{ brand.supportTraditionalTrade[1] || 'empty' }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="hello" popover-title="{{fullLanguages.OA}}" popover-trigger="mouseenter" popover-placement="bottom">{{fullLanguages.OA}}<span style="color:red">*</span></p></th>
              <th ng-repeat='brand in brands'><a href="#" editable-text="brand.advertisingOnLine" onaftersave="updateProducerDecision(category,brand.brandName,'advertisingOnLine','1',$index)">{{ brand.advertisingOnLine || 'empty' }}</a></th>
            </tr> 
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="hello" popover-title="{{fullLanguages.EVI}}" popover-trigger="mouseenter" popover-placement="bottom">{{fullLanguages.EVI}}<span style="color:red">*</span></p></th>
              <th ng-repeat='brand in brands'><a href="#" editable-text="brand.supportEmall" onaftersave="updateProducerDecision(category,brand.brandName,'supportEmall','1',$index)">{{ brand.supportEmall || 'empty' }}</a></th>
            </tr>    
          </table>
          <div>
            <a href="/#/producerDecisionStep2" class="btn btn-success">Back</a>
            <a href="/#/producerDecisionStep4" class="btn btn-primary">Next</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>