<div id="content" class="bs-header">
    <div class="container">
        <h1>{{Label.getContent('Step 3 of 4')}} {{Label.getContent('Advertising')}}</h1>
        <p>{{Label.getContent('Producer Advertising Info')}}</p>
    </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        <div class="pull-left" style="width:40%">
          <h4 class="pull-left">
            <span class="label label-info">{{Label.getContent(category)}}</span>
          </h4>
          <div style="clear:both"></div>
          <div class="btn-group pull-left">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                {{Label.getContent('Category')}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class=""><a ng-click="showView(user,period,'Elecssories',language)">{{Label.getContent('Elecssories')}}</a></li>
                <li class=""><a ng-click="showView(user,period,'HealthBeauty',language)">{{Label.getContent('HealthBeauty')}}</a></li>
              </ul>
          </div>
        </div>
        <div class="pull-right" style="width:40%">
          <progress percent="percentageExpend" class="progress active"></progress>
          <small>
            <em>{{Label.getContent('Available Budget')}}: <strong>{{surplusExpend.toFixed(2)}}</strong></em>
          </small>
          <progress percent="percentageProduction" class="progress progress-suceess active progress-striped" ng-show="false"></progress>
          <small ng-show="false">
            <em>{{Label.getContent(category)}} {{Label.getContent('Producer Available Capacity')}}:{{surplusProduction.toFixed(2)}}</em>
          </small>
        </div>
          <div style="clear:both"></div>

          <div collapse="isCollapsed" class="panel panel-info">
            <div class="panel-heading">{{brandHistory.brandName||showNewHistory.brandName}}<button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button></div>
              <table class="table table-condensed table-bordered">
                <thead>
                  <tr>
                    <td colspan="2" class="col-md-6">{{Label.getContent('Previous period')}} ({{currentPeriod-1}})</td>

                    <td colspan="2" class="col-md-6">{{Label.getContent('Current period')}} ({{currentPeriod}})</td>
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <td>{{Label.getContent('Urban Advertising Off-Line')}}</td>
                    <td>
                      <p class="text-right">{{brandDecisionHistory.advertisingOffLine[0].toFixed(2)||0}}</p>
                    </td>
                    <td>{{Label.getContent('Urban')}}{{Label.getContent('brand awareness')}}</td>
                    <td>
                      <p class="text-right">{{brandHistory.supplierView[0].awareness[0].toFixed(2) * 100||0}}%</p>
                    </td>
                  </tr>     
                  <tr>
                    <td>{{Label.getContent('Urban Traditional Trade Support')}}</td> 
                    <td>
                      <p class="text-right">{{brandDecisionHistory.supportTraditionalTrade[0].toFixed(2)||0}}</p>
                    </td>

                    <td>{{Label.getContent('Rural')}} {{Label.getContent('brand awareness')}}</td>                    
                    <td>
                      <p class="text-right">{{brandHistory.supplierView[0].awareness[1].toFixed(2) * 100||0}}%</p>
                    </td>                  
                  </tr>           
                  <tr>
                    <td>{{Label.getContent('Rural Advertising Off-Line')}}</td>                    
                    <td>
                      <p class="text-right">{{brandDecisionHistory.advertisingOffLine[1].toFixed(2)||0}}</p>
                    </td>

                    <td></td>
                    <td></td>
                  </tr>           
                  <tr>
                    <td>{{Label.getContent('Rural Traditional Trade Support')}}</td>                    
                    <td>
                      <p class="text-right">{{brandDecisionHistory.supportTraditionalTrade[1].toFixed(2)||0}}</p>
                    </td>

                    <td></td>
                    <td></td>                                                            
                  </tr>           
                  <tr>
                    <!--
                    <td ng-show="false">Web trawler brand sentiment index</td>                    
                    <td ng-show="false">{{brandHistory.supplierView[0].socialNetworksScore[2].sentiment||0}}</td>

                    <td ng-show="false">Web trawler brand strength index</td>                    
                    <td ng-show="false">{{brandHistory.supplierView[0].socialNetworksScore[2].strength||0}}</td>
                  -->
                    <td>{{Label.getContent('National advertising online')}}</td>                    
                    <td>
                      <p class="text-right">{{brandDecisionHistory.advertisingOnLine.toFixed(2)||0}}</p>
                    </td>

                    <td></td>                    
                    <td></td>                                        
                  </tr>           
                </tbody>
              </table>

          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  {{Label.getContent('Brand')}}
                </th>
                <th ng-repeat='brand in brands'>
                  <div style="clear:both"></div>
                  <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="getBrandMoreInfo(brand.brandID,brand.brandName)">{{Label.getContent('More')}}</button>
                  <p class="pull-right" style="margin-right:5px">
                  {{brand.brandName}}
                  </p>
                </th>
              </tr>              
            </thead>
            <tbody>              
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Urban Advertising Off-Line Info')}}" popover-title="{{Label.getContent('Urban Advertising Off-Line')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Urban Advertising Off-Line')}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='brand in brands'>
                  <a href="#" editable-text="brand.advertisingOffLine[0]" onbeforesave="checkData(category,brand.brandName,'advertisingOffLine','0',$index,$data)" onaftersave="updateProducerDecision(category,brand.brandName,'advertisingOffLine','0',$index)">
                    <p class="text-right">{{ brand.advertisingOffLine[0] || 0 }}
                    </p>
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Urban Traditional Trade Support Info')}}" popover-title="{{Label.getContent('Urban Traditional Trade Support')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Urban Traditional Trade Support')}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='brand in brands'>
                  <a href="#" editable-text="brand.supportTraditionalTrade[0]" onbeforesave="checkData(category,brand.brandName,'supportTraditionalTrade','0',$index,$data)" onaftersave="updateProducerDecision(category,brand.brandName,'supportTraditionalTrade','0',$index)">
                    <p class="text-right">{{ brand.supportTraditionalTrade[0] || 0 }}</p>
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Rural Advertising Off-Line Info')}}" popover-title="{{Label.getContent('Rural Advertising Off-Line')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Rural Advertising Off-Line')}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='brand in brands'>
                  <a href="#" editable-text="brand.advertisingOffLine[1]" onbeforesave="checkData(category,brand.brandName,'advertisingOffLine','1',$index,$data)" onaftersave="updateProducerDecision(category,brand.brandName,'advertisingOffLine','1',$index)">
                    <p class="text-right">{{ brand.advertisingOffLine[1] || 0 }}
                    </p>
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Rural Traditional Trade Support Info')}}" popover-title="{{Label.getContent('Rural Traditional Trade Support')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Rural Traditional Trade Support')}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='brand in brands'>
                  <a href="#" editable-text="brand.supportTraditionalTrade[1]" onbeforesave="checkData(category,brand.brandName,'supportTraditionalTrade','1',$index,$data)" onaftersave="updateProducerDecision(category,brand.brandName,'supportTraditionalTrade','1',$index)">
                    <p class="text-right">{{ brand.supportTraditionalTrade[1] || 0 }}</p>
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('On-line Advertising Info')}}" popover-title="{{Label.getContent('On-line Advertising')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('On-line Advertising')}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='brand in brands'>
                  <a href="#" editable-text="brand.advertisingOnLine" onbeforesave="checkData(category,brand.brandName,'advertisingOnLine','1',$index,$data)" onaftersave="updateProducerDecision(category,brand.brandName,'advertisingOnLine','1',$index)">
                    <p class="text-right">{{ brand.advertisingOnLine || 0 }}</p>
                  </a>
                </th>
              </tr> 
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('E-Mall visibility investment Info')}}" popover-title="{{Label.getContent('E-Mall visibility investment')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('E-Mall visibility investment')}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='brand in brands'>
                  <a href="#" editable-text="brand.supportEmall" onbeforesave="checkData(category,brand.brandName,'supportEmall','1',$index,$data)" onaftersave="updateProducerDecision(category,brand.brandName,'supportEmall','1',$index)">
                    <p class="text-right">{{ brand.supportEmall || 0 }}</p>
                  </a>
                </th>
              </tr>    
            </tbody>
          </table>
          <div>
            <a href="/#/producerDecisionStep2" class="btn btn-default">{{Label.getContent('Back')}}</a>
            <a href="/#/producerDecisionStep4" class="btn btn-primary">{{Label.getContent('Next')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>