<div id="content" class="bs-header">
    <div class="container">
        <h1>Advertising</h1>
        <p>Step 3 of 4, After setting production volumes and future wholesale prices you need to take some marketing decisions both market related and national.</p>
    </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        <h4>Step 3 of 4</h4>
        <div class="pull-left" style="width:33%">
          <h3 style="margin-top:0px">Advertsing</h3>
          <div class="btn-group pull-left">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                Category <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class=""><a ng-click="showView(user,period,'Elecssories',language)">Elecssories</a></li>
                <li class=""><a ng-click="showView(user,period,'HealthBeauty',language)">HealthBeauty</a></li>
              </ul>
          </div>
          <div class="btn-group pull-left" data-toggle="buttons" style="margin-left:10px">
              <label class="btn btn-primary" ng-click="showView(user,period,category,'English')">
              <input type="radio" name="options"> English</label>
              <label class="btn btn-primary" ng-click="showView(user,period,category,'Chinese')">
              <input type="radio" name="options"> Chinese
              </label>
          </div>
        </div>
        <div class="pull-right" style="width:33%">
          <progress percent="88" class="progress active"></progress>
          <small>
            <em>Total Avaliable Budget for Remaing Period</em>
          </small>
          <progress percent="70" class="progress progress-suceess active progress-striped"></progress>
          <small>
            <em>Elecssories Available Capacity</em>
          </small>
        </div>
          <div style="clear:both"></div>
          <div collapse="isCollapsed">
            <div class="well well-large">
              <button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button>
              <table class="table table-striped">
                <tr style="backgroud-color:gray">
                  <th></th>
                  <th style="text-align:center">Previous period({{currentPeriod}})</th>
                  <th></th>
                </tr>
                <tr>
                  <!--<td>Unit Production cost:</td>-->
                  <td>Tier 1 Brand Awareness:{{brandHistory.supplierView[0].awareness[0]}}</td>
                  <td>Tier 1 Brand visibility share,Traditional trade:{{brandHistory.channelView[0].visibilityShare[0]}}</td>
                  <td>Web trawler brand strength index:{{brandHistory.supplierView[0].socialNetworksScore[1].strength}}</td>
                </tr>
                <tr>
                  <!--<td>Unit Production cost:</td>-->
                  <td>Tier 2 Brand Awareness:{{brandHistory.supplierView[0].awareness[1]}}</td>
                  <td>Tier 2 Brand visibility share,Traditional trade:{{brandHistory.channelView[0].visibilityShare[1]}}</td>
                  <td>Web trawler brand sentiment index:{{brandHistory.supplierView[0].socialNetworksScore[1].sentiment}}</td>
                </tr>
                <tr style="margin-top:20px;backgroud-color:gray">
                  <th></th>
                  <th style="text-align:center">Previous period({{(currentPeriod-1)}})</th>
                  <th></th>
                </tr>
                <tr>
                  <td>Tier 1 Advertising Off-Line:{{brandDecisionHistory.advertisingOffLine[0]}}</td>
                  <td>Tier 1 Traditional Trade-support:{{brandDecisionHistory.supportTraditionalTrade[0]}}</td>
                  <td>National advertising online:{{brandDecisionHistory.advertisingOnLine}}</td>
                </tr>
                <tr>
                  <td>Tier 2 Advertising Off-Line:{{brandDecisionHistory.advertisingOffLine[1]}}</td>
                  <td>Tier 2 Traditional Trade-support:{{brandDecisionHistory.supportTraditionalTrade[1]}}</td>
                  <td>E-Mall visibility investment:{{brandDecisionHistory.supportEmall}}</td>
                </tr>      
              </table>
            </div>
          </div>
          <table class="table table-hover">
            <tr>
              <th>{{labelLanguages.Brand}}</th>
              <th ng-repeat='brand in brands'>
                <div style="clear:both"></div>
                <p class="pull-left">
                {{brand.brandName}}
                </p>
                <button type="button" class="btn btn-primary btn-xs pull-left" style="margin-left:5px" ng-click="getBrandMoreInfo(brand.brandID,brand.brandName)">More</button>
              </th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.UAO}}" popover-title="{{labelLanguages.UAO}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.UAO}}<span style="color:red">*</span></p>
              </th>
              <th ng-repeat='brand in brands'><a href="#" editable-text="brand.advertisingOffLine[0]" onaftersave="updateProducerDecision(category,brand.brandName,'advertisingOffLine','0',$index)">{{ brand.advertisingOffLine[0] || 0 }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.UTTS}}" popover-title="{{labelLanguages.UTTS}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.UTTS}}<span style="color:red">*</span></p></th>
              <th ng-repeat='brand in brands'><a href="#" editable-text="brand.supportTraditionalTrade[0]" onaftersave="updateProducerDecision(category,brand.brandName,'supportTraditionalTrade','0',$index)">{{ brand.supportTraditionalTrade[0] || 0 }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.RAO}}" popover-title="{{labelLanguages.RAO}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.RAO}}<span style="color:red">*</span></p></th>
              <th ng-repeat='brand in brands'><a href="#" editable-text="brand.advertisingOffLine[1]" onaftersave="updateProducerDecision(category,brand.brandName,'advertisingOffLine','1',$index)">{{ brand.advertisingOffLine[1] || 0 }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.RTTS}}" popover-title="{{labelLanguages.RTTS}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.RTTS}}<span style="color:red">*</span></p></th>
              <th ng-repeat='brand in brands'><a href="#" editable-text="brand.supportTraditionalTrade[1]" onaftersave="updateProducerDecision(category,brand.brandName,'supportTraditionalTrade','1',$index)">{{ brand.supportTraditionalTrade[1] || 0 }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.OA}}" popover-title="{{labelLanguages.OA}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.OA}}<span style="color:red">*</span></p></th>
              <th ng-repeat='brand in brands'><a href="#" editable-text="brand.advertisingOnLine" onaftersave="updateProducerDecision(category,brand.brandName,'advertisingOnLine','1',$index)">{{ brand.advertisingOnLine || 0 }}</a></th>
            </tr> 
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.EVI}}" popover-title="{{labelLanguages.EVI}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.EVI}}<span style="color:red">*</span></p></th>
              <th ng-repeat='brand in brands'><a href="#" editable-text="brand.supportEmall" onaftersave="updateProducerDecision(category,brand.brandName,'supportEmall','1',$index)">{{ brand.supportEmall || 0 }}</a></th>
            </tr>    
          </table>
          <div>
            <a href="/#/producerDecisionStep2" class="btn btn-success">Back</a>
            <a href="/#/producerDecisionStep4" class="btn btn-primary">Next</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>