<div id="content" class="bs-header">
    <div class="container">
        <h1>Category Decision</h1>
        <p>Step 4 of 4, At last you have to make decisions influencing whole category. These decisions are long-term investments, that is why they are not taken from your limited operational budget, you borrow these investments from capital market at a cost. Keep in mind that your long-term investments increase your fixed assets and consequently costs of running business. </p>
    </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        <h4>Step 4 of 4</h4>
        <div class="pull-left" style="width:33%">
          <h3 style="margin-top:0px">Category Decision</h3>
          <div class="btn-group pull-left" data-toggle="buttons">
              <label class="btn btn-primary" ng-click="showView(user,period,'English')">
              <input type="radio" name="options"> English</label>
              <label class="btn btn-primary" ng-click="showView(user,period,'Chinese')">
              <input type="radio" name="options"> Chinese
              </label>
          </div>
        </div>
        <div class="pull-right" style="width:33%">
          <progress percent="88" class="progress active"></progress>
          <small>
            <em>Total Avaliable Budget for Remaing Period</em>
          </small>
          <progress percent="70" class="progress progress-suceess active progress-striped"></progress>
          <small>
            <em>Elecssories Available Capacity</em>
          </small>
        </div>
          <div style="clear:both"></div>
          <div collapse="isCollapsed">
            <div class="well well-large">
              <button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button>
              <table class="table table-striped">
                <tr style="backgroud-color:gray">
                  <th style="text-align:right">Previous</th>
                  <th style="text-align:left">period:({{currentPeriod}})</th>
                </tr>
                <tr>
                  <td>Production Capacity:{{categoryID==1?companyHistory.productionCapacity[0]:companyHistory.productionCapacity[1]}}</td>
                  <td>Acquired Technology Level:{{categoryID==1?companyHistory.acquiredTechnologyLevel[0]:companyHistory.acquiredTechnologyLevel[1]}}</td>
                </tr>
                <tr>
                  <td>Acquired Production Flexibility:{{categoryID==1?companyHistory.acquiredProductionFlexibility[0]:companyHistory.acquiredProductionFlexibility[1]}}</td>
                  <td>Acquired Design Level:{{categoryID==1?companyHistory.acquiredDesignLevel[0]:companyHistory.acquiredDesignLevel[1]}}</td>
                </tr>

                <tr style="margin-top:20px;backgroud-color:gray">
                  <th style="text-align:right">Previous</th>
                  <th style="text-align:left">period:({{(currentPeriod-1)}})</th>
                </tr>
                <tr>
                  <td>Investment in capacity change:{{companyDecisionHistory[0].capacityChange}}</td>
                  <td>Investment to improve avaliable Technology:{{companyDecisionHistory[0].investInTechnology}}</td>
                </tr>
                <tr>
                  <td>Investment to improve flexibility:{{companyDecisionHistory[0].investInProductionFlexibility}}</td>
                  <td>Investemnt to improve design know-how:{{companyDecisionHistory[0].investInDesign}}</td>
                </tr>  
              </table>
            </div>
          </div>
          <table class="table table-hover">
            <tr>
              <th>{{labelLanguages.Category}}</th>
              <th>Elecssories<span><a ng-click="getCategoryMoreInfo(1)">more</a></span></th>
              <th>HealthBeauty<span><a ng-click="getCategoryMoreInfo(2)">more</a></span></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.IICC}}" popover-title="{{labelLanguages.IICC}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.IICC}}<span style="color:red">*</span></p>
              </th>
              <th ng-repeat='category in categorys'><a href="#" editable-text="category.capacityChange" onaftersave="updateProducerDecision(category.categoryID,'capacityChange',$index)">{{ category.capacityChange || 0 }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.ITIAT}}" popover-title="{{labelLanguages.ITIAT}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.ITIAT}}<span style="color:red">*</span></p></th>
              <th ng-repeat='category in categorys'><a href="#" editable-text="category.investInTechnology" onaftersave="updateProducerDecision(category.categoryID,'investInTechnology',$index)">{{ category.investInTechnology || 0 }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.ITIF}}" popover-title="{{labelLanguages.ITIF}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.ITIF}}<span style="color:red">*</span></p></th>
              <th ng-repeat='category in categorys'><a href="#" editable-text="category.investInProductionFlexibility" onaftersave="updateProducerDecision(category.categoryID,'investInProductionFlexibility',$index)">{{ category.investInProductionFlexibility || 0 }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.ITIDK}}" popover-title="{{labelLanguages.ITIDK}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.ITIDK}}<span style="color:red">*</span></p></th>
              <th>
                <a href="#" editable-text="categorys[0].investInDesign" onaftersave="updateProducerDecision(1,'investInDesign',0)">{{ categorys[0].investInDesign || 0 }}</a>
              </th>
              <th></th>
            </tr>
          </table>
          <div>
            <a href="/#/producerDecisionStep3" class="btn btn-success">Back</a>
            <!--<a href="/#/producerDecisionStep4" class="btn btn-primary">Next</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>