<div id="content" class="bs-header">
    <div class="container">
        <h2 class="margin-0">{{Label.getContent('Step 4 of 4')}}</h2>
         <h1 class="margin-row-10">{{Label.getContent('Category Decision')}}</h1>
        <p>{{Label.getContent('Category Decision Info')}}</p>
    </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9">
      <div class="bs-docs-section">
        <div collapse="isCollapsed" class="panel panel-info">
          <div class="panel-heading">{{Label.getContent(category)}}
            <button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button>
          </div>
          <table class="table table-condensed table-bordered">
              <thead>
                <tr>
                  <td colspan="2" class="col-md-6">{{Label.getContent('Previous period Investment')}} ({{currentPeriod-1}})</td>

                  <td colspan="2" class="col-md-6">{{Label.getContent('Current period Awareness achieve')}} ({{currentPeriod}})</td>
                </tr>                  
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p class="padding-20">{{Label.getContent('in capacity change')}}</p>
                  </td>
                  <td>
                    <p class="text-right">{{companyDecisionHistory.capacityChange.toFixed(2)}}</p>
                  </td>

                  <td>
                    <p class="padding-20">{{Label.getContent('Production capacity')}}</p>
                  </td>
                  <td ng-show='isElecssories'>
                    <p class="text-right">{{companyHistory.productionCapacity[0].toFixed(2)}}</p>
                  </td>
                  <td ng-show='isHealthBeauty'>
                    <p class="text-right">{{companyHistory.productionCapacity[1].toFixed(2)}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="padding-20">{{Label.getContent('improve Available Technology')}}</p>
                  </td>
                  <td>
                    <p class="text-right">{{companyDecisionHistory.investInTechnology.toFixed(2)}}</p>
                  </td>

                  <td>
                    <p class="padding-20">{{Label.getContent('Acquired Technology Level')}}</p>
                  </td>
                  <td ng-show='isElecssories'>
                    <p class="text-right">{{companyHistory.acquiredTechnologyLevel[0].toFixed(2)}}</p>
                  </td>
                  <td ng-show='isHealthBeauty'>
                    <p class="text-right">{{companyHistory.acquiredTechnologyLevel[1].toFixed(2)}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="padding-20">{{Label.getContent('improve Flexibility')}}</p>
                  </td>
                  <td>
                    <p class="text-right">{{companyDecisionHistory.investInProductionFlexibility.toFixed(2)}}</p>
                  </td>

                  <td>
                    <p class="padding-20">{{Label.getContent('Acquired production flexibility')}}</p>
                  </td>
                  <td ng-show='isElecssories'>
                    <p class="text-right">{{(companyHistory.acquiredProductionFlexibility[0]*100).toFixed(2)}}%</p>
                  </td>
                  <td ng-show='isHealthBeauty'>
                    <p class="text-right">{{(companyHistory.acquiredProductionFlexibility[1]*100).toFixed(2)}}%</p>
                  </td>
                </tr>
                <tr ng-show="isElecssories">
                  <td ng-show='isElecssories'>
                    <p class="padding-20">{{Label.getContent('improve Design Know-How')}}</p>
                  </td>
                  <td ng-show='isElecssories'>
                    <p class="text-right">{{companyDecisionHistory.investInDesign.toFixed(2)}}</p>
                  </td>

                  <td ng-show='isElecssories'>
                    <p class="padding-20">{{Label.getContent('Acquired Design Level')}}</td>
                  <td ng-show='isElecssories'>
                    <p class="text-right">{{companyHistory.acquiredDesignLevel[0].toFixed(2)}}</p>
                  </td>
                  <!--
                  <td ng-show='isHealthBeauty'>
                    <p class="text-right">{{companyHistory.acquiredDesignLevel[1].toFixed(2)}}</p>
                  </td>
                -->
                </tr>
              </tbody>
          </table>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
                <th>{{Label.getContent('Category')}}</th>
                <th>
                  <div style="clear:both"></div>
                  <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="getCategoryMoreInfo(1)">{{Label.getContent('More')}}</button>
                  <p class="pull-right" style="margin-right:5px">{{Label.getContent('Elecssories')}}</p>
                  <div style="clear:both"></div>
                </th>
                <th>
                  <div style="clear:both"></div>
                  <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="getCategoryMoreInfo(2)">{{Label.getContent('More')}}</button>
                  <p class="pull-right" style="margin-right:5px">{{Label.getContent('HealthBeauty')}}</p>
                  <div style="clear:both"></div>
                </th>
            </tr>              
          </thead>
          <tbody>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('in capacity change Info')}}" popover-title="{{Label.getContent('in capacity change')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('in capacity change')}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='category in categorys'>
                  <a href="#" editable-text="category.capacityChange" onbeforesave="checkData($data)" onaftersave="updateProducerDecision(category.categoryID,'capacityChange',$index)">
                    <p class="text-right">{{ category.capacityChange || 0 }}</p>
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('improve Available Technology Info')}}" popover-title="{{Label.getContent('improve Available Technology')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('improve Available Technology')}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='category in categorys'>
                  <a href="#" editable-text="category.investInTechnology" onbeforesave="checkData($data)" onaftersave="updateProducerDecision(category.categoryID,'investInTechnology',$index)">
                    <p class="text-right">{{ category.investInTechnology || 0 }}
                    </p>
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('improve Flexibility Info')}}" popover-title="{{Label.getContent('improve Flexibility')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('improve Flexibility')}}<span style="color:red">*</span></p>
                  </p>
                </th>
                <th ng-repeat='category in categorys'>
                  <a href="#" editable-text="category.investInProductionFlexibility" onbeforesave="checkData($data)" onaftersave="updateProducerDecision(category.categoryID,'investInProductionFlexibility',$index)">
                    <p class="text-right">{{ category.investInProductionFlexibility || 0 }}
                    </p>
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('improve Design Know-How Info')}}" popover-title="{{Label.getContent('improve Design Know-How')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('improve Design Know-How')}}<span style="color:red">*</span></p>
                </th>
                <th>
                  <a href="#" editable-text="categorys[0].investInDesign" onbeforesave="checkData($data)" onaftersave="updateProducerDecision(1,'investInDesign',0)">
                    <p class="text-right">{{ categorys[0].investInDesign || 0 }}
                    </p>
                  </a>
                </th>
                <th></th>
              </tr>              
          </tbody>
        </table>
        <div>
          <a href="/#/producerDecisionStep3" class="btn btn-default">{{Label.getContent('Back')}}</a>  
        </div>
      </div>
    </div>
  </div>
</div>