<div id="content" class="bs-header">
    <div class="container">
        <h1>Production and pricing</h1>
        <p>Step 2 of 4, after you have finalized you product portfolio for coming period, you should tell the system volumes to be produced this period and wholesale prices for next period.</p>
    </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        <h4>Step 2 of 4</h4>
        <div class="pull-left" style="width:33%">
          <h3 style="margin-top:0px">Production and Pricing</h3>
          <div class="btn-group pull-left">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                Category <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class=""><a ng-click="showView(user,period,'Elecssories',language)">Elecssories</a></li>
                <li class=""><a ng-click="showView(user,period,'HealthBeauty',language)">HealthBeauty</a></li>       
              </ul>
          </div>
          <div class="btn-group pull-left" data-toggle="buttons" style="margin-left:10px">
              <label class="btn btn-default" ng-click="showView(user,period,category,'English')">
              <input type="radio" name="options"> English</label>
              <label class="btn btn-default" ng-click="showView(user,period,category,'Chinese')">
              <input type="radio" name="options"> Chinese
              </label>
          </div>
        </div>
        <div class="pull-right" style="width:33%">
          <progress percent="percentageExpend" class="progress active"></progress>
          <small>
            <em>Total Avaliable Budget for Remaing Period:{{surplusExpend}}</em>
          </small>
          <progress percent="percentageProduction" class="progress progress-suceess active progress-striped"></progress>
          <small>
            <em>{{category}} Available Capacity:{{surplusProduction}}</em>
          </small>
        </div>
        <div style="clear:both"></div>
        
        <div collapse="isCollapsed" class="panel panel-info">
          <div class="panel-heading">
            {{variantHistory.parentBrandName||showNewHistory.brandName}}{{variantHistory.varName||showNewHistory.varName}}
            <button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button></div>

              <table class="table table-condensed table-bordered">
                <thead>
                  <tr>
                    <td colspan="2" class="col-md-6">Current period ({{currentPeriod}})</td>
                    <td colspan="2" class="col-md-6">Previous period ({{currentPeriod-1}})</td>               
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <th>Unit cost</th>
                    <th>???</th>
                    <td>Sales Volume</td>
                    <td>{{variantHistory.supplierView[0].supplierChannelView[4].salesVolume[2]||'/'}}</td>
                  </tr>
                  <tr>
                    <td>Acquired technology level</td>                  
                    <td ng-show="isElecssories">{{companyHistory.acquiredTechnologyLevel[0]||'/'}}</td>
                    <td ng-show="isHealthBeauty">{{companyHistory.acquiredTechnologyLevel[1]||'/'}}</td>
                    <td>Unit production cost</td>
                    <td>{{variantHistory.supplierView[0].currentUnitAverageCost||'/'}}</td>
                  </tr>
                  <tr>
                    <td>Acquired design level</td>
                    <td ng-show="isElecssories">{{companyHistory.acquiredDesignLevel[0]||'/'}}</td>
                    <td ng-show="isHealthBeauty">/</td>
                    <td>Production Volume</td>
                    <td>{{variantHistory.supplierView[0].productionVolume||'/'}}</td>
                  </tr>
                  <tr>
                    <td>Current price BM</td>
                    <td>{{variantHistory.supplierView[0].currentPriceBM||'/'}}</td>
                    <td>initial inventory</td>
                    <td>{{variantHistory.supplierView[0].initialInventory[4].volume||'/'}}</td>
                  </tr>
                  <tr>
                    <td>Current price emall</td>
                    <td>{{variantHistory.supplierView[0].currentPriceEmall||'/'}}</td>
                    <td>Design Index</td>
                    <td>{{variantHistory.supplierView[0].composition[0]||'/'}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Technology Level:</td>
                    <td>{{variantHistory.supplierView[0].composition[1]||'/'}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Raw Materials Quality</td>
                    <td>{{variantHistory.supplierView[0].composition[2]||'/'}}</td>
                  </tr>                 
                </tbody>
              </table>                     
        </div>


          <table class="table table-hover">
            <thead>
              <tr>
                <th>{{labelLanguages.Brand}}</th>
                <th ng-repeat='product in products'>
                {{product.parentBrandName}}</th>
              </tr>
              <tr>
                <th>{{labelLanguages.Variant}}</th>
                <th ng-repeat='product in products'>
                  <div style="clear:both"></div>
                  <p class="pull-left">
                    {{product.varName}}
                  </p>
                  <button type="button" class="btn btn-primary btn-xs pull-left" style="margin-left:5px" ng-click="getMoreInfo(product.parentBrandName,product.varName)">More</button>
                  <div style="clear:both"></div>
                </th>
              </tr>              
            </thead>
            <tbody>
              
              <tr>
                <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.PF}}" popover-title="{{labelLanguages.PF}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.PF}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='product in products'>
                  {{product.packFormat}}
                </th>
              </tr>
              <tr>
                <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.TL}}" popover-title="{{labelLanguages.TL}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.TL}}<span style="color:red">*</span></p></th>
                <th ng-repeat='product in products'>
                  {{product.composition[1]}}
                </th>
              </tr>
              <tr>
                <th>
                  <p style="display:{{HeaShow}}" class="text-primary" Popover-animation="true" popover="{{infoLanguages.AA}}" popover-title="{{labelLanguages.AA}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.AA}}<span style="color:red">*</span></p>
                  <p style="display:{{EleShow}}" class="text-primary" Popover-animation="true" popover="{{infoLanguages.DL}}" popover-title="{{labelLanguages.DL}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.DL}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='product in products'>
                  {{product.composition[0]}}
                </th>
              </tr>
              <tr>
                <th>
                  <p style="display:{{HeaShow}}" class="text-primary" Popover-animation="true" popover="{{infoLanguages.SL}}" popover-title="{{labelLanguages.SL}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.SL}}<span style="color:red">*</span></p>
                  <p style="display:{{EleShow}}" class="text-primary" Popover-animation="true" popover="{{infoLanguages.QORM}}" popover-title="{{labelLanguages.QORM}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.QORM}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='product in products'>
                  {{product.composition[2]}}
                </th>
              </tr>
              <tr>
                <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.PV}}" popover-title="{{labelLanguages.PV}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.PV}}<span style="color:red">*</span></p></th>
                <th ng-repeat='product in products'><a href="#" editable-text="product.production" onbeforesave="checkProduction(category,product.parentBrandName,product.varName,'production','0',$index,$data)" onaftersave="updateProducerDecision(category,product.parentBrandName,product.varName,'production','0',$index)">{{ product.production || 0 }}</a></th>
              </tr>
              <tr>
                <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.NPB}}" popover-title="{{labelLanguages.NPB}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.NPB}}<span style="color:red">*</span></p></th>
                <th ng-repeat='product in products'><a href="#" editable-text="product.nextPriceBM" onbeforesave="checkNextPriceBM(category,product.parentBrandName,product.varName,'nextPriceBM','0',$index,$data)" onaftersave="updateProducerDecision(category,product.parentBrandName,product.varName,'nextPriceBM','0',$index)">{{ product.nextPriceBM || 0 }}</a></th>
              </tr>
              <tr>
                <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.NPE}}" popover-title="{{labelLanguages.NPE}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.NPE}}<span style="color:red">*</span></p></th>
                <th ng-repeat='product in products'><a href="#" editable-text="product.nextPriceEmall" onbeforesave="checknextPriceEmall(category,product.parentBrandName,product.varName,'nextPriceEmall','0',$index,$data)" onaftersave="updateProducerDecision(category,product.parentBrandName,product.varName,'nextPriceEmall','0',$index)">{{ product.nextPriceEmall || 0 }}</a></th>
              </tr>   
            </tbody>
          </table>
          <div>
            <a href="/#/producerDecisionStep1" class="btn btn-default">Back</a>
            <a href="/#/producerDecisionStep3" class="btn btn-primary">Next</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>