<div id="content" class="bs-header">
    <div class="container">
        <h1>{{Label.getContent('Production and pricing')}}</h1>
        <p>{{Label.getContent('Production and pricing Info')}}.</p>
    </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        <h4>{{Label.getContent('Step 2 of 4')}}</h4>
        <div class="pull-left" style="width:33%">
          <h3 style="margin-top:0px">{{Label.getContent('Production and pricing')}}</h3>
          <div class="btn-group pull-left">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                {{Label.getContent('Category')}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class=""><a ng-click="showView(user,period,'Elecssories',language)">{{Label.getContent('Elecssories')}}</a></li>
                <li class=""><a ng-click="showView(user,period,'HealthBeauty',language)">{{Label.getContent('HealthBeauty')}}</a></li>       
              </ul>
          </div>
        </div>
        <div class="pull-right" style="width:33%">
          <progress percent="percentageExpend" class="progress active"></progress>
          <small>
            <em>{{Label.getContent('Avaliable Budget')}}:{{surplusExpend}}</em>
          </small>
          <progress percent="percentageProduction" class="progress progress-suceess active progress-striped"></progress>
          <small>
            <em>{{category}} {{Label.getContent('Producer Avaliable Capacity')}}:{{surplusProduction}}</em>
          </small>
        </div>
        <div style="clear:both"></div>
        
        <div collapse="isCollapsed" class="panel panel-info">
          <div class="panel-heading">
            {{variantHistory.parentBrandName||showNewHistory.brandName}} {{variantHistory.varName||showNewHistory.varName}}
            <button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button></div>

            <!--
              <table class="table table-condensed table-bordered">
                <thead>
                  <tr>
                    <td colspan="2" class="col-md-6">Current period ({{currentPeriod}})</td>
                    <td colspan="2" class="col-md-6">Previous period ({{currentPeriod-1}})</td>               
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <th>Unit cost</th>
                    <th>???</th>
                    <td>Sales Volume</td>
                    <td>{{variantHistory.supplierView[0].supplierChannelView[4].salesVolume[2]||'/'}}</td>
                  </tr>
                  <tr>
                    <td>Acquired technology level</td>                  
                    <td ng-show="isElecssories">{{companyHistory.acquiredTechnologyLevel[0]||'/'}}</td>
                    <td ng-show="isHealthBeauty">{{companyHistory.acquiredTechnologyLevel[1]||'/'}}</td>
                    <td>Unit production cost</td>
                    <td>{{variantHistory.supplierView[0].currentUnitAverageCost||'/'}}</td>
                  </tr>
                  <tr>
                    <td>Acquired design level</td>
                    <td ng-show="isElecssories">{{companyHistory.acquiredDesignLevel[0]||'/'}}</td>
                    <td ng-show="isHealthBeauty">/</td>
                    <td>Production Volume</td>
                    <td>{{variantHistory.supplierView[0].productionVolume||'/'}}</td>
                  </tr>
                  <tr>
                    <td>Current price BM</td>
                    <td>{{variantHistory.supplierView[0].currentPriceBM||'/'}}</td>
                    <td>initial inventory</td>
                    <td>{{variantHistory.supplierView[0].initialInventory[4].volume||'/'}}</td>
                  </tr>
                  <tr>
                    <td>Current price emall</td>
                    <td>{{variantHistory.supplierView[0].currentPriceEmall||'/'}}</td>
                    <td>Design Index</td>
                    <td>{{variantHistory.supplierView[0].composition[0]||'/'}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Technology Level:</td>
                    <td>{{variantHistory.supplierView[0].composition[1]||'/'}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>Raw Materials Quality</td>
                    <td>{{variantHistory.supplierView[0].composition[2]||'/'}}</td>
                  </tr>                 
                </tbody>
              </table>
              --> 
              <table class="table table-condensed table-bordered">
                <thead>
                  <tr>
                    <td colspan="2" class="col-md-6">{{Label.getContent('Current period')}} ({{currentPeriod}})</td>
                    <td colspan="2" class="col-md-6">{{Label.getContent('Previous period')}} ({{currentPeriod-1}})</td>               
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <th>{{Label.getContent('Unit Cost')}}</th>
                    <th>???</th>
                    <td>{{Label.getContent('Sales Volume')}}</td>
                    <td>{{variantHistory.supplierView[0].supplierChannelView[4].salesVolume[2]||'/'}}</td>
                  </tr>
                  <tr>
                    <td>{{Label.getContent('Acquired Technology Level')}}</td>  
                    <td ng-show="isElecssories">{{companyHistory.acquiredTechnologyLevel[0]||'/'}}</td>
                    <td ng-show="isHealthBeauty">{{companyHistory.acquiredTechnologyLevel[1]||'/'}}</td>
                    <td>{{Label.getContent('Unit Production Cost')}}</td>
                    <td>{{variantHistory.supplierView[0].currentUnitAverageCost||'/'}}</td>
                  </tr>
                  <tr>
                    <td>{{Label.getContent('Acquired Design Level')}}</td>
                    <td ng-show="isElecssories">{{companyHistory.acquiredDesignLevel[0]||'/'}}</td>
                    <td ng-show="isHealthBeauty">/</td>
                    <td>{{Label.getContent('Production Volume')}}</td>
                    <td>{{variantHistory.supplierView[0].productionVolume||'/'}}</td>
                  </tr>
                  <tr>
                    <td>{{Label.getContent('Current Price BM')}}</td>
                    <td>{{variantHistory.supplierView[0].currentPriceBM||'/'}}</td>
                    <td>{{Label.getContent('Initial Inventory')}}</td>
                    <td>{{variantHistory.supplierView[0].initialInventory[4].volume||'/'}}</td>
                  </tr>
                  <tr>
                    <td>{{Label.getContent('Current Price Emall')}}</td>
                    <td>{{variantHistory.supplierView[0].currentPriceEmall||'/'}}</td>
                    <td>{{Label.getContent('Design Level')}}</td>
                    <td>{{variantHistory.supplierView[0].composition[0]||'/'}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>{{Label.getContent('Technology Level')}}:</td>
                    <td>{{variantHistory.supplierView[0].composition[1]||'/'}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>{{Label.getContent('Quality-of-Raw-Materials')}}</td>
                    <td>{{variantHistory.supplierView[0].composition[2]||'/'}}</td>
                  </tr>                 
                </tbody>
              </table>                    
        </div>


          <table class="table table-hover">
            <thead>
              <tr>
                <th>{{Label.getContent('Brand')}}</th>
                <th ng-repeat='product in products'>
                {{product.parentBrandName}}</th>
              </tr>
              <tr>
                <th>{{Label.getContent('Variant')}}</th>
                <th ng-repeat='product in products'>
                  <div style="clear:both"></div>
                  <p class="pull-left">
                    {{product.varName}}
                  </p>
                  <button type="button" class="btn btn-primary btn-xs pull-left" style="margin-left:5px" ng-click="getMoreInfo(product.parentBrandName,product.varName)">{{Label.getContent('More')}}</button>
                  <div style="clear:both"></div>
                </th>
              </tr>              
            </thead>
            <tbody>
              
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Pack Format Info')}}" popover-title="{{Label.getContent('Pack Format')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Pack Format')}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='product in products'>
                  {{product.packFormat}}
                </th>
              </tr>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Technology Level Info')}}" popover-title="{{Label.getContent('Technology Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Technology Level')}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='product in products'>
                  {{product.composition[1]}}
                </th>
              </tr>
              <tr>
                <th>
                  <p style="display:{{HeaShow}}" class="text-primary" Popover-animation="true" popover="{{Label.getContent('Active agent Info')}}" popover-title="{{Label.getContent('Active agent')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Active agent')}}<span style="color:red">*</span></p>
                  <p style="display:{{EleShow}}" class="text-primary" Popover-animation="true" popover="{{Label.getContent('Design Level Info')}}" popover-title="{{Label.getContent('Design Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Design Level')}}<span style="color:red">*</span></p>
              </th>
                <th ng-repeat='product in products'>
                  {{product.composition[0]}}
                </th>
              </tr>
              <tr>
                <th>
                  <p style="display:{{HeaShow}}" class="text-primary" Popover-animation="true" popover="{{Label.getContent('Smoothener Level Info')}}" popover-title="{{Label.getContent('Smoothener Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Smoothener Level')}}<span style="color:red">*</span></p>
                  <p style="display:{{EleShow}}" class="text-primary" Popover-animation="true" popover="{{Label.getContent('Quality-of-Raw-Materials Info')}}" popover-title="{{Label.getContent('Quality-of-Raw-Materials')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Quality-of-Raw-Materials')}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='product in products'>
                  {{product.composition[2]}}
                </th>
              </tr>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Production Volume Info')}}" popover-title="{{Label.getContent('Production Volume')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Production Volume')}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='product in products'><a href="#" editable-text="product.production" onbeforesave="checkProduction(category,product.parentBrandName,product.varName,'production','0',$index,$data)" onaftersave="updateProducerDecision(category,product.parentBrandName,product.varName,'production','0',$index)">{{ product.production || 0 }}</a></th>
              </tr>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Next Price BM Info')}}" popover-title="{{Label.getContent('Next Price BM')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Next Price BM')}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='product in products'><a href="#" editable-text="product.nextPriceBM" onbeforesave="checkNextPriceBM(category,product.parentBrandName,product.varName,'nextPriceBM','0',$index,$data)" onaftersave="updateProducerDecision(category,product.parentBrandName,product.varName,'nextPriceBM','0',$index)">{{ product.nextPriceBM || 0 }}</a></th>
              </tr>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Next Price Emall Info')}}" popover-title="{{Label.getContent('Next Price Emall')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Next Price Emall')}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='product in products'><a href="#" editable-text="product.nextPriceEmall" onbeforesave="checknextPriceEmall(category,product.parentBrandName,product.varName,'nextPriceEmall','0',$index,$data)" onaftersave="updateProducerDecision(category,product.parentBrandName,product.varName,'nextPriceEmall','0',$index)">{{ product.nextPriceEmall || 0 }}</a></th>
              </tr>   
            </tbody>
          </table>
          <div>
            <a href="/#/producerDecisionStep1" class="btn btn-default">{{Label.getContent('Back')}}</a>
            <a href="/#/producerDecisionStep3" class="btn btn-primary">{{Label.getContent('Next')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>