<div id="content" class="bs-header">
    <div class="container">
        <h1>{{Label.getContent('Reports')}}</h1>
        <p>{{Label.getContent('Reports Info')}}</p>
    </div>
</div>

<div class="bs-old-docs">
    <div class="container">
        <strong>
        	{{Label.getContent('Reports popInfo')}}
        </strong>
    </div>
</div>

<div class="container bs-docs-container">
	<div class="row">				 

		<div class="col-lg-3" angular-bootstrap>
			<div class="bs-sidebar hidden-print" role="complementary">
				<ul class="nav bs-sidenav">
					<li class="active" access-level='{{accessLevels.producerView}}'>
						<a>{{Label.getContent('Producer')}}</a>
						<ul class="nav second-sidenav">
							<li class="active">
								<a ng-click="getFinReport(seminar,'Profit and Loss Statement',period,'Producer','Fin')">{{Label.getContent('Profit and Loss Statement')}}</a>
							</li>
							<li class="">
								<a ng-click="getFinReport(seminar,'Prices per unit',period,'Producer','Vol')">{{Label.getContent('Prices per unit')}}</a>
							</li>
							<li class="">
								<a ng-click="getFinReport(seminar,'Volumes Report',period,'Producer','Vol')">{{Label.getContent('Volumes Report')}}</a>
							</li>
							<li class="">
								<a ng-click="getFinReport(seminar,'Profitability by Channel',period,'Producer','Vol')">{{Label.getContent('Profitability by Channel')}}</a>
							</li>						
						</ul>
					</li>
					<li class="active" access-level='{{accessLevels.retailerView}}'>
						<a>{{Label.getContent('Retailer')}}</a>
						<ul class="nav second-sidenav">
							<li class="" >
								<a ng-click="getFinReport(seminar,'Profit and Loss Statement',period,'Retailer','Fin')">{{Label.getContent('Profit and Loss Statement')}}</a>
							</li>
							<li class="">
								<a ng-click="getFinReport(seminar,'Performance Indices',period,'Retailer','Vol')">{{Label.getContent('Performance Indices')}}</a>
							</li>
							<li class="">
								<a ng-click="getFinReport(seminar,'Prices per unit',period,'Retailer','Vol')">{{Label.getContent('Prices per unit')}}</a>
							</li>
							<li class="">
								<a ng-click="getFinReport(seminar,'Volumes Report',period,'Retailer','Vol')">{{Label.getContent('Volumes Report')}}</a>
							</li>
							<li class="">
								<a ng-click="getFinReport(seminar,'Profitability by Supplier',period,'Retailer','Vol')">{{Label.getContent('Profitability by Supplier')}}</a>
							</li>
						</ul>
					</li>
				</ul>
		    </div>

		</div>

		<div class="col-lg-9">
			<div style="padding:10px 0;clear:both"></div>
			<div class="">
				<h3>{{Label.getContent(showTitleENG)}}
					<small>
						{{Label.getContent((showTitleENG+' Info'))}}
					</small>
				</h3>				
			</div>
			<h4 class="pull-left {{finCatShow}}"><span class="label label-warning">{{Label.getContent(cat)}}</span></h4>
			<h4 class="pull-left" style="{{finCatCss}}"><span class="label label-success">{{Label.getContent(market)}}</span></h4>
			<h4 class="pull-left {{finDetailShow}}" style="margin-left:10px"><span class="label label-danger">{{Label.getContent(detail)}}</span></h4>
			<h4 class="pull-left" style="margin-left:10px"><span class="label label-info">{{Label.getContent('Period')}}:{{period}}</span></h4>
			<h4 class="pull-left" style="margin-left:10px"><span class="label label-default" ng-show="isRoleIDChangeBtnShow">{{showRoleID}}</span></h4>
			<div style="padding:1px 0;clear:both"></div>
			<div class="btn-group {{finCatShow}}">
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			    {{Label.getContent('Category')}}<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a ng-click="showFinReport('Elecsories',market,language,detail,roleID)">{{Label.getContent('Elecssories')}}</a></li>
			    <li><a ng-click="showFinReport('HealthBeauties',market,language,detail,roleID)">{{Label.getContent('HealthBeauty')}}</a></li>
			  </ul>
			</div>

			<div class="btn-group">
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			    {{Label.getContent('Market')}}<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a ng-click="showFinReport(cat,'Urban',language,detail,roleID)">{{Label.getContent('Urban')}}</a></li>
			    <li><a ng-click="showFinReport(cat,'Rural',language,detail,roleID)">{{Label.getContent('Rural')}}</a></li>
			    <li><a ng-click="showFinReport(cat,'Total',language,detail,roleID)">{{Label.getContent('Total')}}</a></li>
			  </ul>
			 </div>

		    <div class="btn-group">
			  <button type="button" class="btn btn-primary dropdown-toggle {{finDetailShow}}" data-toggle="dropdown">
			    {{Label.getContent('Detail')}}<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu {{finDetailShow}}">
			    <li><a ng-click="showFinReport(cat,market,language,'Global',roleID)">{{Label.getContent('Global')}}</a></li>
			    <li><a ng-click="showFinReport(cat,market,language,'Category',roleID)">{{Label.getContent('Category')}}</a></li>
			    <li><a ng-click="showFinReport(cat,market,language,'Brand',roleID)">{{Label.getContent('Brand')}}</a></li>
			    <li><a ng-click="showFinReport(cat,market,language,'Variant',roleID)">{{Label.getContent('Variant')}}</a></li>
			  </ul>
			</div>
			<div class="btn-group">
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			    {{Label.getContent('Period')}}<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li ng-repeat="newperiod in periods"><a ng-click="getFinReport(seminar,showTitleENG,newperiod,role,type)">{{newperiod}}</a></li>
			  </ul>
			</div>
			<div class="btn-group" ng-show="isRoleIDChangeBtnShow">
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			    RoleID <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li class="{{finProShow}}"><a ng-click="showFinReport(cat,market,language,detail,'Producer 1')">{{Label.getContent('Producer')}} 1</a></li>
			    <li class="{{finProShow}}"><a ng-click="showFinReport(cat,market,language,detail,'Producer 2')">{{Label.getContent('Producer')}} 2</a></li>
			    <li class="{{finProShow}}"><a ng-click="showFinReport(cat,market,language,detail,'Producer 3')">{{Label.getContent('Producer')}} 3</a></li>
			    <li class="{{finProShow}}"><a ng-click="showFinReport(cat,market,language,detail,'Producer 4')">{{Label.getContent('Producer')}} 4</a></li>
			    <li class="{{finRetShow}}"><a ng-click="showFinReport(cat,market,language,detail,'Retailer 1')">{{Label.getContent('Retailer')}} 1</a></li>
			    <li class="{{finRetShow}}"><a ng-click="showFinReport(cat,market,language,detail,'Retailer 2')">{{Label.getContent('Retailer')}} 2</a></li>
			    <li class="{{finRetShow}}"><a ng-click="showFinReport(cat,market,language,detail,'Retailer 3')">{{Label.getContent('Traditional Trade')}}</a></li>
			    <li class="{{finRetShow}}"><a ng-click="showFinReport(cat,market,language,detail,'Retailer 4')">{{Label.getContent('E-Mall')}}</a></li>			    
			  </ul>
			</div>
			<div style="clear:both"></div>

		</div>
	</div>

<!-- 	TEST:{{reportCollection.data.cols}}
 -->	 
 	 <table class="table table-bordered table-striped table-condensed">
	 	<thead>
	 		<tr>
	 			<th ng-repeat="col in reportCollection.data.cols" ng-style="{'text-align':($index==0)?'left':'right'}">{{($index==0||col.label=="Company total"||col.label=="Elecsories"||col.label=="Health&Beauty"||col.label=="Retailer 1"||col.label=="Retailer 2"||col.label=="eMall"||col.label=="Traditional Trade"||col.label=="Manufacturer 1"||col.label=="Manufacturer 2"||col.label=="Manufacturer 3"||col.label=="Private label")?Label.getContent(col.label):col.label}}</th>
	 		</tr>		
	 	</thead>
	 	<tbody>
	 		<tr ng-repeat="row in reportCollection.data.rows">
				<td ng-repeat = "value in row.c" ng-style="{'text-align':($index==0)?'left':'right'}">
					{{($index==0)?Label.getContent(value.v):value.v}}</td>
	 		</tr>
	 	</tbody>
	 </table>	
</div>



