<div id="content" class="bs-header">
    <div class="container">
        <h1>Advertsing</h1>
        <p>Step 1 of 4, define your marketing investments. These investments are given to online and offline agencies that carry out marketing campaigns for you. You can also define what slogan your agency promotes for you, you just need to allocate your budget between three shopper perceptions (convenience, assortment and price) in such a way that dimension you promote most gets more money.</p>
    </div>
</div>
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        <h4>Step 1 of 4</h4>
        <div class="pull-left" style="width:33%">
          <h3 style="margin-top:0px">Advertsing</h3>
          <div class="btn-group pull-left" data-toggle="buttons">
              <label class="btn btn-default" ng-click="showView(user,period,'English')">
              <input type="radio" name="options"> English</label>
              <label class="btn btn-default" ng-click="showView(user,period,'Chinese')">
              <input type="radio" name="options"> Chinese
              </label>
          </div>
        </div>
        <div class="pull-right" style="width:33%">
          <progress percent="percentageExpend" class="progress active">{{surplusExpend}}</progress>
          <small>
            <em>Total Avaliable Budget for Remaing Period</em>
          </small>
          <!--<progress percent="ePercentageProduction" class="progress progress-suceess active progress-striped">{{eSurplusProduction}}</progress>
          <small>
            <em>Elecssories Available Capacity</em>
          </small>
            <progress percent="hPercentageProduction" class="progress progress-suceess active progress-striped">{{hSurplusProduction}}</progress>
          <small>
            <em>HealthBeauty Available Capacity</em>
          </small>-->
        </div>
          <div style="clear:both"></div>
          <div collapse="isCollapsed">
            <div class="well well-large">
              <button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button>
              <table class="table table-striped">
                <tr style="backgroud-color:gray">
                  <th></th>
                  <th style="text-align:center">Current period({{currentPeriod}})</th>
                  <th></th>
                </tr>
                <tr style="backgroud-color:gray">
                  <td>Web-trawler sentiment index:</td>
                  <td>Web-trawler strength index:</td>
                  <th></th>
                </tr>
                <tr style="margin-top:20px;backgroud-color:gray">
                  <th></th>
                  <th style="text-align:center">Previous period({{(currentPeriod-1)}})</th>
                  <th></th>
                </tr>  
                <tr>
                  <td>Convenience off-line:{{retailerDecisionHistory.tradtionalAdvertising[1]}}</td>
                  <td>Assortment off-line:{{retailerDecisionHistory.tradtionalAdvertising[2]}}</td>
                  <td>Price off-line:{{retailerDecisionHistory.tradtionalAdvertising[0]}}</td>
                </tr>
                <tr>
                  <td>Convenience on-line:{{retailerDecisionHistory.onlineAdvertising[1]}}</td>
                  <td>Assortment on-line:{{retailerDecisionHistory.onlineAdvertising[2]}}</td>
                  <td>Price on-line:{{retailerDecisionHistory.onlineAdvertising[0]}}</td>
                </tr>          
              </table>
            </div>
          </div>
          <table class="table table-hover">
            <tr>
              <th></th>
              <th>
                <button type="button" class="btn btn-primary btn-xs" style="margin-left:5px" ng-click="getMoreInfo()">More</button>
              </th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.COF}}" popover-title="{{labelLanguages.COF}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.COF}}<span style="color:red">*</span></p>
              </th>
              <th><a href="#" editable-text="pageBase.tradtionalAdvertising[1]" onbeforesave="checkBudget('tradtionalAdvertising','1',$data)" onaftersave="updateRetailerDecision('tradtionalAdvertising','1')">{{ pageBase.tradtionalAdvertising[1] || 0 }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.CON}}" popover-title="{{labelLanguages.CON}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.CON}}<span style="color:red">*</span></p></th>
              <th><a href="#" editable-text="pageBase.onlineAdvertising[1]" onbeforesave="checkBudget('onlineAdvertising','1',$data)" onaftersave="updateRetailerDecision('onlineAdvertising','1')">{{ pageBase.onlineAdvertising[1]|| 0 }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.AOF}}" popover-title="{{labelLanguages.AOF}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.AOF}}<span style="color:red">*</span></p></th>
              <th><a href="#" editable-text="pageBase.tradtionalAdvertising[2]" onbeforesave="checkBudget('tradtionalAdvertising','2',$data)" onaftersave="updateRetailerDecision('tradtionalAdvertising','2')">{{ pageBase.tradtionalAdvertising[2] || 0 }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.AON}}" popover-title="{{labelLanguages.AON}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.AON}}<span style="color:red">*</span></p></th>
              <th>
                <a href="#" editable-text="pageBase.onlineAdvertising[2]" onbeforesave="checkBudget('onlineAdvertising','2',$data)" onaftersave="updateRetailerDecision('onlineAdvertising','2')">{{ pageBase.onlineAdvertising[2] || 0 }}</a>
              </th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.POF}}" popover-title="{{labelLanguages.POF}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.POF}}<span style="color:red">*</span></p></th>
              <th><a href="#" editable-text="pageBase.tradtionalAdvertising[0]" onbeforesave="checkBudget('tradtionalAdvertising','0',$data)" onaftersave="updateRetailerDecision('tradtionalAdvertising','0')">{{ pageBase.tradtionalAdvertising[0] || 0 }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.PON}}" popover-title="{{labelLanguages.PON}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.PON}}<span style="color:red">*</span></p></th>
              <th>
                <a href="#" editable-text="pageBase.onlineAdvertising[0]" onbeforesave="checkBudget('onlineAdvertising','0',$data)" onaftersave="updateRetailerDecision('onlineAdvertising','0')">{{ pageBase.onlineAdvertising[0] || 0 }}</a>
              </th>
            </tr>
          </table>
          <div>
            <a href="/#/retailerDecisionStep2" class="btn btn-primary">Next</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>