<div id="content" class="bs-header">
    <div class="container">
        <h2 class="margin-0">{{Label.getContent('Step 1 of 4')}}</h2>
         <h1 class="margin-row-10">{{Label.getContent('Advertising')}}</h1>
        <p>{{Label.getContent('Rteailer Advertising Info')}}</p>
    </div>
</div>
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9">
      <div class="bs-docs-section">
        <div class="pull-left" style="width:40%">
          <h4 class="pull-left">
            <span class="label label-success" ng-show='facilitatorShow'>
              {{Label.getContent('Period')}}:{{period}}
            </span>
          </h4>
          <div style="clear:both"></div>
          <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="getPrevious()" ng-show='facilitatorShow' ng-disabled="!previousBtn">{{Label.getContent('Previous period')}}</button>
          </div>
          <div class="btn-group">
            <button type="button" ng-click="getNext()" class="btn btn-default" ng-show='facilitatorShow' ng-disabled="!nextBtn">{{Label.getContent('Next period')}}</button>
          </div>
        </div>
        <div class="pull-right" style="width:40%">
          <progress percent="percentageExpend" class="progress active"></progress>
          <small>
            <em>{{Label.getContent('Available Budget')}}: <strong>{{surplusExpend.toFixed(2)}}</strong></em>
          </small>
        </div>
          <div style="clear:both"></div>

          <div collapse="isCollapsed" class="panel panel-info">
            <div class="panel-heading">{{Label.getContent('More information')}}
              <button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button>
            </div>
            <table class="table table-condensed table-bordered">
              <thead>
                <tr>
                  <td colspan="2" class="col-md-6">{{Label.getContent('Previous period Investment')}} ({{currentPeriod-1}})</td>

                  <td colspan="2" class="col-md-6">{{Label.getContent('Current period Investment Achieved Perception')}} ({{currentPeriod}})</td>
                </tr>                  
              </thead>
              <tbody>
                <tr>
                  <!--<td ng-show="false">Web-trawler strength index</td>-->
                  <td>
                    <p class="padding-20">{{Label.getContent('Convenience Off-line')}}</p>
                  </td>
                  <td>
                    <p class="text-right">{{retailerDecisionHistory.tradtionalAdvertising[1]}}</p>
                  </td>

                  <td>
                    <p class="padding-20">{{Label.getContent('Convenience Perception')}}</p>
                  </td>
                  <td>
                    <p class="text-right">???</p>
                  </td>
                </tr>
                <!--<tr>
                  <td ng-show="false">Web-trawler sentiment index</td>
                  <td>{{Label.getContent('Assortment Off-line')}}</td>
                  <td>
                    <p class="text-right">{{retailerDecisionHistory.tradtionalAdvertising[2]}}</p>
                  </td>
                  
                  <td></td>                  
                  <td></td>
                </tr>-->
                <tr>
                  <td>
                    <p class="padding-20">{{Label.getContent('Convenience On-line')}}</p>
                  </td>
                  <td>
                    <p class="text-right">{{retailerDecisionHistory.onlineAdvertising[1]}}</p>
                  </td>

                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <p class="padding-20">{{Label.getContent('Price Off-line')}}</p>
                  </td>
                  <td>
                    <p class="text-right">{{retailerDecisionHistory.tradtionalAdvertising[0]}}</p>
                  </td>

                  <td>
                    <p class="padding-20">{{Label.getContent('Price Perception')}}</p>
                  </td>
                  <td>
                    <p class="text-right">???</p>
                  </td>
                </tr>
                
                <!--<tr>
                  <td>{{Label.getContent('Assortment On-line')}}</td>
                  <td>
                    <p class="text-right">{{retailerDecisionHistory.onlineAdvertising[2]}}</p>
                  </td>

                  <td></td>
                  <td></td>
                </tr>-->                
                <tr>
                  <td>
                    <p class="padding-20">{{Label.getContent('Price On-line')}}</p>
                  </td>
                  <td>
                    <p class="text-right">{{retailerDecisionHistory.onlineAdvertising[0]}}</p>
                  </td>

                  <td></td>
                  <td></td>
                </tr>        
              </tbody>
            </table>
          </div>

          <table class="table table-hover">
            <thead>
            <tr>
              <th></th>
              <th>
                <div style="clear:both"></div>
                <div class="pull-right">
                  <button type="button" class="btn btn-primary btn-xs" style="margin-left:5px" ng-click="getMoreInfo()">{{Label.getContent('More')}}</button>
                </div>
                <div style="clear:both"></div>
              </th>
            </tr>              
            </thead>
            <tbody>              
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Convenience Off-line Info')}}" popover-title="{{Label.getContent('Convenience Off-line')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Convenience Off-line')}}<span style="color:red">*</span></p>
                </th>
                <th>
                  <a href="#" editable-text="pageBase.tradtionalAdvertising[1]" onbeforesave="checkBudget('tradtionalAdvertising','1',$data)" onaftersave="updateRetailerDecision('tradtionalAdvertising','1')">
                    <p class="text-right">{{ pageBase.tradtionalAdvertising[1] || 0 }}
                    </p>
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Convenience On-line Info')}}" popover-title="{{Label.getContent('Convenience On-line')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Convenience On-line')}}<span style="color:red">*</span></p>
                </th>
                <th>
                  <a href="#" editable-text="pageBase.onlineAdvertising[1]" onbeforesave="checkBudget('onlineAdvertising','1',$data)" onaftersave="updateRetailerDecision('onlineAdvertising','1')">
                    <p class="text-right">{{ pageBase.onlineAdvertising[1]|| 0 }}</p>
                  </a>
                </th>
              </tr>
              <!--
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Assortment Off-line Info')}}" popover-title="{{Label.getContent('Assortment Off-line')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Assortment Off-line')}}<span style="color:red">*</span></p>
                </th>
                <th>
                  <a href="#" editable-text="pageBase.tradtionalAdvertising[2]" onbeforesave="checkBudget('tradtionalAdvertising','2',$data)" onaftersave="updateRetailerDecision('tradtionalAdvertising','2')">
                    <p class="text-right">{{ pageBase.tradtionalAdvertising[2] || 0 }}
                    </p>
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Assortment On-line Info')}}" popover-title="{{Label.getContent('Assortment On-line')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Assortment On-line')}}<span style="color:red">*</span></p>
                </th>
                <th>
                  <a href="#" editable-text="pageBase.onlineAdvertising[2]" onbeforesave="checkBudget('onlineAdvertising','2',$data)" onaftersave="updateRetailerDecision('onlineAdvertising','2')">
                    <p class="text-right">{{ pageBase.onlineAdvertising[2] || 0 }}
                    </p>
                  </a>
                </th>
              </tr>-->
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Price Off-line Info')}}" popover-title="{{Label.getContent('Price Off-line')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Price Off-line')}}<span style="color:red">*</span></p>
                </th>
                <th>
                  <a href="#" editable-text="pageBase.tradtionalAdvertising[0]" onbeforesave="checkBudget('tradtionalAdvertising','0',$data)" onaftersave="updateRetailerDecision('tradtionalAdvertising','0')">
                    <p class="text-right">{{ pageBase.tradtionalAdvertising[0] || 0 }}
                    </p>
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Price On-line Info')}}" popover-title="{{Label.getContent('Price On-line')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Price On-line')}}<span style="color:red">*</span></p>
                </th>
                <th>
                  <a href="#" editable-text="pageBase.onlineAdvertising[0]" onbeforesave="checkBudget('onlineAdvertising','0',$data)" onaftersave="updateRetailerDecision('onlineAdvertising','0')">
                    <p class="text-right">{{ pageBase.onlineAdvertising[0] || 0 }}</p>
                  </a>
                </th>
              </tr>
            </tbody>
          </table>
          <div>
            <a href="/#/retailerDecisionStep2" class="btn btn-primary">{{Label.getContent('Next')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>