<link href="/js/steps/steps.css" type="text/css" rel="stylesheet">
<style TYPE="text/css">

    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
      border: 1px solid #C8C8C8;
      border-right: none;
    }
    .editable-click, a.editable-click {
        border-bottom: 1px dashed #035037;
        color: #035037;
        text-decoration: none;
    }
    .panel-success {
        border-color: #C8C8C8;
    }
    .bs-docs-sidebar.affix{
        position: fixed;
    }
    .col-md-9{
        width: 77%;
    }
    .col-md-3{
        width: 23%;
    }
    @media (min-width: 1200px) {
      /* Widen the fixed sidebar again */
      .bs-docs-sidebar.affix-bottom,
      .bs-docs-sidebar.affix {
        width: 255px;
        padding: 0;
      }
    }
    .my-super-awesome-loading-box {
      padding: 10px;
      text-align: center;
      border: 0px solid gray;
      background: #EFEFEF;
    }
/*    .bs-docs-section{
        padding-top:60px;
    }*/
</style>

<div class="my-super-awesome-loading-box" ng-show="isPageLoading">Loading...</div>
<div class="my-super-awesome-loading-box" ng-show="isNegotiationChange">{{Label.getContent('Supplier Change')}}</div>

<div class="container bs-docs-container">
    <div class="row">
        <div ng-class="{true: 'col-md-12', false: 'col-md-9'}[isNegotiation]">
            <div style="padding:50px 0" angular-wizard>
                <ul class="steps-indicator steps-5">
                   <li class="done editing">
                        <a href="/#/retailerDecision" ng-click="showNegotiationAgreements()">{{Label.getContent('Negotiation Agreements')}}</a>
                    </li>
                    <li class="done">
                        <a href="/#/retailerDecision" ng-click='showMarketing()'>{{Label.getContent('Marketing')}}</a>
                    </li>
                    <li class="done">
                        <a href="/#/retailerDecision" ng-click='showPrivateLabelPortfolioManagement()'>{{Label.getContent('Private Label Portfolio Management')}}</a>
                    </li>
                    <li class="done">
                        <a href="/#/retailerDecision" ng-click='showStoreManagement()'>{{Label.getContent('Store Management')}}</a>
                    </li>
                    <li class="done">
                        <a href="/#/retailerDecision" ng-click='showMarketResearchOrders()'>{{Label.getContent('Market Research Orders')}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 pull-right" style="padding:0 0 0 15px" ng-show='!isNegotiation'>
            <div class="bs-docs-section bs-docs-sidebar hidden-print" affix='0' role="complementary">
                <div id='clockChart' ng-model='myModel' clock-chart></div>
                <!-- <p>19m59s left for commiting portfolio decision</p> -->
                <table class="table table-condensed" style="margin:0px auto;">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <p>{{Label.getContent('Decision Info')}}</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>{{Label.getContent('Total Budget')}}</p>
                            </td>
                            <td>
                                <p class="text-right">{{abMax}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>{{Label.getContent('Additional Budget')}}</p>
                            </td>
                            <td>
                                <p class="text-right">+{{additionalBudget}}</p>
                            </td>
                        </tr>                        
                        <tr>
                            <td style='word-break: keep-all;white-space:nowrap;'>
                                <p>{{Label.getContent('Estimated Period Spending')}}</p>
                            </td>
                            <td>
                                <p class="text-right">{{estimatedSpending}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td style='word-break: keep-all;white-space:nowrap;'>
                                <p>{{Label.getContent('Estimated Budget Left')}}</p>
                            </td>
                            <td>
                                <p class="text-right"><b>{{surplusExpend}}</b></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><p>{{Label.getContent('Shelf Space Left')}}</p></td>
                        </tr>
                        <tr>
                            <td style='word-break: keep-all;white-space:nowrap;'>
                                <p>{{Label.getContent('Urban')}} {{Label.getContent('Elecssories')}}</p>
                            </td>
                            <td>
                                <p class="text-right"><b>{{percentageShelf[0][0].toFixed(2)}}%</b>/100%</p>
                            </td>
                        </tr>
                        <tr>
                            <td style='word-break: keep-all;white-space:nowrap;'>
                                <p>{{Label.getContent('Urban')}} {{Label.getContent('HealthBeauty')}}</p>
                            </td>
                            <td>
                                <p class="text-right"><b>{{percentageShelf[0][1].toFixed(2)}}%</b>/100%</p>
                            </td>
                        </tr>
                        <tr>
                            <td style='word-break: keep-all;white-space:nowrap;'>
                                <p>{{Label.getContent('Rural')}} {{Label.getContent('Elecssories')}}</p>
                            </td>
                            <td>
                                <p class="text-right"><b>{{percentageShelf[1][0].toFixed(2)}}%</b>/100%</p>
                            </td>
                        </tr>
                        <tr>
                            <td style='word-break: keep-all;white-space:nowrap;'>
                                <p>{{Label.getContent('Rural')}} {{Label.getContent('HealthBeauty')}}</p>
                            </td>
                            <td>
                                <p class="text-right"><b>{{percentageShelf[1][1].toFixed(2)}}%</b>/100%</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-9" style="padding:0 0 0 15px" ng-show='!isNegotiation'>
            <div class="bs-docs-section">
            <p access-level='{{accessLevels.playerView}}'>You are checking the decision of period <b>{{selectedPeriod}}</b>, Retailer {{selectedPlayer}}</p>              
                <retailer-marketing ng-show='Marketing' is-page-shown='Marketing' is-page-loading='isPageLoading' selected-period='selectedPeriod' selected-player='selectedPlayer' is-ready='isRetailerDecisionReady' is-contract-deal='isContractDeal' is-contract-finalized='isContractFinalized' is-decision-committed='isDecisionCommitted'></retailer-marketing>

                <retailer-private-label-portfolio-management ng-show='PrivateLabelPortfolioManagement' is-page-shown='PrivateLabelPortfolioManagement' is-page-loading='isPageLoading' selected-period='selectedPeriod' selected-player='selectedPlayer' is-ready='isRetailerDecisionReady' is-contract-deal='isContractDeal' is-contract-finalized='isContractFinalized' is-decision-committed='isDecisionCommitted'></retailer-private-label-portfolio-management>

                <retailer-store-management ng-show='StoreManagement' is-page-shown='StoreManagement' is-page-loading='isPageLoading' selected-period='selectedPeriod' selected-player='selectedPlayer' is-ready='isRetailerDecisionReady' is-contract-deal='isContractDeal' is-contract-finalized='isContractFinalized' is-decision-committed='isDecisionCommitted'></retailer-store-management>

                <retailer-market-research-orders ng-show='MarketResearchOrders' is-page-shown='MarketResearchOrders' is-page-loading='isPageLoading' selected-period='selectedPeriod' selected-player='selectedPlayer' is-ready='isRetailerDecisionReady' is-contract-deal='isContractDeal' is-contract-finalized='isContractFinalized' is-decision-committed='isDecisionCommitted'></retailer-market-research-orders>
                
            </div>
        </div>
        <div class="col-md-12" ng-show='isNegotiation'>
            <div class="bs-docs-section">
                <retailer-negotiation-agreements ng-show='NegotiationAgreements' is-page-shown='NegotiationAgreements' is-negotiation-change='isNegotiationChange' is-page-loading='isPageLoading' selected-period='selectedPeriod' selected-player='selectedPlayer' is-contract-deal='isContractDeal' is-contract-finalized='isContractFinalized' is-decision-committed='isDecisionCommitted'></retailer-negotiation-agreements>
            </div>
        </div>
    </div>
</div>