<div id="content" class="bs-header">
    <div class="container">
        <h1>{{Label.getContent('Advertising')}}</h1>
        <p>{{Label.getContent('Rteailer Advertising Info')}}</p>
    </div>
</div>
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        <h4>{{Label.getContent('Step 1 of 4')}}</h4>
        <div class="pull-left" style="width:40%">
          <h3 style="margin-top:0px">{{Label.getContent('Advertising')}}</h3>
        </div>
        <div class="pull-right" style="width:40%">
          <progress percent="percentageExpend" class="progress active"></progress>
          <small>
            <em>{{Label.getContent('Available Budget')}}: <strong>{{surplusExpend.toFixed(2)}}</strong></em>
          </small>
        </div>
          <div style="clear:both"></div>

          <div collapse="isCollapsed" class="panel panel-info">
            <div class="panel-heading">{{Label.getContent('More information')}}
              <button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button>
            </div>
            <table class="table table-condensed table-bordered">
              <thead>
                <tr>
                  <td colspan="2" class="col-md-6">{{Label.getContent('Current period')}} ({{currentPeriod}})</td>
                  <td colspan="2" class="col-md-6">{{Label.getContent('Previous period')}} ({{currentPeriod-1}})</td>
                </tr>                  
              </thead>
              <tbody>
                <tr>
                  <td ng-show="false">Web-trawler strength index</td>
                  <td></td>
                  <td></td>
                  <td>{{Label.getContent('Convenience Off-line')}}</td>
                  <td>{{retailerDecisionHistory.tradtionalAdvertising[1]}}</td>
                </tr>
                <tr>
                  <td ng-show="false">Web-trawler sentiment index</td>
                  <td></td>                  
                  <td></td>
                  <td>{{Label.getContent('Assortment Off-line')}}</td>
                  <td>{{retailerDecisionHistory.tradtionalAdvertising[2]}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>{{Label.getContent('Price Off-line')}}</td>
                  <td>{{retailerDecisionHistory.tradtionalAdvertising[0]}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>{{Label.getContent('Convenience On-line')}}</td>
                  <td>{{retailerDecisionHistory.onlineAdvertising[1]}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>{{Label.getContent('Assortment On-line')}}</td>
                  <td>{{retailerDecisionHistory.onlineAdvertising[2]}}</td>
                </tr>                
                <tr>
                  <td></td>
                  <td></td>
                  <td>{{Label.getContent('Price On-line')}}</td>
                  <td>{{retailerDecisionHistory.onlineAdvertising[0]}}</td>
                </tr>        
              </tbody>
            </table>
          </div>

          <table class="table table-hover">
            <thead>
            <tr>
              <th style="width:25%"></th>
              <th style="width:25%"></th>
              <th style="width:25%">
                <div style="clear:both"></div>
                <div class="pull-right">
                  <button type="button" class="btn btn-primary btn-xs" style="margin-left:5px" ng-click="getMoreInfo()">{{Label.getContent('More')}}</button>
                </div>
                <div style="clear:both"></div>
              </th>
              <th style="width:25%"></th>
            </tr>              
            </thead>
            <tbody>              
              <tr>
                <th style="width:25%"></th>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Convenience Off-line Info')}}" popover-title="{{Label.getContent('Convenience Off-line')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Convenience Off-line')}}<span style="color:red">*</span></p>
                </th>
                <th>
                  <a href="#" editable-text="pageBase.tradtionalAdvertising[1]" onbeforesave="checkBudget('tradtionalAdvertising','1',$data)" onaftersave="updateRetailerDecision('tradtionalAdvertising','1')">
                    <p class="text-right">{{ pageBase.tradtionalAdvertising[1] || 0 }}
                    </p>
                  </a>
                </th>
                <th style="width:25%"></th>
              </tr>
              <tr>
                <th style="width:25%"></th>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Convenience On-line Info')}}" popover-title="{{Label.getContent('Convenience On-line')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Convenience On-line')}}<span style="color:red">*</span></p>
                </th>
                <th>
                  <a href="#" editable-text="pageBase.onlineAdvertising[1]" onbeforesave="checkBudget('onlineAdvertising','1',$data)" onaftersave="updateRetailerDecision('onlineAdvertising','1')">
                    <p class="text-right">{{ pageBase.onlineAdvertising[1]|| 0 }}</p>
                  </a>
                </th>
                <th style="width:25%"></th>
              </tr>
              <tr>
                <th style="width:25%"></th>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Assortment Off-line Info')}}" popover-title="{{Label.getContent('Assortment Off-line')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Assortment Off-line')}}<span style="color:red">*</span></p>
                </th>
                <th>
                  <a href="#" editable-text="pageBase.tradtionalAdvertising[2]" onbeforesave="checkBudget('tradtionalAdvertising','2',$data)" onaftersave="updateRetailerDecision('tradtionalAdvertising','2')">
                    <p class="text-right">{{ pageBase.tradtionalAdvertising[2] || 0 }}
                    </p>
                  </a>
                </th>
                <th style="width:25%"></th>
              </tr>
              <tr>
                <th style="width:25%"></th>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Assortment On-line Info')}}" popover-title="{{Label.getContent('Assortment On-line')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Assortment On-line')}}<span style="color:red">*</span></p>
                </th>
                <th>
                  <a href="#" editable-text="pageBase.onlineAdvertising[2]" onbeforesave="checkBudget('onlineAdvertising','2',$data)" onaftersave="updateRetailerDecision('onlineAdvertising','2')">
                    <p class="text-right">{{ pageBase.onlineAdvertising[2] || 0 }}
                    </p>
                  </a>
                </th>
                <th style="width:25%"></th>
              </tr>
              <tr>
                <th style="width:25%"></th>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Price Off-line Info')}}" popover-title="{{Label.getContent('Price Off-line')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Price Off-line')}}<span style="color:red">*</span></p>
                </th>
                <th>
                  <a href="#" editable-text="pageBase.tradtionalAdvertising[0]" onbeforesave="checkBudget('tradtionalAdvertising','0',$data)" onaftersave="updateRetailerDecision('tradtionalAdvertising','0')">
                    <p class="text-right">{{ pageBase.tradtionalAdvertising[0] || 0 }}
                    </p>
                  </a>
                </th>
                <th style="width:25%"></th>
              </tr>
              <tr>
                <th style="width:25%"></th>
                <th>
                  <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Price On-line Info')}}" popover-title="{{Label.getContent('Price On-line')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Price On-line')}}<span style="color:red">*</span></p>
                </th>
                <th>
                  <a href="#" editable-text="pageBase.onlineAdvertising[0]" onbeforesave="checkBudget('onlineAdvertising','0',$data)" onaftersave="updateRetailerDecision('onlineAdvertising','0')">
                    <p class="text-right">{{ pageBase.onlineAdvertising[0] || 0 }}</p>
                  </a>
                </th>
                <th style="width:25%"></th>
              </tr>
            </tbody>
          </table>
          <div>
            <a href="/#/retailerDecisionStep2" class="btn btn-primary">{{Label.getContent('Next')}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>