<div id="content" class="bs-header">
    <div class="container">
        <h1>{{Label.getContent('Order Pricing Shelf')}}</h1>
        <p>{{Label.getContent('Order Pricing Shelf Info')}}</p>
    </div>
</div>
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        <h4>{{Label.getContent('Step 4 of 4')}}</h4>
        <div class="pull-left" style="width:40%">
          <h3 style="margin-top:0px">{{Label.getContent('Order Pricing Shelf')}}</h3>
          <div class="btn-group pull-left">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                {{Label.getContent('Category')}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class=""><a ng-click="showView(retailerID,period,'Elecssories',market,language)">{{Label.getContent('Elecssories')}}</a></li>
                <li class=""><a ng-click="showView(retailerID,period,'HealthBeauty',market,language)">{{Label.getContent('HealthBeauty')}}</a></li>       
              </ul>
          </div>
          <div class="btn-group pull-left" style="margin-left:10px">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                {{Label.getContent('Market')}}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class=""><a ng-click="showView(retailerID,period,category,'Urban',language)">{{Label.getContent('Urban')}}</a></li>
                <li class=""><a ng-click="showView(retailerID,period,category,'Rural',language)">{{Label.getContent('Rural')}}</a></li>       
              </ul>
          </div>  
        </div>
        <div class="pull-right" style="width:40%">
          <progress percent="percentageExpend" class="progress active"></progress>
          <small>
            <em>{{Label.getContent('Available Budget')}}:{{surplusExpend.toFixed(2)}}</em>
          </small>
          <progress percent="showPercentageShelf" class="progress progress-suceess active progress-striped"></progress>
          <small>
            <em>{{Label.getContent(market)}}-{{Label.getContent(category)}} {{Label.getContent('Available ShelfSpace')}}: <strong>{{showSurplusShelf.toFixed(2)}}%</strong></em>

          </small>
        </div>
          <div style="clear:both"></div>

          <div collapse="isCollapsed" class="panel panel-info">
              <div class="panel-heading">                
                {{variantHistory.parentBrandName}}{{variantHistory.varName}}                
                <button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button>
              </div>
              <table class="table table-condensed table-bordered">
                <thead>
                    <td colspan="2" class="col-md-6">{{Label.getContent('Current period')}} ({{currentPeriod}})</td>
                    <td colspan="3" class="col-md-6">{{Label.getContent('Previous period')}} ({{currentPeriod-1}})</td>               
                </thead>
                <tbody>                  
                  <tr>
                    <!-- New Private label, show UnitCost  -->
                    <th ng-show="isPrivateLabel">{{Label.getContent('Unit Cost')}} ({{Label.getContent('Private Label')}})</th>
                    <th ng-show="isPrivateLabel"> {{currentUnitCost}} </th>
                    <!-- New Product from Producer, show decision producer made  -->
                    <th ng-show="isNewProducerProduct">{{Label.getContent('List Price')}}({{Label.getContent('New Product')}})</th>
                    <th ng-show="isNewProducerProduct">{{decisionCurrent.currentPriceBM.toFixed(2)}}</th>
                    <!-- History Product, show pv_nextPriceBM-->                  
                    <th ng-show="isHistoryProduct">{{Label.getContent('List Price')}}</th>
                    <th ng-show="isHistoryProduct">{{variantHistory.supplierView[0].nextPriceBM.toFixed(2)}}</th>
                    <td></td>
                    <td>{{Label.getContent('Urban')}}</td>
                    <td>{{Label.getContent('Rural')}}</td>      
                  </tr>
                  <tr>
                    <!-- Current period -->
                    <td>{{Label.getContent('Urban')}} {{Label.getContent('Closing Inventory')}}</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].closingInventory[4].volume.toFixed(2)}}</td>
                    <!-- Previous period-->                   
                    <td style="display:{{ElecssoriesVar}}">{{Label.getContent('Design Level')}}</td>                    
                    <td style="display:{{HealthBeautyVar}}">{{Label.getContent('Active agent')}}</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].closingInventory[4].composition[0]}}</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].closingInventory[4].composition[0]}}</td>                                        
                  </tr>
                  <tr>
                    <!-- Current period -->
                    <td>{{Label.getContent('Rural')}} {{Label.getContent('Closing Inventory')}}</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].closingInventory[3].volume.toFixed(2)}}</td>           
                    <!-- Previous period-->
                    <td>{{Label.getContent('Technology Level')}}</td>    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].closingInventory[4].composition[1]}}</td>
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].closingInventory[4].composition[1]}}</td>                    
                  </tr>
                  <tr>
                    <!-- Current period -->                    
                    <td style="display:{{ElecssoriesVar}}">{{Label.getContent('Design Level')}}</td>                    
                    <td style="display:{{HealthBeautyVar}}">{{Label.getContent('Active agent')}}</td>                    
                    <td>{{decisionCurrent.composition[0]}}</td>   
                    <!-- Previous period-->
                    <td style="display:{{ElecssoriesVar}}">{{Label.getContent('Quality-of-Raw-Materials')}}</td>
                    <td style="display:{{HealthBeautyVar}}">{{Label.getContent('Smootherner Level')}}</td>  
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].closingInventory[4].composition[2]}}</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].closingInventory[4].composition[2]}}</td>                                        
                  </tr>
                  <tr>
                    <!-- Current period -->                    
                    <td>{{Label.getContent('Technology Level')}}</td>                    
                    <td>{{decisionCurrent.composition[1]}}</td>    
                    <!-- Previous period-->
                    <td>{{Label.getContent('Sales Volume at your store')}}</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].salesVolume.toFixed(2)}}</td>        
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].salesVolume.toFixed(2)}}</td>                                   
                  </tr>
                  <tr>
                    <!-- Current period -->                    
                    <td style="display:{{ElecssoriesVar}}">{{Label.getContent('Quality-of-Raw-Materials')}}</td>  
                    <td style="display:{{HealthBeautyVar}}">{{Label.getContent('Smootherner Level')}}</td>                  
                    <td>{{decisionCurrent.composition[2]}}</td> 
                    <!-- Previous period-->
                    <td>{{Label.getContent('Shelf Space at your store')}}</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].shelfSpace.toFixed(2)*100}}%</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].shelfSpace.toFixed(2)*100}}%</td>                                        
                  </tr>
                  <tr>
                    <td></td>                    
                    <td></td>                    
                    <td>{{Label.getContent('Market Price at your store')}}</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].marketPrice.toFixed(2)}}</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].marketPrice.toFixed(2)}}</td>                                        
                  </tr>
                  <tr>
                    <td></td>                    
                    <td></td>                                        
                    <td>{{Label.getContent('Net Price at your store')}}</td>
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].netMarketPrice.toFixed(2)}}</td>
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].netMarketPrice.toFixed(2)}}</td>
                  </tr>
                  <tr>
                    <td></td>                    
                    <td></td>                                        
                    <td>{{Label.getContent('Promotions Frequency')}}({{Label.getContent('weeks')}})</td>
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].promotionsDetails.promo_Frequency}} weeks</td>
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].promotionsDetails.promo_Frequency}} weeks</td>
                  </tr>
                  <tr>
                    <td></td>                    
                    <td></td>                    
                    <td>{{Label.getContent('Reduction Rate')}}</td>
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].promotionsDetails.promo_Rate*100}}%</td>
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].promotionsDetails.promo_Rate*100}}%</td>
                  </tr>
                </tbody>  
              </table>
          </div>


          <table class="table table-hover">
            <thead>
            <tr>
              <th>{{Label.getContent('Category')}}</th>
              <th>{{Label.getContent('Brand')}}</th>
              <th>{{Label.getContent('Variant')}}</th>
              <th style="width:300px">
                <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Order Volume Info')}}" popover-title="{{Label.getContent('Order Volume')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Order Volume')}}<span style="color:red">*</span></p>
              </th>
              <th>
                <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Shelf Space Info')}}" popover-title="{{Label.getContent('Shelf Space')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Shelf Space')}}<span style="color:red">*</span></p>  
              </th>
              <th>
                <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Retail Price Info')}}" popover-title="{{Label.getContent('Retail Price')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Retail Price')}}<span style="color:red">*</span></p>
              </th>
              <th>
                <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Promotions Frequency Info')}}" popover-title="{{Label.getContent('Promotions Frequency')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Promotions Frequency')}}<span style="color:red">*</span></p>
              </th>
              <th>
                <p class="text-primary" Popover-animation="true" popover="{{Label.getContent('Reduction Rate Info')}}" popover-title="{{Label.getContent('Reduction Rate')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Reduction Rate')}}<span style="color:red">*</span></p>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in products">
              <td>{{Label.getContent(category)}}</td>
              <td>{{product.brandName}}</td>
              <td style="width:300px">
                <div style="clear:both"></div>
                <p class="pull-left">
                  {{product.varName}}
                </p>
                <button type="button" class="btn btn-primary btn-xs pull-left" style="margin-left:5px" ng-click="getMoreInfo(product)">{{Label.getContent('More')}}</button>
                <button type="button" class="btn btn-danger btn-xs pull-left" ng-click="deleteOrder(market,category,product.brandName,product.varName)" style="margin-left:5px">{{Label.getContent('Delete')}}</button>
                <div style="clear:both"></div>
              </td>
              <td>
                <a href="#" editable-text="product.order" onbeforesave="checkOrderVolume(category,market,product.brandName,product.varName,'order','postion',$index,$data)" onaftersave="updateRetailerDecision(category,market,product.brandName,product.varName,'order','postion',$index)">{{ product.order || 0 }}</a>
              </td>
              <td>
                <a href="#" editable-text="product.shelfSpace" onbeforesave="checkShelfSpace(category,market,product.brandName,product.varName,'shelfSpace','postion',$index,$data)" onaftersave="updateRetailerDecision(category,market,product.brandName,product.varName,'shelfSpace','postion',$index)">{{ product.shelfSpace || 0 }}</a>
              </td>
              <td>
                <a href="#" editable-text="product.retailerPrice" onbeforesave="checkRetailerPrice(category,market,product.brandName,product.varName,'retailerPrice','postion',$index,product.dateOfBirth,$data)" onaftersave="updateRetailerDecision(category,market,product.brandName,product.varName,'retailerPrice','postion',$index)">{{ product.retailerPrice || 0 }}</a>
              </td>
              <td>
                <a href="#" editable-text="product.pricePromotions.promo_Frequency" onbeforesave="checkPromototionFrequency($data)" onaftersave="updateRetailerDecision(category,market,product.brandName,product.varName,'pricePromotions','promo_Frequency',$index)">{{ product.pricePromotions.promo_Frequency || 0 }}</a>
              </td>
              <td>
                <a href="#" editable-text="product.pricePromotions.promo_Rate" onbeforesave="checkReductionRate($data)" onaftersave="updateRetailerDecision(category,market,product.brandName,product.varName,'pricePromotions','promo_Rate',$index)">{{ product.pricePromotions.promo_Rate || 0 }}</a>
              </td>
            </tr>  
          </tbody>
          </table>
          <div>
            <a href="/#/retailerDecisionStep3" class="btn btn-default">{{Label.getContent('Back')}}</a>            

            <a ng-click="open()" class="btn btn-primary">{{Label.getContent('Add Order')}}</a>
              <div modal="shouldBeOpen" class="hide" close="close()" options="opts">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">{{Label.getContent('Order Product')}}</div>
                      <div class="modal-body">
                          <table class="table table-condensed table-bordered">
                            <thead>
                              <tr>
                                <td></td>
                                <th>{{Label.getContent('Brand')}}</th>
                                <th>{{Label.getContent('Variant')}}</th>
                                <th>{{Label.getContent('Produced by')}}</th>
                              </tr>  
                            </thead>
                            <tbody>
                              <tr ng-repeat="orderProduct in orderProducts">
                                <td>
                                  <input type="checkbox" ng-model="orderProduct.select"></td>
                                <td>{{orderProduct.brandName}}</td>
                                <td>{{orderProduct.varName}}</td>
                                <td>{{orderProduct.parentName}}</td>
                              </tr>                              
                            </tbody>
                          </table>
                      </div>
                    <div class="modal-footer">
                      <input type="button" class="btn btn-default" ng-click="close()" value="{{Label.getContent('Cancel')}}">
                      <input type="button" class="btn btn-primary" ng-click="addOrders(market)" value="{{Label.getContent('Add')}}">
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>