<div id="content" class="bs-header">
    <div class="container">
        <h1>Order, Pricing and Shelf Allocation</h1>
        <p>Step 4 of 4, placing orders with suppliers, allocating shelf space, setting retail price and defining promotions for each brand (both supplier and private label) at each market.</p>
    </div>
</div>
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        <h4>Step 4 of 4</h4>
        <div class="pull-left" style="width:33%">
          <h3 style="margin-top:0px">Order,Pricing and Shelf Allocation </h3>
          <div class="btn-group pull-left">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                Category <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class=""><a ng-click="showView(retailerID,period,'Elecssories',market,language)">Elecssories</a></li>
                <li class=""><a ng-click="showView(retailerID,period,'HealthBeauty',market,language)">HealthBeauty</a></li>       
              </ul>
          </div>
          <div class="btn-group pull-left" style="margin-left:10px">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                Market <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class=""><a ng-click="showView(retailerID,period,category,'Urban',language)">Urban</a></li>
                <li class=""><a ng-click="showView(retailerID,period,category,'Rural',language)">Rural</a></li>       
              </ul>
          </div>        
          <div class="btn-group pull-left" data-toggle="buttons" style="margin-left:10px">
              <label class="btn btn-default" ng-click="showView(retailerID,period,category,market,'English')">
              <input type="radio" name="options"> English</label>
              <label class="btn btn-default" ng-click="showView(retailerID,period,category,market,'Chinese')">
              <input type="radio" name="options"> Chinese
              </label>
          </div>
        </div>
        <div class="pull-right" style="width:33%">
          <progress percent="percentageExpend" class="progress active">{{surplusExpend}}</progress>
          <small>
            <em>Total Avaliable Budget for Remaing Period</em>
          </small>
          <progress percent="showPercentageShelf" class="progress progress-suceess active progress-striped">{{showSurplusShelf}}</progress>
          <small>
            <em>{{market}}-{{category}} Available ShelfSpace</em>
          </small>
        </div>
          <div style="clear:both"></div>
          <div collapse="isCollapsed">
            <div class="well well-large">
              <button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button>
              <table class="table">
                <tr style="backgroud-color:gray">
                  <th></th>
                  <th style="text-align:center">CurrentPeriod period({{currentPeriod}})</th>
                  <th></th>
                </tr>
                <tr style="display:{{currentVar}}">
                  <td>Unit Cost:</td>
                  <td>Tailer 1:Closing Inventory:</td>
                  <td>Tailer 2:Closing Inventory:</td>
                </tr>
                <tr style="display:{{historyVar}}">
                  <td>BM Price:{{decisionCurrent[0].nextPriceBM}}</td>
                  <td>Tailer 1:Closing Inventory:{{variantHistory.channelView[0].channelMarketView[0].closingInventory[3].volume}}</td>
                  <td>Tailer 2:Closing Inventory:{{variantHistory.channelView[1].channelMarketView[0].closingInventory[3].volume}}</td>
                </tr>
                <tr style="display:{{ElecssoriesVar}}">
                  <td>Design Index:{{decisionCurrent[0].composition[0]}}</td>
                  <td>Technology Level:{{decisionCurrent[0].composition[1]}}</td>
                  <td>Raw Materials Quaity:{{decisionCurrent[0].composition[2]}}</td>
                </tr>
                <tr style="display:{{HealthBeautyVar}}">
                  <td>Active-agant:{{decisionCurrent[0].composition[0]}}</td>
                  <td>Technology Level:{{decisionCurrent[0].composition[1]}}</td>
                  <td>Smootherner Level:{{decisionCurrent[0].composition[2]}}</td>
                </tr>
                <tr style="backgroud-color:gray;margin-top:20px">
                  <th></th>
                  <th style="text-align:center">Previous period({{(currentPeriod-1)}})</th>
                  <th></th>
                </tr>          
              </table>
              <table class="table">
                <tr>
                  <td style="width:70%"></td>
                  <td style="width:15%">Tier-1</td>
                  <td style="width:15%">Tier-2</td>
                </tr>
                <tr style="display:{{ElecssoriesVar}}">
                  <td>Design Index:</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[0].closingInventory[4].composition[0]}}</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[1].closingInventory[4].composition[0]}}</td>
                </tr>
                <tr style="display:{{HealthBeautyVar}}">
                  <td>Active-agant:</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[0].closingInventory[4].composition[0]}}</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[1].closingInventory[4].composition[0]}}</td>
                </tr>
                <tr>
                  <td>Technology Level:</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[0].closingInventory[4].composition[1]}}</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[1].closingInventory[4].composition[1]}}</td>
                </tr>
                <tr style="display:{{ElecssoriesVar}}">
                  <td>Raw Materials Quaity:</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[0].closingInventory[4].composition[2]}}</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[1].closingInventory[4].composition[2]}}</td>
                </tr>
                <tr style="display:{{HealthBeautyVar}}">
                <tr/>                
                  <td>Smootherner Level:</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[0].closingInventory[4].composition[2]}}</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[1].closingInventory[4].composition[2]}}</td>
                </tr>
                <tr>
                  <td>Sales Volume at your stone:</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[0].salesVolume}}</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[1].salesVolume}}</td>
                </tr>
                <tr>
                  <td>shelf space at your stone:</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[0].shelfSpace}}</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[1].shelfSpace}}</td>
                </tr>
                <tr>
                  <td>shelf price at your stone:</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[0].marketPrice}}</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[1].marketPrice}}</td>
                </tr>
                <tr>
                  <td>Net price at your stone:</td>
                   <td>{{variantHistory.channelView[4].channelMarketView[0].netMarketPrice}}</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[1].netMarketPrice}}</td>
                </tr>
                <tr>
                  <td>Promotion frequency:</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[0].promotionsDetails.promo_Frequency}}</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[1].promotionsDetails.promo_Frequency}}</td>
                </tr>
                <tr>
                  <td>Promotion rate:</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[0].promotionsDetails.promo_Rate}}</td>
                  <td>{{variantHistory.channelView[4].channelMarketView[1].promotionsDetails.promo_Rate}}</td>
                </tr>
              </table>
            </div>
          </div>
          <table class="table table-hover">
            <tr>
              <th>{{labelLanguages.Category}}</th>
              <th>{{labelLanguages.Brand}}</th>
              <th>{{labelLanguages.Variant}}</th>
              <th style="width:300px"><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.OV}}" popover-title="{{labelLanguages.OV}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.OV}}<span style="color:red">*</span></p>
              </th>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.SS}}" popover-title="{{labelLanguages.SS}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.SS}}<span style="color:red">*</span></p></th>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.RP}}" popover-title="{{labelLanguages.RP}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.RP}}<span style="color:red">*</span></p></th>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.PF}}" popover-title="{{labelLanguages.PF}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.PF}}<span style="color:red">*</span></p></th>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.RR}}" popover-title="{{labelLanguages.RR}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.RR}}<span style="color:red">*</span></p></th>
            </tr>
            <tr ng-repeat="product in products">
              <td>{{category}}</td>
              <td>{{product.brandName}}</td>
              <td style="width:300px">
                <div style="clear:both"></div>
                <p class="pull-left">
                  {{product.varName}}
                </p>
                <button type="button" class="btn btn-primary btn-xs pull-left" style="margin-left:5px" ng-click="getMoreInfo(product)">More</button>
                <button type="button" class="btn btn-danger btn-xs pull-left" ng-click="deleteOrder(market,category,product.brandName,product.varName)" style="margin-left:5px">Delete</button>
                <div style="clear:both"></div>
              </td>
              <td><a href="#" editable-text="product.order" onbeforesave="checkOrderVolume(category,market,product.brandName,product.varName,'order','postion',$index,$data)" onaftersave="updateRetailerDecision(category,market,product.brandName,product.varName,'order','postion',$index)">{{ product.order || 0 }}</a></td>
              <td><a href="#" editable-text="product.shelfSpace" onbeforesave="checkShelfSpace(category,market,product.brandName,product.varName,'shelfSpace','postion',$index,$data)" onaftersave="updateRetailerDecision(category,market,product.brandName,product.varName,'shelfSpace','postion',$index)">{{ product.shelfSpace || 0 }}</a></td>
              <td><a href="#" editable-text="product.retailerPrice" onbeforesave="checkRetailerPrice(category,market,product.brandName,product.varName,'retailerPrice','postion',$index,product.dateOfBirth,$data)" onaftersave="updateRetailerDecision(category,market,product.brandName,product.varName,'retailerPrice','postion',$index)">{{ product.retailerPrice || 0 }}</a></td>
              <td><a href="#" editable-text="product.pricePromotions.promo_Frequency" onbeforesave="checkPromototionFrequency($data)" onaftersave="updateRetailerDecision(category,market,product.brandName,product.varName,'pricePromotions','promo_Frequency',$index)">{{ product.pricePromotions.promo_Frequency || 0 }}</a></td>
              <td><a href="#" editable-text="product.pricePromotions.promo_Rate" onbeforesave="checkReductionRate($data)" onaftersave="updateRetailerDecision(category,market,product.brandName,product.varName,'pricePromotions','promo_Rate',$index)">{{ product.pricePromotions.promo_Rate || 0 }}</a></td>
            </tr>  
          </table>
          <div>
            <a href="/#/retailerDecisionStep3" class="btn btn-default">Back</a>            
            <a ng-click="open()" class="btn btn-primary">Add order</a>
              <div modal="shouldBeOpen" class="hide" close="close()" options="opts">
                <div class="modal-dialog" style="width:1000px">
                  <div class="modal-content">
                    <div class="modal-header">Order Product</div>
                      <div class="modal-body">
                        <div style="clear:both"></div>
                        <div class="pull-left" style="width:31%">
                          <table class="table table-hover">
                            <tr>
                              <td>#</td>
                              <th>Brand</th>
                              <th>Var</th>
                              <th>Produced by..</th>
                            </tr>
                            <tr ng-repeat="orderProduct in orderProducts" ng-dblclick="moreInfo(orderProduct)">
                              <td>
                                <input type="checkbox" ng-model="orderProduct.select"></td>
                              <td>{{orderProduct.brandName}}</td>
                              <td>{{orderProduct.varName}}</td>
                              <td>{{orderProduct.parentName}}</td>
                            </tr>
                          </table>
                        </div>
                        <div class="pull-left" style="width:67%;margin-left:15px;">
                          <table class="table">
                            <tr style="backgroud-color:gray">
                              <th></th>
                              <th style="text-align:center">CurrentPeriod period({{currentPeriod}})</th>
                              <th></th>
                            </tr>
                            <tr style="display:{{modalCurrentVar}}">
                              <td>Unit Cost:</td>
                              <td>Tailer 1:Closing Inventory:</td>
                              <td>Tailer 2:Closing Inventory:</td>
                            </tr>
                            <tr style="display:{{modalHistoryVar}}">
                              <td>BM Price:{{modalDecisionCurrent[0].nextPriceBM}}</td>
                              <td>Tailer 1:Closing Inventory:{{modalVariantHistory.channelView[0].channelMarketView[0].closingInventory[3].volume}}</td>
                              <td>Tailer 2:Closing Inventory:{{modalVariantHistory.channelView[1].channelMarketView[0].closingInventory[3].volume}}</td>
                            </tr>
                            <tr style="display:{{modalElecssoriesVar}}">
                              <td>Design Index:{{modalDecisionCurrent[0].composition[0]}}</td>
                              <td>Technology Level:{{modalDecisionCurrent[0].composition[1]}}</td>
                              <td>Raw Materials Quaity:{{modalDecisionCurrent[0].composition[2]}}</td>
                            </tr>
                            <tr style="display:{{modalHealthBeautyVar}}">
                              <td>Active-agant:{{modalDecisionCurrent[0].composition[0]}}</td>
                              <td>Technology Level:{{modalDecisionCurrent[0].composition[1]}}</td>
                              <td>Smootherner Level:{{modalDecisionCurrent[0].composition[2]}}</td>
                            </tr>
                            <tr style="backgroud-color:gray;margin-top:20px">
                              <th></th>
                              <th style="text-align:center">Previous period({{(currentPeriod-1)}})</th>
                              <th></th>
                            </tr>          
                          </table>
                          <table class="table">
                            <tr>
                              <td style="width:70%"></td>
                              <td style="width:15%">Tier-1</td>
                              <td style="width:15%">Tier-2</td>
                            </tr>
                            <tr style="display:{{modalElecssoriesVar}}">
                              <td>Design Index:</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[0].closingInventory[4].composition[0]}}</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[1].closingInventory[4].composition[0]}}</td>
                            </tr>
                            <tr style="display:{{modalHealthBeautyVar}}">
                              <td>Active-agant:</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[0].closingInventory[4].composition[0]}}</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[1].closingInventory[4].composition[0]}}</td>
                            </tr>
                            <tr>
                              <td>Technology Level:</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[0].closingInventory[4].composition[1]}}</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[1].closingInventory[4].composition[1]}}</td>
                            </tr>
                            <tr style="display:{{modalElecssoriesVar}}">
                              <td>Raw Materials Quaity:</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[0].closingInventory[4].composition[2]}}</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[1].closingInventory[4].composition[2]}}</td>
                            </tr>
                            <tr style="display:{{modalHealthBeautyVar}}">
                            <tr/>                
                              <td>Smootherner Level:</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[0].closingInventory[4].composition[2]}}</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[1].closingInventory[4].composition[2]}}</td>
                            </tr>
                            <tr>
                              <td>Sales Volume at your stone:</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[0].salesVolume}}</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[1].salesVolume}}</td>
                            </tr>
                            <tr>
                              <td>shelf space at your stone:</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[0].shelfSpace}}</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[1].shelfSpace}}</td>
                            </tr>
                            <tr>
                              <td>shelf price at your stone:</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[0].marketPrice}}</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[1].marketPrice}}</td>
                            </tr>
                            <tr>
                              <td>Net price at your stone:</td>
                               <td>{{modalVariantHistory.channelView[4].channelMarketView[0].netMarketPrice}}</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[1].netMarketPrice}}</td>
                            </tr>
                            <tr>
                              <td>Promotion frequency:</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[0].promotionsDetails.promo_Frequency}}</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[1].promotionsDetails.promo_Frequency}}</td>
                            </tr>
                            <tr>
                              <td>Promotion rate:</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[0].promotionsDetails.promo_Rate}}</td>
                              <td>{{modalVariantHistory.channelView[4].channelMarketView[1].promotionsDetails.promo_Rate}}</td>
                            </tr>
                          </table>
                        </div>
                        <div style="clear:both"></div>
                      </div>
                    <div class="modal-footer">
                      <input type="button" class="btn btn-primary" ng-click="addOrders(market)" value="OK">
                      <input type="button" class="btn btn-default" ng-click="close()" value="Cancel">
                    </div>
                  </div>
                </div>
              </div>
            <!--<a href="/#/producerDecisionStep4" class="btn btn-primary">Next</a>-->
          </div>
      </div>
    </div>
  </div>
</div>