<link href="/js/steps/steps.css" type="text/css" rel="stylesheet">
<style TYPE="text/css">

    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
      border: 1px solid #428BCA;
      border-right: none;
    }
    .bs-docs-sidebar.affix{
        position: fixed;
    }
    @media (min-width: 1200px) {
      /* Widen the fixed sidebar again */
      .bs-docs-section.affix-bottom,
      .bs-docs-section.affix {
        padding: 0;
      }
    }
    .my-super-awesome-loading-box {
      padding: 10px;
      text-align: center;
      border: 0px solid gray;
      background: #EFEFEF;
    }
    .bs-docs-section{
        padding-top:60px;
    }
</style>

<div class="my-super-awesome-loading-box" ng-show="isPageLoading">Loading...</div>
<div class="my-super-awesome-loading-box" ng-show="isNegotiationChange">{{Label.getContent('Supplier Change')}}</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12">
      
            <div style="padding:50px 0" angular-wizard>
                <ul class="steps-indicator steps-5">
                   <li class="done editing">
                        <a href="/#/retailerDecision" ng-click="showNegotiationAgreements()">{{Label.getContent('Negotiation Agreements')}}</a>
                    </li>
                    <li class="done">
                        <a href="/#/retailerDecision" ng-click='showMarketing()'>{{Label.getContent('Marketing')}}</a>
                    </li>
                    <li class="done">
                        <a href="/#/retailerDecision" ng-click='showPrivateLabelPortfolioManagement()'>{{Label.getContent('Private Label Portfolio Management')}}</a>
                    </li>
                    <li class="done">
                        <a href="/#/retailerDecision" ng-click='showStoreManagement()'>{{Label.getContent('Store Management')}}</a>
                    </li>
                    <li class="done">
                        <a href="/#/retailerDecision" ng-click='showMarketResearchOrders()'>{{Label.getContent('Market Research Orders')}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9" style="width:74%" ng-show='!isNegotiation'>
            <div class="bs-docs-section">
            <p access-level='{{accessLevels.facilitatorView}}'>You are checking the decision of period <b>{{historyPeriod}}</b>, Retailer {{PlayerID}}</p>              
                <retailer-marketing ng-show='Marketing' is-page-shown='Marketing' is-page-loading='isPageLoading' is-ready='isRetailerDecisionReady'></retailer-marketing>

                <retailer-private-label-portfolio-management ng-show='PrivateLabelPortfolioManagement' is-page-shown='PrivateLabelPortfolioManagement' is-page-loading='isPageLoading' is-ready='isRetailerDecisionReady'></retailer-private-label-portfolio-management>

                <retailer-store-management ng-show='StoreManagement' is-page-shown='StoreManagement' is-page-loading='isPageLoading' is-ready='isRetailerDecisionReady'></retailer-store-management>

                <retailer-market-research-orders ng-show='MarketResearchOrders' is-page-shown='MarketResearchOrders' is-page-loading='isPageLoading' is-ready='isRetailerDecisionReady'></retailer-market-research-orders>
                
            </div>
        </div>
        <div class="col-md-3" style="width:26%" ng-show='!isNegotiation'>
            <div class="bs-docs-section bs-docs-sidebar hidden-print" affix='10' role="complementary">
                <table class="table table-condensed">
                    <thead>
                        <th colspan="2">
                            <p>{{Label.getContent('Decision Info')}}</p>
                        </th>
                    </thead>
                    <tbody>
<!--                         <tr>
                            <td><p>{{Label.getContent('Time Left')}}</p></td>
                            <td><p class="text-right">30 {{Label.getContent('mins')}}</p></td>
                        </tr> -->
                        <tr>
                            <td><p>{{Label.getContent('Total Budget')}}</p></td>
                            <td><p class="text-right"><b>{{surplusExpend}}</b>/{{abMax}}</p></td>
                        </tr>
                        <tr>
                            <td colspan="2"><p>{{Label.getContent('Shelf Space Left')}}</p></td>
                        </tr>
                        <tr>
                            <td><p class="padding-10">{{Label.getContent('Urban')}} {{Label.getContent('Elecssories')}}</p></td>
                            <td><p class="text-right"><b>{{percentageShelf[0][0].toFixed(2)}}%</b>/100%</p></td>
                        </tr>
                        <tr>
                            <td><p class="padding-10">{{Label.getContent('Urban')}} {{Label.getContent('HealthBeauties')}}</p></td>
                            <td><p class="text-right"><b>{{percentageShelf[0][1].toFixed(2)}}%</b>/100%</p></td>
                        </tr>
                        <tr>
                            <td><p class="padding-10">{{Label.getContent('Rural')}} {{Label.getContent('Elecssories')}}</p></td>
                            <td><p class="text-right"><b>{{percentageShelf[1][0].toFixed(2)}}%</b>/100%</p></td>
                        </tr>
                        <tr>
                            <td><p class="padding-10">{{Label.getContent('Rural')}} {{Label.getContent('HealthBeauties')}}</p></td>
                            <td><p class="text-right"><b>{{percentageShelf[1][1].toFixed(2)}}%</b>/100%</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12" ng-show='isNegotiation'>
            <div class="bs-docs-section">
                <retailer-negotiation-agreements ng-show='NegotiationAgreements' is-page-shown='NegotiationAgreements' is-negotiation-change='isNegotiationChange' is-page-loading='isPageLoading'></retailer-negotiation-agreements>
            </div>
        </div>
    </div>
</div>