<div id="content" class="bs-header">
    <div class="container">
        <h1>Private Labels Composition</h1>
        <p>Step 3 of 4, At this step you have to think about and take your decision on the portfolio of your private labels. You start with one PL per category per market. You may have three PLs per category per market. </p>
    </div>
</div>
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        <h4>Step 3 of 4</h4>
        <div class="pull-left" style="width:33%">
          <h3 style="margin-top:0px">Private Labels Composition</h3>
          <div class="btn-group pull-left">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                Category <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class=""><a ng-click="showView(retailerID,period,'Elecssories',language)">Elecssories</a></li>
                <li class=""><a ng-click="showView(retailerID,period,'HealthBeauty',language)">HealthBeauty</a></li>       
              </ul>
          </div>
          <div class="btn-group pull-left" data-toggle="buttons" style="margin-left:10px">
              <label class="btn btn-default" ng-click="showView(retailerID,period,category,'English')">
              <input type="radio" name="options"> English</label>
              <label class="btn btn-default" ng-click="showView(retailerID,period,category,'Chinese')">
              <input type="radio" name="options"> Chinese
              </label>
          </div>
        </div>
        <div class="pull-right" style="width:33%">
          <progress percent="percentageExpend" class="progress active">{{surplusExpend}}</progress>
          <small>
            <em>Total Avaliable Budget for Remaing Period</em>
          </small>
          <!--<progress percent="ePercentageProduction" class="progress progress-suceess active progress-striped">{{eSurplusProduction}}</progress>
          <small>
            <em>Elecssories Available Capacity</em>
          </small>
            <progress percent="hPercentageProduction" class="progress progress-suceess active progress-striped">{{hSurplusProduction}}</progress>
          <small>
            <em>HealthBeauty Available Capacity</em>
          </small>-->
        </div>
          <div style="clear:both"></div>
          <div collapse="isCollapsed" class="panel panel-info">
            <div class="panel-heading">{{variantHistory.parentBrandName||showNewHistory.brandName}}{{variantHistory.varName||showNewHistory.varName}} <button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button></div>
              <table class="table table-condensed table-bordered">
                <thead>
                  <tr>
                    <td colspan="2" class="col-md-6">Current period ({{currentPeriod}})</td>
                    <td colspan="3" class="col-md-6">Previous period ({{currentPeriod-1}})</td>               
                  </tr>                  
                </thead>
                <tbody>
                  <tr>
                    <td>Unit production cost</td>
                    <td>???</td>
                    <td></td>
                    <td>Urban</td>                    
                    <td>Rural</td>                                        
                  </tr>                
                  <tr>
                    <td>Acquired technology level</td>
                    <td ng-show="isElecssories">{{companyHistory.acquiredTechnologyLevel[0]||'/'}}</td>
                    <td ng-show="isHealthBeauty">{{companyHistory.acquiredTechnologyLevel[1]||'/'}}</td>                    
                    <td>Sales volume</td>
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].salesVolume||'/'}}</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].salesVolume||'/'}}</td>                    
                  </tr>                
                  <tr>
                    <td>Acquired design level</td>
                    <td ng-show="isElecssories">{{companyHistory.acquiredDesignLevel[0]||'/'}}</td>
                    <td ng-show="isHealthBeauty">/</td>             
                    <td>Unit production cost</td>
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].currentUnitAcquisitionCost||'/'}}</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].currentUnitAcquisitionCost||'/'}}</td>   
                  </tr>                
                  <tr>
                    <td ng-show="false">Expected perception(x-axis)</td>
                    <td></td>
                    <td></td>
                    <td ng-show="isElecssories">Design index</td>                    
                    <td ng-show="isHealthBeauty">Active-agent</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].closingInventory[4].composition[0]||'/'}}</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].closingInventory[4].composition[0]||'/'}}</td>                    
                  </tr>                
                  <tr>
                    <td ng-show="false">Expected perception(y-axis)</td>
                    <td></td>
                    <td></td>
                    <td>Technology level</td>
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].closingInventory[4].composition[1]||'/'}}</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].closingInventory[4].composition[1]||'/'}}</td>                    
                  </tr>                
                  <tr>
                    <td></td>
                    <td></td>
                    <td ng-show="isElecssories">Raw materials quality</td>  
                    <td ng-show="isHealthBeauty">Smootherner Level</td>                  
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[0].closingInventory[4].composition[2]||'/'}}</td>                    
                    <td>{{variantHistory.channelView[currentRetailerIdx].channelMarketView[1].closingInventory[4].composition[2]||'/'}}</td>                                        
                  </tr>                                  
                </tbody>   
              </table>
          </div>
          <table class="table table-hover">
            <!--<tr>
              <th>{{labelLanguages.Category}}</th>
              <th ng-repeat='product in products'>
              {{product.category}}</th>
            </tr>-->
            <thead>
              <tr>
                <th>{{labelLanguages.Brand}}</th>
                <th ng-repeat='product in products'>
                {{product.parentBrandName}}</th>
              </tr>
              <tr>
                <th>{{labelLanguages.Variant}}</th>
                <th ng-repeat='product in products'>
                  <div style="clear:both"></div>
                  <p class="pull-left">
                    {{product.varName}}
                  </p>
                  <button type="button" class="btn btn-primary btn-xs pull-left" style="margin-left:5px" ng-click="getMoreInfo(product.parentBrandName,product.varName)">More</button>
                  <button type="button" class="btn btn-danger btn-xs pull-left {{(product.dateOfBirth==-4)?'hide':'show'}}" ng-click="deleteProduct(category,product.parentBrandName,product.varName)" style="margin-left:5px">Delete</button>
                  <div style="clear:both"></div>
                </th>
              </tr>              
            </thead>
            <tbody>
              
              <tr>
                <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.PF}}" popover-title="{{labelLanguages.PF}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.PF}}<span style="color:red">*</span></p>
                </th>
                <th ng-repeat='product in products'>
                  <a href="#" editable-select="product.packFormat" e-ng-options="p.value as p.text for p in packs" onaftersave="updateRetailerDecision(category,product.parentBrandName,product.varName,'packFormat','0',$index)">{{ selectPacks(product.parentBrandName,product.varName) }}</a>
                </th>
              </tr>
              <tr>
                <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.TL}}" popover-title="{{labelLanguages.TL}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.TL}}<span style="color:red">*</span></p></th>
                <th ng-repeat='product in products'><a href="#" editable-text="product.composition[1]" onbeforesave="checkTechnology(category,product.parentBrandName,product.varName,'composition','1',$index,$data)" onaftersave="updateRetailerDecision(category,product.parentBrandName,product.varName,'composition','1',$index)">{{ product.composition[1] || 'empty' }}</a></th>
              </tr>
              <tr>
                <th>
                  <p style="display:{{HeaShow}}" class="text-primary" Popover-animation="true" popover="{{infoLanguages.AA}}" popover-title="{{labelLanguages.AA}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.AA}}<span style="color:red">*</span>
                  </p>
                  <p style="display:{{EleShow}}" class="text-primary" Popover-animation="true" popover="{{infoLanguages.DL}}" popover-title="{{labelLanguages.DL}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.DL}}<span style="color:red">*</span>
                  </p>
                </th>
                <th ng-repeat='product in products'><a href="#" editable-text="product.composition[0]" onbeforesave="checkDesign(category,product.parentBrandName,product.varName,'composition','0',$index,$data)" onaftersave="updateRetailerDecision(category,product.parentBrandName,product.varName,'composition','0',$index)">{{ product.composition[0] || 'empty' }}</a></th>
              </tr>
              <tr>
                <th>
                  <p style="display:{{HeaShow}}" class="text-primary" Popover-animation="true" popover="{{infoLanguages.SL}}" popover-title="{{labelLanguages.SL}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.SL}}<span style="color:red">*</span>
                  </p>
                  <p style="display:{{EleShow}}" class="text-primary" Popover-animation="true" popover="{{infoLanguages.QORM}}" popover-title="{{labelLanguages.QORM}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.QORM}}<span style="color:red">*</span>
                  </p>
                </th>
                <th ng-repeat='product in products'><a href="#" editable-text="product.composition[2]" onbeforesave="checkRMQ(category,product.parentBrandName,product.varName,'composition','2',$index,$data)" onaftersave="updateRetailerDecision(category,product.parentBrandName,product.varName,'composition','2',$index)">{{ product.composition[2] || 'empty' }}</a></th>
              </tr>
              <tr>
                <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.DTP}}" popover-title="{{labelLanguages.DTP}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.DTP}}<span style="color:red">*</span></p></th>
                <th ng-repeat='product in products'>
                  <a href="#" editable-checkbox="product.discontinue" e-title="DisContinue this product?" onaftersave="updateRetailerDecision(category,product.parentBrandName,product.varName,'discontinue','0',$index)">{{ product.discontinue && "DisContinue" || "Continue!" }}</a>
                </th>
              </tr>    
            </tbody>
          </table>
          <div>
            <a ng-click="openProductModal()" class="btn btn-default">New Product</a>
            <a href="/#/retailerDecisionStep2" class="btn btn-default">Back</a>
            <a href="/#/retailerDecisionStep4" class="btn btn-primary">Next</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog start-->
<div modal="productModal" class="hide" close="closeProductModal()" options="productModalOpts">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeProductModal()">&times;</button>
        <h4>New Product</h4>
      </div>
      <form method="POST" name="myForm">
        <div class="modal-body">
          <div class="control-group">
            <tabset>
              <tab heading="Launch New Brand" select="setAddNewBrand()">
                <div class="form">
                  <div class="form-group">
                    <label for="lauchNewCategory">Choose Catagory:</label>
                    <select class="form-control" ng-model="lauchNewCategory" ng-change="setBrandName(lauchNewCategory)">
                      <option value="1">Elecssories</option>
                      <option value="2">HealthBeauty</option>
                    </select>
                  </div>
                  <div class="form-group" ng-class="{'has-error':myForm.newBrandName.$invalid}">
                    <label for="lauchNewBrandName">Enter New Brand Name:</label>
                    <div class="input-group">
                      <span class="input-group-addon">{{brandFirstName}}</span>
                      <input type="text" class="form-control" ng-model="lauchNewBrandName" name="newBrandName" ng-maxlength="4" required>
                      <span class="input-group-addon">{{brandLastName}}</span>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{'has-error':myForm.lauchVarName.$invalid}">
                    <label for="lauchNewVarName">Enter New Variant Name</label>
                    <div class="input-group">
                      <span class="input-group-addon">_</span>
                      <input type="text" name="lauchVarName" class="form-control" ng-model="lauchNewVarName" ng-maxlength="4" required>
                    </div>
                  </div>
                </div>
              </tab>
              <tab heading="Add new product under existed Brand" select="setAddNewProUnderBrand()">
                <div class="form">
                  <div class="form-group">
                    <label for="addNewCategory">Choose Catagory:</label>
                    <select class="form-control" ng-model="addNewCategory" ng-change="loadAllBrand(addNewCategory)">
                      <option value="1">Elecssories</option>
                      <option value="2">HealthBeauty</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="addChooseBrand">Choose Brand:</label>
                    <select class="form-control" ng-model="addChooseBrand" >
                      <option ng-repeat="allBrand in allBrands" value="{{allBrand.BrandID}}">{{allBrand.BrandName}}</option>
                    </select>
                  </div>
                  <div class="form-group" ng-class="{'has-error':myForm.addVarName.$invalid}">
                    <label for="addNewVarName">Enter New Variant Name</label>
                    <div class="input-group">
                      <span class="input-group-addon">_</span>
                      <input type="text" name="addVarName" class="form-control" ng-model="addNewVarName" ng-maxlength="4" required>
                    </div>
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
          <div class="{{bubleClassName}}" ng-show='true'>
            <strong>{{bubleTitle}}</strong>{{bubleMsg}}
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" ng-click="addNewProduct(parameter)" style="display:{{newBrand}}" class="btn btn-primary" value="Add" ng-disabled="((myForm.lauchVarName.$invalid)||(myForm.newBrandName.$invalid))"/>
          <input type="button" style="display:{{newVariant}}" ng-click="addNewProduct(parameter)" class="btn btn-primary" value="Add2" ng-disabled="(myForm.addVarName.$invalid)">
          <input type="button" class="btn btn-default" ng-click="closeProductModal()" value="Cancel">
        </div>
      </form>
    </div>
  </div>
</div>  
<!--dialog end-->