<div id="content" class="bs-header">
    <div class="container">
        <h1>Private Labels Composition</h1>
        <p>Step 3 of 4, At this step you have to think about and take your decision on the portfolio of your private labels. You start with one PL per category per market. You may have three PLs per category per market. </p>
    </div>
</div>
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-docs-section">
        <h4>Step 3 of 4</h4>
        <div class="pull-left" style="width:33%">
          <h3 style="margin-top:0px">Private Labels Composition</h3>
          <div class="btn-group pull-left">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                Category <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class=""><a ng-click="showView(retailerID,period,'Elecssories',language)">Elecssories</a></li>
                <li class=""><a ng-click="showView(retailerID,period,'HealthBeauty',language)">HealthBeauty</a></li>       
              </ul>
          </div>
          <div class="btn-group pull-left" data-toggle="buttons" style="margin-left:10px">
              <label class="btn btn-primary" ng-click="showView(retailerID,period,category,'English')">
              <input type="radio" name="options"> English</label>
              <label class="btn btn-primary" ng-click="showView(retailerID,period,category,'Chinese')">
              <input type="radio" name="options"> Chinese
              </label>
          </div>
        </div>
        <div class="pull-right" style="width:33%">
          <progress percent="88" class="progress active"></progress>
          <small>
            <em>Total Avaliable Budget for Remaing Period</em>
          </small>
          <progress percent="70" class="progress progress-suceess active progress-striped"></progress>
          <small>
            <em>Elecssories Available Capacity</em>
          </small>
        </div>
          <div style="clear:both"></div>
          <div collapse="isCollapsed">
            <div class="well well-large">
              <button type="button pull-right" class="close" aria-hidden="true" ng-click="closeInfo()">&times;</button>
             <table class="table table-striped">
                <tr style="backgroud-color:gray">
                  <th></th>
                  <th style="text-align:center">CurrentPeriod period({{currentPeriod}})</th>
                  <th></th>
                </tr>
                <tr>
                  <td>Unit production cost:</td>
                  <td>Acquired design technology level:</td>
                  <td>Acquired design level:</td>
                </tr>
                <tr>
                  <td>Expected perception(x-axis):/</td>
                  <td>Expected perception(y-axis):/</td>
                  <th></th>
                </tr>
                <tr style="margin-top:20px;backgroud-color:gray">
                  <th></th>
                  <th style="text-align:center">Previous period({{(currentPeriod-1)}})</th>
                  <th></th>
                </tr>  
                <tr>
                  <td>Tier-1 Sales Volume:</td>
                  <td>Tier-1 Unit production cost:</td>
                  <td>Tier-1 Design Index:{{companyHistory.acquiredDesignLevel[0]}}</td>
                </tr>
                <tr>
                  <td>Tier-2 Sales Volume:</td>
                  <td>Tier-2 Unit production cost:</td>
                  <td>Tier-2 Design Index:{{companyHistory.acquiredDesignLevel[1]}}</td>
                </tr>
                <tr>
                  <td>Tier-1 Technolohgy level:{{companyHistory.acquiredTechnologyLevel[0]}}</td>
                  <td>Tier-1 Raw Materials Quality:</td>
                  <td></td>
                </tr>  
                <tr>
                  <td>Tier-2 Technolohgy level:{{companyHistory.acquiredTechnologyLevel[1]}}</td>
                  <td>Tier-2 Raw Materials Quality:</td>
                  <td></td>
                </tr>    
              </table>
            </div>
          </div>
          <table class="table table-hover">
            <!--<tr>
              <th>{{labelLanguages.Category}}</th>
              <th ng-repeat='product in products'>
              {{product.category}}</th>
            </tr>-->
            <tr>
              <th>{{labelLanguages.Brand}}</th>
              <th ng-repeat='product in products'>
              {{product.parentBrandName}}</th>
            </tr>
            <tr>
              <th>{{labelLanguages.Variant}}</th>
              <th ng-repeat='product in products'>
                <div style="clear:both"></div>
                <p class="pull-left">
                  {{product.varName}}
                </p>
                <button type="button" class="btn btn-primary btn-xs pull-left" style="margin-left:5px" ng-click="getMoreInfo(product.parentBrandName,product.varName)">More</button>
                <button type="button" class="btn btn-danger btn-xs pull-left {{(product.dateOfBirth==-4)?'hide':'show'}}" ng-click="deleteProduct(category,product.parentBrandName,product.varName)" style="margin-left:5px">Delete</button>
                <div style="clear:both"></div>
              </th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.PF}}" popover-title="{{labelLanguages.PF}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.PF}}<span style="color:red">*</span></p>
              </th>
              <th ng-repeat='product in products'>
                <a href="#" editable-select="product.packFormat" e-ng-options="p.value as p.text for p in packs" onaftersave="updateRetailerDecision(category,product.parentBrandName,product.varName,'packFormat','0',$index)">{{ selectPacks(product.parentBrandName,product.varName) }}</a>
              </th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.TL}}" popover-title="{{labelLanguages.TL}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.TL}}<span style="color:red">*</span></p></th>
              <th ng-repeat='product in products'><a href="#" editable-text="product.composition[1]" onaftersave="updateRetailerDecision(category,product.parentBrandName,product.varName,'composition','1',$index)">{{ product.composition[1] || 'empty' }}</a></th>
            </tr>
            <tr>
              <th>
                <p style="display:{{HeaShow}}" class="text-primary" Popover-animation="true" popover="{{infoLanguages.AA}}" popover-title="{{labelLanguages.AA}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.AA}}<span style="color:red">*</span>
                </p>
                <p style="display:{{EleShow}}" class="text-primary" Popover-animation="true" popover="{{infoLanguages.DL}}" popover-title="{{labelLanguages.DL}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.DL}}<span style="color:red">*</span>
                </p>
              </th>
              <th ng-repeat='product in products'><a href="#" editable-text="product.composition[0]" onaftersave="updateRetailerDecision(category,product.parentBrandName,product.varName,'composition','0',$index)">{{ product.composition[0] || 'empty' }}</a></th>
            </tr>
            <tr>
              <th>
                <p style="display:{{HeaShow}}" class="text-primary" Popover-animation="true" popover="{{infoLanguages.SL}}" popover-title="{{labelLanguages.SL}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.SL}}<span style="color:red">*</span>
                </p>
                <p style="display:{{EleShow}}" class="text-primary" Popover-animation="true" popover="{{infoLanguages.QORM}}" popover-title="{{labelLanguages.QORM}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.QORM}}<span style="color:red">*</span>
                </p>
              </th>
              <th ng-repeat='product in products'><a href="#" editable-text="product.composition[2]" onaftersave="updateRetailerDecision(category,product.parentBrandName,product.varName,'composition','2',$index)">{{ product.composition[2] || 'empty' }}</a></th>
            </tr>
            <tr>
              <th><p class="text-primary" Popover-animation="true" popover="{{infoLanguages.DTP}}" popover-title="{{labelLanguages.DTP}}" popover-trigger="mouseenter" popover-placement="bottom">{{labelLanguages.DTP}}<span style="color:red">*</span></p></th>
              <th ng-repeat='product in products'>
                <a href="#" editable-checkbox="product.discontinue" e-title="DisContinue this product?" onaftersave="updateRetailerDecision(category,product.parentBrandName,product.varName,'discontinue','0',$index)">{{ product.discontinue && "DisContinue" || "Continue!" }}</a>
              </th>
            </tr>    
          </table>
          <div>
            <a ng-click="openProductModal()" class="btn btn-success">New Product</a>
            <a href="/#/retailerDecisionStep2" class="btn btn-primary">Back</a>
            <a href="/#/retailerDecisionStep4" class="btn btn-success">Next</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--dialog start-->
<div modal="productModal" class="hide" close="closeProductModal()" options="productModalOpts">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeProductModal()">&times;</button>
        <h4>New Product</h4>
      </div>
      <form method="POST">
        <div class="modal-body">
          <div class="control-group">
            <tabset>
              <tab heading="Launch New Brand" select="setAddNewBrand()">
                <div class="form">
                  <div class="form-group">
                    <label for="lauchNewCategory">Choose Catagory:</label>
                    <select class="form-control" ng-model="lauchNewCategory" ng-change="setBrandName(lauchNewCategory)">
                      <option value="1">Elecssories</option>
                      <option value="2">HealthBeauty</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="lauchNewBrandName">Enter New Brand Name:</label>
                    <div class="input-group">
                      <span class="input-group-addon">{{brandFirstName}}</span>
                      <input type="text" class="form-control" ng-model="lauchNewBrandName">
                      <span class="input-group-addon">{{brandLastName}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="lauchNewVarName">Enter New Variant Name</label>
                    <input type="text" class="form-control" ng-model="lauchNewVarName">
                  </div>
                </div>
              </tab>
              <tab heading="Add new product under existed Brand" select="setAddNewProUnderBrand()">
                <div class="form">
                  <div class="form-group">
                    <label for="addNewCategory">Choose Catagory:</label>
                    <select class="form-control" ng-model="addNewCategory" ng-change="loadAllBrand(addNewCategory)">
                      <option value="1">Elecssories</option>
                      <option value="2">HealthBeauty</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="addChooseBrand">Choose Brand:</label>
                    <select class="form-control" ng-model="addChooseBrand" >
                      <option ng-repeat="allBrand in allBrands" value="{{allBrand.BrandID}}">{{allBrand.BrandName}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="addNewVarName">Enter New Variant Name</label>
                    <input type="text" class="form-control" ng-model="addNewVarName">
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" ng-click="addNewProduct(parameter)" class="btn btn-success" value="Add"/>
          <input type="button" class="btn btn-warning cancel" ng-click="closeProductModal()" value="Cancel">
        </div>
      </form>
    </div>
  </div>
</div>  
<!--dialog end-->