<style TYPE="text/css">
    .popover-content{
        color: #333333;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
      border: 1px solid #428BCA;
    }
    .col-md-9{
        width: 74%;
    }
    .col-md-3{
        width: 26%;
    }
    @media (min-width: 1200px) {
      /* Widen the fixed sidebar again */
      .bs-docs-sidebar.affix-bottom,
      .bs-docs-sidebar.affix {
        width: 25%;
      }
    }
</style>
<div id="content" class="bs-header">
    <div class="container">
        <h1>{{Label.getContent('Summary Report')}}</h1>
        <p>{{Label.getContent('Summary Report Info')}}</p>
    </div>
</div>

<div class="bs-old-docs">
    <div class="container">
        <strong>
            {{Label.getContent('Summary Report popInfo')}}
        </strong>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9">
            <div class="bs-docs-section">
                <!--general report -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center" popover="{{Label.getContent('Performance Highlights Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Performance Highlights')}}</h3>
                    </div>
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="3"></th>
                                <th colspan="3">
                                    <p class="text-center">
                                        {{Label.getContent('Producer')}}
                                    </p>
                                </th>
                                <th colspan="2">
                                    <p class="text-center">
                                        {{Label.getContent('Retailer')}}
                                    </p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3"></td>
                                <td>
                                    <p class="text-center">
                                        {{Label.getContent('Producer')}} 1
                                    </p>
                                </td>
                                <td>
                                    <p class="text-center">
                                        {{Label.getContent('Producer')}} 2
                                    </p>
                                </td>
                                <td>
                                    <p class="text-center">
                                        {{Label.getContent('Producer')}} 3
                                    </p>
                                </td>
                                <td>
                                    <p class="text-center">
                                        {{Label.getContent('Retailer')}} 1
                                    </p>
                                </td>
                                <td>
                                    <p class="text-center">
                                        {{Label.getContent('Retailer')}} 2
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8">{{Label.getContent('Sales')}}</td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <p class="padding-20">
                                        {{Label.getContent('Volume')}}(units mln)
                                    </p>
                                </td>
                            </tr>
                            <tr class="success">
                                <td colspan="3">
                                    <p class="padding-40">
                                        {{Label.getContent('Elecssories')}}
                                    </p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="danger">
                                <td colspan="3">
                                    <p class="padding-40">
                                        {{Label.getContent('HealthBeauties')}}
                                    </p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <p class="padding-20">
                                        {{Label.getContent('Value')}}($mln)
                                    </p>
                                </td>
                            </tr>
                            <tr class="success">
                                <td colspan="3">
                                    <p class="padding-40">
                                        {{Label.getContent('Elecssories')}}
                                    </p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="danger">
                                <td colspan="3">
                                    <p class="padding-40">
                                        {{Label.getContent('HealthBeauties')}}
                                    </p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td colspan="8">{{Label.getContent('Consumer Market Shares')}}</td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <p class="padding-20">
                                        {{Label.getContent('Value Market Shares')}} (%)
                                    </p>
                                </td>
                            </tr>
                            <tr class="success">
                                <td colspan="3">
                                    <p class="padding-40">
                                        {{Label.getContent('Elecssories')}}
                                    </p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="danger">
                                <td colspan="3">
                                    <p class="padding-40">
                                        {{Label.getContent('HealthBeauties')}}
                                    </p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <p class="padding-20">
                                        {{Label.getContent('Volume Market Shares')}} (%)
                                    </p>
                                </td>
                            </tr>
                            <tr class="success">
                                <td colspan="3">
                                    <p class="padding-40">
                                        {{Label.getContent('Elecssories')}}
                                    </p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="danger">
                                <td colspan="3">
                                    <p class="padding-40">
                                        {{Label.getContent('HealthBeauties')}}
                                    </p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    {{Label.getContent('Operating Profit')}}($mln)
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    {{Label.getContent('Cumulative Investments')}}($mln)
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--general report -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center" popover="{{Label.getContent('Product Portfolio Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Product Portfolio')}}</h3>
                    </div>
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <p class="text-center">{{Label.getContent('Pack Format')}}</p>
                                </th>
                                <th>
                                    <p class="text-center">{{Label.getContent('Technology Level')}}</p>
                                </th>
                                <th>
                                    <p class="text-center">{{Label.getContent('Design Level')}}</p>
                                </th>
                                <th>
                                    <p class="text-center">{{Label.getContent('Quality-of-Raw-Materials')}}</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--E-->
                            <tr class="success">
                                <th colspan="5">{{Label.getContent('Elecssories')}}</th>
                            </tr>
                            <tr class="success">
                                <td colspan="5">
                                    <p class="padding-20">{{Label.getContent('Producer')}} 1</p>
                                </td>
                            </tr>
                            <tr class="success">
                                <td>
                                    <p class="padding-40">ELAND1</p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <!--H-->
                            <tr>
                                <th></th>
                                <th>
                                    <p class="text-center">{{Label.getContent('Pack Format')}}</p>
                                </th>
                                <th>
                                    <p class="text-center">{{Label.getContent('Technology Level')}}</p>
                                </th>
                                <th>
                                    <p class="text-center">{{Label.getContent('Active agent')}}</p>
                                </th>
                                <th>
                                    <p class="text-center">{{Label.getContent('Smoothener Level')}}</p>
                                </th>
                            </tr>
                            <tr class="danger">
                                <th colspan="5">{{Label.getContent('HealthBeauties')}}</th>
                            </tr>
                            <tr class="danger">
                                <td colspan="5">
                                    <p class="padding-20">{{Label.getContent('Producer')}} 1</p>
                                </td>
                            </tr>
                            <tr class="danger">
                                <td>
                                    <p class="padding-40">HLAND1</p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--general report -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center" popover="{{Label.getContent('eMall Prices and Promotion Intensity Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('eMall Prices and Promotion Intensity')}}</h3>
                    </div>
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th colspan="2">
                                    <p class="text-center">{{Label.getContent('Price')}}</p>
                                </th>
                                <th colspan="2">
                                    <p class="text-center">{{Label.getContent('Promotion Intensity')}}</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    <p class="text-center">
                                        {{Label.getContent('Net Online Retail Price')}} ($)
                                    </p>
                                </td>
                                <td>
                                    <p class="text-center">
                                        {{Label.getContent('Change over the Previous Period')}}
                                    </p>
                                </td>
                                <td>
                                    <p class="text-center">
                                        {{Label.getContent('Length of Promotion')}}
                                    </p>
                                </td>
                                <td>
                                    <p class="text-center">
                                        {{Label.getContent('Depth of Promotion')}}
                                    </p>
                                </td>
                            </tr>
                            <!--E-->
                            <tr class="success">
                                <th colspan="5">{{Label.getContent('Elecssories')}}</th>
                            </tr>
                            <tr class="success">
                                <td colspan="5">
                                    <p class="padding-20">{{Label.getContent('Producer')}} 1</p>
                                </td>
                            </tr>
                            <tr class="success">
                                <td>
                                    <p class="padding-40">ELAND1</p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <!--H-->
                            <tr class="danger">
                                <th colspan="5">{{Label.getContent('HealthBeauties')}}</th>
                            </tr>
                            <tr class="danger">
                                <td colspan="5">
                                    <p class="padding-20">{{Label.getContent('Producer')}} 1</p>
                                </td>
                            </tr>
                            <tr class="danger">
                                <td>
                                    <p class="padding-40">HLAND1</p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="bs-docs-sidebar hidden-print" affix='200' role="complementary" angular-bootstrap>
                <ul class="nav bs-docs-sidenav">
                    <li class="active">
                        <a href="/#/summaryReport" style="color:#428BCA">{{Label.getContent('Performance Highlights')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:#428BCA">{{Label.getContent('Market Shares')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:#428BCA">{{Label.getContent('Sales')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:#428BCA">{{Label.getContent('Cross-Segment Sales Volumes')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:#428BCA">{{Label.getContent('Product Portfolio')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:#428BCA">{{Label.getContent('eMall Prices and Promotion Intensity')}}</a>
                    </li>
                    <li class="">
                    	<a href="/#/summaryReport" style="color:#5CB85C">{{Label.getContent('Financial Results')}}</a>
                    	<ul class="nav second-sidenav">
                    		<li class="">
		                        <a href="/#/summaryReport" style="color:#5CB85C">{{Label.getContent('Consolidated Profit & Loss Statement')}}</a>
		                    </li>
		                    <li class="">
                                <a href="/#/summaryReport" style="color:#5CB85C">{{Label.getContent('B&M Business Profit & Loss Statement')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/summaryReport" style="color:#5CB85C">{{Label.getContent('Online Business Profit & Loss Statement')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/summaryReport" style="color:#5CB85C">{{Label.getContent('Profitability by Channel')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/summaryReport" style="color:#5CB85C">{{Label.getContent('Last Period Negotiations')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/summaryReport" style="color:#5CB85C">{{Label.getContent('Consolidated Profit & Loss Statement')}}</a>
                            </li>
                    	</ul>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:#5CB85C">{{Label.getContent('Situation Report')}}</a>
                        <ul class="nav second-sidenav">
                            <li class="">
                                <a href="/#/summaryReport" style="color:#5CB85C">{{Label.getContent('Elecssories')}}</a>
                            </li>
                            <li class="">
                                <a href="/#/summaryReport" style="color:#5CB85C">{{Label.getContent('HealthBeauties')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:#5CB85C">{{Label.getContent('Key Performance Indicators')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:#D9534F">{{Label.getContent('Awareness')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:#D9534F">{{Label.getContent('Perceptions')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:#D9534F">{{Label.getContent('Behavior')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:#D9534F">{{Label.getContent('Retailer Prices and Promotion Intensity')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:#D9534F">{{Label.getContent('Supplier Intelligence')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:#D9534F">{{Label.getContent('Retailer Intelligence')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:#D9534F">{{Label.getContent('Forecasts')}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>