<div id="content" class="bs-header">
    <div class="container">
        <h1>{{Label.getContent('Summary Report')}}</h1>
        <p>{{Label.getContent('Summary Report Info')}}</p>
    </div>
</div>

<div class="bs-old-docs">
    <div class="container">
        <strong>
            {{Label.getContent('Summary Report popInfo')}}
        </strong>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9">
            <div class="bs-docs-section">
            	<table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:80%" scope="col">对比项</th>
                            <th style="width:10%" scope="col">城市</th>
                            <th class="width:10%" scope="col">农村</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>家庭户数（百万）</td>
                            <td>16</td>
                            <td>38</td>
                        </tr>
                        <tr>
                            <td>品类渗透率 %（两个品类）</td>
                            <td>100</td>
                            <td>70</td>
                        </tr>
                        <tr>
                            <td>互联网普及率 %</td>
                            <td>75</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <th>市场份额组成</th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>现代零售连锁占整个市场的百分比%</td>
                            <td>60</td>
                            <td>35</td>
                        </tr>
                        <tr>
                            <td>传统零售占整个市场的百分比%</td>
                            <td>30</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>网上零售占整个市场的百分比 %</td>
                            <td>10</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>零售商1与零售商2在两市场门店数类似</td>
                            <td>30</td>
                            <td>30</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bs-docs-sidebar hidden-print" affix='200' role="complementary" angular-bootstrap>
                <ul class="nav bs-docs-sidenav">
                    <li class="active">
                        <a href="/#/summaryReport" style="color:blue">概述</a>
                        <ul class="nav second-sidenav">
                            <li class="active">
                                <a href="/#/summaryReport" style="color:blue">简述</a>
                            </li>
                            <li class="">
                                <a href="/#/summaryReport" style="color:blue">市场/地理区域</a>
                            </li>
                            <li class="">
                                <a href="/#/summaryReport" style="color:blue">品类</a>
                            </li>
                            <li class="">
                                <a href="/#/summaryReport" style="color:blue">游戏结构</a>
                            </li>
                            <li class="">
                                <a href="/#/summaryReport" style="color:blue">消费者/购物者</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:blue">报告</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:blue">图表</a>
                    </li>
                    <li class="">
                    	<a href="/#/summaryReport" style="color:green">决策</a>
                    	<ul class="nav second-sidenav">
                    		 <li class="">
		                        <a href="/#/summaryReport" style="color:green">生产商决策</a>
		                    </li>
		                    <li class="">
		                        <a href="/#/summaryReport" style="color:green">零售商决策</a>
		                    </li>
                    	</ul>
                    </li>
                   
                    <li class="">
                        <a href="/#/summaryReport" style="color:red">谈判</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:red">报告</a>
                    </li>
                    <li class="">
                        <a href="/#/summaryReport" style="color:red">市场研究</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>