<style TYPE="text/css">

    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
      border: 1px solid #428BCA;
      border-right: none;
    }
    @media (min-width: 1200px) {
      /* Widen the fixed sidebar again */
      .bs-docs-sidebar.affix-bottom,
      .bs-docs-sidebar.affix {
        width: 25%;
      }
    }

    .my-super-awesome-loading-box {
      padding: 10px;
      text-align: center;
      border: 0px solid gray;
      background: #EFEFEF;
    }

</style>

<div class="my-super-awesome-loading-box" ng-show="isPageLoading">Loading...</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9">
            <div class="bs-docs-section">
                <supplier-product-portfolio-management ng-show='ProductPortfolioManagement' is-page-shown='ProductPortfolioManagement' is-page-loading='isPageLoading'></supplier-product-portfolio-management>
                
                <supplier-b-m-list-prices ng-show='BMListPrices' is-page-shown='BMListPrices' is-page-loading='isPageLoading'></supplier-b-m-list-prices>
                
                <supplier-negotiation-agreements ng-show='NegotiationAgreements' is-page-shown='NegotiationAgreements' is-page-loading='isPageLoading'></supplier-negotiation-agreements>
                <supplier-production-volume ng-show='ProductionVolume' is-page-shown='ProductionVolume' is-page-loading='isPageLoading'></supplier-production-volume>
                <supplier-general-marketing ng-show='GeneralMarketing' is-page-shown='GeneralMarketing' is-page-loading='isPageLoading'></supplier-general-marketing>
                <supplier-online-store-management ng-show='OnlineStoreManagement' is-page-shown='OnlineStoreManagement' is-page-loading='isPageLoading'></supplier-online-store-management>
                <supplier-asset-investments ng-show='AssetInvestments' is-page-shown='AssetInvestments' is-page-loading='isPageLoading'></supplier-asset-investments>
                <supplier-market-research-orders ng-show='MarketResearchOrders' is-page-shown='MarketResearchOrders' is-page-loading='isPageLoading'></supplier-market-research-orders> 
            </div>
        </div>
        <div class="col-md-3">
            <div class="bs-docs-sidebar hidden-print" affix='10' role="complementary" angular-bootstrap>
                <table class="table table-condensed">
                    <thead>
                        <th colspan="2">
                            <p>{{Label.getContent('Decision Info')}}</p>
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p>{{Label.getContent('Time Left')}}</p></td>
                            <td><p class="text-right">30 {{Label.getContent('mins')}}</p></td>
                        </tr>
                        <tr>
                            <td><p>{{Label.getContent('Total Budget')}}</p></td>
                            <td><p class="text-right"><b>{{surplusExpend}}</b>/{{totalBudget}}</p></td>
                        </tr>
                        <tr>
                            <td colspan="2"><p>{{Label.getContent('Available Period Capacity')}}</p></td>
                        </tr>
                        <tr>
                            <td><p class="padding-20">{{Label.getContent('Elecssories')}}</p></td>
                            <td><p class="text-right"><b>{{eleSurplusProduction}}</b>/{{acEleMax}}</p></td>
                        </tr>
                        <tr>
                            <td><p class="padding-20">{{Label.getContent('HealthBeauties')}}</p></td>
                            <td><p class="text-right"><b>{{heaSurplusProduction}}</b>/{{acHeaMax}}</p></td>
                        </tr>
                    </tbody>
                </table>
                <ul class="nav bs-docs-sidenav">
                    <li class="active">
                        <a href="/#/supplierDecision" style="color:#428BCA" ng-click="showProductPortfolioManagement()">{{Label.getContent('Product Portfolio Management')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/supplierDecision" style="color:#428BCA" ng-click='showBMListPrices()'>{{Label.getContent('B&M List Prices')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/supplierDecision" style="color:#428BCA" ng-click='showNegotiationAgreements()'>{{Label.getContent('Negotiation Agreements')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/supplierDecision" style="color:#428BCA" ng-click='showProductionVolume()'>{{Label.getContent('Production Volumes')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/supplierDecision" style="color:#428BCA" ng-click='showGeneralMarketing()'>{{Label.getContent('General Marketing')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/supplierDecision" style="color:#428BCA" ng-click='showOnlineStoreManagement()'>{{Label.getContent('Online Store Management')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/supplierDecision" style="color:#428BCA" ng-click='showAssetInvestments()'>{{Label.getContent('Asset Investments')}}</a>
                    </li>
                    <li class="">
                        <a href="/#/supplierDecision" style="color:#428BCA" ng-click='showMarketResearchOrders()'>{{Label.getContent('Market Research Orders')}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>