<link href="/js/steps/steps.css" type="text/css" rel="stylesheet">
<style TYPE="text/css">

    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
      border: 1px solid #428BCA;
      border-right: none;
    }
    .bs-docs-sidebar.affix{
        position: fixed;
    }
    @media (min-width: 1200px) {
      /* Widen the fixed sidebar again */
      .bs-docs-section.affix-bottom,
      .bs-docs-section.affix {
        padding: 0;
      }
    }

    .my-super-awesome-loading-box {
      padding: 10px;
      text-align: center;
      border: 0px solid gray;
      background: #EFEFEF;
    }
    .bs-docs-section{
        padding-top:60px;
    }
    .col-md-9{
        width: 80%;
    }
    .col-md-3{
        width: 20%;
    }
    @media (min-width: 1200px) {
      /* Widen the fixed sidebar again */
      .bs-docs-sidebar.affix-bottom,
      .bs-docs-sidebar.affix {1
        width: 213px;
      }
    }

</style>

<div class="my-super-awesome-loading-box" ng-show="isPageLoading">Loading...</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-12">

            <div style="padding:50px 0" angular-wizard>
                <ul class="steps-indicator steps-8">
                    <li class="done editing">
                        <a href="/#/supplierDecision" ng-click="showProductPortfolioManagement()">{{Label.getContent('Product Portfolio Management')}}</a>
                        </li>
                    <li class="done">
                        <a href="/#/supplierDecision" ng-click='showBMListPrices()'>{{Label.getContent('B&M List Prices')}}</a>
                    </li>
                    <li class="done">
                        <a href="/#/supplierDecision" ng-click='showNegotiationAgreements()'>{{Label.getContent('Negotiation Agreements')}}</a>
                    </li>
                    <li class="done">
                        <a href="/#/supplierDecision" ng-click='showProductionVolume()'>{{Label.getContent('Production Volumes')}}</a>
                    </li>
                    <li class="done">
                        <a href="/#/supplierDecision" ng-click='showGeneralMarketing()'>{{Label.getContent('General Marketing')}}</a>
                    </li>
                    <li class="done">
                        <a href="/#/supplierDecision" ng-click='showOnlineStoreManagement()'>{{Label.getContent('Online Store Management')}}</a>
                    </li>
                    <li class="done">
                        <a href="/#/supplierDecision" ng-click='showAssetInvestments()'>{{Label.getContent('Asset Investments')}}</a>
                    </li>
                    <li class="done">
                        <a href="/#/supplierDecision" ng-click='showMarketResearchOrders()'>{{Label.getContent('Market Research Orders')}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9" ng-show='!isNegotiation' style="padding:0 0 0 15px">

            <div class="bs-docs-section">
            <p access-level='{{accessLevels.facilitatorView}}'>You are checking the decision of period <b>{{historyPeriod}}</b>, Supplier {{PlayerID}}</p>

                <supplier-product-portfolio-management ng-show='ProductPortfolioManagement' is-page-shown='ProductPortfolioManagement' is-page-loading='isPageLoading' is-ready='isPortfolioDecisionReady'></supplier-product-portfolio-management>
                
                <supplier-b-m-list-prices ng-show='BMListPrices' is-page-shown='BMListPrices' is-page-loading='isPageLoading' is-ready='isPortfolioDecisionReady'></supplier-b-m-list-prices>
                
                <supplier-production-volume ng-show='ProductionVolume' is-page-shown='ProductionVolume' is-page-loading='isPageLoading' is-ready='isFinalDecisionReady'></supplier-production-volume>
                
                <supplier-general-marketing ng-show='GeneralMarketing' is-page-shown='GeneralMarketing' is-page-loading='isPageLoading' is-ready='isFinalDecisionReady'></supplier-general-marketing>
                
                <supplier-online-store-management ng-show='OnlineStoreManagement' is-page-shown='OnlineStoreManagement' is-page-loading='isPageLoading' is-ready='isFinalDecisionReady'></supplier-online-store-management>
                
                <supplier-asset-investments ng-show='AssetInvestments' is-page-shown='AssetInvestments' is-page-loading='isPageLoading' is-ready='isFinalDecisionReady'></supplier-asset-investments>

                <supplier-market-research-orders ng-show='MarketResearchOrders' is-page-shown='MarketResearchOrders' is-page-loading='isPageLoading' is-ready='isFinalDecisionReady'></supplier-market-research-orders> 
            </div>
        </div>
        <div class="col-md-3" ng-show='!isNegotiation' style="padding:0 0 0 15px">
            <div class="bs-docs-section bs-docs-sidebar hidden-print" affix='0' role="complementary">
                <table class="table table-condensed">
                    <thead>
                        <th colspan="2">
                            <p>{{Label.getContent('Decision Info')}}</p>
                        </th>
                    </thead>
                    <tbody>
<!--                         <tr>
                            <td><p>{{Label.getContent('Time Left')}}</p></td>
                            <td><p class="text-right">30 {{Label.getContent('mins')}}</p></td>
                        </tr>
 -->                        <tr>
                            <td><p>{{Label.getContent('Total Budget')}}</p></td>
                            <td><p class="text-right"><b>{{surplusExpend}}</b>/{{abMax}}</p></td>
                        </tr>
                        <tr>
                            <td colspan="2"><p>{{Label.getContent('Available Period Capacity')}}</p></td>
                        </tr>
                        <tr>
                            <td><p class="padding-10">{{Label.getContent('Elecssories')}}</p></td>
                            <td><p class="text-right"><b>{{eleSurplusProduction}}</b>/{{acEleMax}}</p></td>
                        </tr>
                        <tr>
                            <td><p class="padding-10">{{Label.getContent('HealthBeauties')}}</p></td>
                            <td><p class="text-right"><b>{{heaSurplusProduction}}</b>/{{acHeaMax}}</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12" ng-show='isNegotiation'>
            <div class="bs-docs-section">
                <supplier-negotiation-agreements ng-show='NegotiationAgreements' is-page-shown='NegotiationAgreements' is-portfolio-decision-ready='isPortfolioDecisionReady' is-page-loading='isPageLoading'></supplier-negotiation-agreements>
            </div>
        </div>
    </div>
</div>