<div id="content" class="bs-header">
    <div class="container">
        <h1>Participant manual</h1>
        <p>An overview of E-tales, basic rules and how to play, basic templates and examples, and more.</p>
    </div>
</div>

<div class="bs-old-docs">
    <div class="container">
        <strong>
           
        </strong>
    </div>
</div>
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="bs-docs-section">
                <a class="btn btn-primary" ng-click="testPost()">testPost</a>
                <br/>  
                <h1>Test Passive module</h1>
                <a class="btn btn-primary" ng-click="testPassive()">
                testPassiveModule</a>
                <h1>Test Initialise module</h1>
                <a class="btn btn-primary" ng-click="testInitialise()">
                testInitialiseModule</a>                
                <h1>Test Authentication</h1>
                <a class="btn btn-primary" ng-click="testAuth()">
                Login</a>                
                <a class="btn btn-primary" ng-click="logOut()">
                Logout</a>                

                <h1>Current User</h1>
                <a class="btn btn-primary" ng-click="showUser()">
                show current user</a>                

                <h1>Test loading button</h1>
                <button btnLoading="true" type="button" data-loading-text="Loading..." class="btn btn-primary">
                  Loading state
                </button>            
            </div>
        </div>
    </div>
</div>
    
