<div class="panel panel-primary" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Cross-Segment Sales Volumes Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Cross-Segment Sales Volumes')}}</h3>
    </div>
    <highchart id="chart1" config="chart1Config" class="span9" style="height:600px;width:810px;"></highchart>
    <highchart id="chart2" config="chart2Config" class="span9" style="height:600px;width:810px;"></highchart>
    <highchart id="chart3" config="chart3Config" class="span9" style="height:600px;width:810px;"></highchart>
    <highchart id="chart4" config="chart4Config" class="span9" style="height:600px;width:810px;"></highchart>
</div>