<div class="panel my-panel-warning panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Cross-Segment Sales Volumes Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Cross-Segment Sales Volumes')}}</h3>
    </div>
    <div cross-segment1 id="crossSegment1" ng-model="crossSegment1Config" class="span9" style="height:600px"></div>
    <div cross-segment2 id="crossSegment2" ng-model="crossSegment2Config" class="span9" style="height:600px"></div>
    <div cross-segment3 id="crossSegment3" ng-model="crossSegment3Config" class="span9" style="height:600px"></div>
    <div cross-segment4 id="crossSegment4" ng-model="crossSegment4Config" class="span9" style="height:600px"></div>
</div>