<div class="panel panel-primary" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Cross-Segment Sales Volumes Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Cross-Segment Sales Volumes')}}</h3>
    </div>
    <highchart id="crossSegment1" config="crossSegment1Config" class="span9" style="height:600px;width:810px;"></highchart>
    <highchart id="crossSegment2" config="crossSegment2Config" class="span9" style="height:600px;width:810px;"></highchart>
    <highchart id="crossSegment3" config="crossSegment3Config" class="span9" style="height:600px;width:810px;"></highchart>
    <highchart id="crossSegment4" config="crossSegment4Config" class="span9" style="height:600px;width:810px;"></highchart>
</div>