<div class="panel my-panel-warning panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Segment Leadership Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Segment Leadership')}} - {{Label.getContent('Elecssories')}} - {{Label.getContent('Across Markets')}}</h3>
    </div>
    <div style="height:300px">
        <div price-sensitive-serie1 id="priceSensitiveSerie1" ng-model="priceSensitiveSerie1Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div value-serie1 id="valueSerie1" ng-model="valueSerie1Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div fashion-serie1 id="fashionSerie1" ng-model="fashionSerie1Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div freaks-serie1 id="freaksSerie1" ng-model="freaksSerie1Config" class="pull-left" style="height:300px;width:25%;"></div>
    </div>
</div>

<div class="panel my-panel-warning panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Segment Leadership Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Segment Leadership')}} - {{Label.getContent('Elecssories')}} - {{Label.getContent('B&M')}}</h3>
    </div>
    <div style="height:300px">
        <div price-sensitive-serie2 id="priceSensitiveSerie2" ng-model="priceSensitiveSerie2Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div value-serie2 id="valueSerie2" ng-model="valueSerie2Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div fashion-serie2 id="fashionSerie2" ng-model="fashionSerie2Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div freaks-serie2 id="freaksSerie2" ng-model="freaksSerie2Config" class="pull-left" style="height:300px;width:25%;"></div>
    </div>
</div>

<div class="panel my-panel-warning panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Segment Leadership Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Segment Leadership')}} - {{Label.getContent('Elecssories')}} - {{Label.getContent('Online')}}</h3>
    </div>
    <div style="height:300px">
        <div price-sensitive-serie3 id="priceSensitiveSerie3" ng-model="priceSensitiveSerie3Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div value-serie3 id="valueSerie3" ng-model="valueSerie3Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div fashion-serie3 id="fashionSerie3" ng-model="fashionSerie3Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div freaks-serie3 id="freaksSerie3" ng-model="freaksSerie3Config" class="pull-left" style="height:300px;width:25%;"></div>
    </div>
</div>

