<div class="panel my-panel-warning panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('eMall Prices and Promotion Intensity Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('eMall Prices and Promotion Intensity')}}</h3>
    </div>
    <table class="table table-condensed table-bordered table-primary">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Price')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Promotion Intensity')}}</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Net Online Retail Price')}} ({{Label.getContent('$')}})
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Change over the Previous Period')}}
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Length of Promotion')}}
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Depth of Promotion')}}
                    </p>
                </td>
            </tr>
            <!--E-->
            <tr class="success">
                <th colspan="5">{{Label.getContent('Elecssories')}}</th>
            </tr>
            <tr class="success" ng-repeat-start='producer in producerses'>
                <td colspan="5">
                    <p class="padding-20">{{Label.getContent('Producer')}} {{$index+1}}</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='product in producer' ng-repeat-end>
                <td>
                    <p class="padding-40">{{product.parentBrandName+product.varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.vemp_NetOnlinePrice | number : 1}}</p>
                </td>
                <td>
                    <p class="text-right">{{(product.vemp_PriceChange*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.vemp_Promotions.promo_Frequency | number : 1}}</p>
                </td>
                <td>
                    <p class="text-right">{{(product.vemp_Promotions.promo_Rate*100) | number : 1}}</p>
                </td>
            </tr>
            <!--H-->
            <tr class="danger">
                <th colspan="5">{{Label.getContent('HealthBeauties')}}</th>
            </tr>
            <tr class="danger" ng-repeat-start='producer in producershs'>
                <td colspan="5">
                    <p class="padding-20">{{Label.getContent('Producer')}} {{$index+1}}</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='product in producer' ng-repeat-end>
                <td>
                    <p class="padding-40">{{product.parentBrandName+product.varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.vemp_NetOnlinePrice | number : 1}}</p>
                </td>
                <td>
                    <p class="text-right">{{(product.vemp_PriceChange*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.vemp_Promotions.promo_Frequency | number : 1}}</p>
                </td>
                <td>
                    <p class="text-right">{{(product.vemp_Promotions.promo_Rate*100) | number : 1}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>