<div class="panel my-panel-warning panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Segment Leadership Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Segment Leadership')}} - {{Label.getContent('HealthBeauties')}} - {{Label.getContent('Across Markets')}}</h3>
    </div>
    <div style="height:300px">
        <div price-sensitive-serie4 id="priceSensitiveSerie4" ng-model="priceSensitiveSerie4Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div value-serie4 id="valueSerie4" ng-model="valueSerie4Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div fashion-serie4 id="fashionSerie4" ng-model="fashionSerie4Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div freaks-serie4 id="freaksSerie4" ng-model="freaksSerie4Config" class="pull-left" style="height:300px;width:25%;"></div>
    </div>
</div>

<div class="panel my-panel-warning panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Segment Leadership Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Segment Leadership')}} - {{Label.getContent('HealthBeauties')}} - {{Label.getContent('B&M')}}</h3>
    </div>
    <div style="height:300px">
        <div price-sensitive-serie5 id="priceSensitiveSerie5" ng-model="priceSensitiveSerie5Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div value-serie5 id="valueSerie5" ng-model="valueSerie5Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div fashion-serie5 id="fashionSerie5" ng-model="fashionSerie5Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div freaks-serie5 id="freaksSerie5" ng-model="freaksSerie5Config" class="pull-left" style="height:300px;width:25%;"></div>
    </div>
</div>

<div class="panel my-panel-warning panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Segment Leadership Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Segment Leadership')}} - {{Label.getContent('HealthBeauties')}} - {{Label.getContent('Online')}}</h3>
    </div>
    <div style="height:300px">
        <div price-sensitive-serie6 id="priceSensitiveSerie6" ng-model="priceSensitiveSerie6Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div value-serie6 id="valueSerie6" ng-model="valueSerie6Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div fashion-serie6 id="fashionSerie6" ng-model="fashionSerie6Config" class="pull-left" style="height:300px;width:25%;"></div>
        <div freaks-serie6 id="freaksSerie6" ng-model="freaksSerie6Config" class="pull-left" style="height:300px;width:25%;"></div>
    </div>
</div>

