<div class="panel my-panel-warning panel-danger" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Sales Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Market Sales')}}</h3>
    </div>
    <div market-sales1 id="marketSales1" ng-model="marketSales1Config" class="span9" style="height:600px"></div>
    <div market-sales2 id="marketSales2" ng-model="marketSales2Config" class="span9" style="height:600px"></div>
    <div market-sales3 id="marketSales3" ng-model="marketSales3Config" class="span9" style="height:600px"></div>
    <div market-sales4 id="marketSales4" ng-model="marketSales4Config" class="span9" style="height:600px"></div>
</div>