<div class="panel my-panel-warning panel-danger" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Sales Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Market Sales')}}</h3>
    </div>
    <highchart id="marketSales1" config="marketSales1Config" class="span9" style="height:600px"></highchart>
    <highchart id="marketSales2" config="marketSales2Config" class="span9" style="height:600px"></highchart>
    <highchart id="marketSales3" config="marketSales3Config" class="span9" style="height:600px"></highchart>
    <highchart id="marketSales4" config="marketSales4Config" class="span9" style="height:600px"></highchart>
</div>