<div class="panel panel-primary" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Shares Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Market Shares')}}</h3>
    </div>
    
    <div>
	    <highchart id="marketShare1" config="marketShare1Config" class="span9" style="height:600px;width:810px;"></highchart>
	    <highchart id="marketShare2" config="marketShare2Config" class="span9" style="height:600px;width:810px;"></highchart>
	    <highchart id="marketShare3" config="marketShare3Config" class="span9" style="height:600px;width:810px;"></highchart>
	    <highchart id="marketShare4" config="marketShare4Config" class="span9" style="height:600px;width:810px;"></highchart>  	
    </div>
</div>
