<style type="text/css">
    .highcharts-subtitle{
        width: 100%;
    }

    .my-text-left {
        width: 15%;
        font-size: 16px;
        float: left;
        margin-bottom:0px;
        text-align: center;
    }
    .my-text-right {
        width: 30%;
        font-size: 16px;
        float: left;
        margin-bottom:0px;
        text-align: center;
    }
    .my-text-center-left {
        width: 25%;
        font-size: 16px;
        float: left;
        margin-bottom:0px;
        text-align: center;
    }
    .my-text-center-right {
        width: 30%;
        font-size: 16px;
        float: left;
        margin-bottom:0px;
        text-align: center;
    }
</style>
<div class="panel my-panel-warning panel-danger" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Shares Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Market Shares')}}</h3>
    </div>
    
    <div>
        <div market-share1 id="marketShare1" ng-model="marketShare1Config" class="span9" style="height:600px"></div>
        <div market-share2 id="marketShare2" ng-model="marketShare2Config" class="span9" style="height:600px"></div>
        <div market-share3 id="marketShare3" ng-model="marketShare3Config" class="span9" style="height:600px"></div>
        <div market-share4 id="marketShare4" ng-model="marketShare4Config" class="span9" style="height:600px"></div>	
    </div>
</div>
