<div class="panel my-panel-warning panel-danger" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Product Portfolio Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Product Portfolio')}}</h3>
    </div>
    <table class="table table-condensed table-bordered table-primary">
        <thead>
            <tr>
                <th></th>
                <th>
                    <p class="text-center">{{Label.getContent('Pack Format')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Technology Level')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Design Level')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Quality-of-Raw-Materials')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('B&M List Prices')}} ({{Label.getContent('$')}})</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <!--E-->
            <tr class="success">
                <th colspan="6">{{Label.getContent('Elecssories')}}</th>
            </tr>
            <tr class="success" ng-repeat-start='player in playerses'>
                <td colspan="6" ng-show='$index<3'>
                    <p class="padding-20">{{Label.getContent('Supplier')}} {{$index+1}}</p>
                </td>
                <td colspan="6" ng-show='$index>=3'>
                    <p class="padding-20">{{Label.getContent('Retailer')}} {{$index-2}}</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='product in player' ng-repeat-end>
                <td>
                    <p class="padding-40">{{product.parentBrandName+product.varName}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent(product.packFormat)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.vc_composition[1]}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.vc_composition[0]}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.vc_composition[2]}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.bmListPrice | number : 1}}</p>
                </td>
            </tr>
            <!--H-->
            <tr>
                <th></th>
                <th>
                    <p class="text-center">{{Label.getContent('Pack Format')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Technology Level')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Active agent')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Smoothener Level')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('B&M List Prices')}} ({{Label.getContent('$')}})</p>
                </th>
            </tr>
            <tr class="danger" ng-repeat-start='player in playershs'>
                <td colspan="6" ng-show='$index<3'>
                    <p class="padding-20">{{Label.getContent('Supplier')}} {{$index+1}}</p>
                </td>
                <td colspan="6" ng-show='$index>=3'>
                    <p class="padding-20">{{Label.getContent('Retailer')}} {{$index-2}}</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='product in player' ng-repeat-end>
                <td>
                    <p class="padding-40">{{product.parentBrandName+product.varName}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent(product.packFormat)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.vc_composition[1]}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.vc_composition[0]}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.vc_composition[2]}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.bmListPrice | number : 1}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
