<p data-ng-repeat="log in logs">{{log}}</p>

<div class="panel my-panel-warning panel-danger" ng-show="isResultShown">    
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Performance Highlights Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Performance Highlights')}}</h3>
    </div>
    
    <table class="table table-condensed table-bordered table-primary">
        <thead>
            <tr>
                <th colspan="2" rowspan="3"></th>
                <th colspan="6">
                    <p class="text-center">
                        {{Label.getContent('Supplier')}}
                    </p>
                </th>
                <th colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Retailer')}}
                    </p>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Supplier')}} 1
                    </p>
                </td>
                <td colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Supplier')}} 2
                    </p>
                </td>
                <td colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Supplier')}} 3
                    </p>
                </td>
                <td rowspan="2">
                    <p class="text-center">
                        {{Label.getContent('Retailer')}} 1
                    </p>
                </td>
                <td rowspan="2">
                    <p class="text-center">
                        {{Label.getContent('Retailer')}} 2
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-center">{{Label.getContent('B&M')}} ({{Label.getContent('Wholesale')}})</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Online')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('B&M')}} ({{Label.getContent('Wholesale')}})</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Online')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('B&M')}} ({{Label.getContent('Wholesale')}})</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Online')}}</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="10">{{Label.getContent('Sales')}}</td>
            </tr>
            <tr>
                <td colspan="10">
                    <p class="padding-20">
                        {{Label.getContent('Volume')}} (units mln)
                    </p>
                </td>
            </tr>
            <tr class="success">
                <td colspan="2">
                    <p class="padding-40">
                        {{Label.getContent('Elecssories')}}
                    </p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[0].value[0].toFixed(2)=="0.00"?0:salesVolumes[0].value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[0].value[1].toFixed(2)=="0.00"?0:salesVolumes[0].value[1].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[2].value[0].toFixed(2)=="0.00"?0:salesVolumes[2].value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[2].value[1].toFixed(2)=="0.00"?0:salesVolumes[2].value[1].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[4].value[0].toFixed(2)=="0.00"?0:salesVolumes[4].value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[4].value[1].toFixed(2)=="0.00"?0:salesVolumes[4].value[1].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[8].value[2].toFixed(2)=="0.00"?0:salesVolumes[8].value[2].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[10].value[2].toFixed(2)=="0.00"?0:salesVolumes[10].value[2].toFixed(2)}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="2">
                    <p class="padding-40">
                        {{Label.getContent('HealthBeauties')}}
                    </p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[1].value[0].toFixed(2)=="0.00"?0:salesVolumes[1].value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[1].value[1].toFixed(2)=="0.00"?0:salesVolumes[1].value[1].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[3].value[0].toFixed(2)=="0.00"?0:salesVolumes[3].value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[3].value[1].toFixed(2)=="0.00"?0:salesVolumes[3].value[1].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[5].value[0].toFixed(2)=="0.00"?0:salesVolumes[5].value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[5].value[1].toFixed(2)=="0.00"?0:salesVolumes[5].value[1].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[9].value[2].toFixed(2)=="0.00"?0:salesVolumes[9].value[2].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesVolumes[11].value[2].toFixed(2)=="0.00"?0:salesVolumes[11].value[2].toFixed(2)}}</p>
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    <p class="padding-20">
                        {{Label.getContent('Value')}} ($mln)
                    </p>
                </td>
            </tr>

            <tr class="success">
                <td colspan="2">
                    <p class="padding-40">
                        {{Label.getContent('Elecssories')}}
                    </p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[0].value[0].toFixed(2)=="0.00"?0:salesValues[0].value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[0].value[1].toFixed(2)=="0.00"?0:salesValues[0].value[1].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[2].value[0].toFixed(2)=="0.00"?0:salesValues[2].value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[2].value[1].toFixed(2)=="0.00"?0:salesValues[2].value[1].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[4].value[0].toFixed(2)=="0.00"?0:salesValues[4].value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[4].value[1].toFixed(2)=="0.00"?0:salesValues[4].value[1].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[8].value[2].toFixed(2)=="0.00"?0:salesValues[8].value[2].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[10].value[2].toFixed(2)=="0.00"?0:salesValues[10].value[2].toFixed(2)}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="2">
                    <p class="padding-40">
                        {{Label.getContent('HealthBeauties')}}
                    </p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[1].value[0].toFixed(2)=="0.00"?0:salesValues[1].value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[1].value[1].toFixed(2)=="0.00"?0:salesValues[1].value[1].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[3].value[0].toFixed(2)=="0.00"?0:salesValues[3].value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[3].value[1].toFixed(2)=="0.00"?0:salesValues[3].value[1].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[5].value[0].toFixed(2)=="0.00"?0:salesValues[5].value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[5].value[1].toFixed(2)=="0.00"?0:salesValues[5].value[1].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[9].value[2].toFixed(2)=="0.00"?0:salesValues[9].value[2].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{salesValues[11].value[2].toFixed(2)=="0.00"?0:salesValues[11].value[2].toFixed(2)}}</p>
                </td>
            </tr>

            <tr>
                <td colspan="10">{{Label.getContent('Consumer Market Shares')}}</td>
            </tr>
            <tr>
                <td colspan="10">
                    <p class="padding-20">
                        {{Label.getContent('Value Market Shares')}} (%)
                    </p>
                </td>
            </tr>
            <tr class="success">
                <td colspan="2">
                    <p class="padding-40">
                        {{Label.getContent('Elecssories')}}
                    </p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{(valueShares[0].value*100).toFixed(2)=="0.00"?0:(valueShares[0].value*100).toFixed(2)}}</p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{(valueShares[2].value*100).toFixed(2)=="0.00"?0:(valueShares[2].value*100).toFixed(2)}}</p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{(valueShares[4].value*100).toFixed(2)=="0.00"?0:(valueShares[4].value*100).toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{(valueShares[8].value*100).toFixed(2)=="0.00"?0:(valueShares[8].value*100).toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{(valueShares[10].value*100).toFixed(2)=="0.00"?0:(valueShares[10].value*100).toFixed(2)}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="2">
                    <p class="padding-40">
                        {{Label.getContent('HealthBeauties')}}
                    </p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{(valueShares[1].value*100).toFixed(2)=="0.00"?0:(valueShares[1].value*100).toFixed(2)}}</p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{(valueShares[3].value*100).toFixed(2)=="0.00"?0:(valueShares[3].value*100).toFixed(2)}}</p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{(valueShares[5].value*100).toFixed(2)=="0.00"?0:(valueShares[5].value*100).toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{(valueShares[9].value*100).toFixed(2)=="0.00"?0:(valueShares[9].value*100).toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{(valueShares[11].value*100).toFixed(2)=="0.00"?0:(valueShares[11].value*100).toFixed(2)}}</p>
                </td>
            </tr>
            <tr>
                <td colspan="10">
                    <p class="padding-20">
                        {{Label.getContent('Volume Market Shares')}} (%)
                    </p>
                </td>
            </tr>
            <tr class="success">
                <td colspan="2">
                    <p class="padding-40">
                        {{Label.getContent('Elecssories')}}
                    </p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{(volumeShares[0].value*100).toFixed(2)=="0.00"?0:(volumeShares[0].value*100).toFixed(2)}}</p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{(volumeShares[2].value*100).toFixed(2)=="0.00"?0:(volumeShares[2].value*100).toFixed(2)}}</p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{(volumeShares[4].value*100).toFixed(2)=="0.00"?0:(volumeShares[4].value*100).toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{(volumeShares[8].value*100).toFixed(2)=="0.00"?0:(volumeShares[8].value*100).toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{(volumeShares[10].value*100).toFixed(2)=="0.00"?0:(volumeShares[10].value*100).toFixed(2)}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="2">
                    <p class="padding-40">
                        {{Label.getContent('HealthBeauties')}}
                    </p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{(volumeShares[1].value*100).toFixed(2)=="0.00"?0:(volumeShares[1].value*100).toFixed(2)}}</p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{(volumeShares[3].value*100).toFixed(2)=="0.00"?0:(volumeShares[3].value*100).toFixed(2)}}</p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{(volumeShares[5].value*100).toFixed(2)=="0.00"?0:(volumeShares[5].value*100).toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{(volumeShares[9].value*100).toFixed(2)=="0.00"?0:(volumeShares[9].value*100).toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{(volumeShares[11].value*100).toFixed(2)=="0.00"?0:(volumeShares[11].value*100).toFixed(2)}}</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{Label.getContent('Operating Profit')}} ($mln)
                </td>
                <td colspan="2">
                    <p class="text-right">{{operatingProfits[0].value.toFixed(2)=="0.00"?0:operatingProfits[0].value.toFixed(2)}}</p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{operatingProfits[1].value.toFixed(2)=="0.00"?0:operatingProfits[1].value.toFixed(2)}}</p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{operatingProfits[2].value.toFixed(2)=="0.00"?0:operatingProfits[2].value.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{operatingProfits[4].value.toFixed(2)=="0.00"?0:operatingProfits[4].value.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{operatingProfits[5].value.toFixed(2)=="0.00"?0:operatingProfits[5].value.toFixed(2)}}</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{Label.getContent('Cumulative Investments')}} ($mln)
                </td>
                <td colspan="2">
                    <p class="text-right">{{cumulativeInvestments[0].value.toFixed(2)=="0.00"?0:cumulativeInvestments[0].value.toFixed(2)}}</p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{cumulativeInvestments[1].value.toFixed(2)=="0.00"?0:cumulativeInvestments[1].value.toFixed(2)}}</p>
                </td>
                <td colspan="2">
                    <p class="text-right">{{cumulativeInvestments[2].value.toFixed(2)=="0.00"?0:cumulativeInvestments[2].value.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{cumulativeInvestments[4].value.toFixed(2)=="0.00"?0:cumulativeInvestments[4].value.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{cumulativeInvestments[5].value.toFixed(2)=="0.00"?0:cumulativeInvestments[5].value.toFixed(2)}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
