<div class="panel my-panel-warning panel-danger" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Product Portfolio Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Product Portfolio')}}</h3>
    </div>
    <table class="table table-condensed table-bordered table-primary">
        <thead>
            <tr>
                <th></th>
                <th>
                    <p class="text-center">{{Label.getContent('Pack Format')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Technology Level')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Design Level')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Quality-of-Raw-Materials')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('B&M List Prices')}} ($)</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <!--E-->
            <tr class="success">
                <th colspan="6">{{Label.getContent('Elecssories')}}</th>
            </tr>
            <tr class="success">
                <td colspan="6">
                    <p class="padding-20">{{Label.getContent('Producer')}} 1</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='producer in producer1es'>
                <td>
                    <p class="padding-40">{{producer.parentBrandName+producer.varName}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent(producer.packFormat)}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[1]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[0]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[2]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.bmListPrice | number : 1}}</p>
                </td>
                
            </tr>
            <tr class="success">
                <td colspan="6">
                    <p class="padding-20">{{Label.getContent('Producer')}} 2</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='producer in producer2es'>
                <td>
                    <p class="padding-40">{{producer.parentBrandName+producer.varName}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent(producer.packFormat)}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[1]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[0]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[2]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.bmListPrice | number : 1}}</p>
                </td>
            </tr>
            <tr class="success">
                <td colspan="6">
                    <p class="padding-20">{{Label.getContent('Producer')}} 3</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='producer in producer3es'>
                <td>
                    <p class="padding-40">{{producer.parentBrandName+producer.varName}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent(producer.packFormat)}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[1]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[0]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[2]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.bmListPrice | number : 1}}</p>
                </td>
            </tr>
            <tr class="success">
                <td colspan="6">
                    <p class="padding-20">{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='retailer in retailer1es'>
                <td>
                    <p class="padding-40">{{retailer.parentBrandName+retailer.varName}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent(retailer.packFormat)}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.vc_composition[1]}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.vc_composition[0]}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.vc_composition[2]}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.bmListPrice | number : 1}}</p>
                </td>
            </tr>
            <tr class="success">
                <td colspan="6">
                    <p class="padding-20">{{Label.getContent('Retailer')}} 2</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='retailer in retailer2es'>
                <td>
                    <p class="padding-40">{{retailer.parentBrandName+retailer.varName}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent(retailer.packFormat)}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.vc_composition[1]}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.vc_composition[0]}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.vc_composition[2]}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.bmListPrice | number : 1}}</p>
                </td>
            </tr>
            <!--H-->
            <tr>
                <th></th>
                <th>
                    <p class="text-center">{{Label.getContent('Pack Format')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Technology Level')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Active agent')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Smoothener Level')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('B&M List Prices')}} ($)</p>
                </th>
            </tr>
            <tr class="danger">
                <th colspan="6">{{Label.getContent('HealthBeauties')}}</th>
            </tr>
            <tr class="danger">
                <td colspan="6">
                    <p class="padding-20">{{Label.getContent('Producer')}} 1</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='producer in producer1hs'>
                <td>
                    <p class="padding-40">{{producer.parentBrandName+producer.varName}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent(producer.packFormat)}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[1]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[0]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[2]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.bmListPrice | number : 1}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="6">
                    <p class="padding-20">{{Label.getContent('Producer')}} 2</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='producer in producer2hs'>
                <td>
                    <p class="padding-40">{{producer.parentBrandName+producer.varName}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent(producer.packFormat)}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[1]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[0]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[2]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.bmListPrice | number : 1}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="6">
                    <p class="padding-20">{{Label.getContent('Producer')}} 3</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='producer in producer3hs'>
                <td>
                    <p class="padding-40">{{producer.parentBrandName+producer.varName}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent(producer.packFormat)}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[1]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[0]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.vc_composition[2]}}</p>
                </td>
                <td>
                    <p class="text-right">{{producer.bmListPrice | number : 1}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="6">
                    <p class="padding-20">{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='retailer in retailer1hs'>
                <td>
                    <p class="padding-40">{{retailer.parentBrandName+retailer.varName}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent(retailer.packFormat)}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.vc_composition[1]}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.vc_composition[0]}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.vc_composition[2]}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.bmListPrice | number : 1}}</p>
                </td>
                
            </tr>
            <tr class="danger">
                <td colspan="6">
                    <p class="padding-20">{{Label.getContent('Retailer')}} 2</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='retailer in retailer2hs'>
                <td>
                    <p class="padding-40">{{retailer.parentBrandName+retailer.varName}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent(retailer.packFormat)}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.vc_composition[1]}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.vc_composition[0]}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.vc_composition[2]}}</p>
                </td>
                <td>
                    <p class="text-right">{{retailer.bmListPrice | number : 1}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
