<div class="panel my-panel-warning panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Segment Leadership Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Segment Leadership')}}</h3>
    </div>
    <table class="table table-condensed table-bordered table-primary">
        <thead>
            <tr>
                <th></th>
                <th colspan="4">
                    <p class="text-center">
                        {{Label.getContent('Volume Market Shares')}}
                    </p>
                </th>
                <th colspan="4">
                    <p class="text-center">
                        {{Label.getContent('Value Market Shares')}}
                    </p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Number 1')}}
                    </p>
                </td>
                <td colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Number 2')}}
                    </p>
                </td>
                <td colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Number 1')}}
                    </p>
                </td>
                <td colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Number 2')}}
                    </p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('SKU name')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('SKU name')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('SKU name')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('SKU name')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Share')}} (%)</p>
                </td>
            </tr>
            <tr class="success">
                <th colspan="9">{{Label.getContent('Elecssories')}}</th>
            </tr>
            <tr class="success">
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Consumer Segments')}}</p>
                </td>
            </tr>
            <tr class="success">
                <td>
                    <p class="padding-40">{{Label.getContent('Price Sensitive')}}</p>
                </td>
                <td>
                    <p class="text-center">{{priceSensitives[0].grsl_ValueLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(priceSensitives[0].grsl_ValueLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{priceSensitives[0].grsl_ValueLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(priceSensitives[0].grsl_ValueLeaders[1].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{priceSensitives[0].grsl_VolumeLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(priceSensitives[0].grsl_VolumeLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{priceSensitives[0].grsl_VolumeLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(priceSensitives[0].grsl_VolumeLeaders[1].share*100) | number : 1}}</p>
                </td>
            </tr>

            <tr class="success">
                <td>
                    <p class="padding-40">{{Label.getContent('Value for Money')}}</p>
                </td>
                <td>
                    <p class="text-center">{{valueForMoneies[0].grsl_ValueLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(valueForMoneies[0].grsl_ValueLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{valueForMoneies[0].grsl_ValueLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(valueForMoneies[0].grsl_ValueLeaders[1].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{valueForMoneies[0].grsl_VolumeLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(valueForMoneies[0].grsl_VolumeLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{valueForMoneies[0].grsl_VolumeLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(valueForMoneies[0].grsl_VolumeLeaders[1].share*100) | number : 1}}</p>
                </td>
            </tr>
            <tr class="success">
                <td>
                    <p class="padding-40">{{Label.getContent('Fashion')}}</p>
                </td>
                <td>
                    <p class="text-center">{{fashions[0].grsl_ValueLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(fashions[0].grsl_ValueLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{fashions[0].grsl_ValueLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(fashions[0].grsl_ValueLeaders[1].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{fashions[0].grsl_VolumeLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(fashions[0].grsl_VolumeLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{fashions[0].grsl_VolumeLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(fashions[0].grsl_VolumeLeaders[1].share*100) | number : 1}}</p>
                </td>
            </tr>
            <tr class="success">
                <td>
                    <p class="padding-40">{{Label.getContent('Freaks')}}</p>
                </td>
                <td>
                    <p class="text-center">{{freakses[0].grsl_ValueLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(freakses[0].grsl_ValueLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{freakses[0].grsl_ValueLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(freakses[0].grsl_ValueLeaders[1].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{freakses[0].grsl_VolumeLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(freakses[0].grsl_VolumeLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{freakses[0].grsl_VolumeLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(freakses[0].grsl_VolumeLeaders[1].share*100) | number : 1}}</p>
                </td>
            </tr>
            <tr class="success">
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Shopper Segments')}}</p>
                </td>
            </tr>
            <tr class="success">
                <td>
                    <p class="padding-40">{{Label.getContent('B&M Only')}}</p>
                </td>
                <td>
                    <p class="text-center">{{bms[0].grsl_ValueLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(bms[0].grsl_ValueLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{bms[0].grsl_ValueLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(bms[0].grsl_ValueLeaders[1].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{bms[0].grsl_VolumeLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(bms[0].grsl_VolumeLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{bms[0].grsl_VolumeLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(bms[0].grsl_VolumeLeaders[1].share*100) | number : 1}}</p>
                </td>
            </tr>
            <tr class="success">
                <td>
                    <p class="padding-40">{{Label.getContent('Online Only')}}</p>
                </td>
                <td>
                    <p class="text-center">{{onlines[0].grsl_ValueLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(onlines[0].grsl_ValueLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{onlines[0].grsl_ValueLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(onlines[0].grsl_ValueLeaders[1].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{onlines[0].grsl_VolumeLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(onlines[0].grsl_VolumeLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{onlines[0].grsl_VolumeLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(onlines[0].grsl_VolumeLeaders[1].share*100) | number : 1}}</p>
                </td>
            </tr>
            <tr class="success">
                <td>
                    <p class="padding-40">{{Label.getContent('Mixed')}}</p>
                </td>
                <td>
                    <p class="text-center">{{mixeds[0].grsl_ValueLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(mixeds[0].grsl_ValueLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{mixeds[0].grsl_ValueLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(mixeds[0].grsl_ValueLeaders[1].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{mixeds[0].grsl_VolumeLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(mixeds[0].grsl_VolumeLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{mixeds[0].grsl_VolumeLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(mixeds[0].grsl_VolumeLeaders[1].share*100) | number : 1}}</p>
                </td>
            </tr>

            <!--'E se'-->
            <tr class="danger">
                <th colspan="9">{{Label.getContent('HealthBeauties')}}</th>
            </tr>
            <tr class="danger">
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Consumer Segments')}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td>
                    <p class="padding-40">{{Label.getContent('Price Sensitive')}}</p>
                </td>
                <td>
                    <p class="text-center">{{priceSensitives[1].grsl_ValueLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(priceSensitives[1].grsl_ValueLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{priceSensitives[1].grsl_ValueLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(priceSensitives[1].grsl_ValueLeaders[1].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{priceSensitives[1].grsl_VolumeLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(priceSensitives[1].grsl_VolumeLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{priceSensitives[1].grsl_VolumeLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(priceSensitives[1].grsl_VolumeLeaders[1].share*100) | number : 1}}</p>
                </td>
            </tr>

            <tr class="danger">
                <td>
                    <p class="padding-40">{{Label.getContent('Value for Money')}}</p>
                </td>
                <td>
                    <p class="text-center">{{valueForMoneies[1].grsl_ValueLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(valueForMoneies[1].grsl_ValueLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{valueForMoneies[1].grsl_ValueLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(valueForMoneies[1].grsl_ValueLeaders[1].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{valueForMoneies[1].grsl_VolumeLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(valueForMoneies[1].grsl_VolumeLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{valueForMoneies[1].grsl_VolumeLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(valueForMoneies[1].grsl_VolumeLeaders[1].share*100) | number : 1}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td>
                    <p class="padding-40">{{Label.getContent('Health Conscious')}}</p>
                </td>
                <td>
                    <p class="text-center">{{fashions[1].grsl_ValueLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(fashions[1].grsl_ValueLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{fashions[1].grsl_ValueLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(fashions[1].grsl_ValueLeaders[1].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{fashions[1].grsl_VolumeLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(fashions[1].grsl_VolumeLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{fashions[1].grsl_VolumeLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(fashions[1].grsl_VolumeLeaders[1].share*100) | number : 1}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td>
                    <p class="padding-40">{{Label.getContent('Impatient')}}</p>
                </td>
                <td>
                    <p class="text-center">{{freakses[1].grsl_ValueLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(freakses[1].grsl_ValueLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{freakses[1].grsl_ValueLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(freakses[1].grsl_ValueLeaders[1].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{freakses[1].grsl_VolumeLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(freakses[1].grsl_VolumeLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{freakses[1].grsl_VolumeLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(freakses[1].grsl_VolumeLeaders[1].share*100) | number : 1}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Shopper Segments')}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td>
                    <p class="padding-40">{{Label.getContent('B&M Only')}}</p>
                </td>
                <td>
                    <p class="text-center">{{bms[1].grsl_ValueLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(bms[1].grsl_ValueLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{bms[1].grsl_ValueLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(bms[1].grsl_ValueLeaders[1].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{bms[1].grsl_VolumeLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(bms[1].grsl_VolumeLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{bms[1].grsl_VolumeLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(bms[1].grsl_VolumeLeaders[1].share*100) | number : 1}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td>
                    <p class="padding-40">{{Label.getContent('Online Only')}}</p>
                </td>
                <td>
                    <p class="text-center">{{onlines[1].grsl_ValueLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(onlines[1].grsl_ValueLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{onlines[1].grsl_ValueLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(onlines[1].grsl_ValueLeaders[1].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{onlines[1].grsl_VolumeLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(onlines[1].grsl_VolumeLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{onlines[1].grsl_VolumeLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(onlines[1].grsl_VolumeLeaders[1].share*100) | number : 1}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td>
                    <p class="padding-40">{{Label.getContent('Mixed')}}</p>
                </td>
                <td>
                    <p class="text-center">{{mixeds[1].grsl_ValueLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(mixeds[1].grsl_ValueLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{mixeds[1].grsl_ValueLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(mixeds[1].grsl_ValueLeaders[1].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{mixeds[1].grsl_VolumeLeaders[0].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(mixeds[1].grsl_VolumeLeaders[0].share*100) | number : 1}}</p>
                </td>
                <td>
                    <p class="text-center">{{mixeds[1].grsl_VolumeLeaders[1].varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{(mixeds[1].grsl_VolumeLeaders[1].share*100) | number : 1}}</p>
                </td>
            </tr> 


            <!--'H se'-->
        </tbody>
    </table>
</div>
