<div class="panel panel-danger my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Awareness Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Awareness')}} - {{Label.getContent('HealthBeauties')}}
        </h3>
    </div>
    <div id="awarenessHealthBeauties2" style="height:600px" ng-model='myModel' awareness-health-beauties2></div>
    <div id="awarenessHealthBeauties1" style="height:600px" ng-model='myModel' awareness-health-beauties1></div>
</div>