<div class="panel panel-danger my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center">
            {{Label.getContent('B&M Retailer Prices')}} - {{Label.getContent('HealthBeauties')}}
        </h3>
    </div>
    <table class="table table-condensed table-bordered table-danger special-table">
        <thead>
            <tr>
                <th></th>
                <th colspan="4">
                    <p class="text-center">{{Label.getContent('Urban')}}</p>
                </th>
                <th colspan="4">
                    <p class="text-center">{{Label.getContent('Rural')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Price')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <p class="text-center">{{Label.getContent('Retailer')}} 1</p>
                </td>
                <td colspan="2">
                    <p class="text-center">{{Label.getContent('Retailer')}} 2</p>
                </td>
                <td colspan="2">
                    <p class="text-center">{{Label.getContent('Retailer')}} 1</p>
                </td>
                <td colspan="2">
                    <p class="text-center">{{Label.getContent('Retailer')}} 2</p>
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Net Retail Price')}} ({{Label.getContent('$')}})</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Net Retail Price')}} ({{Label.getContent('$')}})</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Net Retail Price')}} ({{Label.getContent('$')}})</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Net Retail Price')}} ({{Label.getContent('$')}})</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Online Price')}} ({{Label.getContent('$')}})</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="9">
                    <p class="padding-10">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr ng-repeat='player in player1s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban1Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban1ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban2Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban2ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural1Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural1ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural2Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural2ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr2Number }}</p>
                </td>
                <td>
                    <p class="text-right">{{player.onlineChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <p class="padding-10">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr ng-repeat='player in player2s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban1Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban1ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban2Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban2ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural1Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural1ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural2Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural2ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr2Number }}</p>
                </td>
                <td>
                    <p class="text-right">{{player.onlineChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <p class="padding-10">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr ng-repeat='player in player3s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban1Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban1ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban2Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban2ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural1Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural1ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural2Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural2ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr2Number }}</p>
                </td>
                <td>
                    <p class="text-right">{{player.onlineChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <p class="padding-10">{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr ng-repeat='player in player5s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban1Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban1ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban2Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban2ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural1Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural1ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural2Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural2ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr2Number }}</p>
                </td>
                <td>
                    <p class="text-right">{{player.onlineChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <p class="padding-10">{{Label.getContent('Retailer')}} 2</p>
                </td>
            </tr>
            <tr ng-repeat='player in player6s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban1Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban1ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban2Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player.urban2ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural1Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural1ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural2Value | NulltoMinOr2Number }}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player.rural2ValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr2Number }}</p>
                </td>
                <td>
                    <p class="text-right">{{player.onlineChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>