<div class="panel panel-primary my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Consumer Segment Size Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Two-Period Ahead Forecasts')}} - {{Label.getContent('Consumer Segment Size')}}
        </h3>
    </div>
    <div id='segment1' style="float:left;width:410px;height:410px" ng-model='myModel' forecasts-consumer1></div>
    <div id='segment2' style="float:left;width:410px;height:410px" ng-model='myModel' forecasts-consumer2></div>
    <div id='segment3' style="float:left;float:left;width:410px;height:410px" ng-model='myModel' forecasts-consumer3></div>
    <div id='segment4' style="float:left;width:410px;height:410px" ng-model='myModel' forecasts-consumer4></div>
    <div style="clear:both;padding:1px 0"></div>
</div>