<div class="panel panel-primary my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Category Volumes by Market Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Two-Period Ahead Forecasts')}}-{{Label.getContent('Category Volumes by Market')}}
        </h3>
    </div>
    <div id='forecastCategory' style='width:810px;height:600px' ng-model='myModel' forecast-category></div>
</div>