<div class="panel panel-danger my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Shopper Segment Size Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Two-Period Ahead Forecasts')}} - {{Label.getContent('Shopper Segment Size')}}
        </h3>
    </div>
    <div id='segment6' style="float:left;width:410px;height:410px" ng-model='myModel' forecasts-shopper2></div>
    <div id='segment5' style="float:left;width:410px;height:410px" ng-model='myModel' forecasts-shopper1></div>
    <div id='segment8' style="float:left;width:410px;height:410px" ng-model='myModel' forecasts-shopper4></div>
    <div id='segment7' style="float:left;width:410px;height:410px" ng-model='myModel' forecasts-shopper3></div>
    <div style="clear:both;padding:1px 0"></div>
</div>