<div class="panel panel-danger my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Promotion Intensity Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Promotion Intensity')}} - {{Label.getContent('Elecssories')}}
        </h3>
    </div>
    <table class="table table-condensed table-bordered table-danger">
        <thead>
            <tr>
                <th></th>
                <th colspan="4">
                    <p class="text-center">{{Label.getContent('Retailer')}} 1</p>
                </th>
                <th colspan="4">
                    <p class="text-center">{{Label.getContent('Retailer')}} 2</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    <p class="text-center">{{Label.getContent('Rural')}}</p>
                </td>
                <td colspan="2">
                    <p class="text-center">{{Label.getContent('Urban')}}</p>
                </td>
                <td colspan="2">
                    <p class="text-center">{{Label.getContent('Rural')}}</p>
                </td>
                <td colspan="2">
                    <p class="text-center">{{Label.getContent('Urban')}}</p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Length')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Depth')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Length')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Depth')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Length')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Depth')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Length')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Depth')}}</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="9">
                    <p class="padding-10">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr ng-repeat='player1 in player1s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player1.fullName}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player1.rural1Length||'/'}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player1.rural1Depth||'/'}}%</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player1.urban1Length||'/'}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player1.urban1Depth||'/'}}%</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player1.rural2Length||'/'}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player1.rural2Depth||'/'}}%</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player1.urban2Length||'/'}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player1.urban2Depth||'/'}}%</p>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <p class="padding-10">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr ng-repeat='player2 in player2s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player2.fullName}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player2.rural1Length||'/'}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player2.rural1Depth||'/'}}%</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player2.urban1Length||'/'}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player2.urban1Depth||'/'}}%</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player2.rural2Length||'/'}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player2.rural2Depth||'/'}}%</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player2.urban2Length||'/'}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player2.urban2Depth||'/'}}%</p>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <p class="padding-10">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr ng-repeat='player3 in player3s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player3.fullName}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player3.rural1Length||'/'}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player3.rural1Depth||'/'}}%</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player3.urban1Length||'/'}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player3.urban1Depth||'/'}}%</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player3.rural2Length||'/'}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player3.rural2Depth||'/'}}%</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player3.urban2Length||'/'}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player3.urban2Depth||'/'}}%</p>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <p class="padding-10">{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr ng-repeat='player5 in player5s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player5.fullName}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player5.rural1Length||'/'}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player5.rural1Depth||'/'}}%</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player5.urban1Length||'/'}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player5.urban1Depth||'/'}}%</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player5.rural2Length||'/'}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player5.rural2Depth||'/'}}%</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player5.urban2Length||'/'}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player5.urban2Depth||'/'}}%</p>
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <p class="padding-10">{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr ng-repeat='player6 in player6s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player6.fullName}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player6.rural1Length||'/'}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player6.rural1Depth||'/'}}%</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player6.urban1Length||'/'}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player6.urban1Depth||'/'}}%</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player6.rural2Length||'/'}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{player6.rural2Depth||'/'}}%</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player6.urban2Length||'/'}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{player6.urban2Depth||'/'}}%</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>