<div class="panel panel-danger my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Shares by Shopper Segment Elecssories Rural Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Market Shares by Shopper Segment')}} - {{Label.getContent('Elecssories')}} ({{Label.getContent('Rural')}})
        </h3>
    </div>

    <table class="table table-condensed table-bordered table-danger special-table">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('B&M Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Mixed')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-show='player1s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player1s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].bmVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].bmVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].onlineVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].onlineVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].mixedVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player1s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='player2s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player2s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].bmVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].bmVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].onlineVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].onlineVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].mixedVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player2s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].bmVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].bmVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].onlineVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].onlineVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].mixedVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player3s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].bmVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].bmVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].onlineVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].onlineVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].mixedVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player5s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Retailer')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].bmVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].bmVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].onlineVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].onlineVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].mixedVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player6s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('B&M Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Mixed')}}</p>
                </th>
            </tr>
            <tr id='clear-tr'>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
            </tr>
            <tr ng-show='player1s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player1s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].bmValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].bmValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].onlineValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].onlineValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].mixedValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player1s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='player2s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player2s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].bmValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].bmValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].onlineValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].onlineValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].mixedValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player2s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].bmValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].bmValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].onlineValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].onlineValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].mixedValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player3s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].bmValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].bmValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].onlineValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].onlineValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].mixedValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player5s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Retailer')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].bmValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].bmValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].onlineValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].onlineValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].mixedValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player6s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>