<div class="panel panel-primary my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Shares by Consumer Segment Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Market Shares by Consumer Segment')}}-{{Label.getContent('HealthBeauties')}}({{Label.getContent('Rural')}})
        </h3>
    </div>

    <table class="table table-condensed table-bordered table-danger">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Price Sensitive')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Value for Money')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Health Conscious')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Impatient')}}</p>
                </th>
            </tr>
            <tr ng-show='consumerShare'>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr ng-show='!consumerShare'>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-show='player1s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr ng-repeat='player1 in player1s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player1.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.priceVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.priceVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.moneyVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.moneyVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.fashionVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.fashionVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.freaksVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.freaksVolumeChange}}</p>
                </td>
            </tr>

            <tr ng-show='player2s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr ng-repeat='player2 in player2s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player2.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.priceVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.priceVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.moneyVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.moneyVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.fashionVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.fashionVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.freaksVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.freaksVolumeChange}}</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr ng-repeat='player3 in player3s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player3.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.priceVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.priceVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.moneyVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.moneyVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.fashionVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.fashionVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.freaksVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.freaksVolumeChange}}</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr ng-repeat='player5 in player5s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player5.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.priceVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.priceVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.moneyVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.moneyVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.fashionVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.fashionVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.freaksVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.freaksVolumeChange}}</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Retailer')}} 2</p>
                </td>
            </tr>
            <tr ng-repeat='player6 in player6s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player6.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.priceVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.priceVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.moneyVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.moneyVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.fashionVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.fashionVolumeChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.freaksVolume}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.freaksVolumeChange}}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Price Sensitive')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Value for Money')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Health Conscious')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Impatient')}}</p>
                </th>
            </tr>
            <tr ng-show='consumerShare'>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr ng-show='!consumerShare'>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr ng-show='player1s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr ng-repeat='player1 in player1s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player1.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.priceValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.priceValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.moneyValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.moneyValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.fashionValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.fashionValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.freaksValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player1.freaksValueChange}}</p>
                </td>
            </tr>

            <tr ng-show='player2s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr ng-repeat='player2 in player2s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player2.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.priceValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.priceValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.moneyValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.moneyValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.fashionValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.fashionValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.freaksValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player2.freaksValueChange}}</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr ng-repeat='player3 in player3s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player3.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.priceValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.priceValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.moneyValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.moneyValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.fashionValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.fashionValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.freaksValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player3.freaksValueChange}}</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr ng-repeat='player5 in player5s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player5.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.priceValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.priceValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.moneyValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.moneyValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.fashionValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.fashionValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.freaksValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player5.freaksValueChange}}</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Retailer')}} 2</p>
                </td>
            </tr>
            <tr ng-repeat='player6 in player6s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player6.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.priceValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.priceValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.moneyValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.moneyValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.fashionValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.fashionValueChange}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.freaksValue}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player6.freaksValueChange}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>