<div class="panel panel-danger my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Retailer Perceptions Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Retailer Perceptions')}}
        </h3>
    </div>
    <div id="highchart10" ng-model='myModel' retailer-perceptions2></div>
    <div id="highchart9" ng-model='myModel' retailer-perceptions1></div>
</div>