<div class="panel panel-danger my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Sales by Shopper Segment HealthBeauties Rural Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Sales by Shopper Segment')}} - {{Label.getContent('HealthBeauties')}} ({{Label.getContent('Rural')}})
        </h3>
    </div>

    <table class="table table-condensed table-bordered table-danger special-table">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('B&M Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Mixed')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-show='player1s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player1s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player1s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player2s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player2s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player2s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player3s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player5s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Retailer')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player6s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('B&M Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Mixed')}}</p>
                </th>
            </tr>
            <tr id='clear-tr'>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
            </tr>
            <tr ng-show='player1s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player1s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player1s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player2s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player2s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player2s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player3s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player5s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Retailer')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player6s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <table class="table table-condensed table-bordered table-danger">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('B&M Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Mixed')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-show='player1s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player1s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
            </tr>
            <tr ng-repeat='player in player1s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player2s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player2s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
            </tr>
            <tr ng-repeat='player in player2s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
            </tr>
            <tr ng-repeat='player in player3s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
            </tr>
            <tr ng-repeat='player in player5s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Retailer')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
            </tr>
            <tr ng-repeat='player in player6s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineVolumeChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolume | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedVolumeChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('B&M Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Mixed')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
            </tr>
            <tr ng-show='player1s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player1s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
            </tr>
            <tr ng-repeat='player in player1s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player2s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player2s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
            </tr>
            <tr ng-repeat='player in player2s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
            </tr>
            <tr ng-repeat='player in player3s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
            </tr>
            <tr ng-repeat='player in player5s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td colspan="7">
                    <p>{{Label.getContent('Retailer')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
                <td colspan="2" style='background-color:{{valueColor}}'></td>
            </tr>
            <tr ng-repeat='player in player6s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.bmValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.onlineValueChange | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValue | NulltoMinOr1Number }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.mixedValueChange | NulltoMinOr1Number }}</p>
                </td>
            </tr>
        </tbody>
    </table> -->
</div>