<div class="panel panel-primary my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Brand Perceptions Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Brand Perceptions')}} - {{Label.getContent('Elecssories')}} ({{Label.getContent('Rural')}})
        </h3>
    </div>
    <div style="width:630px;float:left" id="highchart1" ng-model='myModel' rural-elecssories-brand1></div>
    <div style="width:200px;float:left" id="highchart2" ng-model='myModel' rural-elecssories-brand2></div>
    <div style="clear:both;padding:1px 0"></div>
</div>