<div class="panel panel-primary my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Brand Perceptions Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Brand Perceptions')}} - {{Label.getContent('HealthBeauties')}} ({{Label.getContent('Rural')}})
        </h3>
    </div>
    <div style="width:630px;float:left" id="highchart5" ng-model='myModel' rural-health-beauties-brand1></div>
    <div style="width:200px;float:left" id="highchart6" ng-model='myModel' rural-health-beauties-brand2></div>
    <div style="clear:both;padding:1px 0"></div>
</div>