<div class="panel panel-danger my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center">
            {{Label.getContent('Social Network Trawlers')}} - {{Label.getContent('Social Network Trawlers Players')}}
        </h3>
    </div>
    <div id="playerSentiment" style="float:left;width:410px;height:400px" ng-model='myModel' player-sentiment></div>
    <div id="playerStrength" style="float:left;width:410px;height:400px" ng-model='myModel' player-strength></div>
    <div style="clear:both;padding:1px 0"></div>
</div>