<div class="panel panel-danger my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Shares by Consumer Segment HealthBeauties Urban Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Market Shares by Consumer Segment')}} - {{Label.getContent('HealthBeauties')}} ({{Label.getContent('Urban')}})
        </h3>
    </div>

    <table class="table table-condensed table-bordered table-danger">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Price Sensitive')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Value for Money')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Health Conscious')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Impatient')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-show='player1s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player1s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].priceVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].priceVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].moneyVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].moneyVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].fashionVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].fashionVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].freaksVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].freaksVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player1s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksVolumeChange | number : 1 }}</p>
                </td>
            </tr>

            <tr ng-show='player2s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player2s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].priceVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].priceVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].moneyVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].moneyVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].fashionVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].fashionVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].freaksVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].freaksVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player2s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].priceVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].priceVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].moneyVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].moneyVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].fashionVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].fashionVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].freaksVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].freaksVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player3s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].priceVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].priceVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].moneyVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].moneyVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].fashionVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].fashionVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].freaksVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].freaksVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player5s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Retailer')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].priceVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].priceVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].moneyVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].moneyVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].fashionVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].fashionVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].freaksVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].freaksVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player6s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionVolumeChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksVolume | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Price Sensitive')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Value for Money')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Health Conscious')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Impatient')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
            </tr>
            <tr ng-show='player1s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player1s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].priceValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].priceValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].moneyValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].moneyValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].fashionValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].fashionValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].freaksValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[0].freaksValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player1s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksValueChange | number : 1 }}</p>
                </td>
            </tr>

            <tr ng-show='player2s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player2s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].priceValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].priceValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].moneyValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].moneyValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].fashionValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].fashionValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].freaksValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[1].freaksValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player2s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr ng-show='player3s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].priceValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].priceValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].moneyValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].moneyValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].fashionValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].fashionValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].freaksValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[2].freaksValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player3s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Retailer')}} 1</p>
                </td>
            </tr>
            <tr ng-show='player5s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].priceValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].priceValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].moneyValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].moneyValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].fashionValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].fashionValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].freaksValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[4].freaksValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player5s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td colspan="9">
                    <p>{{Label.getContent('Retailer')}} 2</p>
                </td>
            </tr>
            <tr ng-show='player6s.length>=1'>
                <td style='background-color:{{nameColor}}'>
                    <p>{{Label.getContent('Total')}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].priceValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].priceValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].moneyValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].moneyValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].fashionValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].fashionValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].freaksValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{playerTotals[5].freaksValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-repeat='player in player6s'>
                <td style='background-color:{{nameColor}}'>
                    <p class="padding-20">{{player.fullName}}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.priceValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.moneyValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.fashionValueChange | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksValue | number : 1 }}</p>
                </td>
                <td style='background-color:{{valueColor}}'>
                    <p class="text-right">{{player.freaksValueChange | number : 1 }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>