<div class="panel panel-danger my-panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Sales by Channel Elecssories Urban Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Sales by Channel')}} - {{Label.getContent('Elecssories')}} ({{Label.getContent('Urban')}})
        </h3>
    </div>

    <table class="table table-condensed table-bordered table-danger">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Retailer')}} 1</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Retailer')}} 2</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Traditional Trade')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Store')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Retailer')}} 1</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Retailer')}} 2</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Traditional Trade')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Store')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Sales')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}} (%)</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>