<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Market Shares')}} - {{Label.getContent('Elecssories')}}</h3>
    </div>
    <highchart id="currentSharesVolumeElecssories" config="currentSharesVolumeElecssories" class="pull-left"></highchart>
    <highchart id="currentSharesValueElecssories" config="currentSharesValueElecssories" class="pull-left"></highchart>
    <div style="clear:both"></div>
</div>
<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Market Shares')}} - {{Label.getContent('HealthBeauties')}}</h3>
    </div>
    <highchart id="currentSharesVolumeHealthBeauties" config="currentSharesVolumeHealthBeauties" class="pull-left"></highchart>
    <highchart id="currentSharesValueHealthBeauties" config="currentSharesValueHealthBeauties" class="pull-left"></highchart>
    <div style="clear:both"></div>
</div>