<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Operating Profits')}}</h3>
    </div>
    <div current-operating-profits id="currentOperatingProfits" ng-model="currentOperatingProfits" style="width:48%" class="pull-left"></div>
    <div current-operating-profit-margins id="currentOperatingProfitMargins" ng-model="currentOperatingProfitMargins" style="width:48%" class="pull-right"></div>
    <div style="clear:both"></div>
</div>
<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Net Profits')}}</h3>
    </div>
    <div current-net-profits id="currentNetProfits" ng-model="currentNetProfits" style="width:48%" class="pull-left"></div>
    <div current-net-profit-margins id="currentNetProfitMargins" ng-model="currentNetProfitMargins" style="width:48%" class="pull-right"></div>
    <div style="clear:both"></div>
</div>