<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Operating Profits')}}</h3>
    </div>
    <highchart id="currentOperatingProfits" config="currentOperatingProfits"style="width:48%;float:left;height:500px"></highchart>
    <highchart id="currentOperatingProfitMargins" config="currentOperatingProfitMargins"style="width:48%;float:left;height:500px"></highchart>
    <div style="clear:both"></div>
</div>
<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Net Profits')}}</h3>
    </div>
    <highchart id="currentNetProfits" config="currentNetProfits"style="width:48%;float:left;height:500px"></highchart>
    <highchart id="currentNetProfitMargins" config="currentNetProfitMargins"style="width:48%;float:left;height:500px"></highchart>
    <div style="clear:both"></div>
</div>