<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Operating Profits')}}</h3>
    </div>
    <highchart id="currentOperatingProfits" config="currentOperatingProfits" class="normal-size pull-left"></highchart>
    <highchart id="currentOperatingProfitMargins" config="currentOperatingProfitMargins" class="normal-size pull-left"></highchart>
    <div style="clear:both"></div>
</div>
<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Net Profits')}}</h3>
    </div>
    <highchart id="currentNetProfits" config="currentNetProfits" class="normal-size pull-left"></highchart>
    <highchart id="currentNetProfitMargins" config="currentNetProfitMargins" class="normal-size pull-left"></highchart>
    <div style="clear:both"></div>
</div>