<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Share of Shoppers')}} - {{Label.getContent('Elecssories')}} - {{Label.getContent('Urban')}} {{Label.getContent('Market')}}</h3>
    </div>
    <highchart id="E_urbanOnlineShareOfShoppers" config="E_urbanOnlineShareOfShoppers" class="normal-size pull-left"></highchart>
    <highchart id="E_urbanBMShareOfShoppers" config="E_urbanBMShareOfShoppers" class="normal-size pull-left"></highchart>
    <highchart id="E_urbanMixedShareOfShoppers" config="E_urbanMixedShareOfShoppers" class="normal-size pull-left"></highchart>
    <highchart id="E_urbanTotalShareOfShoppers" config="E_urbanTotalShareOfShoppers" class="normal-size pull-left"></highchart>
    <div style="clear:both"></div>
</div>
<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Share of Shoppers')}} - {{Label.getContent('Elecssories')}} - {{Label.getContent('Rural')}} {{Label.getContent('Market')}}</h3>
    </div>
    <highchart id="E_ruralOnlineShareOfShoppers" config="E_ruralOnlineShareOfShoppers" class="normal-size pull-left"></highchart>
    <highchart id="E_ruralBMShareOfShoppers" config="E_ruralBMShareOfShoppers" class="normal-size pull-left"></highchart>
    <highchart id="E_ruralMixedShareOfShoppers" config="E_ruralMixedShareOfShoppers" class="normal-size pull-left"></highchart>
    <highchart id="E_ruralTotalShareOfShoppers" config="E_ruralTotalShareOfShoppers" class="normal-size pull-left"></highchart>
    <div style="clear:both"></div>
</div>
<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Share of Shoppers')}} - {{Label.getContent('HealthBeauties')}} - {{Label.getContent('Urban')}} {{Label.getContent('Market')}}</h3>
    </div>
    <highchart id="H_urbanOnlineShareOfShoppers" config="H_urbanOnlineShareOfShoppers" class="normal-size pull-left"></highchart>
    <highchart id="H_urbanBMShareOfShoppers" config="H_urbanBMShareOfShoppers" class="normal-size pull-left"></highchart>
    <highchart id="H_urbanMixedShareOfShoppers" config="H_urbanMixedShareOfShoppers" class="normal-size pull-left"></highchart>
    <highchart id="H_urbanTotalShareOfShoppers" config="H_urbanTotalShareOfShoppers" class="normal-size pull-left"></highchart>
    <div style="clear:both"></div>
</div>
<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Share of Shoppers')}} - {{Label.getContent('HealthBeauties')}} - {{Label.getContent('Rural')}} {{Label.getContent('Market')}}</h3>
    </div>
    <highchart id="H_ruralOnlineShareOfShoppers" config="H_ruralOnlineShareOfShoppers" class="normal-size pull-left"></highchart>
    <highchart id="H_ruralBMShareOfShoppers" config="H_ruralBMShareOfShoppers" class="normal-size pull-left"></highchart>
    <highchart id="H_ruralMixedShareOfShoppers" config="H_ruralMixedShareOfShoppers" class="normal-size pull-left"></highchart>
    <highchart id="H_ruralTotalShareOfShoppers" config="H_ruralTotalShareOfShoppers" class="normal-size pull-left"></highchart>
    <div style="clear:both"></div>
</div>
