<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Sales')}} - {{Label.getContent('Elecssories')}}</h3>
    </div>
    <highchart id="currentSalesVolumeElecssories" config="currentSalesVolumeElecssories" class="pull-left"></highchart>
    <highchart id="currentSalesValueElecssories" config="currentSalesValueElecssories" class="pull-left"></highchart>
    <div style="clear:both"></div>
</div>
<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Sales')}} - {{Label.getContent('HealthBeauties')}}</h3>
    </div>
    <highchart id="currentSalesVolumeHealthBeauties" config="currentSalesVolumeHealthBeauties" class="pull-left"></highchart>
    <highchart id="currentSalesValueHealthBeauties" config="currentSalesValueHealthBeauties" class="pull-left"></highchart>
    <div style="clear:both"></div>
</div>