<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Sales')}} - {{Label.getContent('Elecssories')}}</h3>
    </div>
    <div current-sales-volume-elecssories id="currentSalesVolumeElecssories" ng-model="currentSalesVolumeElecssories" style="width:48%;"class="pull-left"></div>
    <div current-sales-value-elecssories id="currentSalesValueElecssories" ng-model="currentSalesValueElecssories" style="width:48%;"class="pull-right"></div>
    <div style="clear:both"></div>
</div>
<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Sales')}} - {{Label.getContent('HealthBeauties')}}</h3>
    </div>
    <div current-sales-volume-health-beauties id="currentSalesVolumeHealthBeauties" ng-model="currentSalesVolumeHealthBeauties" style="width:48%;"class="pull-left"></div>
    <div current-sales-value-health-beauties id="currentSalesValueHealthBeauties" ng-model="currentSalesValueHealthBeauties" style="width:48%;"class="pull-right"></div>
    <div style="clear:both"></div>
</div>