<div class="panel panel-success my-panel-overview" ng-show="isResultShown">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{Label.getContent('Shelf Space Allocation')}}</h3>
    </div>
    <div current-shelf-space-elecssories id="currentShelfSpaceElecssories" ng-model="currentShelfSpaceElecssories" style="width:48%"class="pull-left"></div>
    <div current-shelf-space-health-beauties id="currentShelfSpaceHealthBeauties" ng-model="currentShelfSpaceHealthBeauties" style="width:48%"class="pull-right"></div>
    <div style="clear:both"></div>
</div>