<style type="text/css">
    .double-scroll-table{
        height: 600px;
    }
</style>
<div class="panel my-panel-success panel-danger" ng-show='isResultShown' scroll="no" scroll-bind>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Urban Profit & Loss Statement Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Financial Results')}} - {{Label.getContent('Urban Profit & Loss Statement')}} ({{Label.getContent('Elecssories')}})<span class="pull-right btn btn-warning btn-xs" ng-click="exportExcel('Elecssories','Urban')">{{Label.getContent('Export Excel')}}</span></h3>
    </div>

    <div style="height:1px">
        <table fixed-header>
            <thead><tr><th>&nbsp;</th><th>&nbsp;</th></tr></thead>
            <tbody><tr><td>&nbsp;</td><td>&nbsp;</td></tr></tbody>
        </table>
    </div>

    <div> 
        <table class="double-scroll-table table-condensed table-bordered table-success" style="float:left;width:33%;" fixed-header>
            <thead>
                <tr>
                    <th>
                        <p class="text-center">
                            <a class="btn btn-transparent btn-xs">{{Label.getContent('More')}}</a>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody class="firstTbody" style="overflow:hidden">
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Sales')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Cost of Price Promotions')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Other Compensation')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Sales Value')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Value Share in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Cost of Goods Sold')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Value of Quantity Discounts')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Value of Performance Bonus')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Discontinued Goods Cost')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Inventory Holding Cost')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Gross Profit')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Gross Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Gross Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('General Expenses')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Operating Profit')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Operating Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Operating Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Interest')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Taxes')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Exceptional Costs/Profits')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Profit')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Net Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="overflow-X:scroll">
        <table class="double-scroll-table table-condensed table-bordered table-success" style="float:left" fixed-header>
            <thead>
                <tr>
                    <th style="white-space: nowrap">
                        <p class="text-center">{{Label.getContent('TOTAL')}}</p>
                    </th>
                    <th style="white-space: nowrap" ng-repeat='brand in brand1s'>
                        <p class="text-center">{{brand.brandName}}
                            <a class="btn btn-success btn-xs" ng-click="openRetailerProductModal(brand.brandName,'Urban')">{{Label.getContent('More')}}</a>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody class="secondTbody" style='overflow:auto'>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{Sales[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.Sales | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{PromotionsCost[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.PromotionsCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{OtherCompensation[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OtherCompensation | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{NetSales[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetSales | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(NetSalesChange[0][0]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetSalesChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetSalesShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{CostOfGoodsSold[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.CostOfGoodsSold | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ValueOfQuantityDiscounts[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.ValueOfQuantityDiscounts | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ValueOfPerformanceBonus[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.ValueOfPerformanceBonus | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{DiscontinuedGoodsCost[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.DiscontinuedGoodsCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{InventoryHoldingCost[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.InventoryHoldingCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{GrossProfit[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(GrossProfitChange[0][0]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(GrossProfitMargin[0][0]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfitShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{GeneralExpenses[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GeneralExpenses | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{OperatingProfit[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(OperatingProfitChange[0][0]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(OperatingProfitMargin[0][0]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfitShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{Interest[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.Interest | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{Taxes[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.Taxes | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ExceptionalItems[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.ExceptionalItems | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{NetProfit[0][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(NetProfitChange[0][0]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(NetProfitMargin[0][0]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfitShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="clear:both"></div>
</div>
<div class="panel my-panel-success panel-danger" ng-show='isResultShown' scroll-bind>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Urban Profit & Loss Statement Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Financial Results')}} - {{Label.getContent('Urban Profit & Loss Statement')}} ({{Label.getContent('HealthBeauties')}})<span class="pull-right btn btn-warning btn-xs" ng-click="exportExcel('HealthBeauties','Urban')">{{Label.getContent('Export Excel')}}</span></h3>
    </div>

    <div> 
        <table class="double-scroll-table table-condensed table-bordered table-success" style="float:left;width:33%;" fixed-header>
            <thead>
                <tr>
                    <th>
                        <p class="text-center">
                            <a class="btn btn-transparent btn-xs">{{Label.getContent('More')}}</a>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody class="thirdTbody" style='overflow:hidden'>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Sales')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Cost of Price Promotions')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Other Compensation')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Sales Value')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Value Share in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Cost of Goods Sold')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Value of Quantity Discounts')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Value of Performance Bonus')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Discontinued Goods Cost')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Inventory Holding Cost')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Gross Profit')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Gross Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Gross Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('General Expenses')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Operating Profit')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Operating Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Operating Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Interest')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Taxes')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Exceptional Costs/Profits')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Profit')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Net Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="overflow-X:scroll">
        <table class="double-scroll-table table-condensed table-bordered table-success" style="float:left" fixed-header>
            <thead>
                <tr>
                    <th style="white-space: nowrap">
                        <p class="text-center">{{Label.getContent('TOTAL')}}</p>
                    </th>
                    <th style="white-space: nowrap" ng-repeat='brand in brand2s'>
                        <p class="text-center">{{brand.brandName}}
                            <a class="btn btn-success btn-xs" ng-click="openRetailerProductModal(brand.brandName,'Urban')">{{Label.getContent('More')}}</a>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody class="fourthTbody" style='overflow:auto'>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{Sales[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.Sales | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{PromotionsCost[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.PromotionsCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{OtherCompensation[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OtherCompensation | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{NetSales[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetSales | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(NetSalesChange[1][0]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetSalesChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetSalesShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{CostOfGoodsSold[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.CostOfGoodsSold | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ValueOfQuantityDiscounts[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.ValueOfQuantityDiscounts | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ValueOfPerformanceBonus[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.ValueOfPerformanceBonus | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{DiscontinuedGoodsCost[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.DiscontinuedGoodsCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{InventoryHoldingCost[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.InventoryHoldingCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{GrossProfit[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(GrossProfitChange[1][0]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(GrossProfitMargin[1][0]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfitShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{GeneralExpenses[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GeneralExpenses | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{OperatingProfit[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(OperatingProfitChange[1][0]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(OperatingProfitMargin[1][0]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfitShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{Interest[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.Interest | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{Taxes[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.Taxes | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ExceptionalItems[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.ExceptionalItems | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{NetProfit[1][0] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(NetProfitChange[1][0]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(NetProfitMargin[1][0]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfitShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="clear:both"></div>
</div>