<div class="panel panel-success" ng-show='isResultShown'>
                        <div class="panel-heading">
                            <h3 class="panel-title text-center" popover="{{Label.getContent('Consolidated Profit & Loss Statement Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
                                {{Label.getContent('Financial Results')}}-{{Label.getContent('Consolidated Profit & Loss Statement')}}
                            </h3>
                        </div>
                        <table class="table table-condensed table-bordered table-success">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <p class="text-center">{{Label.getContent('TOTAL')}}</p>
                                    </th>
                                    <th colspan="3">
                                        <p class="text-center">
                                            {{Label.getContent('Rural')}}
                                        </p>
                                    </th>
                                    <th colspan="3">
                                        <p class="text-center">
                                            {{Label.getContent('Urban')}}
                                        </p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <p class="text-center">
                                            {{Label.getContent('Total')}}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-center">
                                            {{Label.getContent('Elecssories')}}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-center">
                                            {{Label.getContent('HealthBeauties')}}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-center">
                                            {{Label.getContent('Total')}}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-center">
                                            {{Label.getContent('Elecssories')}}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-center">
                                            {{Label.getContent('HealthBeauties')}}
                                        </p>
                                    </td>
                                </tr>
                                <tr class="tr-info">
                                    <td>
                                        <p>{{Label.getContent('Sales')}}($mln)</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Sales[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Sales[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Sales[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Sales[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Sales[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Sales[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Sales[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="padding-20">{{Label.getContent('Cost of Price Promotions')}}($mln)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{PromotionsCost[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{PromotionsCost[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{PromotionsCost[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{PromotionsCost[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{PromotionsCost[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{PromotionsCost[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{PromotionsCost[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="padding-20">{{Label.getContent('Other Compensation')}}($mln)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{OtherCompensation[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OtherCompensation[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OtherCompensation[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OtherCompensation[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OtherCompensation[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OtherCompensation[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OtherCompensation[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr class="tr-info">
                                    <td>
                                        <p>{{Label.getContent('Net Sales Value')}}($mln)</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetSales[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetSales[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetSales[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetSales[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetSales[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetSales[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetSales[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-right">{{Label.getContent('Change from Previous Period')}}(%)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{NetSalesChange[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetSalesChange[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetSalesChange[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetSalesChange[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetSalesChange[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetSalesChange[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetSalesChange[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="padding-20">{{Label.getContent('Cost of Goods Sold')}}($mln)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{CostOfGoodsSold[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{CostOfGoodsSold[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{CostOfGoodsSold[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{CostOfGoodsSold[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{CostOfGoodsSold[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{CostOfGoodsSold[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{CostOfGoodsSold[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="padding-20">{{Label.getContent('Value of Quantity Discounts')}}($mln)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{ValueOfQuantityDiscounts[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ValueOfQuantityDiscounts[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ValueOfQuantityDiscounts[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ValueOfQuantityDiscounts[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ValueOfQuantityDiscounts[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ValueOfQuantityDiscounts[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ValueOfQuantityDiscounts[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="padding-20">{{Label.getContent('Value of Performance Bonus')}}($mln)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{ValueOfPerformanceBonus[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ValueOfPerformanceBonus[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ValueOfPerformanceBonus[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ValueOfPerformanceBonus[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ValueOfPerformanceBonus[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ValueOfPerformanceBonus[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ValueOfPerformanceBonus[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="padding-20">{{Label.getContent('Discontinued Goods Cost')}}($mln)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{DiscontinuedGoodsCost[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{DiscontinuedGoodsCost[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{DiscontinuedGoodsCost[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{DiscontinuedGoodsCost[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{DiscontinuedGoodsCost[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{DiscontinuedGoodsCost[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{DiscontinuedGoodsCost[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="padding-20">{{Label.getContent('Inventory Holding Cost')}}($mln)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{InventoryHoldingCost[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{InventoryHoldingCost[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{InventoryHoldingCost[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{InventoryHoldingCost[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{InventoryHoldingCost[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{InventoryHoldingCost[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{InventoryHoldingCost[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr class="tr-info">
                                    <td>
                                        <p>{{Label.getContent('Gross Profit')}}($mln)</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfit[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfit[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfit[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfit[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfit[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfit[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfit[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-right">{{Label.getContent('Change from Previous Period')}}(%)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{GrossProfitChange[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfitChange[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfitChange[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfitChange[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfitChange[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfitChange[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfitChange[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr class="tr-info">
                                    <td>
                                        <p>{{Label.getContent('Gross Profit Margin')}}(%)</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfitMargin[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfitMargin[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfitMargin[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfitMargin[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfitMargin[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfitMargin[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GrossProfitMargin[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="padding-20">{{Label.getContent('General Expenses')}}($mln)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{GeneralExpenses[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GeneralExpenses[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GeneralExpenses[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GeneralExpenses[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GeneralExpenses[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GeneralExpenses[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{GeneralExpenses[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr class="tr-info">
                                    <td>
                                        <p>{{Label.getContent('Operating Profit')}}($mln)</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfit[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfit[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfit[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfit[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfit[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfit[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfit[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-right">{{Label.getContent('Change from Previous Period')}}(%)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{OperatingProfitChange[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfitChange[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfitChange[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfitChange[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfitChange[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfitChange[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfitChange[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr class="tr-info">
                                    <td>
                                        <p>{{Label.getContent('Operating Profit Margin')}}(%)</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfitMargin[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfitMargin[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfitMargin[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfitMargin[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfitMargin[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfitMargin[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{OperatingProfitMargin[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="padding-20">{{Label.getContent('Interest')}}($mln)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{Interest[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Interest[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Interest[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Interest[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Interest[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Interest[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Interest[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="padding-20">{{Label.getContent('Taxes')}}($mln)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{Taxes[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Taxes[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Taxes[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Taxes[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Taxes[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Taxes[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{Taxes[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="padding-20">{{Label.getContent('Exceptional Costs/Profits')}}($mln)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{ExceptionalItems[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ExceptionalItems[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ExceptionalItems[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ExceptionalItems[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ExceptionalItems[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ExceptionalItems[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{ExceptionalItems[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr class="tr-info">
                                    <td>
                                        <p>{{Label.getContent('Net Profit')}}($mln)</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfit[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfit[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfit[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfit[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfit[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfit[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfit[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-right">{{Label.getContent('Change from Previous Period')}}(%)</p>
                                    </td>
                                    <td class="td-info">
                                        <p class="text-right">{{NetProfitChange[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfitChange[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfitChange[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfitChange[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfitChange[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfitChange[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfitChange[1].value[0]}}</p>
                                    </td>
                                </tr>
                                <tr class="tr-info">
                                    <td>
                                        <p>{{Label.getContent('Net Profit Margin')}}(%)</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfitMargin[2].value[2]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfitMargin[2].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfitMargin[0].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfitMargin[1].value[1]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfitMargin[2].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfitMargin[0].value[0]}}</p>
                                    </td>
                                    <td>
                                        <p class="text-right">{{NetProfitMargin[1].value[0]}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
</div>