<div class="panel my-panel-success panel-danger" ng-show='isResultShown' style="overflow-X:scroll">
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Rural Profit & Loss Statement Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Financial Results')}} - {{Label.getContent('Rural Profit & Loss Statement')}} ({{Label.getContent('Elecssories')}})</h3>
    </div>
    <div> 
        <table class="table table-condensed table-bordered table-success" style="float:left;width:33%;">
            <thead>
                <tr>
                    <th style="height:33px">&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Sales')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Cost of Price Promotions')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Other Compensation')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Sales Value')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Value Share in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Cost of Goods Sold')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Value of Quantity Discounts')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Value of Performance Bonus')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Discontinued Goods Cost')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Inventory Holding Cost')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Gross Profit')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Gross Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Gross Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('General Expenses')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Operating Profit')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Operating Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Operating Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Interest')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Taxes')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Exceptional Costs/Profits')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Profit')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Net Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="overflow-X:scroll">
        <table class="table table-condensed table-bordered table-success" style="float:left">
            <thead>
                <tr>
                    <th style="white-space: nowrap">
                        <p class="text-center">{{Label.getContent('TOTAL')}}</p>
                    </th>
                    <th style="white-space: nowrap" ng-repeat='brand in brand1s'>
                        <p class="text-center">{{brand.brandName}}
                            <a class="btn btn-success btn-xs" ng-click="openRetailerProductModal(brand.brandName,'Rural')">{{Label.getContent('More')}}</a>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{Sales[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.Sales | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{PromotionsCost[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.PromotionsCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{OtherCompensation[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OtherCompensation | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{NetSales[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetSales | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(NetSalesChange[0][1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetSalesChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetSalesShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{CostOfGoodsSold[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.CostOfGoodsSold | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ValueOfQuantityDiscounts[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.ValueOfQuantityDiscounts | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ValueOfPerformanceBonus[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.ValueOfPerformanceBonus | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{DiscontinuedGoodsCost[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.DiscontinuedGoodsCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{InventoryHoldingCost[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.InventoryHoldingCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{GrossProfit[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(GrossProfitChange[0][1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(GrossProfitMargin[0][1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfitShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{GeneralExpenses[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GeneralExpenses | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{OperatingProfit[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(OperatingProfitChange[0][1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(OperatingProfitMargin[0][1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfitMarginShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{Interest[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.Interest | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{Taxes[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.Taxes | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ExceptionalItems[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.ExceptionalItems | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{NetProfit[0][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(NetProfitChange[0][1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(NetProfitMargin[0][1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfitShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="clear:both"></div>
</div>
<div class="panel my-panel-success panel-danger" ng-show='isResultShown' style="overflow-X:scroll">
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Rural Profit & Loss Statement Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Financial Results')}}- {{Label.getContent('Rural Profit & Loss Statement')}} ({{Label.getContent('HealthBeauties')}})</h3>
    </div>
    <div> 
        <table class="table table-condensed table-bordered table-success" style="float:left;width:33%;">
            <thead>
                <tr>
                    <th style="height:33px">&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Sales')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Cost of Price Promotions')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Other Compensation')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Sales Value')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Value Share in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Cost of Goods Sold')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Value of Quantity Discounts')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Value of Performance Bonus')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Discontinued Goods Cost')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Inventory Holding Cost')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Gross Profit')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Gross Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Gross Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('General Expenses')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Operating Profit')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Operating Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Operating Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Interest')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Taxes')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Exceptional Costs/Profits')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Profit')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Net Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="overflow-X:scroll">
        <table class="table table-condensed table-bordered table-success" style="float:left">
            <thead>
                <tr>
                    <th style="white-space: nowrap">
                        <p class="text-center">{{Label.getContent('TOTAL')}}</p>
                    </th>
                    <th style="white-space: nowrap" ng-repeat='brand in brand2s'>
                        <p class="text-center">{{brand.brandName}}
                            <a class="btn btn-success btn-xs" ng-click="openRetailerProductModal(brand.brandName,'Rural')">{{Label.getContent('More')}}</a>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{Sales[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.Sales | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{PromotionsCost[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.PromotionsCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{OtherCompensation[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OtherCompensation | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{NetSales[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetSales | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(NetSalesChange[1][1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetSalesChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetSalesShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{CostOfGoodsSold[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.CostOfGoodsSold | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ValueOfQuantityDiscounts[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.ValueOfQuantityDiscounts | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ValueOfPerformanceBonus[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.ValueOfPerformanceBonus | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{DiscontinuedGoodsCost[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.DiscontinuedGoodsCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{InventoryHoldingCost[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.InventoryHoldingCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{GrossProfit[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(GrossProfitChange[1][1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(GrossProfitMargin[1][1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfitShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{GeneralExpenses[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GeneralExpenses | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{OperatingProfit[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(OperatingProfitChange[1][1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(OperatingProfitMargin[1][1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfitMarginShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{Interest[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.Interest | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{Taxes[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.Taxes | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ExceptionalItems[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.ExceptionalItems | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{NetProfit[1][1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(NetProfitChange[1][1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(NetProfitMargin[1][1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfitShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="clear:both"></div>
</div>