<div class="panel my-panel-success panel-danger" ng-show='isResultShown' style="overflow-X:scroll">
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Rural Profit & Loss Statement Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Financial Results')}} - {{Label.getContent('Rural Profit & Loss Statement')}} ({{Label.getContent('Elecssories')}})</h3>
    </div>
    <div> 
        <table class="table table-condensed table-bordered table-success" style="float:left;width:33%;">
            <thead>
                <tr>
                    <th style="height:33px">&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Sales')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Cost of Price Promotions')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Other Compensation')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Sales Value')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Value Share in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Cost of Goods Sold')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Value of Quantity Discounts')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Value of Performance Bonus')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Discontinued Goods Cost')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Inventory Holding Cost')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Gross Profit')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Gross Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Gross Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('General Expenses')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Operating Profit')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Operating Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Operating Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Interest')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Taxes')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Exceptional Costs/Profits')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Profit')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Net Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="overflow-X:scroll">
        <table class="table table-condensed table-bordered table-success" style="float:left">
            <thead>
                <tr>
                    <th style="white-space: nowrap">
                        <p class="text-center">{{Label.getContent('TOTAL')}}</p>
                    </th>
                    <th style="white-space: nowrap" ng-repeat='brand in brand1s'>
                        <p class="text-center">{{brand.brandName}}
                            <a class="btn btn-success btn-xs" ng-click="openRetailerProductModal(brand.brandName,'Rural')">{{Label.getContent('More')}}</a>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{Sales[0][1].toFixed(2)=="0.00"?0:Sales[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.Sales=="0.00"?0:brand.Sales}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{PromotionsCost[0][1].toFixed(2)=="0.00"?0:PromotionsCost[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.PromotionsCost=="0.00"?0:brand.PromotionsCost}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{OtherCompensation[0][1].toFixed(2)=="0.00"?0:OtherCompensation[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OtherCompensation=="0.00"?0:brand.OtherCompensation}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{NetSales[0][1].toFixed(2)=="0.00"?0:NetSales[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetSales=="0.00"?0:brand.NetSales}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(NetSalesChange[0][1]*100).toFixed(2)=="0.00"?0:(NetSalesChange[0][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetSalesChange=="0.00"?0:brand.NetSalesChange}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetSalesShareInCategory=="0.00"?0:brand.NetSalesShareInCategory}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{CostOfGoodsSold[0][1].toFixed(2)=="0.00"?0:CostOfGoodsSold[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.CostOfGoodsSold=="0.00"?0:brand.CostOfGoodsSold}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ValueOfQuantityDiscounts[0][1].toFixed(2)=="0.00"?0:ValueOfQuantityDiscounts[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.ValueOfQuantityDiscounts=="0.00"?0:brand.ValueOfQuantityDiscounts}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ValueOfPerformanceBonus[0][1].toFixed(2)=="0.00"?0:ValueOfPerformanceBonus[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.ValueOfPerformanceBonus=="0.00"?0:brand.ValueOfPerformanceBonus}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{DiscontinuedGoodsCost[0][1].toFixed(2)=="0.00"?0:DiscontinuedGoodsCost[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.DiscontinuedGoodsCost=="0.00"?0:brand.DiscontinuedGoodsCost}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{InventoryHoldingCost[0][1].toFixed(2)=="0.00"?0:InventoryHoldingCost[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.InventoryHoldingCost=="0.00"?0:brand.InventoryHoldingCost}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{GrossProfit[0][1].toFixed(2)=="0.00"?0:GrossProfit[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfit=="0.00"?0:brand.GrossProfit}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(GrossProfitChange[0][1]*100).toFixed(2)=="0.00"?0:(GrossProfitChange[0][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfitChange=="0.00"?0:brand.GrossProfitChange}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(GrossProfitMargin[0][1]*100).toFixed(2)=="0.00"?0:(GrossProfitMargin[0][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfitMargin=="0.00"?0:brand.GrossProfitMargin}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfitShareInCategory=="0.00"?0:brand.GrossProfitShareInCategory}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{GeneralExpenses[0][1].toFixed(2)=="0.00"?0:GeneralExpenses[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GeneralExpenses=="0.00"?0:brand.GeneralExpenses}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{OperatingProfit[0][1].toFixed(2)=="0.00"?0:OperatingProfit[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfit=="0.00"?0:brand.OperatingProfit}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(OperatingProfitChange[0][1]*100).toFixed(2)=="0.00"?0:(OperatingProfitChange[0][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfitChange=="0.00"?0:brand.OperatingProfitChange}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(OperatingProfitMargin[0][1]*100).toFixed(2)=="0.00"?0:(OperatingProfitMargin[0][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfitMargin=="0.00"?0:brand.OperatingProfitMargin}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfitMarginShareInCategory=="0.00"?0:brand.OperatingProfitMarginShareInCategory}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{Interest[0][1].toFixed(2)=="0.00"?0:Interest[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.Interest=="0.00"?0:brand.Interest}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{Taxes[0][1].toFixed(2)=="0.00"?0:Taxes[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.Taxes=="0.00"?0:brand.Taxes}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ExceptionalItems[0][1].toFixed(2)=="0.00"?0:ExceptionalItems[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.ExceptionalItems=="0.00"?0:brand.ExceptionalItems}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{NetProfit[0][1].toFixed(2)=="0.00"?0:NetProfit[0][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfit=="0.00"?0:brand.NetProfit}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(NetProfitChange[0][1]*100).toFixed(2)=="0.00"?0:(NetProfitChange[0][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfitChange=="0.00"?0:brand.NetProfitChange}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(NetProfitMargin[0][1]*100).toFixed(2)=="0.00"?0:(NetProfitMargin[0][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfitMargin=="0.00"?0:brand.NetProfitMargin}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfitShareInCategory=="0.00"?0:brand.NetProfitShareInCategory}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="clear:both"></div>
</div>
<div class="panel my-panel-success panel-danger" ng-show='isResultShown' style="overflow-X:scroll">
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Rural Profit & Loss Statement Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Financial Results')}}- {{Label.getContent('Rural Profit & Loss Statement')}} ({{Label.getContent('HealthBeauties')}})</h3>
    </div>
    <div> 
        <table class="table table-condensed table-bordered table-success" style="float:left;width:33%;">
            <thead>
                <tr>
                    <th style="height:33px">&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Sales')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Cost of Price Promotions')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Other Compensation')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Sales Value')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Value Share in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Cost of Goods Sold')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Value of Quantity Discounts')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Value of Performance Bonus')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Discontinued Goods Cost')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Inventory Holding Cost')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Gross Profit')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Gross Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Gross Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('General Expenses')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Operating Profit')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Operating Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Operating Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Interest')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Taxes')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="padding-20">- {{Label.getContent('Exceptional Costs/Profits')}} ($mln)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Profit')}} ($mln)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td style="white-space: nowrap">
                        <p>{{Label.getContent('Net Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap">
                        <p class="text-right">{{Label.getContent('Share of Net Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="overflow-X:scroll">
        <table class="table table-condensed table-bordered table-success" style="float:left">
            <thead>
                <tr>
                    <th style="white-space: nowrap">
                        <p class="text-center">{{Label.getContent('TOTAL')}}</p>
                    </th>
                    <th style="white-space: nowrap" ng-repeat='brand in brand2s'>
                        <p class="text-center">{{brand.brandName}}
                            <a class="btn btn-success btn-xs" ng-click="openRetailerProductModal(brand.brandName,'Rural')">{{Label.getContent('More')}}</a>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{Sales[1][1].toFixed(2)=="0.00"?0:Sales[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.Sales=="0.00"?0:brand.Sales}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{PromotionsCost[1][1].toFixed(2)=="0.00"?0:PromotionsCost[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.PromotionsCost=="0.00"?0:brand.PromotionsCost}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{OtherCompensation[1][1].toFixed(2)=="0.00"?0:OtherCompensation[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OtherCompensation=="0.00"?0:brand.OtherCompensation}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{NetSales[1][1].toFixed(2)=="0.00"?0:NetSales[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetSales=="0.00"?0:brand.NetSales}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(NetSalesChange[1][1]*100).toFixed(2)=="0.00"?0:(NetSalesChange[1][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetSalesChange=="0.00"?0:brand.NetSalesChange}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetSalesShareInCategory=="0.00"?0:brand.NetSalesShareInCategory}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{CostOfGoodsSold[1][1].toFixed(2)=="0.00"?0:CostOfGoodsSold[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.CostOfGoodsSold=="0.00"?0:brand.CostOfGoodsSold}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ValueOfQuantityDiscounts[1][1].toFixed(2)=="0.00"?0:ValueOfQuantityDiscounts[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.ValueOfQuantityDiscounts=="0.00"?0:brand.ValueOfQuantityDiscounts}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ValueOfPerformanceBonus[1][1].toFixed(2)=="0.00"?0:ValueOfPerformanceBonus[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.ValueOfPerformanceBonus=="0.00"?0:brand.ValueOfPerformanceBonus}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{DiscontinuedGoodsCost[1][1].toFixed(2)=="0.00"?0:DiscontinuedGoodsCost[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.DiscontinuedGoodsCost=="0.00"?0:brand.DiscontinuedGoodsCost}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{InventoryHoldingCost[1][1].toFixed(2)=="0.00"?0:InventoryHoldingCost[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.InventoryHoldingCost=="0.00"?0:brand.InventoryHoldingCost}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{GrossProfit[1][1].toFixed(2)=="0.00"?0:GrossProfit[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfit=="0.00"?0:brand.GrossProfit}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(GrossProfitChange[1][1]*100).toFixed(2)=="0.00"?0:(GrossProfitChange[1][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfitChange=="0.00"?0:brand.GrossProfitChange}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(GrossProfitMargin[1][1]*100).toFixed(2)=="0.00"?0:(GrossProfitMargin[1][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfitMargin=="0.00"?0:brand.GrossProfitMargin}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfitShareInCategory=="0.00"?0:brand.GrossProfitShareInCategory}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{GeneralExpenses[1][1].toFixed(2)=="0.00"?0:GeneralExpenses[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GeneralExpenses=="0.00"?0:brand.GeneralExpenses}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{OperatingProfit[1][1].toFixed(2)=="0.00"?0:OperatingProfit[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfit=="0.00"?0:brand.OperatingProfit}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(OperatingProfitChange[1][1]*100).toFixed(2)=="0.00"?0:(OperatingProfitChange[1][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfitChange=="0.00"?0:brand.OperatingProfitChange}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(OperatingProfitMargin[1][1]*100).toFixed(2)=="0.00"?0:(OperatingProfitMargin[1][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfitMargin=="0.00"?0:brand.OperatingProfitMargin}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfitMarginShareInCategory=="0.00"?0:brand.OperatingProfitMarginShareInCategory}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{Interest[1][1].toFixed(2)=="0.00"?0:Interest[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.Interest=="0.00"?0:brand.Interest}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{Taxes[1][1].toFixed(2)=="0.00"?0:Taxes[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.Taxes=="0.00"?0:brand.Taxes}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ExceptionalItems[1][1].toFixed(2)=="0.00"?0:ExceptionalItems[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.ExceptionalItems=="0.00"?0:brand.ExceptionalItems}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{NetProfit[1][1].toFixed(2)=="0.00"?0:NetProfit[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfit=="0.00"?0:brand.NetProfit}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(NetProfitChange[1][1]*100).toFixed(2)=="0.00"?0:(NetProfitChange[1][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfitChange=="0.00"?0:brand.NetProfitChange}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(NetProfitMargin[1][1]*100).toFixed(2)=="0.00"?0:(NetProfitMargin[1][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfitMargin=="0.00"?0:brand.NetProfitMargin}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfitShareInCategory=="0.00"?0:brand.NetProfitShareInCategory}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <table class="table table-condensed table-bordered table-success" style="float:left">
            <thead>
                <tr>
                    <th>
                        <p class="text-center">{{Label.getContent('TOTAL')}}</p>
                    </th>
                    <th style="white-space: nowrap" ng-repeat='brand2 in brand2s'>
                        <p class="text-center">{{brand2.brandName}}
                            <a class="btn btn-success btn-xs" ng-click="openRetailerProductModal(brand2.brandName,'Rural')">{{Label.getContent('More')}}</a>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{Sales[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.Sales}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{PromotionsCost[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.PromotionsCost}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{OtherCompensation[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.OtherCompensation}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{NetSales[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.NetSales}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(NetSalesChange[1][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.NetSalesChange}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.NetSalesShareInCategory}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{CostOfGoodsSold[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.CostOfGoodsSold}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ValueOfQuantityDiscounts[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.ValueOfQuantityDiscounts}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ValueOfPerformanceBonus[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.ValueOfPerformanceBonus}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{DiscontinuedGoodsCost[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.DiscontinuedGoodsCost}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{InventoryHoldingCost[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.InventoryHoldingCost}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{GrossProfit[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.GrossProfit}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(GrossProfitChange[1][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.GrossProfitChange}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(GrossProfitMargin[1][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.GrossProfitMargin}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.GrossProfitShareInCategory}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{GeneralExpenses[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.GeneralExpenses}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{OperatingProfit[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.OperatingProfit}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(OperatingProfitChange[1][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.OperatingProfitChange}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(OperatingProfitMargin[1][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.OperatingProfitMargin}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.OperatingProfitMarginShareInCategory}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{Interest[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.Interest}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{Taxes[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.Taxes}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ExceptionalItems[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.ExceptionalItems}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{NetProfit[1][1].toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.NetProfit}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(NetProfitChange[1][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.NetProfitChange}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(NetProfitMargin[1][1]*100).toFixed(2)}}</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.NetProfitMargin}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand2 in brand2s'>
                        <p class="text-right">{{brand2.NetProfitShareInCategory}}</p>
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
    <div style="clear:both"></div>
</div>