<div class="panel my-panel-success panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Shares by Shopper Segment Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Rural')}} {{Label.getContent('Situation Report')}} - {{Label.getContent('Market Shares by Shopper Segment')}}</h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('B&M Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Mixed')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="success">
                <td colspan="7">
                    <p>{{Label.getContent('Elecssories')}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleVolume1s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleVolume in eleVolume1s'>
                <td>
                    <p class="padding-40">{{eleVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleVolume2s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleVolume in eleVolume2s'>
                <td>
                    <p class="padding-40">{{eleVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleVolume3s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleVolume in eleVolume3s'>
                <td>
                    <p class="padding-40">{{eleVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleVolume4s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Private Label')}}</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleVolume in eleVolume4s'>
                <td>
                    <p class="padding-40">{{eleVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('B&M Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Mixed')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="7">
                    <p>{{Label.getContent('HealthBeauties')}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='eleVolume1s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaVolume in heaVolume1s'>
                <td>
                    <p class="padding-40">{{heaVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaVolume2s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaVolume in heaVolume2s'>
                <td>
                    <p class="padding-40">{{heaVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaVolume3s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaVolume in heaVolume3s'>
                <td>
                    <p class="padding-40">{{heaVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaVolume4s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Private Label')}}</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaVolume in heaVolume4s'>
                <td>
                    <p class="padding-40">{{heaVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>

            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('B&M Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Mixed')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="success">
                <td colspan="7">
                    <p>{{Label.getContent('Elecssories')}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleValue1s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleValue in eleValue1s'>
                <td>
                    <p class="padding-40">{{eleValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleValue2s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleValue in eleValue2s'>
                <td>
                    <p class="padding-40">{{eleValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleValue3s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleValue in eleValue3s'>
                <td>
                    <p class="padding-40">{{eleValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleValue4s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Private Label')}}</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleValue in eleValue4s'>
                <td>
                    <p class="padding-40">{{eleValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('B&M Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Mixed')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="7">
                    <p>{{Label.getContent('HealthBeauties')}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='eleValue1s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaValue in heaValue1s'>
                <td>
                    <p class="padding-40">{{heaValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaValue2s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaValue in heaValue2s'>
                <td>
                    <p class="padding-40">{{heaValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaValue3s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaValue in heaValue3s'>
                <td>
                    <p class="padding-40">{{heaValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaValue4s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Private Label')}}</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaValue in heaValue4s'>
                <td>
                    <p class="padding-40">{{heaValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>