<div class="panel my-panel-success panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Consolidated Profit & Loss Statement Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Financial Results')}} - {{Label.getContent('Consolidated Profit & Loss Statement')}}
        </h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th>
                    <p class="text-center">{{Label.getContent('TOTAL')}}</p>
                </th>
                <th colspan="3">
                    <p class="text-center">
                        {{Label.getContent('Urban')}}
                    </p>
                </th>                
                <th colspan="3">
                    <p class="text-center">
                        {{Label.getContent('Rural')}}
                    </p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Total')}}
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Elecssories')}}
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('HealthBeauties')}}
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Total')}}
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Elecssories')}}
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('HealthBeauties')}}
                    </p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Sales')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td>
                    <p class="text-right">{{Sales[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Sales[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Sales[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Sales[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Sales[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Sales[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Sales[1][1] | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Cost of Price Promotions')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{PromotionsCost[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{PromotionsCost[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{PromotionsCost[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{PromotionsCost[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{PromotionsCost[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{PromotionsCost[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{PromotionsCost[1][1] | number : 1 }}</p>
                </td>
                
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Other Compensation')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{OtherCompensation[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{OtherCompensation[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{OtherCompensation[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{OtherCompensation[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{OtherCompensation[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{OtherCompensation[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{OtherCompensation[1][1] | number : 1 }}</p>
                </td>
                
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Net Sales Value')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td>
                    <p class="text-right">{{NetSales[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{NetSales[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{NetSales[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{NetSales[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{NetSales[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{NetSales[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{NetSales[1][1] | number : 1 }}</p>
                </td>
                
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{(NetSalesChange[2][2]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetSalesChange[2][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetSalesChange[0][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetSalesChange[1][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetSalesChange[2][1]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetSalesChange[0][1]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetSalesChange[1][1]*100) | number : 1 }}</p>
                </td>
                
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Cost of Goods Sold')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{CostOfGoodsSold[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{CostOfGoodsSold[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{CostOfGoodsSold[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{CostOfGoodsSold[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{CostOfGoodsSold[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{CostOfGoodsSold[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{CostOfGoodsSold[1][1] | number : 1 }}</p>
                </td>
                
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Value of Quantity Discounts')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{ValueOfQuantityDiscounts[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ValueOfQuantityDiscounts[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ValueOfQuantityDiscounts[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ValueOfQuantityDiscounts[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ValueOfQuantityDiscounts[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ValueOfQuantityDiscounts[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ValueOfQuantityDiscounts[1][1] | number : 1 }}</p>
                </td>
                
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Value of Performance Bonus')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{ValueOfPerformanceBonus[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ValueOfPerformanceBonus[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ValueOfPerformanceBonus[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ValueOfPerformanceBonus[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ValueOfPerformanceBonus[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ValueOfPerformanceBonus[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ValueOfPerformanceBonus[1][1] | number : 1 }}</p>
                </td>
                
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Discontinued Goods Cost')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{DiscontinuedGoodsCost[2][2] | number : 1 }}</p>
                </td>
                 <td>
                    <p class="text-right">{{DiscontinuedGoodsCost[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{DiscontinuedGoodsCost[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{DiscontinuedGoodsCost[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{DiscontinuedGoodsCost[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{DiscontinuedGoodsCost[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{DiscontinuedGoodsCost[1][1] | number : 1 }}</p>
                </td>
               
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Inventory Holding Cost')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{InventoryHoldingCost[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{InventoryHoldingCost[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{InventoryHoldingCost[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{InventoryHoldingCost[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{InventoryHoldingCost[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{InventoryHoldingCost[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{InventoryHoldingCost[1][1] | number : 1 }}</p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Gross Profit')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td>
                    <p class="text-right">{{GrossProfit[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{GrossProfit[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{GrossProfit[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{GrossProfit[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{GrossProfit[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{GrossProfit[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{GrossProfit[1][1] | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{(GrossProfitChange[2][2]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(GrossProfitChange[2][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(GrossProfitChange[0][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(GrossProfitChange[1][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(GrossProfitChange[2][1]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(GrossProfitChange[0][1]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(GrossProfitChange[1][1]*100) | number : 1 }}</p>
                </td>
                
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Gross Profit Margin')}} (%)</p>
                </td>
                <td>
                    <p class="text-right">{{(GrossProfitMargin[2][2]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(GrossProfitMargin[2][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(GrossProfitMargin[0][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(GrossProfitMargin[1][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(GrossProfitMargin[2][1]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(GrossProfitMargin[0][1]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(GrossProfitMargin[1][1]*100) | number : 1 }}</p>
                </td>
                
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('General Expenses')}} ({{Label.getContent('$mln')}})</p>
                </td>

                <td class="td-info">
                    <p class="text-right">{{GeneralExpenses[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{GeneralExpenses[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{GeneralExpenses[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{GeneralExpenses[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{GeneralExpenses[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{GeneralExpenses[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{GeneralExpenses[1][1] | number : 1 }}</p>
                </td>
                
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Operating Profit')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td>
                    <p class="text-right">{{OperatingProfit[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{OperatingProfit[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{OperatingProfit[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{OperatingProfit[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{OperatingProfit[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{OperatingProfit[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{OperatingProfit[1][1] | number : 1 }}</p>
                </td>
                
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{(OperatingProfitChange[2][2]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(OperatingProfitChange[2][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(OperatingProfitChange[0][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(OperatingProfitChange[1][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(OperatingProfitChange[2][1]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(OperatingProfitChange[0][1]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(OperatingProfitChange[1][1]*100) | number : 1 }}</p>
                </td>
                
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Operating Profit Margin')}} (%)</p>
                </td>
                <td>
                    <p class="text-right">{{(OperatingProfitMargin[2][2]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(OperatingProfitMargin[2][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(OperatingProfitMargin[0][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(OperatingProfitMargin[1][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(OperatingProfitMargin[2][1]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(OperatingProfitMargin[0][1]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(OperatingProfitMargin[1][1]*100) | number : 1 }}</p>
                </td>
                
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Interest')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{Interest[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Interest[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Interest[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Interest[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Interest[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Interest[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Interest[1][1] | number : 1 }}</p>
                </td>
                
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Taxes')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{Taxes[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Taxes[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Taxes[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Taxes[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Taxes[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Taxes[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{Taxes[1][1] | number : 1 }}</p>
                </td>
                
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Exceptional Costs/Profits')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{ExceptionalItems[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ExceptionalItems[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ExceptionalItems[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ExceptionalItems[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ExceptionalItems[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ExceptionalItems[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{ExceptionalItems[1][1] | number : 1 }}</p>
                </td>
                
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Net Profit')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td>
                    <p class="text-right">{{NetProfit[2][2] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{NetProfit[2][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{NetProfit[0][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{NetProfit[1][0] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{NetProfit[2][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{NetProfit[0][1] | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{NetProfit[1][1] | number : 1 }}</p>
                </td>
                
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{(NetProfitChange[2][2]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetProfitChange[2][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetProfitChange[0][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetProfitChange[1][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetProfitChange[2][1]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetProfitChange[0][1]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetProfitChange[1][1]*100) | number : 1 }}</p>
                </td>
                
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Net Profit Margin')}} (%)</p>
                </td>
                <td>
                    <p class="text-right">{{(NetProfitMargin[2][2]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetProfitMargin[2][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetProfitMargin[0][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetProfitMargin[1][0]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetProfitMargin[2][1]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetProfitMargin[0][1]*100) | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{(NetProfitMargin[1][1]*100) | number : 1 }}</p>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>