<div class="panel my-panel-success panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Shares by Shopper Segment Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Urban')}} {{Label.getContent('Situation Report')}} - {{Label.getContent('Market Shares by Shopper Segment')}}</h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('B&M Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Mixed')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="success">
                <td colspan="7">
                    <p>{{Label.getContent('Elecssories')}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleVolume1s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleVolume in eleVolume1s'>
                <td>
                    <p class="padding-40">{{eleVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeShare=="0.00"?0:eleVolume.bmVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeChange=="0.00"?0:eleVolume.bmVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeShare=="0.00"?0:eleVolume.onlineVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeChange=="0.00"?0:eleVolume.onlineVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeShare=="0.00"?0:eleVolume.mixedVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeChange=="0.00"?0:eleVolume.mixedVolumeChange}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleVolume2s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleVolume in eleVolume2s'>
                <td>
                    <p class="padding-40">{{eleVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeShare=="0.00"?0:eleVolume.bmVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeChange=="0.00"?0:eleVolume.bmVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeShare=="0.00"?0:eleVolume.onlineVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeChange=="0.00"?0:eleVolume.onlineVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeShare=="0.00"?0:eleVolume.mixedVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeChange=="0.00"?0:eleVolume.mixedVolumeChange}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleVolume3s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleVolume in eleVolume3s'>
                <td>
                    <p class="padding-40">{{eleVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeShare=="0.00"?0:eleVolume.bmVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeChange=="0.00"?0:eleVolume.bmVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeShare=="0.00"?0:eleVolume.onlineVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeChange=="0.00"?0:eleVolume.onlineVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeShare=="0.00"?0:eleVolume.mixedVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeChange=="0.00"?0:eleVolume.mixedVolumeChange}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleVolume4s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Private Label')}}</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleVolume in eleVolume4s'>
                <td>
                    <p class="padding-40">{{eleVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeShare=="0.00"?0:eleVolume.bmVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.bmVolumeChange=="0.00"?0:eleVolume.bmVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeShare=="0.00"?0:eleVolume.onlineVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.onlineVolumeChange=="0.00"?0:eleVolume.onlineVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeShare=="0.00"?0:eleVolume.mixedVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume.mixedVolumeChange=="0.00"?0:eleVolume.mixedVolumeChange}}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('B&M Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Mixed')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="7">
                    <p>{{Label.getContent('HealthBeauties')}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='eleVolume1s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaVolume in heaVolume1s'>
                <td>
                    <p class="padding-40">{{heaVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeShare=="0.00"?0:heaVolume.bmVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeChange=="0.00"?0:heaVolume.bmVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeShare=="0.00"?0:heaVolume.onlineVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeChange=="0.00"?0:heaVolume.onlineVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeShare=="0.00"?0:heaVolume.mixedVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeChange=="0.00"?0:heaVolume.mixedVolumeChange}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaVolume2s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaVolume in heaVolume2s'>
                <td>
                    <p class="padding-40">{{heaVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeShare=="0.00"?0:heaVolume.bmVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeChange=="0.00"?0:heaVolume.bmVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeShare=="0.00"?0:heaVolume.onlineVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeChange=="0.00"?0:heaVolume.onlineVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeShare=="0.00"?0:heaVolume.mixedVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeChange=="0.00"?0:heaVolume.mixedVolumeChange}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaVolume3s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaVolume in heaVolume3s'>
                <td>
                    <p class="padding-40">{{heaVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeShare=="0.00"?0:heaVolume.bmVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeChange=="0.00"?0:heaVolume.bmVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeShare=="0.00"?0:heaVolume.onlineVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeChange=="0.00"?0:heaVolume.onlineVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeShare=="0.00"?0:heaVolume.mixedVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeChange=="0.00"?0:heaVolume.mixedVolumeChange}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaVolume4s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Private Label')}}</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaVolume in heaVolume4s'>
                <td>
                    <p class="padding-40">{{heaVolume.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeShare=="0.00"?0:heaVolume.bmVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.bmVolumeChange=="0.00"?0:heaVolume.bmVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeShare=="0.00"?0:heaVolume.onlineVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.onlineVolumeChange=="0.00"?0:heaVolume.onlineVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeShare=="0.00"?0:heaVolume.mixedVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume.mixedVolumeChange=="0.00"?0:heaVolume.mixedVolumeChange}}</p>
                </td>
            </tr>

            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('B&M Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Mixed')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="success">
                <td colspan="7">
                    <p>{{Label.getContent('Elecssories')}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleValue1s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleValue in eleValue1s'>
                <td>
                    <p class="padding-40">{{eleValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueShare=="0.00"?0:eleValue.bmValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueChange=="0.00"?0:eleValue.bmValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueShare=="0.00"?0:eleValue.onlineValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueChange=="0.00"?0:eleValue.onlineValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueShare=="0.00"?0:eleValue.mixedValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueChange=="0.00"?0:eleValue.mixedValueChange}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleValue2s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleValue in eleValue2s'>
                <td>
                    <p class="padding-40">{{eleValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueShare=="0.00"?0:eleValue.bmValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueChange=="0.00"?0:eleValue.bmValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueShare=="0.00"?0:eleValue.onlineValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueChange=="0.00"?0:eleValue.onlineValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueShare=="0.00"?0:eleValue.mixedValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueChange=="0.00"?0:eleValue.mixedValueChange}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleValue3s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleValue in eleValue3s'>
                <td>
                    <p class="padding-40">{{eleValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueShare=="0.00"?0:eleValue.bmValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueChange=="0.00"?0:eleValue.bmValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueShare=="0.00"?0:eleValue.onlineValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueChange=="0.00"?0:eleValue.onlineValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueShare=="0.00"?0:eleValue.mixedValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueChange=="0.00"?0:eleValue.mixedValueChange}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleValue4s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Private Label')}}</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleValue in eleValue4s'>
                <td>
                    <p class="padding-40">{{eleValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueShare=="0.00"?0:eleValue.bmValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.bmValueChange=="0.00"?0:eleValue.bmValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueShare=="0.00"?0:eleValue.onlineValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.onlineValueChange=="0.00"?0:eleValue.onlineValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueShare=="0.00"?0:eleValue.mixedValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue.mixedValueChange=="0.00"?0:eleValue.mixedValueChange}}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('B&M Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Online Only')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Mixed')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="7">
                    <p>{{Label.getContent('HealthBeauties')}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='eleValue1s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaValue in heaValue1s'>
                <td>
                    <p class="padding-40">{{heaValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueShare=="0.00"?0:heaValue.bmValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueChange=="0.00"?0:heaValue.bmValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueShare=="0.00"?0:heaValue.onlineValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueChange=="0.00"?0:heaValue.onlineValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueShare=="0.00"?0:heaValue.mixedValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueChange=="0.00"?0:heaValue.mixedValueChange}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaValue2s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaValue in heaValue2s'>
                <td>
                    <p class="padding-40">{{heaValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueShare=="0.00"?0:heaValue.bmValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueChange=="0.00"?0:heaValue.bmValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueShare=="0.00"?0:heaValue.onlineValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueChange=="0.00"?0:heaValue.onlineValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueShare=="0.00"?0:heaValue.mixedValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueChange=="0.00"?0:heaValue.mixedValueChange}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaValue3s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaValue in heaValue3s'>
                <td>
                    <p class="padding-40">{{heaValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueShare=="0.00"?0:heaValue.bmValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueChange=="0.00"?0:heaValue.bmValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueShare=="0.00"?0:heaValue.onlineValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueChange=="0.00"?0:heaValue.onlineValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueShare=="0.00"?0:heaValue.mixedValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueChange=="0.00"?0:heaValue.mixedValueChange}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaValue4s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Private Label')}}</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaValue in heaValue4s'>
                <td>
                    <p class="padding-40">{{heaValue.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueShare=="0.00"?0:heaValue.bmValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.bmValueChange=="0.00"?0:heaValue.bmValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueShare=="0.00"?0:heaValue.onlineValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.onlineValueChange=="0.00"?0:heaValue.onlineValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueShare=="0.00"?0:heaValue.mixedValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue.mixedValueChange=="0.00"?0:heaValue.mixedValueChange}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>