<div class="panel my-panel-success panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Last Period Negotiations Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Financial Results')}} - {{Label.getContent('Last Period Negotiations')}}</h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th>
                    <p class="text-center">{{Label.getContent('Minimum Order Quantity')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Discount Rate')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Target Sales Volume')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Bonus Rate')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Payment Terms')}}({{Label.getContent('days')}})</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Other Compensation')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Contract Honored')}}</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan='8'>{{Label.getContent('Supplier')}} 1</td>
            </tr>
            <tr class="success" ng-repeat='product in product1es'>
                <td>
                    <p class="padding-20">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.discount_MinimumVolume | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(product.discount_Rate*100) | number : 1 }}%
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.bonus_TargetVolume | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(product.bonus_Rate*100) | number : 1 }}%
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.vnd_PaymentTerm | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.vnd_OtherCompensation | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-center" ng-show="product.vnd_ContractHonoured=='yes'">
                        {{product.vnd_ContractHonoured}}
                    </p>
                    <p class="text-center" style='color:red' ng-show="product.vnd_ContractHonoured=='no'">
                        {{product.vnd_ContractHonoured}}
                    </p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='product in product1hs'>
                <td>
                    <p class="padding-20">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.discount_MinimumVolume | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(product.discount_Rate*100) | number : 1 }}%
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.bonus_TargetVolume | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(product.bonus_Rate*100) | number : 1 }}%
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.vnd_PaymentTerm | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.vnd_OtherCompensation | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-center" ng-show="product.vnd_ContractHonoured=='yes'">
                        {{product.vnd_ContractHonoured}}
                    </p>
                    <p class="text-center" style='color:red' ng-show="product.vnd_ContractHonoured=='no'">
                        {{product.vnd_ContractHonoured}}
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan='8'>{{Label.getContent('Supplier')}} 2</td>
            </tr>
            <tr class="success" ng-repeat='product in product2es'>
                <td>
                    <p class="padding-20">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.discount_MinimumVolume | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(product.discount_Rate*100) | number : 1 }}%
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.bonus_TargetVolume | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(product.bonus_Rate*100) | number : 1 }}%
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.vnd_PaymentTerm | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.vnd_OtherCompensation | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-center" ng-show="product.vnd_ContractHonoured=='yes'">
                        {{product.vnd_ContractHonoured}}
                    </p>
                    <p class="text-center" style='color:red' ng-show="product.vnd_ContractHonoured=='no'">
                        {{product.vnd_ContractHonoured}}
                    </p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='product in product2hs'>
                <td>
                    <p class="padding-20">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.discount_MinimumVolume | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(product.discount_Rate*100) | number : 1 }}%
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.bonus_TargetVolume | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(product.bonus_Rate*100) | number : 1 }}%
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.vnd_PaymentTerm | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.vnd_OtherCompensation | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-center" ng-show="product.vnd_ContractHonoured=='yes'">
                        {{product.vnd_ContractHonoured}}
                    </p>
                    <p class="text-center" style='color:red' ng-show="product.vnd_ContractHonoured=='no'">
                        {{product.vnd_ContractHonoured}}
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan='8'>{{Label.getContent('Supplier')}} 3</td>
            </tr>
            <tr class="success" ng-repeat='product in product3es'>
                <td>
                    <p class="padding-20">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.discount_MinimumVolume | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(product.discount_Rate*100) | number : 1 }}%
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.bonus_TargetVolume | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(product.bonus_Rate*100) | number : 1 }}%
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.vnd_PaymentTerm | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.vnd_OtherCompensation | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-center" ng-show="product.vnd_ContractHonoured=='yes'">
                        {{product.vnd_ContractHonoured}}
                    </p>
                    <p class="text-center" style='color:red' ng-show="product.vnd_ContractHonoured=='no'">
                        {{product.vnd_ContractHonoured}}
                    </p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='product in product3hs'>
                <td>
                    <p class="padding-20">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.discount_MinimumVolume | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(product.discount_Rate*100) | number : 1 }}%
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.bonus_TargetVolume | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(product.bonus_Rate*100) | number : 1 }}%
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.vnd_PaymentTerm | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product.vnd_OtherCompensation | number : 1 }}
                    </p>
                </td>
                <td>
                    <p class="text-center" ng-show="product.vnd_ContractHonoured=='yes'">
                        {{product.vnd_ContractHonoured}}
                    </p>
                    <p class="text-center" style='color:red' ng-show="product.vnd_ContractHonoured=='no'">
                        {{product.vnd_ContractHonoured}}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>