<div class="panel my-panel-success panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Key Performance Indicators Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Key Performance Indicators')}}
        </h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th class="td-info">
                    <p class="text-center">{{Label.getContent('Urban')}}</p>
                </th>
                <th class="td-warning">
                    <p class="text-center">{{Label.getContent('Rural')}}</p>
                </th>
            </tr>
            <tr>
                <td colspan="3">
                    <p Popover-animation="true" popover="{{Label.getContent('Rotation Index Info')}}" popover-title="{{Label.getContent('Rotation Index')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Rotation Index')}} <span class="glyphicon glyphicon-info-sign" ></span></p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">
                    <p class="padding-20">{{Label.getContent('Volume')}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">{{Label.getContent('Elecssories')}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{data.VolumeRotationIndex[0][0] | number : 1 }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{data.VolumeRotationIndex[0][1] | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">{{Label.getContent('HealthBeauties')}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{data.VolumeRotationIndex[1][0] | number : 1 }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{data.VolumeRotationIndex[1][1] | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">{{Label.getContent('Value')}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{data.ValueRotationIndex[2][0] | number : 1 }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{data.ValueRotationIndex[2][1] | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p Popover-animation="true" popover="{{Label.getContent('Profitability Index Info')}}" popover-title="{{Label.getContent('Profitability Index')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Profitability Index')}} <span class="glyphicon glyphicon-info-sign" ></span></p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{data.ProfitabilityIndex[2][0] | number : 1 }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{data.ProfitabilityIndex[2][1] | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p Popover-animation="true" popover="{{Label.getContent('Stock Cover Info')}}" popover-title="{{Label.getContent('Stock Cover')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Stock Cover')}} <span class="glyphicon glyphicon-info-sign" ></span></p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="padding-20">{{Label.getContent('Elecssories')}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{data.StockCover[0][0] | number : 1 }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{data.StockCover[0][1] | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">{{Label.getContent('HealthBeauties')}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{data.StockCover[1][0] | number : 1 }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{data.StockCover[1][1] | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p>{{Label.getContent('Share of Shoppers')}} (%)</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">{{Label.getContent('B&M Shoppers')}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{(BMShoppers1*100) | number : 1 }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{(BMShoppers2*100) | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">{{Label.getContent('All Shoppers')}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{(AllShoppers1*100) | number : 1 }}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{(AllShoppers2*100) | number : 1 }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>