<div class="panel my-panel-success panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Volume Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Rural')}} {{Label.getContent('Situation Report')}} - {{Label.getContent('Volume')}}</h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th>
                    <p>(units mln)</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Initial Inventory')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Delivered Volume')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Sales Volume')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Discontinued Goods Volume')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Closing Inventory')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Net Retail Price')}} ($)</p>
                </th>
            </tr>
            <tr class="success">
                <td colspan="7">
                    <p>{{Label.getContent('Elecssories')}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='product1es.length>=1'>
                <td colspan="7">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='product in product1es'>
                <td>
                    <p class="padding-40">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.initial=="0.00"?0:product.initial}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.production=="0.00"?0:product.production}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.sales=="0.00"?0:product.sales}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.discontinued=="0.00"?0:product.discontinued}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.closing=="0.00"?0:product.closing}}</p>
                </td>
                <td>
                    <p class="text-right"></p>
                </td>
            </tr>
            <tr class="success" ng-show='product2es.length>=1'>
                <td colspan="7">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='product in product2es'>
                <td>
                    <p class="padding-40">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.initial=="0.00"?0:product.initial}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.production=="0.00"?0:product.production}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.sales=="0.00"?0:product.sales}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.discontinued=="0.00"?0:product.discontinued}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.closing=="0.00"?0:product.closing}}</p>
                </td>
                <td>
                    <p class="text-right"></p>
                </td>
            </tr>
            <tr class="success" ng-show='product3es.length>=1'>
                <td colspan="7">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='product in product3es'>
                <td>
                    <p class="padding-40">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.initial=="0.00"?0:product.initial}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.production=="0.00"?0:product.production}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.sales=="0.00"?0:product.sales}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.discontinued=="0.00"?0:product.discontinued}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.closing=="0.00"?0:product.closing}}</p>
                </td>
                <td>
                    <p class="text-right"></p>
                </td>
            </tr>
            <tr class="success" ng-show='product4es.length>=1'>
                <td colspan="7">
                    <p class="padding-20">{{Label.getContent('Private Label')}}</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='product in product4es'>
                <td>
                    <p class="padding-40">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.initial=="0.00"?0:product.initial}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.production=="0.00"?0:product.production}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.sales=="0.00"?0:product.sales}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.discontinued=="0.00"?0:product.discontinued}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.closing=="0.00"?0:product.closing}}</p>
                </td>
                <td>
                    <p class="text-right"></p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="7">
                    <p>{{Label.getContent('HealthBeauties')}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='product1hs.length>=1'>
                <td colspan="7">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='product in product1hs'>
                <td>
                    <p class="padding-40">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.initial=="0.00"?0:product.initial}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.production=="0.00"?0:product.production}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.sales=="0.00"?0:product.sales}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.discontinued=="0.00"?0:product.discontinued}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.closing=="0.00"?0:product.closing}}</p>
                </td>
                <td>
                    <p class="text-right"></p>
                </td>
            </tr>
            <tr class="danger" ng-show='product2hs.length>=1'>
                <td colspan="7">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='product in product2hs'>
                <td>
                    <p class="padding-40">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.initial=="0.00"?0:product.initial}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.production=="0.00"?0:product.production}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.sales=="0.00"?0:product.sales}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.discontinued=="0.00"?0:product.discontinued}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.closing=="0.00"?0:product.closing}}</p>
                </td>
                <td>
                    <p class="text-right"></p>
                </td>
            </tr>
            <tr class="danger" ng-show='product3hs.length>=1'>
                <td colspan="7">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='product in product3hs'>
                <td>
                    <p class="padding-40">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.initial=="0.00"?0:product.initial}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.production=="0.00"?0:product.production}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.sales=="0.00"?0:product.sales}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.discontinued=="0.00"?0:product.discontinued}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.closing=="0.00"?0:product.closing}}</p>
                </td>
                <td>
                    <p class="text-right"></p>
                </td>
            </tr>
            <tr class="danger" ng-show='product4hs.length>=1'>
                <td colspan="7">
                    <p class="padding-20">{{Label.getContent('Private Label')}}</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='product in product4hs'>
                <td>
                    <p class="padding-40">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.initial=="0.00"?0:product.initial}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.production=="0.00"?0:product.production}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.sales=="0.00"?0:product.sales}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.discontinued=="0.00"?0:product.discontinued}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.closing=="0.00"?0:product.closing}}</p>
                </td>
                <td>
                    <p class="text-right"></p>
                </td>
            </tr>
        </thead>
    </table> 
</div>