<div class="panel my-panel-success panel-primary" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Key Performance Indicators Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Key Performance Indicators')}}
        </h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th class="td-info">
                    <p class="text-center">{{Label.getContent('Rural')}}</p>
                </th>
                <th class="td-warning">
                    <p class="text-center">{{Label.getContent('Urban')}}</p>
                </th>
            </tr>
            <tr>
                <td colspan="3">
                    <p>{{Label.getContent('Rotation Index')}}</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">
                    <p class="padding-20">{{Label.getContent('Volume')}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">{{Label.getContent('Elecssories')}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{data.rcrkpi_VolumeRotationIndex[0][0].value[1]}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{data.rcrkpi_VolumeRotationIndex[0][0].value[0]}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">{{Label.getContent('HealthBeauties')}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{data.rcrkpi_VolumeRotationIndex[1][0].value[1]}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{data.rcrkpi_VolumeRotationIndex[1][0].value[0]}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">{{Label.getContent('Value')}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{data.rcrkpi_ValueRotationIndex[2][0].value[1]}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{data.rcrkpi_ValueRotationIndex[2][0].value[0]}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>{{Label.getContent('Profitability Index')}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{data.rcrkpi_ProfitabilityIndex[2][0].value[1]}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{data.rcrkpi_ProfitabilityIndex[2][0].value[0]}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>{{Label.getContent('Stock Cover')}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{data.rcrkpi_StockCover[2][0].value[1]}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{data.rcrkpi_StockCover[2][0].value[0]}}</p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <p>{{Label.getContent('Share of Shoppers')}}(%)</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">{{Label.getContent('B&M Shoppers')}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{BMShoppers1}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{BMShoppers2}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">{{Label.getContent('All Shoppers')}}</p>
                </td>
                <td class="td-info">
                    <p class="text-right">{{AllShoppers1}}</p>
                </td>
                <td class="td-warning">
                    <p class="text-right">{{AllShoppers2}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>