<div class="panel my-panel-success panel-primary" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Shares by Consumer Segment Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Rural')}} {{Label.getContent('Situation Report')}}-{{Label.getContent('Market Shares by Consumer Segment')}}
        </h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Price Sensitive')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Value for Money')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Fashion')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Freaks')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="success">
                <td colspan="9">
                    <p>{{Label.getContent('Elecssories')}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleVolume1s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleVolume1 in eleVolume1s'>
                <td>
                    <p class="padding-40">{{eleVolume1.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume1.priceVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume1.priceVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume1.moneyVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume1.moneyVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume1.fashionVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume1.fashionVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume1.freaksVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume1.freaksVolumeChange}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleVolume2s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleVolume2 in eleVolume2s'>
                <td>
                    <p class="padding-40">{{eleVolume2.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume2.priceVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume2.priceVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume2.moneyVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume2.moneyVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume2.fashionVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume2.fashionVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume2.freaksVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume2.freaksVolumeChange}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleVolume3s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleVolume3 in eleVolume3s'>
                <td>
                    <p class="padding-40">{{eleVolume3.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume3.priceVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume3.priceVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume3.moneyVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume3.moneyVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume3.fashionVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume3.fashionVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume3.freaksVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume3.freaksVolumeChange}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleVolume4s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Private Label')}}</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleVolume4 in eleVolume4s'>
                <td>
                    <p class="padding-40">{{eleVolume4.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume4.priceVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume4.priceVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume4.moneyVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume4.moneyVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume4.fashionVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume4.fashionVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume4.freaksVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleVolume4.freaksVolumeChange}}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Price Sensitive')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Value for Money')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Fashion')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Freaks')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="9">
                    <p>{{Label.getContent('HealthBeauties')}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaVolume1s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaVolume1 in heaVolume1s'>
                <td>
                    <p class="padding-40">{{heaVolume1.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume1.priceVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume1.priceVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume1.moneyVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume1.moneyVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume1.fashionVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume1.fashionVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume1.freaksVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume1.freaksVolumeChange}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaVolume2s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaVolume2 in heaVolume2s'>
                <td>
                    <p class="padding-40">{{heaVolume2.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume2.priceVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume2.priceVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume2.moneyVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume2.moneyVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume2.fashionVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume2.fashionVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume2.freaksVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume2.freaksVolumeChange}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaVolume3s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaVolume3 in heaVolume3s'>
                <td>
                    <p class="padding-40">{{heaVolume3.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume3.priceVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume3.priceVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume3.moneyVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume3.moneyVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume3.fashionVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume3.fashionVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume3.freaksVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume3.freaksVolumeChange}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaVolume4s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Private Label')}}</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaVolume4 in heaVolume4s'>
                <td>
                    <p class="padding-40">{{heaVolume4.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume4.priceVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume4.priceVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume4.moneyVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume4.moneyVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume4.fashionVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume4.fashionVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume4.freaksVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaVolume4.freaksVolumeChange}}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Price Sensitive')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Value for Money')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Fashion')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Freaks')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="success">
                <td colspan="9">
                    <p>{{Label.getContent('Elecssories')}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleValue1s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleValue1 in eleValue1s'>
                <td>
                    <p class="padding-40">{{eleValue1.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue1.priceValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue1.priceValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue1.moneyValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue1.moneyValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue1.fashionValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue1.fashionValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue1.freaksValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue1.freaksValueChange}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleValue2s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleValue2 in eleValue2s'>
                <td>
                    <p class="padding-40">{{eleValue2.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue2.priceValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue2.priceValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue2.moneyValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue2.moneyValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue2.fashionValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue2.fashionValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue2.freaksValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue2.freaksValueChange}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleValue3s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleValue3 in eleValue3s'>
                <td>
                    <p class="padding-40">{{eleValue3.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue3.priceValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue3.priceValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue3.moneyValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue3.moneyValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue3.fashionValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue3.fashionValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue3.freaksValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue3.freaksValueChange}}</p>
                </td>
            </tr>
            <tr class="success" ng-show='eleValue4s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Private Label')}}</p>
                </td>
            </tr>
            <tr class="success" ng-repeat='eleValue4 in eleValue4s'>
                <td>
                    <p class="padding-40">{{eleValue4.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue4.priceValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue4.priceValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue4.moneyValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue4.moneyValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue4.fashionValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue4.fashionValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue4.freaksValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{eleValue4.freaksValueChange}}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Price Sensitive')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Value for Money')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Fashion')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Freaks')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="danger">
                <td colspan="9">
                    <p>{{Label.getContent('HealthBeauties')}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaValue1s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 1</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaValue1 in heaValue1s'>
                <td>
                    <p class="padding-40">{{heaValue1.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue1.priceValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue1.priceValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue1.moneyValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue1.moneyValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue1.fashionValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue1.fashionValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue1.freaksValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue1.freaksValueChange}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaValue2s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 2</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaValue2 in heaValue2s'>
                <td>
                    <p class="padding-40">{{heaValue2.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue2.priceValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue2.priceValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue2.moneyValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue2.moneyValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue2.fashionValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue2.fashionValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue2.freaksValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue2.freaksValueChange}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaValue3s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Supplier')}} 3</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaValue3 in heaValue3s'>
                <td>
                    <p class="padding-40">{{heaValue3.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue3.priceValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue3.priceValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue3.moneyValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue3.moneyValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue3.fashionValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue3.fashionValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue3.freaksValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue3.freaksValueChange}}</p>
                </td>
            </tr>
            <tr class="danger" ng-show='heaValue4s.length>=1'>
                <td colspan="9">
                    <p class="padding-20">{{Label.getContent('Private Label')}}</p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='heaValue4 in heaValue4s'>
                <td>
                    <p class="padding-40">{{heaValue4.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue4.priceValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue4.priceValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue4.moneyValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue4.moneyValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue4.fashionValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue4.fashionValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue4.freaksValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{heaValue4.freaksValueChange}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>