<div class='panel panel-success my-success-panel' ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Marketing Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Marketing')}}
        </h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th colspan="2">
                    <p>{{Label.getContent('Advertising')}}({{Label.getContent('$mln')}})</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="2">
                    <p class="padding-20" Popover-animation="true" popover="{{Label.getContent('Retailer Marketing Advertising Online Info')}}" popover-title="{{Label.getContent('Online Adv')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Online Adv')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
                </th>
            </tr>
            <tr>
                <td>
                    <p class="text-primary padding-40">{{Label.getContent('Price Appeal')}}</p>
                </td>
                <td>
                    <a href="#" editable-text="pageBase.onlineAdvertising[0]" ng-show='!isDecisionCommitted' onbeforesave="checkBudget(0,'onlineAdvertising','0',$data)" onaftersave="updateRetailerDecision('onlineAdvertising','0')">
                        <p class="text-right">{{ pageBase.onlineAdvertising[0] || 0 }}</p>
                    </a>
                    <p ng-show='isDecisionCommitted' class="text-right text-muted">{{ pageBase.onlineAdvertising[0] || 0 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40 text-primary">{{Label.getContent('Convenience')}}</p>
                </td>
                <td>
                    <a href="#" editable-text="pageBase.onlineAdvertising[1]" ng-show='!isDecisionCommitted' onbeforesave="checkBudget(0,'onlineAdvertising','1',$data)" onaftersave="updateRetailerDecision('onlineAdvertising','1')">
                        <p class="text-right">{{ pageBase.onlineAdvertising[1]|| 0 }}</p>
                    </a>
                    <p ng-show='isDecisionCommitted' class="text-right text-muted">{{ pageBase.onlineAdvertising[1]|| 0 }}</p>
                </td>
            </tr>

            <tr>
                <th colspan="2">
                    <p class="padding-20" Popover-animation="true" popover="{{Label.getContent('Retailer Marketing Advertising Offline Info')}}" popover-title="{{Label.getContent('Offline Adv')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Offline Adv')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>

                </th>
            </tr>
            <tr>
                <td>
                    <p class="text-primary padding-40">{{Label.getContent('Price Appeal')}}</p>
                </td>
                <td>
                    <a href="#" editable-text="pageBase.tradtionalAdvertising[0]" ng-show='!isDecisionCommitted' onbeforesave="checkBudget(0,'tradtionalAdvertising','0',$data)" onaftersave="updateRetailerDecision('tradtionalAdvertising','0')">
                        <p class="text-right">{{ pageBase.tradtionalAdvertising[0] || 0 }}</p>
                    </a>
                    <p ng-show='isDecisionCommitted' class="text-right text-muted">{{ pageBase.tradtionalAdvertising[0] || 0 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40 text-primary">{{Label.getContent('Convenience')}}</p>
                </td>
                <td>
                    <a href="#" editable-text="pageBase.tradtionalAdvertising[1]" ng-show='!isDecisionCommitted' onbeforesave="checkBudget(0,'tradtionalAdvertising','1',$data)" onaftersave="updateRetailerDecision('tradtionalAdvertising','1')">
                        <p class="text-right">{{ pageBase.tradtionalAdvertising[1]|| 0 }}</p>
                    </a>
                    <p ng-show='isDecisionCommitted' class="text-right text-muted">{{ pageBase.tradtionalAdvertising[1]|| 0 }}</p>
                </td>
            </tr>

            <tr>
                <th colspan="2">
                    <p class="padding-20">{{Label.getContent('Local')}}</p>
                </th>
            </tr>
            <tr class="warning">
                <td>
                    <p class="padding-40 text-primary" Popover-animation="true" popover="{{Label.getContent('Advertising Local Urban Info')}}" popover-title="{{Label.getContent('Advertising Local Urban')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Urban')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
                </td>
                <td>
                    <a href="#" editable-text="markets[0].localAdvertising[0]" ng-show='!isDecisionCommitted' onbeforesave="checkBudget(1,'localAdvertising','0',$data)" onaftersave="updateMarketingDecision(markets[0].marketID,'localAdvertising','postion','0',0)">
                        <p class="text-right">{{ markets[0].localAdvertising[0] || 0 }}
                        </p>
                    </a>
                    <p ng-show='isDecisionCommitted' class="text-right text-muted">{{ markets[0].localAdvertising[0] || 0 }}</p>
                </td>
            </tr>
            <tr class="info">
                <td>
                    <p class="padding-40 text-primary" Popover-animation="true" popover="{{Label.getContent('Advertising Local Rural Info')}}" popover-title="{{Label.getContent('Advertising Local Rural')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Rural')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
                </td>
                <td>
                    <a href="#" editable-text="markets[1].localAdvertising[0]" ng-show='!isDecisionCommitted' onbeforesave="checkBudget(2,'localAdvertising','0',$data)" onaftersave="updateMarketingDecision(markets[1].marketID,'localAdvertising','postion','0',1)">
                        <p class="text-right">{{ markets[1].localAdvertising[0] || 0 }}
                        </p>
                    </a>
                    <p ng-show='isDecisionCommitted' class="text-right text-muted">{{ markets[1].localAdvertising[0] || 0 }}</p>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <p class="padding-20 text-primary" Popover-animation="true" popover="{{Label.getContent('In-Store Service Level Info')}}" popover-title="{{Label.getContent('In-Store Service Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('In-Store Service Level')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
                </th>
            </tr>
            <tr class="warning">
                <td>
                    <p class="padding-40">{{Label.getContent('Urban')}}</p>
                </td>
                <td>
                    <a href="#" editable-select="markets[0].serviceLevel" e-ng-options="p.value as p.text for p in packs" ng-show='!isDecisionCommitted' onaftersave="updateMarketingDecision(markets[0].marketID,'serviceLevel','postion','addtionalIdx',0)">
                        <p class="text-right">{{ selectPacks(markets[0].marketID) }}
                        </p>
                    </a>
                    <p ng-show='isDecisionCommitted' class="text-right text-muted">{{ selectPacks(markets[0].marketID) }}</p>
                </td>
            </tr>
            <tr class="info">
                <td>
                    <p class="padding-40">{{Label.getContent('Rural')}}</p>
                </td>
                <td>
                    <a href="#" editable-select="markets[1].serviceLevel" e-ng-options="p.value as p.text for p in packs" ng-show='!isDecisionCommitted' onaftersave="updateMarketingDecision(markets[1].marketID,'serviceLevel','postion','addtionalIdx',1)">
                        <p class="text-right">{{ selectPacks(markets[1].marketID) }}
                        </p>
                    </a>
                    <p ng-show='isDecisionCommitted' class="text-right text-muted">{{ selectPacks(markets[1].marketID) }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>