<div class='panel panel-success my-success-panel' ng-show='isResultShown'>
	<div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Private Label Portfolio Management Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Private Label Portfolio Management')}} <a ng-show='isResultShown' ng-click="openProductModal()" ng-disabled="isReady" class="btn btn-default">{{Label.getContent('New Product')}}</a>
        </h3>
    </div>

    <table class="table table-condensed table-bordered table-success">
    	<thead>
    		<tr>
    			<th style="width:160px">
                    <p>{{Label.getContent('Elecssories')}}
                    </p>
                </th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Pack Format Info')}}" popover-title="{{Label.getContent('Pack Format')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Pack Format')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Retailer Technology Level Info')}}" popover-title="{{Label.getContent('Technology Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Technology Level')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Design Level Info')}}" popover-title="{{Label.getContent('Design Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Design Level')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Raw materials Quality Info')}}" popover-title="{{Label.getContent('Raw materials Quality')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Raw materials Quality')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
    			</th>
                <th>
                    <p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Discontinue this product Info')}}" popover-title="{{Label.getContent('Discontinue this product')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Discontinue this product')}} <span style="font-size:12px" class="glyphicon glyphicon-info-sign"></span></p>
                </th>
                <th>
                    <p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('UnitCost Info')}}" popover-title="{{Label.getContent('Unit Cost')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Unit Cost')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>                
                </th>
    		</tr>
    		<tr class="success">
    			<td colspan="7">
    				<p>{{Label.getContent('Brand')}}</p>
    			</td>
    		</tr>
    	</thead>
    	<tbody>
    		<tr class="success" ng-repeat='producte in productes'>
    			<td>
    				<div style="clear:both"></div>
    				<button type="button" class="btn btn-danger btn-xs pull-right" ng-show="(producte.dateOfBirth==currentPeriod&&(!isReady))" ng-click="deleteProduct('Elecssories',producte.parentBrandName,producte.varName)">{{Label.getContent('Delete')}}</button>
    				<p>{{producte.parentBrandName}}{{producte.varName}}</p>
    			</td>
    			<td>
    				<a href="#" editable-select="producte.packFormat" e-ng-options="p.value as p.text for p in packs" ng-show='(producte.dateOfBirth==currentPeriod&&(!isReady))' onaftersave="updateRetailerDecision('Elecssories',producte.parentBrandName,producte.varName,'packFormat','0',$index,$data)">
    					<p class="text-right">{{selectPacks('Elecssories',producte.parentBrandName,producte.varName)}}</p>
    				</a>
                    <p ng-show='producte.dateOfBirth<currentPeriod||isReady' class="text-right text-muted">{{selectPacks('Elecssories',producte.parentBrandName,producte.varName)}}</p>
    			</td>
    			<td>
    				<a href="#" editable-text="producte.composition[1]" onbeforesave="checkTechnology('Elecssories',producte.parentBrandName,producte.varName,'composition','1',$index,$data)" ng-show='!isReady' onaftersave="updateRetailerDecision('Elecssories',producte.parentBrandName,producte.varName,'composition','1',$index,$data)">
    					<p class="text-right">{{ producte.composition[1] || 0 }}</p>
    				</a>
                    <p ng-show='isReady' class="text-right text-muted">{{ producte.composition[1] || 0 }}</p>
    			</td>
    			<td>
    				<a href="#" editable-text="producte.composition[0]" onbeforesave="checkDesign('Elecssories',producte.parentBrandName,producte.varName,'composition','0',$index,$data)" ng-show='!isReady' onaftersave="updateRetailerDecision('Elecssories',producte.parentBrandName,producte.varName,'composition','0',$index,$data)">
    					<p class="text-right">{{ producte.composition[0] || 0 }}</p>
    				</a>
                    <p ng-show='isReady' class="text-right text-muted">{{ producte.composition[0] || 0 }}</p>
    			</td>
    			<td>
    				<a href="#" editable-text="producte.composition[2]" onbeforesave="checkValue('Elecssories',producte.parentBrandName,producte.varName,'composition','2',$index,$data)" ng-show='!isReady' onaftersave="updateRetailerDecision('Elecssories',producte.parentBrandName,producte.varName,'composition','2',$index,$data)">
    					<p class="text-right">{{ producte.composition[2] || 0 }}</p>
    				</a>
                    <p ng-show='isReady' class="text-right text-muted">{{ producte.composition[2] || 0 }}</p>
    			</td>
                <td>
                    <a href="#" editable-checkbox="producte.discontinue" e-title="{{Label.getContent('Discontinue this product')}}" ng-show="!isReady" onaftersave="updateRetailerDecision('Elecssories',producte.parentBrandName,producte.varName,'discontinue','0',$index,$data)">
                        <p class="text-right">{{ producte.discontinue && Label.getContent('DisContinue') || Label.getContent('Continue') }}</p>
                    </a>
                    <p ng-show="isReady" class="text-right text-muted">{{ producte.discontinue && Label.getContent('DisContinue') || Label.getContent('Continue') }}</p>
                </td>
                <td>
                    <p class="text-right">{{producte.unitCost}}<p>
                </td>
    		</tr>
    		<tr>
    			<th style="width:160px">
                    <p>{{Label.getContent('HealthBeauties')}}
                    </p>
                </th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Pack Format Info')}}" popover-title="{{Label.getContent('Pack Format')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Pack Format')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Retailer Technology Level Info')}}" popover-title="{{Label.getContent('Technology Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Technology Level')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Active agent Info')}}" popover-title="{{Label.getContent('Active agent')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Active agent')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Smoothener Level Info')}}" popover-title="{{Label.getContent('Smoothener Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Smoothener Level')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
    			</th>
                <th>
                    <p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Discontinue this product Info')}}" popover-title="{{Label.getContent('Discontinue this product')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Discontinue this product')}} <span style="font-size:12px" class="glyphicon glyphicon-info-sign"></span></p>
                </th>
                <th>
                    <p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('UnitCost Info')}}" popover-title="{{Label.getContent('Unit Cost')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Unit Cost')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>                
                </th>
    		</tr>
    		<tr class="danger">
    			<td colspan="7">
    				<p>{{Label.getContent('Brand')}}</p>
    			</td>
    		</tr>
    		<tr class="danger" ng-repeat='producth in producths'>
    			<td>
    				<div style="clear:both"></div>
    				<button type="button" class="btn btn-danger btn-xs pull-right" ng-show="(producth.dateOfBirth==currentPeriod&&(!isReady))" ng-click="deleteProduct('HealthBeauty',producth.parentBrandName,producth.varName)">{{Label.getContent('Delete')}}</button>
    				<p>{{producth.parentBrandName}}{{producth.varName}}</p>
    				<div style="clear:both"></div>
    			</td>
    			<td>
    				<a href="#" editable-select="producth.packFormat" e-ng-options="p.value as p.text for p in packs" ng-show='(producth.dateOfBirth==currentPeriod&&(!isReady))' onaftersave="updateRetailerDecision('HealthBeauty',producth.parentBrandName,producth.varName,'packFormat','0',$index,$data)">
    					<p class="text-right">{{selectPacks('HealthBeauty',producth.parentBrandName,producth.varName)}}</p>
    				</a>
                    <p class="text-right text-muted" ng-show='producth.dateOfBirth<currentPeriod||isReady'>{{selectPacks('HealthBeauty',producth.parentBrandName,producth.varName)}}</p>
    			</td>
    			<td>
    				<a href="#" editable-text="producth.composition[1]" onbeforesave="checkTechnology('HealthBeauty',producth.parentBrandName,producth.varName,'composition','1',$index,$data)" ng-show='!isReady' onaftersave="updateRetailerDecision('HealthBeauty',producth.parentBrandName,producth.varName,'composition','1',$index,$data)">
    					<p class="text-right">{{ producth.composition[1] || 0 }}</p>
    				</a>
                    <p class="text-right text-muted" ng-show='isReady'>{{ producth.composition[1] || 0 }}</p>
    			</td>
    			<td>
    				<a href="#" editable-text="producth.composition[0]" onbeforesave="checkDesign('HealthBeauty',producth.parentBrandName,producth.varName,'composition','0',$index,$data)" ng-show='!isReady' onaftersave="updateRetailerDecision('HealthBeauty',producth.parentBrandName,producth.varName,'composition','0',$index,$data)">
    					<p class="text-right">{{ producth.composition[0] || 0 }}</p>
    				</a>
                    <p class="text-right text-muted" ng-show='isReady'>{{ producth.composition[0] || 0 }}</p>
    			</td>
    			<td>
    				<a href="#" editable-text="producth.composition[2]" onbeforesave="checkValue('HealthBeauty',producth.parentBrandName,producth.varName,'composition','2',$index,$data)" ng-show='!isReady' onaftersave="updateRetailerDecision('HealthBeauty',producth.parentBrandName,producth.varName,'composition','2',$index,$data)">
    					<p class="text-right">{{ producth.composition[2] || 0 }}</p>
    				</a>
                    <p class="text-right text-muted" ng-show='isReady'>{{ producth.composition[2] || 0 }}</p>
    			</td>
                <td>
                    <a href="#" editable-checkbox="producth.discontinue" e-title="{{Label.getContent('Discontinue this product')}}" ng-show="!isReady" onaftersave="updateRetailerDecision('HealthBeauty',producth.parentBrandName,producth.varName,'discontinue','0',$index,$data)">
                        <p class="text-right">{{ producth.discontinue && Label.getContent('DisContinue') || Label.getContent('Continue') }}</p>
                    </a>
                    <p ng-show="isReady" class="text-right text-muted">{{ producth.discontinue && Label.getContent('DisContinue') || Label.getContent('Continue') }}</p>
                </td>

                <td>
                    <p class="text-right">{{producth.unitCost}}<p>
                </td>
    		</tr>
    	</tbody>
    </table>
</div>
