<div class="panel my-panel-success panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Consolidated Profit & Loss Statement Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Financial Results')}} - {{Label.getContent('Consolidated Profit & Loss Statement')}}</h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th colspan="3">
                    <p class="text-center">{{Label.getContent('B&M Business')}}</p>
                </th>
                <th colspan="3">
                    <p class="text-center">{{Label.getContent('Online Business')}}</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Total')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Elecssories')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('HealthBeauties')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Total')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Elecssories')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('HealthBeauties')}}</p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Sales')}} ($mln)</p>
                </td>
                <td>
                    <p class="text-right">
                        {{sales[2].value[0].toFixed(2)=="0.00"?'0':sales[2].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{sales[0].value[0].toFixed(2)=="0.00"?'0':sales[0].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{sales[1].value[0].toFixed(2)=="0.00"?'0':sales[1].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{sales[2].value[1].toFixed(2)=="0.00"?'0':sales[2].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{sales[0].value[1].toFixed(2)=="0.00"?'0':sales[0].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{sales[1].value[1].toFixed(2)=="0.00"?'0':sales[1].value[1].toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{(salesChanges[2].value[0]*100).toFixed(2)=="0.00"?0:(salesChanges[2].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(salesChanges[0].value[0]*100).toFixed(2)=="0.00"?0:(salesChanges[0].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(salesChanges[1].value[0]*100).toFixed(2)=="0.00"?0:(salesChanges[1].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                 <td class="td-info">
                    <p class="text-right">
                        {{(salesChanges[2].value[1]*100).toFixed(2)=="0.00"?0:(salesChanges[2].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(salesChanges[0].value[1]*100).toFixed(2)=="0.00"?0:(salesChanges[0].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(salesChanges[1].value[1]*100).toFixed(2)=="0.00"?0:(salesChanges[1].value[1]*100).toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Material Costs')}} ($mln)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{materialCosts[2].value[0].toFixed(2)=="0.00"?'0':materialCosts[2].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{materialCosts[0].value[0].toFixed(2)=="0.00"?'0':materialCosts[0].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{materialCosts[1].value[0].toFixed(2)=="0.00"?'0':materialCosts[1].value[0].toFixed(2)}}
                    </p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{materialCosts[2].value[1].toFixed(2)=="0.00"?'0':materialCosts[2].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{materialCosts[0].value[1].toFixed(2)=="0.00"?'0':materialCosts[0].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{materialCosts[1].value[1].toFixed(2)=="0.00"?'0':materialCosts[1].value[1].toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">(1) {{Label.getContent('Cost of Goods Sold')}} ($mln)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{costGoodsSolds[2].value[0].toFixed(2)=="0.00"?'0':costGoodsSolds[2].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{costGoodsSolds[0].value[0].toFixed(2)=="0.00"?'0':costGoodsSolds[0].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{costGoodsSolds[1].value[0].toFixed(2)=="0.00"?'0':costGoodsSolds[1].value[0].toFixed(2)}}
                    </p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{costGoodsSolds[2].value[1].toFixed(2)=="0.00"?'0':costGoodsSolds[2].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{costGoodsSolds[0].value[1].toFixed(2)=="0.00"?'0':costGoodsSolds[0].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{costGoodsSolds[1].value[1].toFixed(2)=="0.00"?'0':costGoodsSolds[1].value[1].toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">(2) {{Label.getContent('Discontinued Goods Cost')}} ($mln)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{discontinuedGoodsCosts[2].value[0].toFixed(2)=="0.00"?'0':discontinuedGoodsCosts[2].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{discontinuedGoodsCosts[0].value[0].toFixed(2)=="0.00"?'0':discontinuedGoodsCosts[0].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{discontinuedGoodsCosts[1].value[0].toFixed(2)=="0.00"?'0':discontinuedGoodsCosts[1].value[0].toFixed(2)}}
                    </p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{discontinuedGoodsCosts[2].value[1].toFixed(2)=="0.00"?'0':discontinuedGoodsCosts[2].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{discontinuedGoodsCosts[0].value[1].toFixed(2)=="0.00"?'0':discontinuedGoodsCosts[0].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{discontinuedGoodsCosts[1].value[1].toFixed(2)=="0.00"?'0':discontinuedGoodsCosts[1].value[1].toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">(3) {{Label.getContent('Inventory Holding Cost')}} ($mln)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{holdingCosts[2].value[0].toFixed(2)=="0.00"?'0':holdingCosts[2].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{holdingCosts[0].value[0].toFixed(2)=="0.00"?'0':holdingCosts[0].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{holdingCosts[1].value[0].toFixed(2)=="0.00"?'0':holdingCosts[1].value[0].toFixed(2)}}
                    </p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{holdingCosts[2].value[1].toFixed(2)=="0.00"?'0':holdingCosts[2].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{holdingCosts[0].value[1].toFixed(2)=="0.00"?'0':holdingCosts[0].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{holdingCosts[1].value[1].toFixed(2)=="0.00"?'0':holdingCosts[1].value[1].toFixed(2)}}
                    </p>
                </td>
            </tr>

            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Gross Profit')}} ($mln)</p>
                </td>
                <td>
                    <p class="text-right">
                        {{grossProfits[2].value[0].toFixed(2)=="0.00"?'0':grossProfits[2].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{grossProfits[0].value[0].toFixed(2)=="0.00"?'0':grossProfits[0].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{grossProfits[1].value[0].toFixed(2)=="0.00"?'0':grossProfits[1].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{grossProfits[2].value[1].toFixed(2)=="0.00"?'0':grossProfits[2].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{grossProfits[0].value[1].toFixed(2)=="0.00"?'0':grossProfits[0].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{grossProfits[1].value[1].toFixed(2)=="0.00"?'0':grossProfits[1].value[1].toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{(grossProfitChanges[2].value[0]*100).toFixed(2)=="0.00"?0:(grossProfitChanges[2].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(grossProfitChanges[0].value[0]*100).toFixed(2)=="0.00"?0:(grossProfitChanges[0].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(grossProfitChanges[1].value[0]*100).toFixed(2)=="0.00"?0:(grossProfitChanges[1].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                 <td class="td-info">
                    <p class="text-right">
                        {{(grossProfitChanges[2].value[1]*100).toFixed(2)=="0.00"?0:(grossProfitChanges[2].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(grossProfitChanges[0].value[1]*100).toFixed(2)=="0.00"?0:(grossProfitChanges[0].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(grossProfitChanges[1].value[1]*100).toFixed(2)=="0.00"?0:(grossProfitChanges[1].value[1]*100).toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Gross Profit Margin')}} (%)</p>
                </td>
                <td>
                    <p class="text-right">
                        {{(grossProfitMargins[2].value[0]*100).toFixed(2)=="0.00"?0:(grossProfitMargins[2].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(grossProfitMargins[0].value[0]*100).toFixed(2)=="0.00"?0:(grossProfitMargins[0].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(grossProfitMargins[1].value[0]*100).toFixed(2)=="0.00"?0:(grossProfitMargins[1].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                 <td>
                    <p class="text-right">
                        {{(grossProfitMargins[2].value[1]*100).toFixed(2)=="0.00"?0:(grossProfitMargins[2].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(grossProfitMargins[0].value[1]*100).toFixed(2)=="0.00"?0:(grossProfitMargins[0].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(grossProfitMargins[1].value[1]*100).toFixed(2)=="0.00"?0:(grossProfitMargins[1].value[1]*100).toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Trade and Marketing Expenses')}} ($mln)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{expenseValues[2].value[0].toFixed(2)=="0.00"?'0':expenseValues[2].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{expenseValues[0].value[0].toFixed(2)=="0.00"?'0':expenseValues[0].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{expenseValues[1].value[0].toFixed(2)=="0.00"?'0':expenseValues[1].value[0].toFixed(2)}}
                    </p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{expenseValues[2].value[1].toFixed(2)=="0.00"?'0':expenseValues[2].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{expenseValues[0].value[1].toFixed(2)=="0.00"?'0':expenseValues[0].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{expenseValues[1].value[1].toFixed(2)=="0.00"?'0':expenseValues[1].value[1].toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Trade and Marketing Expenses')}} ({{Label.getContent('as % of sales')}})</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{(expenseShares[2].value[0]*100).toFixed(2)=="0.00"?0:(expenseShares[2].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(expenseShares[0].value[0]*100).toFixed(2)=="0.00"?0:(expenseShares[0].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(expenseShares[1].value[0]*100).toFixed(2)=="0.00"?0:(expenseShares[1].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                 <td class="td-info">
                    <p class="text-right">
                        {{(expenseShares[2].value[1]*100).toFixed(2)=="0.00"?0:(expenseShares[2].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(expenseShares[0].value[1]*100).toFixed(2)=="0.00"?0:(expenseShares[0].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(expenseShares[1].value[1]*100).toFixed(2)=="0.00"?0:(expenseShares[1].value[1]*100).toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('General Expenses')}} ($mln)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{generalExpenses[2].value[0].toFixed(2)=="0.00"?'0':generalExpenses[2].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{generalExpenses[0].value[0].toFixed(2)=="0.00"?'0':generalExpenses[0].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{generalExpenses[1].value[0].toFixed(2)=="0.00"?'0':generalExpenses[1].value[0].toFixed(2)}}
                    </p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{generalExpenses[2].value[1].toFixed(2)=="0.00"?'0':generalExpenses[2].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{generalExpenses[0].value[1].toFixed(2)=="0.00"?'0':generalExpenses[0].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{generalExpenses[1].value[1].toFixed(2)=="0.00"?'0':generalExpenses[1].value[1].toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Amortisation')}} ($mln)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{amortisations[2].value[0].toFixed(2)=="0.00"?'0':amortisations[2].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{amortisations[0].value[0].toFixed(2)=="0.00"?'0':amortisations[0].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{amortisations[1].value[0].toFixed(2)=="0.00"?'0':amortisations[1].value[0].toFixed(2)}}
                    </p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{amortisations[2].value[1].toFixed(2)=="0.00"?'0':amortisations[2].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{amortisations[0].value[1].toFixed(2)=="0.00"?'0':amortisations[0].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{amortisations[1].value[1].toFixed(2)=="0.00"?'0':amortisations[1].value[1].toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Operating Profit')}} ($mln)</p>
                </td>
                <td>
                    <p class="text-right">
                        {{operatingProfits[2].value[0].toFixed(2)=="0.00"?'0':operatingProfits[2].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{operatingProfits[0].value[0].toFixed(2)=="0.00"?'0':operatingProfits[0].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{operatingProfits[1].value[0].toFixed(2)=="0.00"?'0':operatingProfits[1].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{operatingProfits[2].value[1].toFixed(2)=="0.00"?'0':operatingProfits[2].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{operatingProfits[0].value[1].toFixed(2)=="0.00"?'0':operatingProfits[0].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{operatingProfits[1].value[1].toFixed(2)=="0.00"?'0':operatingProfits[1].value[1].toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{(operatingProfitChanges[2].value[0]*100).toFixed(2)=="0.00"?0:(operatingProfitChanges[2].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(operatingProfitChanges[0].value[0]*100).toFixed(2)=="0.00"?0:(operatingProfitChanges[0].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(operatingProfitChanges[1].value[0]*100).toFixed(2)=="0.00"?0:(operatingProfitChanges[1].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                 <td class="td-info">
                    <p class="text-right">
                        {{(operatingProfitChanges[2].value[1]*100).toFixed(2)=="0.00"?0:(operatingProfitChanges[2].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(operatingProfitChanges[0].value[1]*100).toFixed(2)=="0.00"?0:(operatingProfitChanges[0].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(operatingProfitChanges[1].value[1]*100).toFixed(2)=="0.00"?0:(operatingProfitChanges[1].value[1]*100).toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Operating Profit Margin')}} (%)</p>
                </td>
                <td>
                    <p class="text-right">
                        {{(operatingProfitMargins[2].value[0]*100).toFixed(2)=="0.00"?0:(operatingProfitMargins[2].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(operatingProfitMargins[0].value[0]*100).toFixed(2)=="0.00"?0:(operatingProfitMargins[0].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(operatingProfitMargins[1].value[0]*100).toFixed(2)=="0.00"?0:(operatingProfitMargins[1].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                 <td>
                    <p class="text-right">
                        {{(operatingProfitMargins[2].value[1]*100).toFixed(2)=="0.00"?0:(operatingProfitMargins[2].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(operatingProfitMargins[0].value[1]*100).toFixed(2)=="0.00"?0:(operatingProfitMargins[0].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(operatingProfitMargins[1].value[1]*100).toFixed(2)=="0.00"?0:(operatingProfitMargins[1].value[1]*100).toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Interest')}} ($mln)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{interests[2].value[0].toFixed(2)=="0.00"?'0':interests[2].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{interests[0].value[0].toFixed(2)=="0.00"?'0':interests[0].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{interests[1].value[0].toFixed(2)=="0.00"?'0':interests[1].value[0].toFixed(2)}}
                    </p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{interests[2].value[1].toFixed(2)=="0.00"?'0':interests[2].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{interests[0].value[1].toFixed(2)=="0.00"?'0':interests[0].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{interests[1].value[1].toFixed(2)=="0.00"?'0':interests[1].value[1].toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Taxes')}} ($mln)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{taxes[2].value[0].toFixed(2)=="0.00"?'0':taxes[2].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{taxes[0].value[0].toFixed(2)=="0.00"?'0':taxes[0].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{taxes[1].value[0].toFixed(2)=="0.00"?'0':taxes[1].value[0].toFixed(2)}}
                    </p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{taxes[2].value[1].toFixed(2)=="0.00"?'0':taxes[2].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{taxes[0].value[1].toFixed(2)=="0.00"?'0':taxes[0].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{taxes[1].value[1].toFixed(2)=="0.00"?'0':taxes[1].value[1].toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Exceptional Costs/Profits')}} ($mln)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{costsProfits[2].value[0].toFixed(2)=="0.00"?'0':costsProfits[2].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{costsProfits[0].value[0].toFixed(2)=="0.00"?'0':costsProfits[0].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{costsProfits[1].value[0].toFixed(2)=="0.00"?'0':costsProfits[1].value[0].toFixed(2)}}
                    </p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{costsProfits[2].value[1].toFixed(2)=="0.00"?'0':costsProfits[2].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{costsProfits[0].value[1].toFixed(2)=="0.00"?'0':costsProfits[0].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{costsProfits[1].value[1].toFixed(2)=="0.00"?'0':costsProfits[1].value[1].toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Net Profit')}} ($mln)</p>
                </td>
                <td>
                    <p class="text-right">
                        {{netProfits[2].value[0].toFixed(2)=="0.00"?'0':netProfits[2].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{netProfits[0].value[0].toFixed(2)=="0.00"?'0':netProfits[0].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{netProfits[1].value[0].toFixed(2)=="0.00"?'0':netProfits[1].value[0].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{netProfits[2].value[1].toFixed(2)=="0.00"?'0':netProfits[2].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{netProfits[0].value[1].toFixed(2)=="0.00"?'0':netProfits[0].value[1].toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{netProfits[1].value[1].toFixed(2)=="0.00"?'0':netProfits[1].value[1].toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td class="td-info">
                    <p class="text-right">
                        {{(netProfitChanges[2].value[0]*100).toFixed(2)=="0.00"?0:(netProfitChanges[2].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(netProfitChanges[0].value[0]*100).toFixed(2)=="0.00"?0:(netProfitChanges[0].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(netProfitChanges[1].value[0]*100).toFixed(2)=="0.00"?0:(netProfitChanges[1].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                 <td class="td-info">
                    <p class="text-right">
                        {{(netProfitChanges[2].value[1]*100).toFixed(2)=="0.00"?0:(netProfitChanges[2].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(netProfitChanges[0].value[1]*100).toFixed(2)=="0.00"?0:(netProfitChanges[0].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(netProfitChanges[1].value[1]*100).toFixed(2)=="0.00"?0:(netProfitChanges[1].value[1]*100).toFixed(2)}}
                    </p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Net Profit Margin')}} (%)</p>
                </td>
                <td>
                    <p class="text-right">
                        {{(netProfitMargins[2].value[0]*100).toFixed(2)=="0.00"?0:(netProfitMargins[2].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(netProfitMargins[0].value[0]*100).toFixed(2)=="0.00"?0:(netProfitMargins[0].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(netProfitMargins[1].value[0]*100).toFixed(2)=="0.00"?0:(netProfitMargins[1].value[0]*100).toFixed(2)}}
                    </p>
                </td>
                 <td>
                    <p class="text-right">
                        {{(netProfitMargins[2].value[1]*100).toFixed(2)=="0.00"?0:(netProfitMargins[2].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(netProfitMargins[0].value[1]*100).toFixed(2)=="0.00"?0:(netProfitMargins[0].value[1]*100).toFixed(2)}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{(netProfitMargins[1].value[1]*100).toFixed(2)=="0.00"?0:(netProfitMargins[1].value[1]*100).toFixed(2)}}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>