<div class="panel my-panel-success panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Shares by Consumer Segment Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('HealthBeauties')}} {{Label.getContent('Situation Report')}} - {{Label.getContent('Market Shares by Consumer Segment')}}</h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Price Sensitive')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Value for Money')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Health Conscious')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Impatient')}}</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="warning">
                <td colspan="9">
                    <p>{{Label.getContent('Urban')}}</p>
                </td>
            </tr>
            <tr class="warning" ng-repeat='urban in urban1s'>
                <td>
                    <p class="padding-20">{{urban.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.priceVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.priceVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.moneyVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.moneyVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.fashionVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.fashionVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.freaksVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.freaksVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="info">
                <td colspan="9">
                    <p>{{Label.getContent('Rural')}}</p>
                </td>
            </tr>
            <tr class="info" ng-repeat='rural in rural1s'>
                <td>
                    <p class="padding-20">{{rural.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.priceVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.priceVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.moneyVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.moneyVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.fashionVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.fashionVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.freaksVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.freaksVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Price Sensitive')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Value for Money')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Health Conscious')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Impatient')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="warning">
                <td colspan="9">
                    <p>{{Label.getContent('Urban')}}</p>
                </td>
            </tr>
            <tr class="warning" ng-repeat='urban in urban2s'>
                <td>
                    <p class="padding-20">{{urban.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.priceValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.priceValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.moneyValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.moneyValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.fashionValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.fashionValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.freaksValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.freaksValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="info">
                <td colspan="9">
                    <p>{{Label.getContent('Rural')}}</p>
                </td>
            </tr>
            <tr class="info" ng-repeat='rural in rural2s'>
                <td>
                    <p class="padding-20">{{rural.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.priceValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.priceValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.moneyValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.moneyValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.fashionValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.fashionValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.freaksValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.freaksValueChange | number : 1 }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>