<div class="panel my-panel-success panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Shares by Shopper Segment Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('HealthBeauties')}} {{Label.getContent('Situation Report')}} - {{Label.getContent('Market Shares by Shopper Segment')}}</h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">
                        {{Label.getContent('B&M Only')}}
                    </p>
                </th>
                <th colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Online Only')}}
                    </p>
                </th>
                <th colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Mixed')}}
                    </p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="warning">
                <td colspan="7">
                    <p>{{Label.getContent('Urban')}}</p>
                </td>
            </tr>
            <tr class="warning" ng-repeat='urban in urban1s'>
                <td>
                    <p class="padding-20">{{urban.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.bmVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.bmVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.onlineVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.mixedVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="info">
                <td colspan="7">
                    <p>{{Label.getContent('Rural')}}</p>
                </td>
            </tr>
            <tr class="info" ng-repeat='rural in rural1s'>
                <td>
                    <p class="padding-20">{{rural.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.bmVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.bmVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.onlineVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.onlineVolumeChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.mixedVolumeShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.mixedVolumeChange | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">
                        {{Label.getContent('B&M Only')}}
                    </p>
                </th>
                <th colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Online Only')}}
                    </p>
                </th>
                <th colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Mixed')}}
                    </p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="warning">
                <td colspan="7">
                    <p>{{Label.getContent('Urban')}}</p>
                </td>
            </tr>
            <tr class="warning" ng-repeat='urban in urban2s'>
                <td>
                    <p class="padding-20">{{urban.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.bmValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.bmValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.onlineValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.onlineValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.mixedValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{urban.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="info">
                <td colspan="7">
                    <p>{{Label.getContent('Rural')}}</p>
                </td>
            </tr>
            <tr class="info" ng-repeat='rural in rural2s'>
                <td>
                    <p class="padding-20">{{rural.fullName}}</p>
                </td>
                 <td>
                    <p class="text-right">{{rural.bmValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.bmValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.onlineValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.onlineValueChange | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.mixedValueShare | number : 1 }}</p>
                </td>
                <td>
                    <p class="text-right">{{rural.mixedValueChange | number : 1 }}</p>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>