<style type="text/css">
    .double-scroll-table {
        height: 600px;
        width: 100%;
    }
</style>
<div class="panel my-panel-success panel-danger" ng-show='isResultShown' scroll-bind>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Online Business Profit Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Financial Results')}} - {{Label.getContent('Online Business Profit & Loss Statement')}} ({{Label.getContent('Elecssories')}})</h3>
    </div>
    <div style="height:1px">
        <table fixed-header>
            <thead><tr><th>&nbsp;</th><th>&nbsp;</th></tr></thead>
            <tbody><tr><td>&nbsp;</td><td>&nbsp;</td></tr></tbody>
        </table>
    </div>

    <div>
        <table class="double-scroll-table table-condensed table-bordered table-success" style="float:left;width:43%;" fixed-header>
            <thead>
                <tr>
                    <th>
                        <p class="text-center">
                            <a class="btn btn-transparent btn-xs">{{Label.getContent('More')}}</a>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody class="firstTbody" style='overflow:hidden'>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Sales')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Value Share in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Material Costs')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(1) {{Label.getContent('Cost of Goods Sold')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(2) {{Label.getContent('Discontinued Goods Cost')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(3) {{Label.getContent('Inventory Holding Cost')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(4) {{Label.getContent('Internal Transfers Cost')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(5) {{Label.getContent('eMall Commission')}} ({{Label.getContent('$mln')}})
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(6) {{Label.getContent('Service Cost')}} ({{Label.getContent('$mln')}})
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Gross Profit')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Gross Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Share of Gross Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Marketing Expenses')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(1) {{Label.getContent('Advertising Online')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(2) {{Label.getContent('Advertising Offline')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(3) {{Label.getContent('eMall Support')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Marketing Expenses')}} ({{Label.getContent('as % of sales')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Share of Marketing Expenses in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('General Expenses')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Amortisation')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Operating Profit')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Operating Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Share of Operating Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Interest')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Taxes')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Exceptional Costs/Profits')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Net Profit')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Net Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Share of Net Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="overflow-X:scroll">
        <table class="double-scroll-table table-condensed table-bordered table-success" style="float:left" fixed-header>
            <thead>
                <tr>
                    <th style="white-space: nowrap">
                        <p class="text-center">{{Label.getContent('Total')}}</p>
                    </th>
                    <th style="white-space: nowrap" ng-repeat='brand in brand1s'>
                        <p class="text-center">{{brand.brandName}}
                            <a class="btn btn-success btn-xs" ng-click="openProductModal(brand.brandName,'OL')">{{Label.getContent('More')}}</a>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody class="secondTbody" style='overflow:auto'>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{sales[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.Sales | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(salesChanges[0].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.SalesChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.SalesShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{materialCosts[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.MaterialCosts | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{costGoodsSolds[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.CostOfGoodsSold | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{discontinuedGoodsCosts[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.DiscontinuedGoodsCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{holdingCosts[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.InventoryHoldingCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{InternalTransfersCosts[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.InternalTransfersCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{eMallCommissions[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.eMallCommission | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ServiceCosts[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.ServiceCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{grossProfits[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(grossProfitChanges[0].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(grossProfitMargins[0].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GrossProfitMarginShare | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{expenseValues[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.TradeAndMarketing | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{advertisingOnLines[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.AdvertisingOnLine | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{advertisingOffLines[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.AdvertisingOffLine | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{tradeSupports[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.TradeSupport | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(expenseShares[0].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.TradeAndMarketingAsPercentageOfSales | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.TradeAndMarketingShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{generalExpenses[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.GeneralExpenses | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{amortisations[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.Amortisation | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{operatingProfits[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(operatingProfitChanges[0].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(operatingProfitMargins[0].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.OperatingProfitShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{interests[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.Interest | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{taxes[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.Taxes | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{costsProfits[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.ExceptionalItems | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{netProfits[0].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(netProfitChanges[0].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(netProfitMargins[0].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand1s'>
                        <p class="text-right">{{brand.NetProfitShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="clear:both"></div>
</div>

<div class="panel my-panel-success panel-danger" ng-show='isResultShown' scroll-bind>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Online Business Profit Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Financial Results')}}- {{Label.getContent('Online Business Profit & Loss Statement')}} ({{Label.getContent('HealthBeauties')}})</h3>
    </div>
    <div>
        <table class="double-scroll-table table-condensed table-bordered table-success" style="float:left;width:43%;" fixed-header>
            <thead>
                <tr>
                    <th>
                        <p class="text-center">
                            <a class="btn btn-transparent btn-xs">{{Label.getContent('More')}}</a>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody class="thirdTbody" style='overflow:hidden'>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Sales')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Value Share in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Material Costs')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(1) {{Label.getContent('Cost of Goods Sold')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(2) {{Label.getContent('Discontinued Goods Cost')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(3) {{Label.getContent('Inventory Holding Cost')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(4) {{Label.getContent('Internal Transfers Cost')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(5) {{Label.getContent('eMall Commission')}} ({{Label.getContent('$mln')}})
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(6) {{Label.getContent('Service Cost')}} ({{Label.getContent('$mln')}})
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Gross Profit')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Gross Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Share of Gross Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Marketing Expenses')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(1) {{Label.getContent('Advertising Online')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(2) {{Label.getContent('Advertising Offline')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-40">(3) {{Label.getContent('eMall Support')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Marketing Expenses')}} ({{Label.getContent('as % of sales')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Share of Marketing Expenses in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('General Expenses')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Amortisation')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Operating Profit')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Operating Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Share of Operating Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Interest')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Taxes')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Exceptional Costs/Profits')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Net Profit')}} ({{Label.getContent('$mln')}})</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Net Profit Margin')}} (%)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Share of Net Profit/Loss in Category')}} (%)</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="overflow-X:scroll">
        <table class="double-scroll-table table-condensed table-bordered table-success" style="float:left" fixed-header>
            <thead>
                <tr>
                    <th style="white-space: nowrap">
                        <p class="text-center">{{Label.getContent('Total')}}</p>
                    </th>
                    <th style="white-space: nowrap" ng-repeat='brand in brand2s'>
                        <p class="text-center">{{brand.brandName}}
                            <a class="btn btn-success btn-xs" ng-click="openProductModal(brand.brandName,'OL')">{{Label.getContent('More')}}</a>
                        </p>
                    </th>
                </tr>
            </thead>
            <tbody class="fourthTbody" style='overflow:auto'>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{sales[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.Sales | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(salesChanges[1].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.SalesChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.SalesShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{materialCosts[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.MaterialCosts | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{costGoodsSolds[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.CostOfGoodsSold | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{discontinuedGoodsCosts[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.DiscontinuedGoodsCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{holdingCosts[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.InventoryHoldingCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{InternalTransfersCosts[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.InternalTransfersCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{eMallCommissions[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.eMallCommission | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{ServiceCosts[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.ServiceCost | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{grossProfits[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(grossProfitChanges[1].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(grossProfitMargins[1].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GrossProfitMarginShare | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{expenseValues[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.TradeAndMarketing | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{advertisingOnLines[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.AdvertisingOnLine | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{advertisingOffLines[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.AdvertisingOffLine | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{tradeSupports[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.TradeSupport | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(expenseShares[1].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.TradeAndMarketingAsPercentageOfSales | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.TradeAndMarketingShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{generalExpenses[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.GeneralExpenses | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{amortisations[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.Amortisation | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{operatingProfits[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(operatingProfitChanges[1].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(operatingProfitMargins[1].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.OperatingProfitShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{interests[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.Interest | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{taxes[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.Taxes | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{costsProfits[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.ExceptionalItems | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{netProfits[1].value[1] | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfit | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">{{(netProfitChanges[1].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfitChange | number : 1 }}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p class="text-right">{{(netProfitMargins[1].value[1]*100) | number : 1 }}</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfitMargin | number : 1 }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-info">
                        <p class="text-right">100</p>
                    </td>
                    <td ng-repeat='brand in brand2s'>
                        <p class="text-right">{{brand.NetProfitShareInCategory | number : 1 }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="clear:both"></div>
</div>