<div class="panel my-panel-success panel-primary" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Shares by Consumer Segment Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Elecssories')}} {{Label.getContent('Situation Report')}}-{{Label.getContent('Market Shares by Consumer Segment')}}</h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Price Sensitive')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Value for Money')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Fashion')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Freaks')}}</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Volume Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="info">
                <td colspan="9">
                    <p>{{Label.getContent('Rural')}}</p>
                </td>
            </tr>
            <tr class="info" ng-repeat='rural1 in rural1s'>
                <td>
                    <p class="padding-20">{{rural1.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural1.priceVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural1.priceVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural1.moneyVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural1.moneyVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural1.fashionVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural1.fashionVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural1.freaksVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural1.freaksVolumeChange}}</p>
                </td>
            </tr>
            <tr class="warning">
                <td colspan="9">
                    <p>{{Label.getContent('Urban')}}</p>
                </td>
            </tr>
            <tr class="warning" ng-repeat='urban1 in urban1s'>
                <td>
                    <p class="padding-20">{{urban1.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban1.priceVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban1.priceVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban1.moneyVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban1.moneyVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban1.fashionVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban1.fashionVolumeChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban1.freaksVolumeShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban1.freaksVolumeChange}}</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Price Sensitive')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Value for Money')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Fashion')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Freaks')}}</p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Value Share')}}</p>
                </td>
                <td>
                    <p class="text-center">{{Label.getContent('Change')}}</p>
                </td>
            </tr>
            <tr class="info">
                <td colspan="9">
                    <p>{{Label.getContent('Rural')}}</p>
                </td>
            </tr>
            <tr class="info" ng-repeat='rural2 in rural2s'>
                <td>
                    <p class="padding-20">{{rural2.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural2.priceValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural2.priceValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural2.moneyValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural2.moneyValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural2.fashionValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural2.fashionValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural2.freaksValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{rural2.freaksValueChange}}</p>
                </td>
            </tr>
            <tr class="warning">
                <td colspan="9">
                    <p>{{Label.getContent('Urban')}}</p>
                </td>
            </tr>
            <tr class="warning" ng-repeat='urban2 in urban2s'>
                <td>
                    <p class="padding-20">{{urban2.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban2.priceValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban2.priceValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban2.moneyValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban2.moneyValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban2.fashionValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban2.fashionValueChange}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban2.freaksValueShare}}</p>
                </td>
                <td>
                    <p class="text-right">{{urban2.freaksValueChange}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>