<div class="panel my-panel-success panel-primary" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Last Period Negotiations Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Financial Results')}} - {{Label.getContent('Last Period Negotiations')}}</h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th>
                    <p class="text-center">{{Label.getContent('Minimum Order Quantity')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Discount Rate')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Target Sales Volume')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Bonus Rate')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Payment Terms')}}({{Label.getContent('days')}})</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Other Compensation')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Contract Honored')}}</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan='8'>{{Label.getContent('Retailer')}} 1</td>
            </tr>
            <tr class="success" ng-repeat='product1e in product1es'>
                <td>
                    <p class="padding-20">{{product1e.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">
                        {{product1e.discount_MinimumVolume}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product1e.discount_Rate}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product1e.bonus_TargetVolume}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product1e.bonus_Rate}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product1e.vnd_PaymentTerm}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product1e.vnd_OtherCompensation}}
                    </p>
                </td>
                <td>
                    <p class="text-center" ng-show="product1e.vnd_ContractHonoured=='yes'">
                        {{product1e.vnd_ContractHonoured}}
                    </p>
                    <p class="text-center" style='color:red' ng-show="product1e.vnd_ContractHonoured=='no'">
                        {{product1e.vnd_ContractHonoured}}
                    </p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='product1h in product1hs'>
                <td>
                    <p class="padding-20">{{product1h.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">
                        {{product1h.discount_MinimumVolume}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product1h.discount_Rate}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product1h.bonus_TargetVolume}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product1h.bonus_Rate}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product1h.vnd_PaymentTerm}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product1h.vnd_OtherCompensation}}
                    </p>
                </td>
                <td>
                    <p class="text-center" ng-show="product1h.vnd_ContractHonoured=='yes'">
                        {{product1h.vnd_ContractHonoured}}
                    </p>
                    <p class="text-center" style='color:red' ng-show="product1h.vnd_ContractHonoured=='no'">
                        {{product1h.vnd_ContractHonoured}}
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan='8'>{{Label.getContent('Retailer')}} 2</td>
            </tr>
            <tr class="success" ng-repeat='product2e in product2es'>
                <td>
                    <p class="padding-20">{{product2e.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">
                        {{product2e.discount_MinimumVolume}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product2e.discount_Rate}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product2e.bonus_TargetVolume}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product2e.bonus_Rate}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product2e.vnd_PaymentTerm}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product2e.vnd_OtherCompensation}}
                    </p>
                </td>
                <td>
                    <p class="text-center" ng-show="product2e.vnd_ContractHonoured=='yes'">
                        {{product2e.vnd_ContractHonoured}}
                    </p>
                    <p class="text-center" style='color:red' ng-show="product2e.vnd_ContractHonoured=='no'">
                        {{product2e.vnd_ContractHonoured}}
                    </p>
                </td>
            </tr>
            <tr class="danger" ng-repeat='product2h in product2hs'>
                <td>
                    <p class="padding-20">{{product2h.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">
                        {{product2h.discount_MinimumVolume}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product2h.discount_Rate}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product2h.bonus_TargetVolume}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product2h.bonus_Rate}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product2h.vnd_PaymentTerm}}
                    </p>
                </td>
                <td>
                    <p class="text-right">
                        {{product2h.vnd_OtherCompensation}}
                    </p>
                </td>
                <td>
                    <p class="text-center" ng-show="product2h.vnd_ContractHonoured=='yes'">
                        {{product2h.vnd_ContractHonoured}}
                    </p>
                    <p class="text-center" style='color:red' ng-show="product2h.vnd_ContractHonoured=='no'">
                        {{product2h.vnd_ContractHonoured}}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>