<div class="panel my-panel-success panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Volume Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Elecssories')}} {{Label.getContent('Situation Report')}} - {{Label.getContent('Volume')}} ({{Label.getContent('Total')}})</h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th>
                    <p class="padding-20">(units mln)</p>
                </th>
                <th colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Initial Inventory')}}
                    </p>
                </th>
                <th rowspan="2">
                    <p class="text-center">
                        {{Label.getContent('Production Volume')}}
                    </p>
                </th>
                <th colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Delivered Volume')}}
                    </p>
                </th>
                <th rowspan="2">
                    <p class="text-center">
                        {{Label.getContent('Discontinued Goods Volume')}}
                    </p>
                </th>
                <th colspan="2">
                    <p class="text-center">
                        {{Label.getContent('Closing Inventory')}}
                    </p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Offline')}}
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Online')}}
                    </p>
                </td>

                <td>
                    <p class="text-center">
                        {{Label.getContent('Offline')}}
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Online')}}
                    </p>
                </td>
                
                <td>
                    <p class="text-center">
                        {{Label.getContent('Offline')}}
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Online')}}
                    </p>
                </td>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat='product in products'>
                <td>
                    <p class="padding-20">{{product.fullName}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.initial.value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.initial.value[1].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.production.value[2].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.sales.value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.sales.value[1].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.discontinued.value[2].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.closing.value[0].toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.closing.value[1].toFixed(2)}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel my-panel-success panel-danger" ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Volume Info')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Elecssories')}} {{Label.getContent('Situation Report')}} - {{Label.getContent('Volume')}} ({{Label.getContent('by Retailer and Market')}})</h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th>
                    <p class="padding-20">(units mln)</p>
                </th>
                <th colspan="4">
                    <p class="text-center">
                        {{Label.getContent('Order Volume')}}
                    </p>
                </th>
                <th colspan="4">
                    <p class="text-center">
                        {{Label.getContent('Delivered Volume')}}
                    </p>
                </th>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Retailer')}} 1
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Retailer')}} 2
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Retailer')}} 3
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Online')}}
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Retailer')}} 1
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Retailer')}} 2
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Retailer')}} 3
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        {{Label.getContent('Online')}}
                    </p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-show='urbanProducts.length!=0'>
                <td colspan="9">
                    <p>{{Label.getContent('Urban')}}</p>
                </td>
            </tr>
            <tr ng-repeat='product in urbanProducts'>
                <td>
                    <p class="padding-20">{{product.brandName}}{{product.varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.r1Order.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.r2Order.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.r3Order.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.onlineOrder.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.r1Sales.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.r2Sales.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.r3Sales.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.onlineSales.toFixed(2)}}</p>
                </td>
            </tr>
            <tr ng-show='ruralProducts.length!=0'>
                <td colspan="9">
                    <p>{{Label.getContent('Rural')}}</p>
                </td>
            </tr>
            <tr ng-repeat='product in ruralProducts'>
                <td>
                    <p class="padding-20">{{product.brandName}}{{product.varName}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.r1Order.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.r2Order.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.r3Order.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.onlineOrder.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.r1Sales.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.r2Sales.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.r3Sales.toFixed(2)}}</p>
                </td>
                <td>
                    <p class="text-right">{{product.onlineSales.toFixed(2)}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>