<div class='panel panel-primary my-success-panel' ng-show='isResultShown'>
	<div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Asset Investments Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Asset Investments')}}
        </h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th>
                    <p class="text-center">{{Label.getContent('Capacity')}}(units mln)</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Technology')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Flexibility')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Design')}}</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='category in categorys'>
                <td>
                    <p class="padding-20" ng-show='$index==0'>{{Label.getContent('Elecssories')}}</p>
                    <p class="padding-20" ng-show='$index==1'>{{Label.getContent('HealthBeauties')}}</p>
                </td>
                <td>
                    <a href="#" editable-text="category.capacityChange" onbeforesave="checkData($data)" onaftersave="updateProducerDecision(category.categoryID,'capacityChange',$index)">
                        <p class="text-right">{{ category.capacityChange || 0 }}</p>
                    </a>
                </td>
                <td>
                    <a href="#" editable-text="category.investInTechnology" onbeforesave="checkData($data)" onaftersave="updateProducerDecision(category.categoryID,'investInTechnology',$index)">
                        <p class="text-right">{{ category.investInTechnology || 0 }}
                        </p>
                    </a>
                </td>
                <td>
                    <a href="#" editable-text="category.investInProductionFlexibility" onbeforesave="checkData($data)" onaftersave="updateProducerDecision(category.categoryID,'investInProductionFlexibility',$index)">
                        <p class="text-right">{{ category.investInProductionFlexibility || 0 }}
                        </p>
                    </a>
                </td>
                <td>
                    <a href="#" editable-text="category.investInDesign" onbeforesave="checkData($data)" onaftersave="updateProducerDecision(category.categoryID,'investInDesign',$index)">
                        <p class="text-right">{{ category.investInDesign || 0 }}
                        </p>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>