<div class='panel panel-primary my-success-panel' ng-show='isResultShown'>
	<div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('B&M List Prices Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('B&M List Prices')}}
        </h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
    	<thead>
    		<tr>
    			<th>{{Label.getContent('Elecssories')}}</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Pack Format Info')}}" popover-title="{{Label.getContent('Pack Format')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Pack Format')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Technology Level Info')}}" popover-title="{{Label.getContent('Technology Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Technology Level')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Design Level Info')}}" popover-title="{{Label.getContent('Design Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Design Level')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Quality-of-Raw-Materials Info')}}" popover-title="{{Label.getContent('Quality-of-Raw-Materials')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Quality-of-Raw-Materials')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('B&M List Prices Pop Info')}}" popover-title="{{Label.getContent('B&M List Prices')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('B&M List Prices')}}<span style="color:red">*</span></p>
    			</th>
    		</tr>
    		<tr class="success">
    			<td colspan="6">
    				<p>{{Label.getContent('Brand')}}</p>
    			</td>
    		</tr>
    	</thead>
    	<tbody>
    		<tr class="success" ng-repeat='producte in productes'>
    			<td>
    				<p class="padding-20">{{producte.parentBrandName}}{{producte.varName}}</p>
    			</td>
    			<td>
    				<p class="text-right">{{selectPacks('Elecssories',producte.parentBrandName,producte.varName)}}</p>
    			</td>
    			<td>
    				<p class="text-right">{{ producte.composition[1] || 0 }}</p>
    			</td>
    			<td>
    				<p class="text-right">{{ producte.composition[0] || 0 }}</p>
    			</td>
    			<td>
    				<p class="text-right">{{ producte.composition[2] || 0 }}</p>
    			</td>
    			<td>
    				<a href="#" editable-text="producte.currentPriceBM" onbeforesave="checkCurrentBM('Elecssories',producte.parentBrandName,producte.varName,'currentPriceBM','0',$index,$data)" onaftersave="updateProducerDecision('Elecssories',producte.parentBrandName,producte.varName,'currentPriceBM','0',$index)" ng-show='!isReady'>
    					<p class="text-right">{{ producte.currentPriceBM || 0 }}</p>
                        <p ng-show='producte.showInfo'>{{Label.getContent('Less than current cost')}}</p>
    				</a>
                    <p class="text-right" ng-show='isReady'>{{ producte.currentPriceBM || 0 }}</p>
    			</td>
    		</tr>
    		<tr>
    			<th>{{Label.getContent('HealthBeauties')}}</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Pack Format Info')}}" popover-title="{{Label.getContent('Pack Format')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Pack Format')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Technology Level Info')}}" popover-title="{{Label.getContent('Technology Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Technology Level')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Active agent Info')}}" popover-title="{{Label.getContent('Active agent')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Active agent')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Smoothener Level Info')}}" popover-title="{{Label.getContent('Smoothener Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Smoothener Level')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('B&M List Prices Pop Info')}}" popover-title="{{Label.getContent('B&M List Prices')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('B&M List Prices')}}<span style="color:red">*</span></p>
    			</th>
    		</tr>
            <tr class="danger">
                <td colspan="6">
                    <p>{{Label.getContent('Brand')}}</p>
                </td>
            </tr>
    		<tr class="danger" ng-repeat='producth in producths'>
    			<td>
    				<p class="padding-20">{{producth.parentBrandName}}{{producth.varName}}</p>
    			</td>
    			<td>
    				<p class="text-right">{{selectPacks('HealthBeauty',producth.parentBrandName,producth.varName)}}</p>
    			</td>
    			<td>
    				<p class="text-right">{{ producth.composition[1] || 0 }}</p>
    			</td>
    			<td>
    				<p class="text-right">{{ producth.composition[0] || 0 }}</p>
    			</td>
    			<td>
    				<p class="text-right">{{ producth.composition[2] || 0 }}</p>
    			</td>
    			<td>
    				<a href="#" editable-text="producth.currentPriceBM" onbeforesave="checkCurrentBM('HealthBeauty',producth.parentBrandName,producth.varName,'currentPriceBM','0',$index,$data)" onaftersave="updateProducerDecision('HealthBeauty',producth.parentBrandName,producth.varName,'currentPriceBM','0',$index)" ng-show='!isReady'>
    					<p class="text-right">{{ producth.currentPriceBM || 0 }}</p>

<!--                         <p ng-show='producth.showInfo'>{{Label.getContent('Less than current cost')}}</p>
 -->                        
    				</a>
                    <p class="text-right" ng-show='isReady'>{{ producth.currentPriceBM || 0 }}</p>
    			</td>
    		</tr>
    	</tbody>
    </table>
</div>
<div ng-show='isResultShown'>
    <a href="" class="btn btn-primary" ng-disabled="isReady" ng-click="isCommitConfirmInfoShown=true" class="btn btn-primary">{{Label.getContent('Commit Portflio decision')}}</a>
</div>
<div class="alert alert-danger fade in" ng-show="isCommitConfirmInfoShown">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <h4>{{Label.getContent("Warning! Commit confirmation")}}</h4>
    <p>{{Label.getContent("Producer portfolio confirm info")}}</p>
    <p>
        <button type="button" class="btn btn-danger" ng-click='submitDecision()' ng-disabled='isReady'>{{Label.getContent("Take this action")}}</button>
        <button type="button" ng-click="isCommitConfirmInfoShown=false" class="btn btn-default">{{Label.getContent("Cancel")}}</button>
    </p>
</div>