<div class="pull-right" style="width:400px">
    <progress percent="percentageExpend" class="progress-primary"></progress>
    <small>
        <em>{{Label.getContent('Available Budget')}}:<strong>{{surplusExpend.toFixed(2)}}</strong></em>
    </small>
    <progress percent="elePercentageProduction" class="progress-suceess"></progress>
    <small>
        <em>{{Label.getContent('Elecssories')}} {{Label.getContent('Producer Available Capacity')}}: <strong>{{eleSurplusProduction.toFixed(2)}}</strong></em>
    </small>
    <progress percent="heaPercentageProduction" class="progress-danger"></progress>
    <small>
        <em>{{Label.getContent('HealthBeauties')}} {{Label.getContent('Producer Available Capacity')}}: <strong>{{heaSurplusProduction.toFixed(2)}}</strong></em>
    </small>
</div>
<div style="clear:both;padding:1px 0" ng-show='isResultShown'></div>
<div class='panel panel-primary my-success-panel' ng-show='isResultShown'>
	<div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('B&M List Prices Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('B&M List Prices')}}
        </h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
    	<thead>
    		<tr>
    			<th colspan="2">{{Label.getContent('Elecssories')}}</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Pack Format Info')}}" popover-title="{{Label.getContent('Pack Format')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Pack Format')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Technology Level Info')}}" popover-title="{{Label.getContent('Technology Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Technology Level')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Design Level Info')}}" popover-title="{{Label.getContent('Design Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Design Level')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Quality-of-Raw-Materials Info')}}" popover-title="{{Label.getContent('Quality-of-Raw-Materials')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Quality-of-Raw-Materials')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('B&M List Prices Pop Info')}}" popover-title="{{Label.getContent('B&M List Prices')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('B&M List Prices')}}<span style="color:red">*</span></p>
    			</th>
    		</tr>
    		<tr class="success">
    			<td colspan="7">
    				<p>{{Label.getContent('Brand')}}</p>
    			</td>
    		</tr>
    	</thead>
    	<tbody>
    		<tr class="success" ng-repeat='producte in productes'>
    			<td>
    				<p class="padding-20">{{producte.parentBrandName}}</p>
    			</td>
    			<td>
    				<p class="text-center">{{producte.varName}}</p>
    			</td>
    			<td>
    				<p class="text-right">{{selectPacks('Elecssories',producte.parentBrandName,producte.varName)}}</p>
    			</td>
    			<td>
    				<p class="text-right">{{ producte.composition[1] || 0 }}</p>
    			</td>
    			<td>
    				<p class="text-right">{{ producte.composition[0] || 0 }}</p>
    			</td>
    			<td>
    				<p class="text-right">{{ producte.composition[2] || 0 }}</p>
    			</td>
    			<td>
    				<a href="#" editable-text="producte.nextPriceBM" onbeforesave="checkNextPriceBM('Elecssories',producte.parentBrandName,producte.varName,'nextPriceBM','0',$index,$data)" onaftersave="updateProducerDecision('Elecssories',producte.parentBrandName,producte.varName,'nextPriceBM','0',$index)">
    					<p class="text-right">{{ producte.nextPriceBM || 0 }}</p>
    				</a>
    			</td>
    		</tr>
    		<tr>
    			<th colspan="2">{{Label.getContent('HealthBeauties')}}</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Pack Format Info')}}" popover-title="{{Label.getContent('Pack Format')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Pack Format')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Technology Level Info')}}" popover-title="{{Label.getContent('Technology Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Technology Level')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Active agent Info')}}" popover-title="{{Label.getContent('Active agent')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Active agent')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Smoothener Level Info')}}" popover-title="{{Label.getContent('Smoothener Level')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Smoothener Level')}}<span style="color:red">*</span></p>
    			</th>
    			<th>
    				<p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('B&M List Prices Pop Info')}}" popover-title="{{Label.getContent('B&M List Prices')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('B&M List Prices')}}<span style="color:red">*</span></p>
    			</th>
    		</tr>
            <tr class="danger">
                <td colspan="7">
                    <p>{{Label.getContent('Brand')}}</p>
                </td>
            </tr>
    		<tr class="danger" ng-repeat='producth in producths'>
    			<td>
    				<p class="padding-20">{{producth.parentBrandName}}</p>
    			</td>
    			<td>
    				<p class="text-center">{{producth.varName}}</p>
    			</td>
    			<td>
    				<p class="text-right">{{selectPacks('HealthBeauty',producth.parentBrandName,producth.varName)}}</p>
    			</td>
    			<td>
    				<p class="text-right">{{ producth.composition[1] || 0 }}</p>
    			</td>
    			<td>
    				<p class="text-right">{{ producth.composition[0] || 0 }}</p>
    			</td>
    			<td>
    				<p class="text-right">{{ producth.composition[2] || 0 }}</p>
    			</td>
    			<td>
    				<a href="#" editable-text="producth.nextPriceBM" onbeforesave="checkNextPriceBM('HealthBeauty',producth.parentBrandName,producth.varName,'nextPriceBM','0',$index,$data)" onaftersave="updateProducerDecision('HealthBeauty',producth.parentBrandName,producth.varName,'nextPriceBM','0',$index)">
    					<p class="text-right">{{ producth.nextPriceBM || 0 }}</p>
    				</a>
    			</td>
    		</tr>
    	</tbody>
    </table>
</div>