<div class='panel panel-success my-success-panel' ng-show='isResultShown'>
	<div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('General Marketing Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('General Marketing')}}
        </h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
    	<thead>
    		<tr>
                <th></th>
    			<th colspan="3">
                    <p class="text-center">{{Label.getContent('Advertising')}}($mln)</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Traditional Trade Support')}}($mln)</p>
                </th>
    		</tr>
            <tr>
                <th></th>
                <th>
                    <p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Advertising Online Info')}}" popover-title="{{Label.getContent('Advertising Online')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Online')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Offline')}}</p>
                </th>
                <th>
                    <p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Traditional Trade Support Rural Info')}}" popover-title="{{Label.getContent('Traditional Trade Support Rural')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Rural')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
                </th>
                <th>
                    <p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Traditional Trade Support Urban Info')}}" popover-title="{{Label.getContent('Traditional Trade Support Urban')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Urban')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
                </th>
            </tr> 
            <tr>
                <th></th>
                <th></th>
                <th>
                    <p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Advertising Offline Rural Info')}}" popover-title="{{Label.getContent('Advertising Offline Rural')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Rural')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
                </th>
                <th>
                    <p class="text-primary text-center" Popover-animation="true" popover="{{Label.getContent('Advertising Offline Urban Info')}}" popover-title="{{Label.getContent('Advertising Offline Urban')}}" popover-trigger="mouseenter" popover-placement="bottom">{{Label.getContent('Urban')}} <span class="glyphicon glyphicon-info-sign" style="font-size:12px"></span></p>
                </th>
                <th></th>
                <th></th>
            </tr>  
    	</thead>
        <tbody>
            <tr class="success">
                <th colspan="6">
                    <p>{{Label.getContent('Elecssories')}}-{{Label.getContent('Brand')}}</p>
                </th>
            </tr>
            <tr class="success" ng-repeat='brande in brandes'>
                <td>
                    <p class="padding-20">{{brande.brandName}}</p>
                </td>
                <td>
                    <a href="#" editable-text="brande.advertisingOnLine" onbeforesave="checkData('Elecssories',brande.brandName,'advertisingOnLine','1',$index,$data)" ng-show='!isReady' onaftersave="updateProducerDecision('Elecssories',brande.brandName,'advertisingOnLine','1',$index)">
                        <p class="text-right">{{ brande.advertisingOnLine || 0 }}</p>
                    </a>
                    <p ng-show='isReady' class="text-right text-muted">{{ brande.advertisingOnLine || 0 }}</p>
                </td>
                <td>
                    <a href="#" editable-text="brande.advertisingOffLine[1]" onbeforesave="checkData('Elecssories',brande.brandName,'advertisingOffLine','1',$index,$data)" ng-show='!isReady' onaftersave="updateProducerDecision('Elecssories',brande.brandName,'advertisingOffLine','1',$index)">
                        <p class="text-right">{{ brande.advertisingOffLine[1] || 0 }}</p>
                    </a>
                    <p ng-show='isReady' class="text-right text-muted">{{ brande.advertisingOffLine[1] || 0 }}</p>
                </td>
                <td>
                    <a href="#" editable-text="brande.advertisingOffLine[0]" onbeforesave="checkData('Elecssories',brande.brandName,'advertisingOffLine','0',$index,$data)" ng-show='!isReady' onaftersave="updateProducerDecision('Elecssories',brande.brandName,'advertisingOffLine','0',$index)">
                        <p class="text-right">{{ brande.advertisingOffLine[0] || 0 }}
                        </p>
                    </a>
                    <p ng-show='isReady' class="text-right text-muted">{{ brande.advertisingOffLine[0] || 0 }}
                    </p>
                </td>
                <td>
                    <a href="#" editable-text="brande.supportTraditionalTrade[1]" onbeforesave="checkData('Elecssories',brande.brandName,'supportTraditionalTrade','1',$index,$data)" ng-show='!isReady' onaftersave="updateProducerDecision('Elecssories',brande.brandName,'supportTraditionalTrade','1',$index)">
                        <p class="text-right">{{ brande.supportTraditionalTrade[1] || 0 }}</p>
                    </a>
                    <p ng-show='isReady' class="text-right text-muted">{{ brande.supportTraditionalTrade[1] || 0 }}</p>
                </td>
                <td>
                    <a href="#" editable-text="brande.supportTraditionalTrade[0]" onbeforesave="checkData('Elecssories',brande.brandName,'supportTraditionalTrade','0',$index,$data)" ng-show='!isReady' onaftersave="updateProducerDecision('Elecssories',brande.brandName,'supportTraditionalTrade','0',$index)">
                        <p class="text-right">{{ brande.supportTraditionalTrade[0] || 0 }}</p>
                    </a>
                    <p ng-show='isReady' class="text-right text-muted">{{ brande.supportTraditionalTrade[0] || 0 }}</p>
                </td>
            </tr>

            <!-- <tr>
                <th>{{Label.getContent('HealthBeauties')}}</th>
                <th colspan="3">
                    <p class="text-center">{{Label.getContent('Advertising')}}($mln)</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Traditional Trade Support')}}($mln)</p>
                </th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <p class="text-center">{{Label.getContent('Online')}}</p>
                </th>
                <th colspan="2">
                    <p class="text-center">{{Label.getContent('Offline')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Rural')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Urban')}}</p>
                </th>
            </tr> 
            <tr>
                <th></th>
                <th></th>
                <th>
                    <p class="text-center">{{Label.getContent('Rural')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Urban')}}</p>
                </th>
                <th></th>
                <th></th>
            </tr>  -->
            <tr class="danger">
                <th colspan="6">
                    <p>{{Label.getContent('HealthBeauties')}}-{{Label.getContent('Brand')}}</p>
                </th>
            </tr>
            <tr class="danger" ng-repeat='brandh in brandhs'>
                <td>
                    <p class="padding-20">{{brandh.brandName}}</p>
                </td>
                <td>
                    <a href="#" editable-text="brandh.advertisingOnLine" onbeforesave="checkData('HealthBeauty',brandh.brandName,'advertisingOnLine','1',$index,$data)" ng-show='!isReady' onaftersave="updateProducerDecision('HealthBeauty',brandh.brandName,'advertisingOnLine','1',$index)">
                        <p class="text-right">{{ brandh.advertisingOnLine || 0 }}</p>
                    </a>
                    <p ng-show='isReady' class="text-right text-muted">{{ brandh.advertisingOnLine || 0 }}</p>
                </td>
                <td>
                    <a href="#" editable-text="brandh.advertisingOffLine[1]" onbeforesave="checkData('HealthBeauty',brandh.brandName,'advertisingOffLine','1',$index,$data)" ng-show='!isReady' onaftersave="updateProducerDecision('HealthBeauty',brandh.brandName,'advertisingOffLine','1',$index)">
                        <p class="text-right">{{ brandh.advertisingOffLine[1] || 0 }}</p>
                    </a>
                    <p ng-show='isReady' class="text-right text-muted">{{ brandh.advertisingOffLine[1] || 0 }}</p>
                </td>
                <td>
                    <a href="#" editable-text="brandh.advertisingOffLine[0]" onbeforesave="checkData('HealthBeauty',brandh.brandName,'advertisingOffLine','0',$index,$data)" ng-show='!isReady' onaftersave="updateProducerDecision('HealthBeauty',brandh.brandName,'advertisingOffLine','0',$index)">
                        <p class="text-right">{{ brandh.advertisingOffLine[0] || 0 }}</p>
                    </a>
                    <p ng-show='isReady' class="text-right text-muted">{{ brandh.advertisingOffLine[0] || 0 }}</p>
                </td>
                <td>
                    <a href="#" editable-text="brandh.supportTraditionalTrade[1]" onbeforesave="checkData('HealthBeauty',brandh.brandName,'supportTraditionalTrade','1',$index,$data)" ng-show='!isReady' onaftersave="updateProducerDecision('HealthBeauty',brandh.brandName,'supportTraditionalTrade','1',$index)">
                        <p class="text-right">{{ brandh.supportTraditionalTrade[1] || 0 }}</p>
                    </a>
                    <p ng-show='isReady' class="text-right text-muted">{{ brandh.supportTraditionalTrade[1] || 0 }}</p>
                </td>
                <td>
                    <a href="#" editable-text="brandh.supportTraditionalTrade[0]" onbeforesave="checkData('HealthBeauty',brandh.brandName,'supportTraditionalTrade','0',$index,$data)" ng-show='!isReady' onaftersave="updateProducerDecision('HealthBeauty',brandh.brandName,'supportTraditionalTrade','0',$index)">
                        <p class="text-right">{{ brandh.supportTraditionalTrade[0] || 0 }}</p>
                    </a>
                    <p ng-show='isReady' class="text-right text-muted">{{ brandh.supportTraditionalTrade[0] || 0 }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>