<div class='panel panel-success my-success-panel' ng-show='isResultShown'>
    <div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Market Research Orders Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Market Research Orders')}}
        </h3>
    </div>


    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th>
                    <p>{{Label.getContent('Report')}}</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Cost')}}($mln)</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Buy')}}</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='playData in playDatas'>
                <td>
                    <p class="padding-20">{{playData.name}}</p>
                </td>
                <td>
                    <p class="text-right">{{playData.reportPrice.toFixed(2)}}</p>
                </td>
                <td>
                    <a href="#" editable-checkbox="playData.playerStatus" e-title="{{Label.getContent('Buy this Report')}}?" ng-show="!isDecisionCommitted" onbeforesave='checkBudget(playData.reportPrice,$data)' onaftersave="submitOrder($index,$data)">
                        <p class="text-right"><span class="glyphicon glyphicon-shopping-cart" ng-show='playData.playerStatus'></span>{{ playData.playerStatus && Label.getContent('Buy') || Label.getContent('No') }}</p>
                    </a>
                    <p ng-show="isDecisionCommitted" class="text-right text-muted">{{ playData.playerStatus && Label.getContent('Buy') || Label.getContent('No') }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>