<div class='panel panel-primary my-success-panel' ng-show='isResultShown'>
	<div class="panel-heading">
        <h3 class="panel-title text-center" popover="{{Label.getContent('Online Store Management Info')}}" popover-trigger="mouseenter" popover-placement="bottom">
            {{Label.getContent('Online Store Management')}}
        </h3>
    </div>
    <table class="table table-condensed table-bordered table-success">
    	<thead>
    		<tr>
    			<!-- <th colspan="5">{{Label.getContent('Elecssories')}}</th> -->
                <th colspan="5"></th>
    			<th colspan="2">
                    <p class="text-center">{{Label.getContent('Promotions')}}</p>
                </th>
    		</tr>
            <tr>
                <th>
                    <p class="text-center">{{Label.getContent('Brand')}}</p>
                </th>
                <th></th>
                <th>
                    <p class="text-center">{{Label.getContent('Visibility')}}($mln)</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Order Volumes')}}(units mln)</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Prices')}}($mln)</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Frequency')}}({{Label.getContent('days')}})</p>
                </th>
                <th>
                    <p class="text-center">{{Label.getContent('Depth')}}(%)</p>
                </th>
            </tr> 
            <tr class="success">
                <td colspan="7">{{Label.getContent('Elecssories')}}</td>
            </tr> 
    	</thead>
        <thead ng-repeat='brande in brandes'>
            <tr class="success">
                <td colspan="2">
                    <p class="padding-20">
                        {{brande.brandName}}
                    </p>
                </td>
                <td>
                    <a href="#" editable-text="brande.supportEmall" onbeforesave="checkData('Elecssories',brande.brandName,'supportEmall','1',$index,$data)" onaftersave="updateBrandDecision('Elecssories',brande.brandName,'supportEmall','1',$index)">
                        <p class="text-right">{{ brande.supportEmall || 0 }}</p>
                    </a>
                </td>
                <td colspan="4"></td>
            </tr>
            <tr class="success" ng-repeat='var in brande.proVarDecision' ng-if="var.varName!=''">
                <td></td>
                <td>
                    <p class="padding-20">{{brande.brandName}}{{var.varName}}</p>
                </td>
                <td></td>
                <td>
                    <a href="#" editable-text="var.onlinePlannedVolume" onaftersave="updateVariantDecision('Elecssories',brande.brandName,var.varName,'onlinePlannedVolume','0',$index,$data)">
                        <p class="text-right">{{ var.onlinePlannedVolume || 0 }}</p>
                    </a>
                </td>
                <td>
                    <a href="#" editable-text="var.onlinePrice" onaftersave="updateVariantDecision('Elecssories',brande.brandName,var.varName,'onlinePrice','0',$index,$data)">
                        <p class="text-right">{{ var.onlinePrice || 0 }}</p>
                    </a>
                </td>
                <td>
                    <a href="#" editable-text="var.pricePromotions.promo_Frequency" onaftersave="updateVariantDecision('Elecssories',brande.brandName,var.varName,'pricePromotions','0',$index,$data)">
                        <p class="text-right">{{ var.pricePromotions.promo_Frequency || 0 }}</p>
                    </a>
                </td>
                <td>
                    <a href="#" editable-text="var.pricePromotions.promo_Rate" onaftersave="updateVariantDecision('Elecssories',brande.brandName,var.varName,'pricePromotions','1',$index,$data)">
                        <p class="text-right">{{ var.pricePromotions.promo_Rate || 0 }}</p>
                    </a>
                </td>
            </tr>
        </thead>
        <thead ng-repeat='brandh in brandhs'>
            <tr class="danger">
                <td colspan="2">
                    <p class="padding-20">
                        {{brandh.brandName}}
                    </p>
                </td>
                <td>
                    <a href="#" editable-text="brandh.supportEmall" onbeforesave="checkData('HealthBeauty',brandh.brandName,'supportEmall','1',$index,$data)" onaftersave="updateBrandDecision('HealthBeauty',brandh.brandName,'supportEmall','1',$index)">
                        <p class="text-right">{{ brandh.supportEmall || 0 }}</p>
                    </a>
                </td>
                <td colspan="4"></td>
            </tr>
            <tr class="danger" ng-repeat='var in brandh.proVarDecision' ng-if="var.varName!=''">
                <td></td>
                <td>
                    <p class="padding-20">{{brandh.brandName}}{{var.varName}}</p>
                </td>
                <td></td>
                <td>
                    <a href="#" editable-text="var.onlinePlannedVolume" onaftersave="updateVariantDecision('HealthBeauty',brandh.brandName,var.varName,'onlinePlannedVolume','0',$index,$data)">
                        <p class="text-right">{{ var.onlinePlannedVolume || 0 }}</p>
                    </a>
                </td>
                <td>
                    <a href="#" editable-text="var.onlinePrice" onaftersave="updateVariantDecision('HealthBeauty',brandh.brandName,var.varName,'onlinePrice','0',$index,$data)">
                        <p class="text-right">{{ var.onlinePrice || 0 }}</p>
                    </a>
                </td>
                <td>
                    <a href="#" editable-text="var.pricePromotions.promo_Frequency" onaftersave="updateVariantDecision('HealthBeauty',brandh.brandName,var.varName,'pricePromotions','0',$index,$data)">
                        <p class="text-right">{{ var.pricePromotions.promo_Frequency || 0 }}</p>
                    </a>
                </td>
                <td>
                    <a href="#" editable-text="var.pricePromotions.promo_Rate" onaftersave="updateVariantDecision('HealthBeauty',brandh.brandName,var.varName,'pricePromotions','1',$index,$data)">
                        <p class="text-right">{{ var.pricePromotions.promo_Rate || 0 }}</p>
                    </a>
                </td>
            </tr>
        </thead>
    </table>
</div>