<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">&times;</button>
	<h4 class="modal-title">{{Label.getContent('Admin Login')}}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" role="form">
		<div class="form-group">
	    	<label for="adminSeminar" class="col-sm-2 control-label">{{Label.getContent('Seminar')}}:</label>
	    	<div class="col-sm-10">
	      		<input type="text" id="adminSeminar" class="form-control" placeholder="{{Label.getContent('Seminar Code')}}" ng-model="adminSeminar">
	    	</div>
	  	</div>
	  	<div class="form-group">
	    	<label for="adminPassword" class="col-sm-2 control-label">{{Label.getContent('Password')}}:</label>
	    	<div class="col-sm-10">
	      		<input type="password" id="adminPassword" class="form-control" ng-model="adminPassword">
	    	</div>
	  	</div>
	</form>
	<div class="{{adminBubleClassName}}" ng-show='true'>
		<strong>{{adminBubleTitle}}</strong>{{adminBubleMsg}}
	</div>
</div>	
<div class="modal-footer">
	<a class="btn btn-default" ng-click="cancel()">{{Label.getContent('Cancel')}}</a>
	<a class="btn btn-primary" ng-click="adminLogin()">{{Label.getContent('Login')}}</a>
</div>