<style type="text/css">
    .modal-dialog{
        width: 700px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{brandName}}</h4>
</div>
<div class="modal-body">
        <table class="table table-condensed table-bordered table-success">
            <thead>
                <tr>
                    <th></th>
                    <th ng-repeat='variant in variants'>
                        <p class="text-center">{{variant.variantName}}
                        </p>
                    </th>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Sales')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.Sales=="0.00"?0:variant.Sales}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Cost of Price Promotions')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.PromotionsCost=="0.00"?0:variant.PromotionsCost}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Other Compensation')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.OtherCompensation=="0.00"?0:variant.OtherCompensation}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Net Sales Value')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.NetSales=="0.00"?0:variant.NetSales}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.NetSalesChange=="0.00"?0:variant.NetSalesChange}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Value Share in Category')}} (%)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.NetSalesShareInCategory=="0.00"?0:variant.NetSalesShareInCategory}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Cost of Goods Sold')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.CostOfGoodsSold=="0.00"?0:variant.CostOfGoodsSold}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Value of Quantity Discounts')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.ValueOfQuantityDiscounts=="0.00"?0:variant.ValueOfQuantityDiscounts}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Value of Performance Bonus')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.ValueOfPerformanceBonus=="0.00"?0:variant.ValueOfPerformanceBonus}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Discontinued Goods Cost')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.DiscontinuedGoodsCost=="0.00"?0:variant.DiscontinuedGoodsCost}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Inventory Holding Cost')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.InventoryHoldingCost=="0.00"?0:variant.InventoryHoldingCost}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Gross Profit')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.GrossProfit=="0.00"?0:variant.GrossProfit}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.GrossProfitChange=="0.00"?0:variant.GrossProfitChange}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Gross Profit Margin')}} (%)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.GrossProfitMargin=="0.00"?0:variant.GrossProfitMargin}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Share of Gross Profit/Loss in Category')}} (%)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.GrossProfitShareInCategory=="0.00"?0:variant.GrossProfitShareInCategory}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('General Expenses')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.GeneralExpenses=="0.00"?0:variant.GeneralExpenses}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Operating Profit')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.OperatingProfit=="0.00"?0:variant.OperatingProfit}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.OperatingProfitChange=="0.00"?0:variant.OperatingProfitChange}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Operating Profit Margin')}} (%)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.OperatingProfitMargin=="0.00"?0:variant.OperatingProfitMargin}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Share of Operating Profit/Loss in Category')}} (%)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.OperatingProfitMarginShareInCategory=="0.00"?0:variant.OperatingProfitMarginShareInCategory}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Interest')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.Interest=="0.00"?0:variant.Interest}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Taxes')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.Taxes=="0.00"?0:variant.Taxes}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="padding-20">- {{Label.getContent('Exceptional Costs/Profits')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.ExceptionalItems=="0.00"?0:variant.ExceptionalItems}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Net Profit')}} ($mln)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.NetProfit=="0.00"?0:variant.NetProfit}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.NetProfitChange=="0.00"?0:variant.NetProfitChange}}</p>
                    </td>
                </tr>
                <tr class="tr-info">
                    <td>
                        <p>{{Label.getContent('Net Profit Margin')}} (%)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.NetProfitMargin=="0.00"?0:variant.NetProfitMargin}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-right">{{Label.getContent('Share of Net Profit/Loss in Category')}} (%)</p>
                    </td>
                    <td ng-repeat='variant in variants'>
                        <p class="text-right">{{variant.NetProfitShareInCategory=="0.00"?0:variant.NetProfitShareInCategory}}</p>
                    </td>
                </tr>
            </thead>
        </table>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" ng-click="cancel()">
        {{Label.getContent('OK')}}
    </a>
</div>