<style type="text/css">
    .modal-dialog{
        width: 700px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{brandName}}</h4>
</div>
<div class="modal-body">
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th style="width:150px" ng-repeat='variant in variants'>
                    <p class="text-center">{{variant.variantName}}</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Sales')}} ($mln)</p>
                </td>

                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.Sales=="0.00"?0:variant.Sales}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.SalesChange=="0.00"?0:variant.SalesChange}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Value Share in Category')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.SalesShareInCategory=="0.00"?0:variant.SalesShareInCategory}}</p>
                </td>
            </tr>
            <tr ng-show='OLShow'>
                <td>
                    <p class="padding-20">- {{Label.getContent('Material Costs')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.MaterialCosts=="0.00"?0:variant.MaterialCosts}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40" ng-show='OLShow'>(1) {{Label.getContent('Cost of Goods Sold')}} ($mln)</p>
                    <p class="padding-20" ng-show='BMShow'>(1) {{Label.getContent('Cost of Goods Sold')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.CostOfGoodsSold=="0.00"?0:variant.CostOfGoodsSold}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40" ng-show='OLShow'>(2) {{Label.getContent('Discontinued Goods Cost')}} ($mln)</p>
                    <p class="padding-20" ng-show='BMShow'>(2) {{Label.getContent('Discontinued Goods Cost')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.DiscontinuedGoodsCost=="0.00"?0:variant.DiscontinuedGoodsCost}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40" ng-show='OLShow'>(3) {{Label.getContent('Inventory Holding Cost')}} ($mln)</p>
                    <p class="padding-20" ng-show='BMShow'>(3) {{Label.getContent('Inventory Holding Cost')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.InventoryHoldingCost=="0.00"?0:variant.InventoryHoldingCost}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">(4) {{Label.getContent('eMall Commission and Shipping Cost')}} ($mln)
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">xxxxx</p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Gross Profit')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.GrossProfit=="0.00"?0:variant.GrossProfit}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.GrossProfitChange=="0.00"?0:variant.GrossProfitChange}}</p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Gross Profit Margin')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.GrossProfitMargin=="0.00"?0:variant.GrossProfitMargin}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Share of Gross Profit/Loss in Category')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.GrossProfitMarginShare=="0.00"?0:variant.GrossProfitMarginShare}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Marketing Expenses')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.TradeAndMarketing=="0.00"?0:variant.TradeAndMarketing}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">(1) {{Label.getContent('Advertising Online')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.AdvertisingOnLine=="0.00"?0:variant.AdvertisingOnLine}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">(2) {{Label.getContent('Advertising Offline')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.AdvertisingOffLine=="0.00"?0:variant.AdvertisingOffLine}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">(3) {{Label.getContent('eMall Support')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.TradeSupport=="0.00"?0:variant.TradeSupport}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Marketing Expenses')}} ({{Label.getContent('as % of sales')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.TradeAndMarketingAsPercentageOfSales=="0.00"?0:variant.TradeAndMarketingAsPercentageOfSales}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Share of Marketing Expenses in Category')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.TradeAndMarketingShareInCategory=="0.00"?0:variant.TradeAndMarketingShareInCategory}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('General Expenses')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.GeneralExpenses=="0.00"?0:variant.GeneralExpenses}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Amortisation')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.Amortisation=="0.00"?0:variant.Amortisation}}</p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Operating Profit')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.OperatingProfit=="0.00"?0:variant.OperatingProfit}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.OperatingProfitChange=="0.00"?0:variant.OperatingProfitChange}}</p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Operating Profit Margin')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.OperatingProfitMargin=="0.00"?0:variant.OperatingProfitMargin}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Share of Operating Profit/Loss in Category')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.OperatingProfitShareInCategory=="0.00"?0:variant.OperatingProfitShareInCategory}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Interest')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.Interest=="0.00"?0:variant.Interest}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Taxes')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.Taxes=="0.00"?0:variant.Taxes}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Exceptional Costs/Profits')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.ExceptionalItems=="0.00"?0:variant.ExceptionalItems}}</p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Net Profit')}} ($mln)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.NetProfit=="0.00"?0:variant.NetProfit}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.NetProfitChange=="0.00"?0:variant.NetProfitChange}}</p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Net Profit Margin')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.NetProfitMargin=="0.00"?0:variant.NetProfitMargin}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Share of Net Profit/Loss in Category')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.NetProfitShareInCategory=="0.00"?0:variant.NetProfitShareInCategory}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" ng-click="cancel()">
        {{Label.getContent('OK')}}
    </a>
</div>
