<style type="text/css">
    .modal-dialog{
        width: 700px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{brandName}}</h4>
</div>
<div class="modal-body">
    <table class="table table-condensed table-bordered table-success">
        <thead>
            <tr>
                <th></th>
                <th ng-repeat='variant in variants'>
                    <p class="text-center">{{variant.variantName}}</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Sales')}} ({{Label.getContent('$mln')}})</p>
                </td>

                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.Sales | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.SalesChange | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Value Share in Category')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.SalesShareInCategory | number : 1 }}</p>
                </td>
            </tr>
            <tr ng-show='OLShow'>
                <td>
                    <p class="padding-20">- {{Label.getContent('Material Costs')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.MaterialCosts | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40" ng-show='OLShow'>(1) {{Label.getContent('Cost of Goods Sold')}} ({{Label.getContent('$mln')}})</p>
                    <p class="padding-20" ng-show='BMShow'>(1) {{Label.getContent('Cost of Goods Sold')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.CostOfGoodsSold | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40" ng-show='OLShow'>(2) {{Label.getContent('Discontinued Goods Cost')}} ({{Label.getContent('$mln')}})</p>
                    <p class="padding-20" ng-show='BMShow'>(2) {{Label.getContent('Discontinued Goods Cost')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.DiscontinuedGoodsCost | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40" ng-show='OLShow'>(3) {{Label.getContent('Inventory Holding Cost')}} ({{Label.getContent('$mln')}})</p>
                    <p class="padding-20" ng-show='BMShow'>(3) {{Label.getContent('Inventory Holding Cost')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.InventoryHoldingCost | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">(4) {{Label.getContent('eMall Commission')}} ({{Label.getContent('$mln')}})
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.eMallCommission | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">(5) {{Label.getContent('Service Cost')}} ({{Label.getContent('$mln')}})
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.ServiceCost | number : 1 }}</p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Gross Profit')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.GrossProfit | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.GrossProfitChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Gross Profit Margin')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.GrossProfitMargin | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Share of Gross Profit/Loss in Category')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.GrossProfitMarginShare | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Marketing Expenses')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.TradeAndMarketing | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">(1) {{Label.getContent('Advertising Online')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.AdvertisingOnLine | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">(2) {{Label.getContent('Advertising Offline')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.AdvertisingOffLine | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-40">(3) {{Label.getContent('eMall Support')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.TradeSupport | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Marketing Expenses')}} ({{Label.getContent('as % of sales')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.TradeAndMarketingAsPercentageOfSales | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Share of Marketing Expenses in Category')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.TradeAndMarketingShareInCategory | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('General Expenses')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.GeneralExpenses | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Amortisation')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.Amortisation | number : 1 }}</p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Operating Profit')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.OperatingProfit | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.OperatingProfitChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Operating Profit Margin')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.OperatingProfitMargin | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Share of Operating Profit/Loss in Category')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.OperatingProfitShareInCategory | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Interest')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.Interest | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Taxes')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.Taxes | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="padding-20">- {{Label.getContent('Exceptional Costs/Profits')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.ExceptionalItems | number : 1 }}</p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Net Profit')}} ({{Label.getContent('$mln')}})</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.NetProfit | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Change from Previous Period')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.NetProfitChange | number : 1 }}</p>
                </td>
            </tr>
            <tr class="tr-info">
                <td>
                    <p>{{Label.getContent('Net Profit Margin')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.NetProfitMargin | number : 1 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="text-right">{{Label.getContent('Share of Net Profit/Loss in Category')}} (%)</p>
                </td>
                <td ng-repeat='variant in variants'>
                    <p class="text-right">{{variant.NetProfitShareInCategory | number : 1 }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" ng-click="cancel()">
        {{Label.getContent('OK')}}
    </a>
</div>
