
<div class="modal-header">
	<button type="button" class="close" 
	ng-click="cancel()">&times;</button>
	<h4>{{Label.getContent('New Product')}}</h4>
</div>
<form method="POST" name="myForm">
    <div class="modal-body">
      	<div class="control-group">
        	<tabset>
          		<tab heading="{{Label.getContent('Launch New Brand')}}" select="setAddNewBrand()">
            		<div class="form">
              			<div class="form-group">
                			<label for="lauchNewCategory">{{Label.getContent('Choose Catagory')}}:</label>
                			<select class="form-control" ng-model="lauchNewCategory" ng-change="setBrandName(lauchNewCategory)">
                  				<option value="1">{{Label.getContent('Elecssories')}}</option>
                  				<option value="2">{{Label.getContent('HealthBeauty')}}</option>
                			</select>
                		</div>
                    	<div class="form-group" ng-class="{'has-error': myForm.newBrandName.$invalid}">
                    		<label for="lauchNewBrandName">{{Label.getContent('Enter New Brand Name')}}:</label>
                    		<div class="input-group">
                    			<span class="input-group-addon">{{brandFirstName}}</span>
                    			<input type="text"  class="form-control" ng-model="lauchNewBrandName" name="newBrandName" ng-maxlength="4" required>
                    			<span class="input-group-addon">{{brandLastName}}</span>
                    		</div>
                    	</div>
                    	<div class="form-group" ng-class="{'has-error':myForm.lauchVarName.$invalid}">
                    		<label for="lauchNewVarName">{{Label.getContent('Enter New Variant Name')}}:</label>
                    		<div class="input-group">
                    			<span class="input-group-addon">_</span>
                    			<input type="text" name="lauchVarName" class="form-control" ng-model="lauchNewVarName" ng-maxlength="4" required>
                    		</div>
                    	</div>
                	</div>
          		</tab>
          		<tab heading="{{Label.getContent('Under Existed Brand')}}" select="setAddNewProUnderBrand()">
          			<div class="form">
          				<div class="form-group">
          					<label for="addNewCategory">{{Label.getContent('Choose Catagory')}}:</label>
          					<select class="form-control" ng-model="addNewCategory" ng-change="loadAllBrand(addNewCategory)">
          						<option value="1">{{Label.getContent('Elecssories')}}</option>
          						<option value="2">{{Label.getContent('HealthBeauty')}}</option>
          					</select>
          				</div>
          				<div class="form-group">
          					<label for="addChooseBrand">{{Label.getContent('Choose Brand')}}:</label>
          					<select class="form-control" ng-model="addChooseBrand" >
          						<option ng-repeat="allBrand in allBrands" value="{{allBrand.BrandID}}">{{allBrand.BrandName}}</option>
          					</select>
          				</div>
          				<div class="form-group" ng-class="{'has-error':myForm.addVarName.$invalid}">
          					<label for="addNewVarName">{{Label.getContent('Enter New Variant Name')}}:</label>
          					<div class="input-group">
          						<span class="input-group-addon">_</span>
          						<input type="text" name="addVarName" class="form-control" ng-model="addNewVarName" ng-maxlength="4" required>
          					</div>
          				</div>
          			</div>
          		</tab>
          	</tabset>
        </div>
        <div class="{{bubleClassName}}" ng-show='true'>
        	<strong>{{bubleTitle}}</strong>{{bubleMsg}}
        </div>  
    </div>
    <div class="modal-footer">
    	<input type="button" ng-click="addNewProduct(parameter)" ng-show='newBrand' class="btn btn-primary" value="{{Label.getContent('Add')}}" ng-disabled="((myForm.lauchVarName.$invalid)||(myForm.newBrandName.$invalid))"/>
    	<input type="button" ng-show="newVariant" ng-click="addNewProduct(parameter)" class="btn btn-primary" value="{{Label.getContent('Add')}}" ng-disabled="(myForm.addVarName.$invalid)">
    	<input type="button" class="btn btn-default" ng-click="cancel()" value="{{Label.getContent('Cancel')}}">
    </div>
</form>